# Api Kaggle

In [11]:
# importar librerias necesarias
import kaggle
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import itertools
from PIL import Image
from IPython.core import display as ICD
%matplotlib inline

In [12]:
# leer archivo Excel que contiene los topicos de Fundamentos de Analsis de Datos

data = pd.read_csv('../data_fundamentosdeanalisisdedatos/topicos fundamentos de analisis de datos.csv', sep=(';'))

In [13]:
data.head()

                 CONCEPT                   subconcept
0  Data science concepts               Data scientist
1  Data science concepts            Big data concepts
2  Data science concepts         Data mining concepts
3  Data science concepts  Machine learning algorithms
4     Data science tools                 Google colab

In [14]:
data = data.dropna()

In [15]:
topics = []

for x in data['subconcept']:
    newTema = str(x).replace(' ', '-')
    topics.append(newTema)

In [16]:
print(topics)

['Data-scientist', 'Big-data-concepts', 'Data-mining-concepts', 'Machine-learning-algorithms', 'Google-colab', 'Jupyter-notebook', 'Kaggle-Notebook', 'Github', 'Rest-API', 'Scrapy', 'Metadata', 'Data-quality', 'Data-management', 'Csv-dataset', 'Json-dataset', 'Txt-dataset', 'Data-types', 'Numerical-data', 'Categorical-variables', 'Missing-values', 'Null-values', 'Outliers', 'Data-transformation', 'Principal-Component-Analysis-(PCA)', 'Categorical-EDA', 'Univariate-analysis', 'Multivariate-analysis', 'Linear-regression', 'Simple-linear-regression', 'Multiple-Linear-Regression', 'Nonlinear-regression', 'Decision-Trees-regression', 'Neural-network-regression', 'Correlation', 'Correspondence-analysis', 'Measures-of-Central-tendency', 'Central-tendency', 'Central-tendency', 'Measures-of-Dispersion', 'Variance-inflacton-factor', 'Factor-analysis', 'Quartile-analysis', 'Decision-Trees-classification', 'Neural-network-classification', 'Nearest-Neighbors', 'Inferential-analysis', 'R-data-visualization', 'Python-data-visualization', 'Power-BI', 'Tableau', 'matplotlib', 'Seaborn', 'Bokeh', 'Plotly']

In [17]:
# importar libreria kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

In [18]:
# llamar a la api key de kaggle instalada en el ordenador

api = KaggleApi()
api.authenticate()

In [19]:
# metodo para convertir en df los metadatos extraidos

def convert_to_df(csv):
    df = pd.DataFrame(data=csv)[0].str.split(',',expand=True)  
    header = df.iloc[0]
    df = df[1:]
    df.columns = header
    return df

## Get Competetions

## Get datasets

In [20]:
# extraer competitions

def getDataSets(tema):
    
    # extraccion de datos de la api, devuelve una lista
    new_datasetsList = !kaggle datasets list -s $tema --csv
    
    # lista vacia
    datasetsList = []
    
    # for para reemplazar las comas (,)
    # al trasformar la lista a dataframe toma la coma (,) de los metadatos como un separador
    for x in new_datasetsList:
        reemplazar = x.replace(', ', ' ')
        datasetsList.append(reemplazar)
    
    # print(datasetsList)
    
    # condicional si no encuentra metadatos de 
    if datasetsList[0] != 'No datasets found':
                
        # convertir lista a dataframe
        datasetsDF = convert_to_df(datasetsList)
        
        # agregar 2 columnas al dataframe
        datasetsDF.insert(0,"topic",tema,True) # topic
        datasetsDF.insert(1,"set","datasets",True) # type
        
        ultimaColumna = datasetsDF.iloc[:,-1:] # sacar la ultima columna para verificar si est√° vacia o no
        
        # condicional if si la ultima columna esta vacia
        if ultimaColumna.columns.values[0] == None:
            
            datasetsDF = datasetsDF.drop([None], axis=1) # eliminar columna vacia
        
        datasetsDF.dropna(inplace=True) # eliminar filas nulas
                
        return(datasetsDF)
    
    # si no se encuentran datasets se retorna un dataframe vacio
    return(pd.DataFrame())

In [21]:
cont = 0

# dataframe vacio para concatenar
datasets= pd.DataFrame()

for x in topics:
    cont+=1
    
    # obtenemos los dataframes haciendo uso de la funcion
    dfDatasets = getDataSets(x)
    
    # conficional si el dataframe est√° vacio
    if not dfDatasets.empty:
         
        ICD.display(dfDatasets.head()) # imprimir
    
        # concatenamos todos los dataframes  
        datasets = pd.concat([datasets, dfDatasets])

        # generamos csv de los dataframes
        dfDatasets.to_csv("api_dataExtraction/datasets_" + x + str(cont) + ".csv")

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,datasets,nikhilbhathi/data-scientist-salary-us-glassdoor,Data scientist salary,1023KB,2021-12-29 15:28:13,10598,174,1.0
4,Data-scientist,datasets,andrewmvd/data-scientist-jobs,Data Scientist Jobs,4MB,2020-07-16 04:04:58,3220,92,1.0
6,Data-scientist,datasets,arashnic/hr-analytics-job-change-of-data-scien...,HR Analytics: Job Change of Data Scientists,295KB,2020-12-07 00:25:10,43039,1220,1.0
8,Data-scientist,datasets,sl6149/data-scientist-job-market-in-the-us,Data Scientist Job Market in the U.S.,16MB,2018-08-31 17:34:49,12298,326,0.7941176
10,Data-scientist,datasets,omkargowda/data-scientist-salary,Data Scientist Salary,88KB,2022-07-09 11:25:59,1221,47,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Big-data-concepts,datasets,arashnic/e-product-pricing,Marketing: Electronic Products and Pricing Data,4MB,2020-12-19 00:50:26,715,20,0.9705882
4,Big-data-concepts,datasets,techykajal/fakereal-news,Fake-Real News,844KB,2020-06-23 02:46:21,663,14,1.0
6,Big-data-concepts,datasets,miroslavsabo/young-people-survey,Young People Survey,84KB,2016-12-06 03:10:30,39188,702,0.85294116
8,Big-data-concepts,datasets,elikplim/car-evaluation-data-set,Car Evaluation Data Set,5KB,2017-09-01 04:05:49,19354,94,0.8235294
10,Big-data-concepts,datasets,jmmvutu/lottery-features-for-machine-learning-ai,Lottery features for time series Machine Learning,1MB,2021-04-14 13:05:51,114,4,0.8235294

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-mining-concepts,datasets,arashnic/time-series-forecasting-with-yahoo-st...,Time Series Forecasting with Yahoo Stock Price,33KB,2020-11-20 22:35:28,2975,72,1.0
4,Data-mining-concepts,datasets,renatojmsantos/just-dance-on-youtube,Just Dance @ YouTube: Multi-label Text + Analy...,188MB,2022-01-24 18:45:49,158,9,0.9411765
6,Data-mining-concepts,datasets,techykajal/fakereal-news,Fake-Real News,844KB,2020-06-23 02:46:21,663,14,1.0
8,Data-mining-concepts,datasets,metron/public-files-of-religious-and-spiritual...,Public files of religious and spiritual texts,17MB,2018-04-09 04:16:55,332,12,0.75
10,Data-mining-concepts,datasets,saurabhshahane/annotating-and-detecting-phenot...,Annotating and detecting phenotypic information,2MB,2021-03-26 12:09:44,19,5,0.8125

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,datasets,shashwatwork/phishing-dataset-for-machine-lear...,Phishing Dataset for Machine Learning,234KB,2021-05-28 14:47:37,3523,49,0.9411765
4,Machine-learning-algorithms,datasets,camnugent/california-housing-prices,California Housing Prices,400KB,2017-11-24 03:14:59,83262,816,0.85294116
6,Machine-learning-algorithms,datasets,rohanrao/nifty50-stock-market-data,NIFTY-50 Stock Market Data (2000 - 2021),18MB,2021-05-01 09:23:17,36142,645,1.0
8,Machine-learning-algorithms,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35690,1518,0.88235295
10,Machine-learning-algorithms,datasets,praveengovi/coronahack-chest-xraydataset,CoronaHack -Chest X-Ray-Dataset,1GB,2020-03-20 01:26:40,16993,509,0.9411765

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Google-colab,datasets,wyattowalsh/basketball,Basketball Dataset,349MB,2021-09-15 03:38:00,11077,340,0.9411765
4,Google-colab,datasets,timoboz/python-data-science-handbook,Python Data Science Handbook,15MB,2021-12-20 07:06:52,3443,448,0.9375
6,Google-colab,datasets,prakharrathi25/google-play-store-reviews,Google Play Store Reviews,3MB,2020-12-24 08:17:02,1694,25,1.0
8,Google-colab,datasets,davidbroberts/cxr-anatomy-detection,CXR anatomy detection,13MB,2021-07-13 16:04:30,57,11,1.0
10,Google-colab,datasets,shravanc/kannada-covid19-sentiment-analysis-da...,Kannada Covid-19 Sentiment Analysis Dataset,33MB,2020-09-08 10:35:29,221,9,0.7058824

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Jupyter-notebook,datasets,kaggle/2015-notebook-ux-survey,2015 Notebook UX Survey,198KB,2017-05-01 17:56:25,1079,49,0.64705884

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,datasets,jtrotman/kaggle-notebook-user-rankings,Kaggle Notebook User Rankings,65KB,2021-08-17 11:42:20,59,19,1.0
4,Kaggle-Notebook,datasets,vivovinco/kaggle-notebooks-ranking,Kaggle Notebooks Ranking,44KB,2022-01-21 07:57:23,66,24,1.0
6,Kaggle-Notebook,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35690,1518,0.88235295
8,Kaggle-Notebook,datasets,headsortails/notebooks-of-the-week-hidden-gems,Notebooks of the Week - Hidden Gems,4MB,2022-04-05 12:58:55,227,172,1.0
10,Kaggle-Notebook,datasets,daisukelab/dc2020task2,DCASE 2020 Task 2 Unofficial Copy,8GB,2020-03-21 02:50:26,596,12,0.875

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,datasets,github/github-repos,GitHub Repos,0B,2019-03-20 23:20:50,0,369,0.64705884
4,Github,datasets,davidshinn/github-issues,GitHub Issues,980MB,2018-01-17 21:26:05,2827,89,0.875
6,Github,datasets,simiotic/github-code-snippets,GitHub Code Snippets,7GB,2021-03-03 11:34:39,724,107,1.0
8,Github,datasets,anmolkumar/github-bugs-prediction,GitHub Bugs Prediction,98MB,2020-10-11 15:25:24,816,34,1.0
10,Github,datasets,isaacwen/github-programming-languages-data,GitHub Programming Languages Data,40KB,2022-01-02 03:58:56,1808,40,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Rest-API,datasets,dansbecker/nba-shot-logs,NBA shot logs,3MB,2016-08-18 05:16:10,14561,341,0.5882353
4,Rest-API,datasets,jorijnsmit/binance-full-history,Binance Full History,26GB,2022-11-17 23:44:24,10727,301,0.875
6,Rest-API,datasets,kenjee/ken-jee-youtube-data,Ken Jee YouTube Data,6MB,2022-01-22 20:38:53,2062,162,1.0
8,Rest-API,datasets,freecodecamp/all-posts-public-main-chatroom,"""freeCodeCamp Gitter Chat 2015-2017""",597MB,2019-10-21 10:35:21,1968,76,0.7647059
10,Rest-API,datasets,maxreis/bitcoin-trades-at-binance-exchange,Bitcoin trades at Binance Exchange,6MB,2021-03-22 00:49:33,47,5,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Scrapy,datasets,gauthamp10/google-playstore-apps,Google Play Store Apps,207MB,2021-06-17 12:04:06,17781,351,1.0
4,Scrapy,datasets,usernam3/shopify-app-store,Shopify app store,71MB,2022-06-05 20:19:32,4846,132,1.0
6,Scrapy,datasets,shreyaspj/android-devices-and-mobiles,Android devices and mobiles,30KB,2020-08-20 18:02:22,363,19,0.5882353
8,Scrapy,datasets,cyaris/2016-mlb-season,2016 MLB Season,237KB,2018-04-21 18:26:56,2380,37,0.8235294
10,Scrapy,datasets,sagunsh/fifa-20-complete-player-dataset,FIFA 20 Complete Player Dataset,2MB,2019-10-05 16:33:26,1161,26,0.9117647

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,datasets,alamson/safebooru,Safebooru - Anime Image Metadata,333MB,2020-07-24 20:49:07,2760,107,1.0
4,Metadata,datasets,rohanrao/covid19-forecasting-metadata,Covid19 Forecasting Metadata,118KB,2020-05-11 21:42:06,1160,33,1.0
6,Metadata,datasets,tmdb/tmdb-movie-metadata,TMDB 5000 Movie Dataset,9MB,2017-09-28 01:09:12,241514,3226,0.8235294
8,Metadata,datasets,samuelcortinhas/rsna-2022-spine-fracture-detec...,RSNA 2022 Spine Fracture Detection - Metadata,119MB,2022-09-29 13:41:53,893,61,1.0
10,Metadata,datasets,karrrimba/movie-metadatacsv,Movie metadata,554KB,2018-01-09 04:45:32,4349,25,0.5294118

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,datasets,shrutibhargava94/india-air-quality-data,India Air Quality Data,5MB,2017-07-22 05:04:57,22268,344,0.85294116
4,Data-quality,datasets,yasserh/wine-quality-dataset,Wine Quality Dataset,21KB,2022-01-15 19:15:11,20794,469,1.0
6,Data-quality,datasets,venkatramakrishnan/india-water-quality-data,India Water Quality Data,5MB,2016-12-31 12:22:01,6749,103,0.8235294
8,Data-quality,datasets,rohanrao/air-quality-data-in-india,Air Quality Data in India (2015 - 2020),73MB,2020-07-28 12:33:10,29178,412,1.0
10,Data-quality,datasets,anbarivan/indian-water-quality-data,Indian water quality data,45KB,2018-10-23 02:35:30,5961,79,0.88235295

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,datasets,xiaowenlimarketing/international-student-time-...,Student Time Management Performance Dataset,3KB,2019-03-05 11:37:41,3517,67,0.8235294
4,Data-management,datasets,headsortails/us-natural-disaster-declarations,US Natural Disaster Declarations,4MB,2022-12-16 17:33:23,2546,101,1.0
6,Data-management,datasets,techsash/waste-classification-data,Waste Classification data,427MB,2019-06-16 03:24:52,15630,320,0.875
8,Data-management,datasets,anikannal/solar-power-generation-data,Solar Power Generation Data,2MB,2020-08-18 15:52:03,28598,806,1.0
10,Data-management,datasets,surajjha101/bigbasket-entire-product-list-28k-...,BigBasket Entire Product List (~28K datapoints),6MB,2022-06-22 12:51:18,5340,184,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,datasets,balaka18/email-spam-classification-dataset-csv,Email Spam Classification Dataset CSV,2MB,2020-03-10 05:08:13,19164,141,0.9117647
4,Csv-dataset,datasets,harsha547/indian-premier-league-csv-dataset,Indian Premier League CSV dataset,721KB,2016-12-29 23:08:28,18361,143,0.7058824
6,Csv-dataset,datasets,columbine/imdb-dataset-sentiment-analysis-in-c...,IMDB dataset (Sentiment analysis) in CSV format,26MB,2019-11-28 15:44:05,15384,105,1.0
8,Csv-dataset,datasets,prathamsharma123/farmers-protest-tweets-datase...,Farmers Protest Tweets Dataset (CSV),315MB,2021-11-21 07:04:07,756,27,1.0
10,Csv-dataset,datasets,oddrationale/mnist-in-csv,MNIST in CSV,15MB,2018-05-19 02:24:20,88962,598,0.8235294

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,datasets,rtatman/iris-dataset-json-version,Iris Dataset (JSON Version),1KB,2018-04-06 20:21:31,10461,60,0.75
4,Json-dataset,datasets,yelp-dataset/yelp-dataset,Yelp Dataset,4GB,2022-03-17 22:59:01,102471,1510,0.75
6,Json-dataset,datasets,gunnvant/game-of-thrones-srt,Game of Thrones Subtitles,739KB,2018-02-20 10:22:36,45065,192,0.875
8,Json-dataset,datasets,prathamsharma123/farmers-protest-tweets-datase...,Farmers Protest Tweets Dataset (Raw JSON),191MB,2021-03-30 08:28:20,844,18,1.0
10,Json-dataset,datasets,krsna540/synthea-dataset-jsons-ehr,Synthea Dataset Jsons - EHR,2GB,2021-02-28 12:20:18,269,18,0.75

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,datasets,christianlillelund/donald-trumps-rallies,Donald Trump Rally Speeches,720KB,2020-09-26 10:25:08,3934,131,1.0
4,Txt-dataset,datasets,sudalairajkumar/daily-temperature-of-major-cities,Daily Temperature of Major Cities,13MB,2020-06-05 07:34:48,22224,369,1.0
6,Txt-dataset,datasets,valentynsichkar/traffic-signs-dataset-in-yolo-...,Traffic Signs Dataset in YOLO format,250MB,2020-04-03 22:25:16,8165,83,0.9375
8,Txt-dataset,datasets,hassan06/nslkdd,NSL-KDD,14MB,2019-04-25 06:13:16,12900,126,0.625
10,Txt-dataset,datasets,dasmehdixtr/drone-dataset-uav,Drone Dataset (UAV),716MB,2019-10-01 15:52:51,5078,170,0.9375

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,datasets,deepu1109/star-dataset,Star dataset to predict star types,3KB,2019-10-21 19:47:09,7953,199,1.0
4,Data-types,datasets,yamaerenay/mbtitypes-full,MBTI-TYPES Data,146KB,2021-01-31 21:33:31,533,20,1.0
6,Data-types,datasets,zeyadkhalid/mbti-personality-types-500-dataset,MBTI Personality Types 500 Dataset,123MB,2021-12-30 19:29:31,1346,36,0.88235295
8,Data-types,datasets,bahadoreizadkhah/face-mask-types-dataset,Face Mask Types Dataset,115MB,2022-07-05 00:04:04,177,26,0.75
10,Data-types,datasets,raddar/amex-data-integer-dtypes-parquet-format,AMEX data - integer dtypes - parquet format,4GB,2022-06-03 10:31:28,11948,690,0.4375

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,datasets,colearninglounge/employee-attrition,Employee Attrition,52KB,2020-08-26 03:38:50,3720,52,0.8235294
4,Numerical-data,datasets,lepchenkov/usedcarscatalog,Used-cars-catalog,824KB,2019-12-02 12:02:05,7947,119,1.0
6,Numerical-data,datasets,dshah1612/covid19-numerical-claims-open-resear...,COVID-19 Numerical Claims Open Research Dataset,29MB,2022-07-31 08:32:48,744,33,0.9411765
8,Numerical-data,datasets,colearninglounge/chronic-kidney-disease,Chronic Kidney Disease,10KB,2020-08-26 03:33:35,3312,42,0.8235294
10,Numerical-data,datasets,daalgi/fem-simulations,FEM simulations,183KB,2017-10-09 07:22:53,545,20,0.8235294

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,datasets,nicapotato/womens-ecommerce-clothing-reviews,Women's E-Commerce Clothing Reviews,3MB,2018-02-03 19:59:19,53705,959,0.88235295
4,Categorical-variables,datasets,iamhungundji/covid19-symptoms-checker,COVID-19 Symptoms Checker,912KB,2020-03-21 06:05:59,17408,220,1.0
6,Categorical-variables,datasets,volodymyrgavrysh/bank-marketing-campaigns-dataset,Bank marketing campaigns dataset | Opening Dep...,391KB,2020-01-12 10:35:36,9693,154,1.0
8,Categorical-variables,datasets,sajidsaifi/prostate-cancer,Prostate Cancer,2KB,2018-10-19 15:47:48,5422,64,0.7647059
10,Categorical-variables,datasets,harrywang/housing,California Housing Data (1990),400KB,2018-05-10 15:56:31,11768,138,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,datasets,jamesleslie/titanic-cleaned-data,Titanic: cleaned data,36KB,2018-11-21 11:50:18,5647,61,0.7647059
4,Missing-values,datasets,uciml/breast-cancer-wisconsin-data,Breast Cancer Wisconsin (Diagnostic) Data Set,49KB,2016-09-25 10:49:04,254149,2929,0.85294116
6,Missing-values,datasets,heptapod/titanic,Titanic,11KB,2017-05-16 08:14:22,48681,909,0.7058824
8,Missing-values,datasets,uciml/electric-power-consumption-data-set,Household Electric Power Consumption,19MB,2016-08-23 17:02:15,22261,285,0.75
10,Missing-values,datasets,arslanali4343/real-estate-dataset,Real Estate DataSet,12KB,2020-09-28 21:25:33,17156,331,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,datasets,matheusfreitag/gas-prices-in-brazil,Gas Prices in Brazil,3MB,2022-03-11 18:03:57,15139,374,1.0
4,Null-values,datasets,mayureshkoli/best-universities-in-the-united-k...,Best Universities in the United Kingdom,9KB,2022-08-05 05:32:37,1940,41,1.0
6,Null-values,datasets,ariyoomotade/netflix-data-cleaning-analysis-an...,"""Netflix Data: Cleaning Analysis and Visualiza...",270KB,2022-08-26 09:25:43,9896,191,1.0
8,Null-values,datasets,huntermcgushion/rrv-weather-data,Weather Data for Recruit Restaurant Competition,11MB,2018-01-04 23:09:56,4557,81,0.7058824
10,Null-values,datasets,devsubhash/flipkart-mobiles-dataset,Flipkart Mobiles Dataset,54KB,2022-03-20 10:46:28,2451,52,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,datasets,mokar2001/house-price-tehran-iran,"""House Price (Tehran Iran)""",31KB,2021-09-06 08:00:48,1882,58,1.0
4,Outliers,datasets,broach/button-tone-sz,EEG data from basic sensory task in Schizophrenia,8GB,2019-01-31 18:26:06,4786,194,0.88235295
6,Outliers,datasets,rubenssjr/brasilian-houses-to-rent,brazilian_houses_to_rent,282KB,2020-03-25 22:51:17,10528,284,1.0
8,Outliers,datasets,drscarlat/time-series,Time Series with anomalies,4MB,2021-01-30 18:39:27,1349,15,0.64705884
10,Outliers,datasets,soumikrakshit/anime-faces,Anime Faces,441MB,2019-05-16 10:38:47,7923,174,0.625

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-transformation,datasets,uciml/glass,Glass Classification,3KB,2017-01-27 17:27:48,28712,303,0.8235294
4,Data-transformation,datasets,mlg-ulb/creditcardfraud,Credit Card Fraud Detection,66MB,2018-03-23 01:17:27,474740,9682,0.85294116
6,Data-transformation,datasets,xvivancos/barcelona-data-sets,Barcelona data sets,1MB,2020-02-15 23:29:29,15821,346,1.0
8,Data-transformation,datasets,teertha/ushealthinsurancedataset,US Health Insurance Dataset,16KB,2020-02-16 04:43:53,7625,79,0.9411765
10,Data-transformation,datasets,caesarmario/application-data,Credit Card Approval Prediction (Cleaned Version),296KB,2022-03-07 07:02:31,1649,50,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Principal-Component-Analysis-(PCA),datasets,shrutipandit707/housingnewdataset,Housing-New-Dataset,7KB,2022-09-24 05:37:17,872,58,0.88235295
4,Principal-Component-Analysis-(PCA),datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35690,1518,0.88235295
6,Principal-Component-Analysis-(PCA),datasets,kingabzpro/argentina-provincial-data,Argentina provincial data,2KB,2020-12-29 11:06:23,1290,34,1.0
8,Principal-Component-Analysis-(PCA),datasets,mathchi/covid19-and-character-strengths,Covid-19 and Character Strengths,173KB,2021-01-08 22:38:25,1185,65,0.88235295
10,Principal-Component-Analysis-(PCA),datasets,sakhiagarwal/principal-component-analysis-pca,Principal Component Analysis (PCA),94KB,2022-09-19 07:05:43,21,0,0.23529412

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-EDA,datasets,pranavuikey/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-09-05 10:22:37,1835,39,1.0
4,Categorical-EDA,datasets,titassaha/top-rated-tv-shows,Top Rated TV Shows,391KB,2022-10-18 17:38:12,2473,42,1.0
6,Categorical-EDA,datasets,rishikeshkonapure/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-10-29 06:29:47,933,31,1.0
8,Categorical-EDA,datasets,candicezhao28/edinburgh-airbnb-data,Edinburgh Airbnb Data,27MB,2022-06-16 13:04:04,109,8,0.8235294
10,Categorical-EDA,datasets,dhoogla/cic-evasive-pdfmal2022,CIC-Evasive-PDFMal2022,636KB,2022-08-11 20:54:21,38,5,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Univariate-analysis,datasets,pranavuikey/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-09-05 10:22:37,1835,39,1.0
4,Univariate-analysis,datasets,vitthalmadane/ts-temp-1,Time Series Room Temperature Data,100KB,2022-11-21 10:16:26,568,29,1.0
6,Univariate-analysis,datasets,rishikeshkonapure/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-10-29 06:29:47,933,31,1.0
8,Univariate-analysis,datasets,debashis74017/stock-market-data-nifty-100-stoc...,Stock Market Data - Nifty 100 stocks (5 min) data,5GB,2022-11-05 22:19:13,165,16,0.88235295
10,Univariate-analysis,datasets,soumyajitdatta/aluminium-prices2014-2022-for-t...,Aluminium Prices Dataset for Time Series,34KB,2022-06-24 14:26:40,71,10,0.3529412

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multivariate-analysis,datasets,aungpyaeap/fish-market,Fish market,2KB,2019-06-13 10:20:33,45985,428,1.0
4,Multivariate-analysis,datasets,nicapotato/womens-ecommerce-clothing-reviews,Women's E-Commerce Clothing Reviews,3MB,2018-02-03 19:59:19,53705,959,0.88235295
6,Multivariate-analysis,datasets,krismurphy01/data-lab,Expanded HR Analytics Data Lab,528KB,2017-08-18 19:45:54,3898,82,0.88235295
8,Multivariate-analysis,datasets,saurabhshahane/goalkeeper-actions-dataset,Goalkeeper Actions Dataset,17KB,2021-06-22 12:20:07,157,16,0.9411765
10,Multivariate-analysis,datasets,viswajithkn/instacart-predict-shopping-time,Instacart Predict Shopping Time,12MB,2018-10-29 17:24:48,543,12,0.64705884

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,datasets,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,44945,466,0.8235294
4,Linear-regression,datasets,tanuprabhu/linear-regression-dataset,Linear Regression Data-set,1KB,2019-06-21 05:57:12,7549,68,1.0
8,Linear-regression,datasets,hellbuoy/car-price-prediction,Car Price Prediction Multiple Linear Regression,18KB,2019-10-15 16:45:27,38939,420,0.7058824
10,Linear-regression,datasets,karthickveerakumar/salary-data-simple-linear-r...,Salary data - Simple linear regression,378B,2018-01-22 17:09:38,39914,230,0.3529412
12,Linear-regression,datasets,kolawale/focusing-on-mobile-app-or-website,Linear Regression E-commerce Dataset,43KB,2019-09-16 19:04:27,6182,51,0.625

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Simple-linear-regression,datasets,karthickveerakumar/salary-data-simple-linear-r...,Salary data - Simple linear regression,378B,2018-01-22 17:09:38,39914,230,0.3529412
4,Simple-linear-regression,datasets,mayurdalvi/simple-linear-regression-placement-...,Simple Linear Regression - Placement data,4KB,2021-11-15 15:02:18,1424,24,1.0
6,Simple-linear-regression,datasets,tmcketterick/heights-and-weights,Heights and weights,262B,2018-01-06 21:42:20,6810,69,0.7058824
8,Simple-linear-regression,datasets,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,44945,466,0.8235294
10,Simple-linear-regression,datasets,arejet/simple-linear-regression,Simple Linear Regression,780KB,2018-01-17 19:38:13,1365,25,0.29411766

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multiple-Linear-Regression,datasets,hellbuoy/car-price-prediction,Car Price Prediction Multiple Linear Regression,18KB,2019-10-15 16:45:27,38939,420,0.7058824
4,Multiple-Linear-Regression,datasets,karthickveerakumar/startup-logistic-regression,Startup - Multiple Linear Regression,1KB,2018-01-29 11:42:03,6607,51,0.47058824
6,Multiple-Linear-Regression,datasets,erolmasimov/price-prediction-multiple-linear-r...,Price Prediction -Multiple Linear Regression,6KB,2022-08-03 20:54:12,1002,29,0.7647059
8,Multiple-Linear-Regression,datasets,aungpyaeap/fish-market,Fish market,2KB,2019-06-13 10:20:33,45985,428,1.0
10,Multiple-Linear-Regression,datasets,fayejavad/marketing-linear-multiple-regression,Marketing Linear Multiple Regression,2KB,2020-04-24 19:41:25,1776,20,0.29411766

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Nonlinear-regression,datasets,maajdl/yeh-concret-data,Revisiting a Concrete Strength regression,10KB,2018-06-15 20:26:01,5725,108,1.0
4,Nonlinear-regression,datasets,niteshyadav3103/concrete-compressive-strength,Concrete Compressive Strength,15KB,2021-05-09 10:52:12,1457,50,0.88235295
6,Nonlinear-regression,datasets,mcandocia/running-heart-rate-recovery,Running and Heart Rate Data,17MB,2021-07-29 16:34:46,1083,24,0.9117647
8,Nonlinear-regression,datasets,elikplim/concrete-compressive-strength-data-set,Concrete Compressive Strength Data Set,11KB,2017-09-05 03:26:12,3125,21,0.64705884
10,Nonlinear-regression,datasets,zeesolver/china-gdp,1960 to 2014 China's GDP Report,788B,2022-12-17 15:32:57,0,1,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Decision-Trees-regression,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35690,1518,0.88235295
4,Decision-Trees-regression,datasets,moneystore/agencyperformance,Insurance Data,5MB,2016-12-02 12:13:42,8124,120,0.7058824
6,Decision-Trees-regression,datasets,zurfer/rtb,Real Time Bidding,138MB,2017-02-27 18:21:27,2141,63,0.7352941
8,Decision-Trees-regression,datasets,mariosfish/default-of-credit-card-clients,Default of credit card clients,1005KB,2019-09-19 11:04:27,2558,40,0.7941176
10,Decision-Trees-regression,datasets,ayanzadeh93/color-classification,color classification,161MB,2018-04-20 00:13:09,2376,56,0.875

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-regression,datasets,muratkokludataset/date-fruit-datasets,Date Fruit Datasets,408KB,2022-04-03 09:25:39,15953,1941,0.9375
4,Neural-network-regression,datasets,ishadss/productivity-prediction-of-garment-emp...,Productivity Prediction of Garment Employees,16KB,2021-04-06 22:42:06,4053,68,0.9705882
6,Neural-network-regression,datasets,mariosfish/default-of-credit-card-clients,Default of credit card clients,1005KB,2019-09-19 11:04:27,2558,40,0.7941176
8,Neural-network-regression,datasets,yashpaloswal/ann-car-sales-price-prediction,ANN - Car Sales Price Prediction,29KB,2022-09-30 16:48:41,1654,29,0.88235295
10,Neural-network-regression,datasets,sandy1811/data-science-interview-questions,Data Science Interview Questions,1005KB,2022-12-22 05:31:46,806,45,0.88235295

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,datasets,pattnaiksatyajit/event-correlation,Event Correlation,1MB,2021-02-01 10:32:50,100,14,0.7647059
4,Correlation,datasets,levyedgar44/income-and-happiness-correction,Income and Happiness Correlation,5KB,2020-09-22 14:08:13,2044,25,0.7058824
6,Correlation,datasets,nickbaynham/correlation,correlation,128KB,2020-04-21 18:48:55,126,4,0.7058824
8,Correlation,datasets,athosdamiani/guess-the-correlation,Guess The Correlation,191MB,2018-03-30 04:47:37,196,10,0.7058824
10,Correlation,datasets,mruanova/piratesvsglobalwarmingcorrelationcaus...,pirates-vs-global-warming-correlation-causation,304B,2020-12-23 17:53:31,154,11,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correspondence-analysis,datasets,louislippens/the-state-of-hiring-discrimination,The state of hiring discrimination,80KB,2022-08-31 09:54:54,88,3,0.47058824
4,Correspondence-analysis,datasets,prashant111/glass-identification-dataset,Glass Identification Dataset,9KB,2020-03-16 05:56:26,908,21,0.5294118
6,Correspondence-analysis,datasets,hisunnytang/halo-sims,QuasarNet,3GB,2021-03-24 09:10:58,32,3,0.47058824
8,Correspondence-analysis,datasets,quasarnet/quasarnet,QuasarNet,3GB,2022-04-29 03:35:30,17,2,0.47058824
10,Correspondence-analysis,datasets,louise2001/goethe,Goethe,457MB,2021-04-29 08:44:56,46,17,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Central-tendency,datasets,thedevastator/uncovering-user-perspectives-on-...,Reddit: /r/Bitcoin,285KB,2022-12-19 04:47:40,0,1,0.9411765
4,Central-tendency,datasets,stlouisfed/fomc-summary-of-economic-projection...,FOMC Summary of Economic Projections Time Series,5KB,2019-12-12 00:17:05,14,1,0.5882353

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Central-tendency,datasets,thedevastator/uncovering-user-perspectives-on-...,Reddit: /r/Bitcoin,285KB,2022-12-19 04:47:40,0,1,0.9411765
4,Central-tendency,datasets,stlouisfed/fomc-summary-of-economic-projection...,FOMC Summary of Economic Projections Time Series,5KB,2019-12-12 00:17:05,14,1,0.5882353

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Measures-of-Dispersion,datasets,psterk/income-inequality,GapMinder - Income Inequality,148KB,2020-04-11 19:14:17,1643,45,0.9705882
4,Measures-of-Dispersion,datasets,rohitzaman/gender-age-and-emotion-detection-fr...,"""Gender Age and Emotion Detection from Voice """,945KB,2021-05-29 18:23:07,304,5,0.5294118

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Factor-analysis,datasets,tunguz/big-five-personality-test,Big Five Personality Test,159MB,2020-02-17 15:59:37,19768,751,1.0
4,Factor-analysis,datasets,brsdincer/alzheimer-features,Alzheimer Features,4KB,2021-03-30 19:38:20,2137,40,1.0
6,Factor-analysis,datasets,nancyalaswad90/diamonds-prices,Diamonds Prices,711KB,2022-07-09 14:59:21,5309,151,1.0
8,Factor-analysis,datasets,gyejr95/league-of-legends-challenger-ranked-ga...,League Of Legends High elo Ranked Games(2020),13MB,2020-04-20 14:49:35,2597,83,1.0
10,Factor-analysis,datasets,ipravin/hair-customer-survey-data-for-100-cust...,Product customer survey data for 100 customers,2KB,2019-03-13 17:11:54,931,10,0.5294118

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Quartile-analysis,datasets,rohitzaman/gender-age-and-emotion-detection-fr...,"""Gender Age and Emotion Detection from Voice """,945KB,2021-05-29 18:23:07,304,5,0.5294118
4,Quartile-analysis,datasets,maksymshkliarevskyi/scopus-source-list,Scopus Source List,19MB,2021-08-22 08:17:57,92,6,1.0
6,Quartile-analysis,datasets,dkapitan/nhs-proms-case-study,NHS PROMs case study,53MB,2022-12-18 01:22:34,99,6,0.9375
8,Quartile-analysis,datasets,thedevastator/analyzing-energy-consumption-pat...,Energy Consumption Patterns in Chicago,10MB,2022-12-14 04:31:38,0,1,0.9411765
10,Quartile-analysis,datasets,christianfrey/sea-of-thieves-emissary-data,Sea of Thieves Emissary Leaderboard,16KB,2021-03-05 02:38:11,27,2,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Decision-Trees-classification,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35690,1518,0.88235295
4,Decision-Trees-classification,datasets,moneystore/agencyperformance,Insurance Data,5MB,2016-12-02 12:13:42,8124,120,0.7058824
6,Decision-Trees-classification,datasets,ayanzadeh93/color-classification,color classification,161MB,2018-04-20 00:13:09,2376,56,0.875
8,Decision-Trees-classification,datasets,mariosfish/default-of-credit-card-clients,Default of credit card clients,1005KB,2019-09-19 11:04:27,2558,40,0.7941176
10,Decision-Trees-classification,datasets,aleespinosa/apple-watch-and-fitbit-data,Apple Watch and Fitbit data,700KB,2022-03-02 18:40:39,1736,38,0.88235295

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,datasets,muratkokludataset/rice-image-dataset,Rice Image Dataset,219MB,2022-04-03 02:12:00,6144,1642,0.875
4,Neural-network-classification,datasets,puneet6060/intel-image-classification,Intel Image Classification,346MB,2019-01-30 09:22:58,69495,1256,0.75
6,Neural-network-classification,datasets,muratkokludataset/date-fruit-datasets,Date Fruit Datasets,408KB,2022-04-03 09:25:39,15953,1941,0.9375
8,Neural-network-classification,datasets,weinoose/migraine-classification,Data for Migraine Classification,3KB,2022-05-26 17:31:33,1845,55,1.0
10,Neural-network-classification,datasets,muratkokludataset/pistachio-dataset,Pistachio Dataset,2MB,2022-04-03 08:38:21,1453,1470,0.9375

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Nearest-Neighbors,datasets,gkalpolukcu/knn-algorithm-dataset,KNN Algorithm Dataset,49KB,2020-07-05 11:06:30,1956,23,0.5294118
4,Nearest-Neighbors,datasets,joshkyh/glove-twitter,GloVe: Global Vectors for Word Representation,107MB,2017-09-18 22:01:53,803,43,0.875
6,Nearest-Neighbors,datasets,rahulsah06/machine-learning-for-diabetes-with-...,Machine Learning for Diabetes with Python,9KB,2019-09-20 08:04:12,1629,27,0.5882353
8,Nearest-Neighbors,datasets,abdallamahgoub/diabetes,Diabetes predication system with KNN algorithm,9KB,2021-03-12 14:44:33,2309,7,0.3529412
10,Nearest-Neighbors,datasets,ayanzadeh93/color-classification,color classification,161MB,2018-04-20 00:13:09,2376,56,0.875

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Inferential-analysis,datasets,saurabhshahane/geospatiotemporal-and-causal-in...,Geospatiotemporal and Causal Inferential Analysis,60MB,2021-06-01 19:46:56,19,6,0.7647059
4,Inferential-analysis,datasets,kmldas/hr-employee-data-descriptive-analytics,HR Employee Analytics,787KB,2021-05-01 09:16:43,3335,38,0.85294116
6,Inferential-analysis,datasets,abdurahmanmaarouf/nba-players-stats-2016-2017,NBA Player Stats (2016 - 2019),106KB,2020-08-19 17:19:31,169,2,0.88235295
8,Inferential-analysis,datasets,dhireshmasilamani/cyclisticbikesharedataanalysis,Cyclistic-Data-Analysis,31MB,2022-08-20 09:53:23,3,0,0.85294116
10,Inferential-analysis,datasets,sandy1811/data-science-interview-questions,Data Science Interview Questions,1005KB,2022-12-22 05:31:46,806,45,0.88235295

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,datasets,kaggle/world-development-indicators,World Development Indicators,369MB,2017-05-01 17:50:44,63269,1613,0.7647059
4,R-data-visualization,datasets,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,60160,832,0.8235294
6,R-data-visualization,datasets,kaushiksuresh147/data-visualization-cheat-chea...,Data Visualization Cheat sheets and Resources,127MB,2022-05-31 11:31:11,2189,191,0.875
8,R-data-visualization,datasets,ilknuricke/neurohackinginrimages,"""Structural MRI Datasets (T1 T2 FLAIR etc.)""",189MB,2019-11-21 00:59:08,4691,111,0.625
10,R-data-visualization,datasets,piterfm/2022-ukraine-russian-war,2022 Russia Ukraine War,10KB,2022-12-20 13:39:28,19997,869,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,datasets,kalilurrahman/python-data-visualization-essent...,Python Data Visualization Essentials Guide,2MB,2022-12-17 12:21:32,364,41,1.0
4,Python-data-visualization,datasets,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,60160,832,0.8235294
6,Python-data-visualization,datasets,lakshyaag/india-trade-data,India - Trade Data,3MB,2022-11-02 07:31:00,22132,432,0.9705882
8,Python-data-visualization,datasets,kaushiksuresh147/data-visualization-cheat-chea...,Data Visualization Cheat sheets and Resources,127MB,2022-05-31 11:31:11,2189,191,0.875
10,Python-data-visualization,datasets,piterfm/2022-ukraine-russian-war,2022 Russia Ukraine War,10KB,2022-12-20 13:39:28,19997,869,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Power-BI,datasets,aman1497/power-bi-projects,Power BI Projects,2MB,2022-04-06 05:25:44,1276,24,0.375
4,Power-BI,datasets,kalilurrahman/2021-kaggle-machine-learning-dat...,2021 Kaggle Machine Learning & Data Science Su...,8MB,2022-03-22 12:29:52,349,22,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,datasets,ariyoomotade/netflix-data-cleaning-analysis-an...,"""Netflix Data: Cleaning Analysis and Visualiza...",270KB,2022-08-26 09:25:43,9896,191,1.0
4,Tableau,datasets,nadianizam/tableau-pic,tableau pic,391KB,2021-03-11 03:13:43,32,27,0.75
6,Tableau,datasets,arindam235/startup-investments-crunchbase,StartUp Investments (Crunchbase),3MB,2020-02-17 21:54:42,9346,299,0.88235295
8,Tableau,datasets,nadianizam/tableau-pic1,tableau_pic1,45KB,2021-03-12 09:42:45,16,23,0.75
10,Tableau,datasets,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,60160,832,0.8235294

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,datasets,mielek/python-matplotlib-introduction-dataset,Python Matplotlib Introduction Dataset,1KB,2020-02-12 16:57:40,194,21,0.4117647
4,matplotlib,datasets,andreshg/countries-iso-codes-continent-flags-url,Countries ISO Codes | Continent | Flags URL,8KB,2021-04-01 12:44:30,616,25,0.9705882
6,matplotlib,datasets,dhruvildave/github-commit-messages-dataset,GitHub Commit Messages Dataset,903MB,2021-04-21 11:56:07,403,35,1.0
8,matplotlib,datasets,gemartin/world-bank-data-1960-to-2016,World Bank Data (1960 to 2016),187KB,2018-07-12 06:11:24,5709,103,0.7058824
10,matplotlib,datasets,kandij/diabetes-dataset,Diabetics prediction using logistic regression,9KB,2019-05-07 05:18:45,14889,162,0.5294118

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,datasets,ranjeetjain3/seaborn-tips-dataset,seaborn_tips_dataset,2KB,2018-04-02 11:34:35,8225,37,0.3529412
4,Seaborn,datasets,mielek/python-seaborn-datas,Python Seaborn Datas,27KB,2020-02-13 15:35:58,169,24,0.47058824
6,Seaborn,datasets,gaganmaahi224/mathplotlib-tutorial,Seaborn Tutorial,7MB,2021-10-27 11:48:52,182,14,0.23529412
8,Seaborn,datasets,jsphyg/tipping,A Waiter's Tips,2KB,2019-03-12 09:31:16,10690,71,1.0
10,Seaborn,datasets,tklimonova/gapminder-datacamp-2007,Gapminder World,35KB,2019-10-23 14:36:21,3341,30,0.9411765

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Bokeh,datasets,kingabzpro/cosmetics-datasets,Cosmetics datasets,263KB,2020-12-16 10:47:37,3586,58,1.0
4,Bokeh,datasets,ritesh2000/fifa20-players-dataset-with-stats-a...,FIFA20 Players Dataset with Stats | Images,2MB,2020-07-01 08:45:10,159,19,0.7941176
6,Bokeh,datasets,nagarajbhat/australian-bush-fire-satellite-dat...,Australian Bush fire satellite data (NASA),19MB,2020-01-31 11:17:30,1610,56,1.0
8,Bokeh,datasets,ritesh2000/pokemon-dataset-with-stats,Pokemon Dataset with Stats,2KB,2020-06-30 15:43:21,179,21,0.85294116
10,Bokeh,datasets,smart1004/pandas-bokeh,pandas_bokeh,123KB,2020-06-29 09:19:17,13,2,0.1764706

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Plotly,datasets,andradaolteanu/country-mapping-iso-continent-r...,"""Country Mapping - ISO Continent Region""",5KB,2019-12-15 15:07:34,7967,76,0.88235295
4,Plotly,datasets,sogun3/uspollution,U.S. Pollution Data,26MB,2016-11-04 17:32:56,22552,437,0.7058824
6,Plotly,datasets,umeshkumar017/who-covid19-data-tabe,WHO(World Health Org.) COVID-19 data,16KB,2021-08-31 13:11:34,1080,28,1.0
8,Plotly,datasets,andreshg/countries-iso-codes-continent-flags-url,Countries ISO Codes | Continent | Flags URL,8KB,2021-04-01 12:44:30,616,25,0.9705882
10,Plotly,datasets,sureshmecad/plotly-dashboard-healthcare,Plotly Dashboard Healthcare,2MB,2022-01-04 11:11:06,29,5,0.8235294

In [22]:
# inspeccion dataframe
datasets.shape

(852, 9)

In [23]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852 entries, 2 to 40
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   topic            852 non-null    object
 1   set              852 non-null    object
 2   ref              852 non-null    object
 3   title            852 non-null    object
 4   size             852 non-null    object
 5   lastUpdated      852 non-null    object
 6   downloadCount    852 non-null    object
 7   voteCount        852 non-null    object
 8   usabilityRating  852 non-null    object
dtypes: object(9)
memory usage: 66.6+ KB

In [24]:
# generamos csv del dataframe que tiene todos los metadatos en uno solo

datasets.to_csv("api_dataExtraction/datasets.csv")

## Get notebooks/kernels

In [25]:
# extraer notebooks

def getKernels(topics):
    
    # extraccion de datos de la api, devuelve una lista
    new_kernelsList = !kaggle kernels list -s $topics --csv
    
    # si no se obtiene notebooks se muestra un error 500
    lista1 = new_kernelsList[0]
    # obtener el 500 para condicional
    lista1 = lista1.split('-')[0]
    # print(lista1)
    
    # dataframe vacio para concatenar
    kernelsList = []
    
    # for para reemplazar las comas (,)
    # al trasformar la lista a dataframe toma la coma (,) de los metadatos como un separador
    for x in new_kernelsList:
        reemplazarK = x.replace(', ', ' ')
        kernelsList.append(reemplazarK)
    
    # print(kernelsList)
    
    # condicional si se encuentran o no metadatos
    if lista1 != "500 ":
                
        kernelsDF = convert_to_df(kernelsList) # convertir a df
        
        kernelsDF.insert(0,"topic",topics,True) # agregar columna con el tema
        kernelsDF.insert(1,"set","kernels",True) # agregar columnna con el tipo de metadato
        
        ultimaColumna = kernelsDF.iloc[:,-1:] # sacar la ultima columna para verificar si est√° vacia o no
        
        # condicional if si la ultima columna esta vacia
        if ultimaColumna.columns.values[0] == None:
            
            kernelsDF = kernelsDF.drop([None], axis=1) # eliminar columna vacia
        
        kernelsDF.dropna(inplace=True) # eliminar filas nulas
        
        ICD.display(kernelsDF.head()) # imprimir
                    
        return(kernelsDF) # return
    return(pd.DataFrame())

In [26]:
count = 0

# dataframe vacio para concatenar dataframes
notebooks = pd.DataFrame()

for x in topics:
    
    # obtener metadatos por medio de la funcion
    dfKernels = getKernels(x)
    
    if not dfKernels.empty:
    
        # unir todos los dataframes
        notebooks = pd.concat([notebooks, dfKernels])
    
        # generar csv individuales
        dfKernels.to_csv("api_dataExtraction/notebook_" + x + str(cont) + ".csv")

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Data-scientist,kernels,hiteshp/head-start-for-data-scientist,Head Start for Data Scientist,Hitesh palamada,2018-09-02 18:36:19,1091
4,Data-scientist,kernels,jackcook/how-to-become-a-data-scientist,How to Become a Data Scientist,Jack Cook,2017-11-20 20:33:34,301
6,Data-scientist,kernels,pedrodematos/titanic-a-complete-approach-for-d...,Titanic: A complete approach for Data Scientists,Pedro Gon√ßalves,2021-06-01 16:16:47,508

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Big-data-concepts,kernels,kanncaa1/deep-learning-tutorial-for-beginners,Deep Learning Tutorial for Beginners,DATAI,2019-05-25 14:42:24,2312
4,Big-data-concepts,kernels,jiashenliu/introduction-to-financial-concepts-...,Introduction to financial concepts and data,Jiashen Liu,2021-07-01 09:52:48,936
6,Big-data-concepts,kernels,rtatman/welcome-to-data-science-in-r,Welcome to Data Science in R,Rachael Tatman,2018-04-11 21:56:06,406
8,Big-data-concepts,kernels,shivamb/data-science-glossary-on-kaggle,Data Science Glossary on Kaggle,Shivam Bansal,2018-12-10 09:47:14,2141
10,Big-data-concepts,kernels,arthurtok/interactive-intro-to-dimensionality-...,Interactive Intro to Dimensionality Reduction,Anisotropic,2018-09-24 22:53:26,814

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Data-mining-concepts,kernels,xvivancos/market-basket-analysis,Market Basket Analysis,Xavier,2022-12-04 12:55:54,612
4,Data-mining-concepts,kernels,jiashenliu/introduction-to-financial-concepts-...,Introduction to financial concepts and data,Jiashen Liu,2021-07-01 09:52:48,936
6,Data-mining-concepts,kernels,shivamb/data-science-glossary-on-kaggle,Data Science Glossary on Kaggle,Shivam Bansal,2018-12-10 09:47:14,2141
8,Data-mining-concepts,kernels,mgmarques/customer-segmentation-and-market-bas...,Customer Segmentation and Market Basket Analysis,Marcelo Marques,2018-11-27 23:07:03,117
10,Data-mining-concepts,kernels,pierremegret/gensim-word2vec-tutorial,Gensim Word2Vec Tutorial,Pierre Megret,2018-10-21 01:14:06,523

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Machine-learning-algorithms,kernels,milan400/machine-learning-algorithms-from-scratch,Machine Learning Algorithms from Scratch,milan,2022-06-30 14:17:01,103
4,Machine-learning-algorithms,kernels,harunshimanto/machine-learning-algorithms-for-...,Machine Learning Algorithms for Epileptic Seiz...,Harun-Ur-Rashid,2018-10-22 20:52:53,54

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Google-colab,kernels,naim99/skin-cancer-segmentation-google-colab,skin cancer segmentation : google colab,Naim Mhedhbi,2020-09-26 09:02:02,30
4,Google-colab,kernels,gopidurgaprasad/stater-pytorch-tpu-google-colab,Stater Pytorch TPU Google Colab,Gopi Durgaprasad,2020-03-27 14:47:55,26
6,Google-colab,kernels,kool777/ultimate-google-colab-training-batch-s...,Ultimate Google Colab Training [batch size 64],Kuldeep Singh Chouhan,2020-10-26 09:50:34,43
8,Google-colab,kernels,ultralytics/yolov5,YOLOv5,Glenn Jocher,2022-11-22 19:40:14,278
10,Google-colab,kernels,code1110/how-to-submit-from-google-colab,How to submit from Google Colab,katsu1110,2019-06-21 22:36:16,33

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Jupyter-notebook,kernels,jhoward/jupyter-notebook-101,Jupyter Notebook 101,Jeremy Howard,2022-04-24 20:36:56,940
4,Jupyter-notebook,kernels,marcovasquez/useful-html-for-jupyter-notebook,Useful HTML for Jupyter Notebook,Marco Vasquez E,2020-05-15 17:53:44,110
6,Jupyter-notebook,kernels,stonet2000/lux-ai-season-1-jupyter-notebook-tu...,Lux AI Season 1 Jupyter Notebook Tutorial,Stone Tao,2021-09-05 22:32:47,141
8,Jupyter-notebook,kernels,tientd95/jupyter-notebook-tricks,Jupyter Notebook Tricks,Hng,2020-08-25 05:15:27,120
10,Jupyter-notebook,kernels,sirivellamadhu/keyboard-shortcuts-for-jupyter-...,Keyboard Shortcuts for jupyter notebook,sirivella madhu,2018-04-07 10:33:30,109

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Kaggle-Notebook,kernels,mpwolke/kaggle-notebook,Kaggle Notebook,Mar√≠lia Prata,2020-02-07 16:04:35,24
4,Kaggle-Notebook,kernels,howoojang/first-kaggle-notebook-following-ts-t...,First kaggle notebook. Following TS tutorial,Howoo Jang,2021-10-13 03:14:22,94
6,Kaggle-Notebook,kernels,ahmedshahriarsakib/streamlit-app-on-kaggle-not...,Streamlit App On Kaggle Notebook,Ahmed Shahriar Sakib,2022-09-10 00:16:28,64
8,Kaggle-Notebook,kernels,its7171/how-to-use-arnie-on-kaggle-notebook,How to Use ARNIE on Kaggle Notebook,tito,2020-09-19 12:06:38,105
10,Kaggle-Notebook,kernels,coldfir4/tacotron-2-training-kaggle-notebook,Tacotron 2 Training (Kaggle Notebook),Michael Williams,2021-09-26 20:22:18,7

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Github,kernels,mrisdal/safely-analyzing-github-projects-popul...,Safely Analyzing GitHub Projects: Popular Lice...,Meg Risdal,2018-02-06 19:31:43,100
4,Github,kernels,poonaml/analyzing-3-million-github-repos-using...,Analyzing 3 Million Github Repos using BigQuery,Poonam Ligade,2018-02-28 05:33:35,74
6,Github,kernels,mrisdal/github-commit-messages,GitHub commit messages,Meg Risdal,2018-02-02 06:57:41,24
8,Github,kernels,shivamb/github-acquired-exploring-the-past-acq...,Github Acquired! Exploring the Past Acquisitio...,Shivam Bansal,2018-06-18 19:32:10,64
10,Github,kernels,tsalitzion/github-repo-analysis,GitHub Repo Analysis,VarunBhatia,2017-07-08 05:58:02,18

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Rest-API,kernels,rtatman/careercon-intro-to-apis,CareerCon: Intro to APIs,Rachael Tatman,2019-04-18 04:43:42,240
4,Rest-API,kernels,yassineghouzam/introduction-to-cnn-keras-0-997...,Introduction to CNN Keras - 0.997 (top 6%),Yassine Ghouzam,2017-08-18 01:42:23,6458
6,Rest-API,kernels,nonserial/covid19-prediction-with-restcountrie...,COVID19: prediction with restcountries.eu API ...,Nonserial,2020-03-25 20:54:04,21
8,Rest-API,kernels,rohanrao/tutorial-on-reading-large-datasets,Tutorial on reading large datasets,Vopani,2020-12-14 17:13:08,1371
10,Rest-API,kernels,dansbecker/order-by,Order By,DanB,2021-11-09 00:03:36,225

Empty DataFrame
Columns: [topic, set, ref, title, author, lastRunTime, totalVotes]
Index: []

Empty DataFrame
Columns: [topic, set, ref, title, author, lastRunTime, totalVotes]
Index: []

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Data-quality,kernels,madhurisivalenka/basic-machine-learning-with-r...,Basic Machine Learning with Red Wine Quality data,Madhuri Sivalenka,2018-03-04 04:29:29,131
4,Data-quality,kernels,taha07/wine-quality-prediction-data-analysis,Wine Quality Prediction & Data Analysis,Taha07,2020-06-28 05:26:57,36
6,Data-quality,kernels,kanncaa1/water-quality-explanatory-data-analysis,Water Quality Explanatory Data Analysis,DATAI,2021-07-15 09:43:45,32
8,Data-quality,kernels,vbmokin/datasets-for-river-water-quality-predi...,Datasets for river water quality prediction,Vitalii Mokin,2021-01-27 22:39:02,73
10,Data-quality,kernels,dansbecker/model-validation,Model Validation,DanB,2021-11-09 00:00:51,2656

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Data-management,kernels,jagangupta/time-series-basics-exploring-tradit...,Time series Basics : Exploring traditional TS,Jagan,2018-03-02 18:21:54,1776
4,Data-management,kernels,nirajvermafcb/principal-component-analysis-exp...,Principal Component Analysis explained,Niraj Verma,2017-01-12 18:47:03,250
6,Data-management,kernels,goyalshalini93/car-price-prediction-linear-reg...,Car Price Prediction (Linear Regression - RFE),Shalini Goyal,2019-04-26 09:01:04,602
8,Data-management,kernels,janiobachmann/bank-marketing-campaign-opening-...,Bank Marketing Campaign || Opening a Term Deposit,Janio Martinez Bachmann,2019-03-16 20:32:03,404
10,Data-management,kernels,ismailelbouknify/data-preparation-date-management,data preparation(Date management),Ismail ELBOUKNIFY,2022-07-05 23:16:04,15

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Csv-dataset,kernels,mirfanazam/large-dataset-csv-dask-parquet,Large Dataset - CSV - DASK - Parquet,Muhammad Irfan Azam,2022-07-06 16:36:40,45

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Json-dataset,kernels,coldfir3/simple-yolox-dataset-generator-coco-json,Simple YoloX Dataset Generator (COCO-JSON),Adriano Passos,2021-12-11 16:01:11,45
4,Json-dataset,kernels,ll490187880/download-dataset-from-json-py3,Download dataset from json(py3),Lei,2019-04-02 07:34:15,11
6,Json-dataset,kernels,arunprathap/openvaccine-json-dataset-to-csv-da...,OpenVaccine: JSON Dataset to CSV Dataset,Arun P R,2020-09-17 11:00:58,9
8,Json-dataset,kernels,jhoward/is-it-a-bird-creating-a-model-from-you...,Is it a bird? Creating a model from your own data,Jeremy Howard,2022-08-15 20:20:12,1897
10,Json-dataset,kernels,sudalairajkumar/simple-exploration-baseline-ga...,Simple Exploration+Baseline - GA Customer Revenue,SRK,2018-09-25 12:47:47,1046

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Txt-dataset,kernels,cdeotte/tensorflow-longformer-ner-cv-0-633,TensorFlow - LongFormer - NER - [CV 0.633],Chris Deotte,2021-12-27 16:20:51,538
4,Txt-dataset,kernels,laowingkin/netflix-movie-recommendation,Netflix - Movie recommendation,DLao,2020-09-03 14:22:01,523

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Data-types,kernels,residentmario/data-types-and-missing-values,Data Types and Missing Values,Aleksey Bilogur,2022-02-08 16:48:25,540
4,Data-types,kernels,residentmario/exercise-data-types-and-missing-...,Exercise: Data Types and Missing Values,Aleksey Bilogur,2022-02-08 16:41:43,45
6,Data-types,kernels,raddar/amex-data-int-types-train,AMEX data int types - train,raddar,2022-06-03 10:34:45,148
8,Data-types,kernels,raddar/amex-data-int-types-test,AMEX data int types - test,raddar,2022-06-03 10:34:16,48
10,Data-types,kernels,dansbecker/data-types-and-missing-data-referen...,Data types and missing data reference Daily,DanB,2019-05-14 00:06:12,24

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Numerical-data,kernels,aantonova/practical-eda-on-numerical-data,Practical EDA on numerical data,Ann Antonova,2018-08-30 12:31:32,72
4,Numerical-data,kernels,mahmudulhasanshauqi/numerical-data-analysis,Numerical Data Analysis,Shauqi,2019-02-25 05:42:25,3
6,Numerical-data,kernels,startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9434

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Categorical-variables,kernels,alexisbcook/categorical-variables,Categorical Variables,Alexis Cook,2021-11-09 00:07:00,702
4,Categorical-variables,kernels,alexisbcook/exercise-categorical-variables,Exercise: Categorical Variables,Alexis Cook,2021-11-09 00:06:35,15
6,Categorical-variables,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12863
8,Categorical-variables,kernels,startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9434
10,Categorical-variables,kernels,willkoehrsen/start-here-a-gentle-introduction,Start Here: A Gentle Introduction,Will Koehrsen,2018-08-25 02:00:07,3388

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Missing-values,kernels,dansbecker/handling-missing-values,Handling Missing Values,DanB,2019-02-26 02:31:25,1330
4,Missing-values,kernels,alexisbcook/missing-values,Missing Values,Alexis Cook,2021-11-09 00:06:21,873
6,Missing-values,kernels,rtatman/data-cleaning-challenge-handling-missi...,Data Cleaning Challenge: Handling missing values,Rachael Tatman,2018-03-30 21:18:56,1273
8,Missing-values,kernels,residentmario/data-types-and-missing-values,Data Types and Missing Values,Aleksey Bilogur,2022-02-08 16:48:25,540
10,Missing-values,kernels,alexisbcook/handling-missing-values,Handling Missing Values,Alexis Cook,2021-12-14 18:23:30,254

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Null-values,kernels,startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9434
4,Null-values,kernels,hamdallak/dealing-with-null-values,Dealing with Null Values,Hamdalla F. Kareem,2021-09-02 21:57:01,45
6,Null-values,kernels,kanncaa1/data-sciencetutorial-for-beginners,Data ScienceTutorial for Beginners,DATAI,2020-05-19 00:29:44,6250
8,Null-values,kernels,yassineghouzam/introduction-to-cnn-keras-0-997...,Introduction to CNN Keras - 0.997 (top 6%),Yassine Ghouzam,2017-08-18 01:42:23,6458
10,Null-values,kernels,mrisdal/exploring-survival-on-the-titanic,Exploring Survival on the Titanic,Meg Risdal,2017-12-26 19:42:24,3744

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Outliers,kernels,aharless/xgb-w-o-outliers-lgb-with-outliers-co...,XGB w/o outliers & LGB with outliers combined,Andy Harless,2017-07-18 02:21:21,96
4,Outliers,kernels,rtatman/data-cleaning-challenge-outliers,Data Cleaning Challenge: Outliers,Rachael Tatman,2019-01-14 20:56:00,81
6,Outliers,kernels,mindcool/unrolling-of-helices-outliers-removal,Unrolling of helices + outliers removal,Luis,2018-07-19 17:32:14,190
8,Outliers,kernels,junjitakeshima/ubiquant-simple-lgbm-removing-o...,[Ubiquant] Simple LGBM removing Outliers (En/Jp),Junji Takeshima,2022-02-23 07:20:06,101
10,Outliers,kernels,sudalairajkumar/rainfall-test,Beware of Outliers !!,SRK,2015-09-18 01:38:17,45

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Data-transformation,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12863
4,Data-transformation,kernels,serigne/stacked-regressions-top-4-on-leaderboard,Stacked Regressions : Top 4% on LeaderBoard,Serigne,2017-12-16 11:57:12,6777
6,Data-transformation,kernels,saumyadeepm/data-transformation-titanic-dataset,Data Transformation | Titanic Dataset,saumyadeepmitra,2022-11-18 20:18:50,13
8,Data-transformation,kernels,rtatman/data-cleaning-challenge-scale-and-norm...,Data Cleaning Challenge: Scale and Normalize Data,Rachael Tatman,2018-03-30 21:18:36,557
10,Data-transformation,kernels,weikai/data-exploration-transformation-ridge-l...,Data exploration & transformation. Ridge & LASSO.,Weikai Mao,2019-05-21 10:52:17,7

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Principal-Component-Analysis-(PCA),kernels,arthurtok/interactive-intro-to-dimensionality-...,Interactive Intro to Dimensionality Reduction,Anisotropic,2018-09-24 22:53:26,814
4,Principal-Component-Analysis-(PCA),kernels,sid321axn/principal-component-analysis-pca,Principal Component Analysis (PCA),Manu Siddhartha,2019-03-05 02:01:30,16
6,Principal-Component-Analysis-(PCA),kernels,nirajvermafcb/principal-component-analysis-exp...,Principal Component Analysis explained,Niraj Verma,2017-01-12 18:47:03,250
8,Principal-Component-Analysis-(PCA),kernels,arthurtok/principal-component-analysis-with-km...,Principal Component Analysis with KMeans visuals,Anisotropic,2017-10-04 19:49:23,250
10,Principal-Component-Analysis-(PCA),kernels,avikumart/pca-principal-component-analysis-var...,[PCA]Principal Component Analysis &variance plots,AvikumarT,2022-11-02 11:05:29,80

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Categorical-EDA,kernels,subinium/tps-may-categorical-eda,[TPS-May] Categorical EDA,Subin An,2021-05-24 07:21:40,182
4,Categorical-EDA,kernels,subinium/categorical-data-eda-visualization,Categorical Data EDA & Visualization,Subin An,2020-11-01 23:23:32,75
6,Categorical-EDA,kernels,anshumoudgil/iiot-digital-twins-categorical-da...,"""IIoT -Digital Twins -Categorical data EDA """,Solve for Fun,2020-08-04 15:23:01,44
8,Categorical-EDA,kernels,willkoehrsen/start-here-a-gentle-introduction,Start Here: A Gentle Introduction,Will Koehrsen,2018-08-25 02:00:07,3388
10,Categorical-EDA,kernels,nextbigwhat/eda-for-categorical-variables-a-be...,EDA for Categorical Variables - A Beginner's Way,Samarth Agrawal,2018-12-26 03:34:10,63

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Univariate-analysis,kernels,sudalairajkumar/univariate-analysis-regression...,Univariate Analysis & Regression (LB : 0.006),SRK,2016-12-09 09:30:11,121
4,Univariate-analysis,kernels,ravichaubey1506/univariate-statistical-analysi...,Univariate Statistical Analysis on Diabetes,Ravi Chaubey,2020-05-06 07:10:12,97
6,Univariate-analysis,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12863
8,Univariate-analysis,kernels,kanncaa1/feature-selection-and-data-visualization,Feature Selection and Data Visualization,DATAI,2021-07-10 16:05:36,1689
10,Univariate-analysis,kernels,etakla/exploring-the-dataset-univariate-analysis,"""Exploring the Dataset Univariate Analysis""",E-M-A-D,2017-02-28 14:19:59,21

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Multivariate-analysis,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12863
4,Multivariate-analysis,kernels,ravichaubey1506/multivariate-statistical-analy...,Multivariate Statistical Analysis on Diabetes,Ravi Chaubey,2020-08-10 13:49:52,117
6,Multivariate-analysis,kernels,sanikamal/introduction-to-multivariate-analysis,Introduction To Multivariate Analysis,Sani Kamal,2018-11-16 23:31:40,11
8,Multivariate-analysis,kernels,suddhu/heatmap-based-multivariate-analysis,Heatmap based multivariate analysis,sudhar287,2019-01-22 01:45:00,18
10,Multivariate-analysis,kernels,residentmario/welcome-to-data-visualization,Welcome to data visualization,Aleksey Bilogur,2018-01-23 20:24:14,450

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Linear-regression,kernels,sudhirnl7/linear-regression-tutorial,Linear Regression Tutorial,Sudhir Kumar,2020-04-04 14:56:45,357
4,Linear-regression,kernels,goyalshalini93/car-price-prediction-linear-reg...,Car Price Prediction (Linear Regression - RFE),Shalini Goyal,2019-04-26 09:01:04,602
6,Linear-regression,kernels,divan0/multiple-linear-regression,Multiple Linear Regression,Diva Dugar,2018-08-01 14:19:36,145
8,Linear-regression,kernels,vivinbarath/simple-linear-regression-for-salar...,Simple Linear Regression for Salary Data,Barath,2020-02-19 17:22:58,181
10,Linear-regression,kernels,foxtreme/linear-regression-project,Linear Regression Project,Chris Charry,2019-02-24 02:53:30,64

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Simple-linear-regression,kernels,vivinbarath/simple-linear-regression-for-salar...,Simple Linear Regression for Salary Data,Barath,2020-02-19 17:22:58,181
4,Simple-linear-regression,kernels,ashydv/sales-prediction-simple-linear-regression,Sales Prediction (Simple Linear Regression),Ashish,2019-03-07 06:21:44,103
6,Simple-linear-regression,kernels,rbyron/simple-linear-regression-models,Simple linear regression models,Roc√≠o Ventura,2018-03-30 10:28:21,70
8,Simple-linear-regression,kernels,mayanksrivastava/predict-housing-prices-simple...,Predict Housing Prices - Simple Linear Regression,Mayank Srivastava,2017-06-09 22:06:27,75
10,Simple-linear-regression,kernels,tunguz/simple-linear-regression-benchmark,Simple Linear Regression Benchmark,Bojan Tunguz,2019-12-01 13:42:13,90

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Multiple-Linear-Regression,kernels,divan0/multiple-linear-regression,Multiple Linear Regression,Diva Dugar,2018-08-01 14:19:36,145
4,Multiple-Linear-Regression,kernels,gauravduttakiit/bike-sharing-multiple-linear-r...,Bike Sharing : Multiple Linear Regression,Gaurav Dutta,2022-01-22 13:15:59,56
6,Multiple-Linear-Regression,kernels,stieranka/multiple-linear-regression,Multiple Linear Regression,Marek,2018-09-26 14:16:14,18

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Nonlinear-regression,kernels,ahmetcankaraolan/salary-predict-with-nonlinear...,Salary Predict with NonLinear Regression Models,Ahmet Can Karaoglan,2020-07-14 22:20:05,29
4,Nonlinear-regression,kernels,meowmeowmeowmeowmeow/nonlinear-regression,Nonlinear regression,Mykola,2018-11-09 17:28:08,4
6,Nonlinear-regression,kernels,dgawlik/house-prices-eda,House Prices EDA,Dominik Gawlik,2017-02-20 10:51:47,513
8,Nonlinear-regression,kernels,faressayah/practical-introduction-to-10-regres...,Practical Introduction to 10 Regression Algorithm,Fares Sayah,2022-01-20 13:43:02,707
10,Nonlinear-regression,kernels,ibrahimyildiz/salary-predict-with-nonlinear-re...,Salary Predict with NonLinear Regression Models,ibrahimyildiz,2020-07-14 07:22:18,14

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Decision-Trees-regression,kernels,startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9434
4,Decision-Trees-regression,kernels,ldfreeman3/a-data-science-framework-to-achieve...,A Data Science Framework: To Achieve 99% Accuracy,LD Freeman,2017-12-31 18:27:17,5295
6,Decision-Trees-regression,kernels,prashant111/decision-tree-classifier-tutorial,Decision-Tree Classifier Tutorial,Prashant Banerjee,2020-03-13 12:46:21,425
8,Decision-Trees-regression,kernels,rtatman/welcome-to-data-science-in-r,Welcome to Data Science in R,Rachael Tatman,2018-04-11 21:56:06,406
10,Decision-Trees-regression,kernels,kashnitsky/topic-3-decision-trees-and-knn,Topic 3. Decision Trees and kNN,Yury Kashnitsky,2021-05-07 09:25:45,281

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Neural-network-regression,kernels,kanncaa1/deep-learning-tutorial-for-beginners,Deep Learning Tutorial for Beginners,DATAI,2019-05-25 14:42:24,2312
4,Neural-network-regression,kernels,matthieubritoantunes/convolutional-neural-netw...,Convolutional Neural Network for Image Regression,antounes,2022-01-05 16:41:34,17
6,Neural-network-regression,kernels,kanncaa1/pytorch-tutorial-for-deep-learning-lo...,Pytorch Tutorial for Deep Learning Lovers,DATAI,2020-04-06 13:29:40,1321
8,Neural-network-regression,kernels,janiobachmann/credit-fraud-dealing-with-imbala...,Credit Fraud || Dealing with Imbalanced Datasets,Janio Martinez Bachmann,2019-07-03 23:04:48,4312
10,Neural-network-regression,kernels,kanncaa1/machine-learning-tutorial-for-beginners,Machine Learning Tutorial for Beginners,DATAI,2018-07-24 14:43:45,2342

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Correlation,kernels,paulorzp/gmean-of-low-correlation-lb-0-952x,GMEAN of low correlation (LB: 0.952x),Paulo Pinto,2019-09-19 01:22:33,225
4,Correlation,kernels,dbarkhorn/crypto-correlation,Crypto-Correlation,DanBarkhorn,2017-09-11 00:12:54,50
6,Correlation,kernels,jiweiliu/fast-pdf-calculation-with-correlation...,Fast PDF calculation with correlation matrix,Jiwei Liu,2019-03-29 05:34:05,218
8,Correlation,kernels,bbloggsbott/feature-selection-correlation-and-...,Feature Selection - Correlation and P-value,Vishal R,2022-04-25 06:47:12,82
10,Correlation,kernels,wesamelshamy/high-correlation-feature-image-cl...,High Correlation Feature Image Classification ...,Wesam Elshamy,2018-06-09 20:43:38,140

Empty DataFrame
Columns: [topic, set, ref, title, author, lastRunTime, totalVotes]
Index: []

Empty DataFrame
Columns: [topic, set, ref, title, author, lastRunTime, totalVotes]
Index: []

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Central-tendency,kernels,mejbahahammad/python-measuring-central-tendency,Python: Measuring Central Tendency,MEJBAH AHAMMAD,2020-08-31 19:34:30,12
4,Central-tendency,kernels,jgroff/unit-2-central-tendency-and-variability,Unit 2 - Central Tendency and Variability,Jeff Groff,2017-12-16 13:48:57,5

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Central-tendency,kernels,mejbahahammad/python-measuring-central-tendency,Python: Measuring Central Tendency,MEJBAH AHAMMAD,2020-08-31 19:34:30,12
4,Central-tendency,kernels,jgroff/unit-2-central-tendency-and-variability,Unit 2 - Central Tendency and Variability,Jeff Groff,2017-12-16 13:48:57,5

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Measures-of-Dispersion,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12863

Empty DataFrame
Columns: [topic, set, No kernels found]
Index: []

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Factor-analysis,kernels,ipravin/factor-analysis-and-linear-programming,Factor Analysis and Linear Programming,Pravin K,2019-03-19 16:53:25,26
4,Factor-analysis,kernels,mathan/factor-analysis-on-match-statistics,Factor Analysis on Match Statistics,Mathan,2018-10-03 08:36:21,15
6,Factor-analysis,kernels,ragnar123/exploratory-data-analysis-and-factor...,Exploratory Data Analysis and Factor Model Idea,Martin Kovacevic Buvinic,2020-02-19 21:45:23,44
8,Factor-analysis,kernels,balabaskar/divorce-prediction-with-factor-anal...,Divorce prediction with Factor analysis,Bala Baskar,2021-12-25 14:49:18,38
10,Factor-analysis,kernels,ikertxo1986/top-4-factor-analysis-ensemble,[Top %4] Factor analysis & Ensemble,Ikertxo :),2019-06-27 23:31:47,28

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Quartile-analysis,kernels,kanncaa1/data-sciencetutorial-for-beginners,Data ScienceTutorial for Beginners,DATAI,2020-05-19 00:29:44,6250
4,Quartile-analysis,kernels,yassineghouzam/titanic-top-4-with-ensemble-mod...,Titanic Top 4% with ensemble modeling,Yassine Ghouzam,2017-08-09 14:34:44,2735
6,Quartile-analysis,kernels,shrutimechlearn/step-by-step-diabetes-classifi...,Step by Step Diabetes Classification-KNN-detailed,Shruti_Iyyer,2020-10-31 14:07:34,889
8,Quartile-analysis,kernels,henriqueyamahata/bank-marketing-classification...,"""Bank Marketing + Classification + ROC",F1,"RECALL...""",Henrique Yamahata
10,Quartile-analysis,kernels,kanncaa1/dataiteam-titanic-eda,DataiTeam Titanic EDA,DATAI,2020-05-25 20:16:52,314

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Decision-Trees-classification,kernels,startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9434
4,Decision-Trees-classification,kernels,paultimothymooney/decision-trees-for-binary-cl...,Decision Trees for Binary Classification (0.99),Paul Mooney,2018-03-02 17:28:31,40
6,Decision-Trees-classification,kernels,ldfreeman3/a-data-science-framework-to-achieve...,A Data Science Framework: To Achieve 99% Accuracy,LD Freeman,2017-12-31 18:27:17,5295
8,Decision-Trees-classification,kernels,prashant111/decision-tree-classifier-tutorial,Decision-Tree Classifier Tutorial,Prashant Banerjee,2020-03-13 12:46:21,425
10,Decision-Trees-classification,kernels,macespinoza/classification-decision-trees-and-...,"""Classification Decision Trees and k Nearest""",Miguel Angel Cotrina Espinoza,2018-10-16 04:38:47,31

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Neural-network-classification,kernels,rajeshjnv/heart-disease-classification-neural-...,Heart Disease Classification - Neural Network,Rajesh kumar jha,2019-07-05 20:32:42,123
4,Neural-network-classification,kernels,kanncaa1/deep-learning-tutorial-for-beginners,Deep Learning Tutorial for Beginners,DATAI,2019-05-25 14:42:24,2312
6,Neural-network-classification,kernels,divyansh22/neural-network-for-li-ion-classific...,Neural Network for Li-Ion Classification,Divyansh Agrawal,2020-11-27 06:05:56,40
8,Neural-network-classification,kernels,kanncaa1/pytorch-tutorial-for-deep-learning-lo...,Pytorch Tutorial for Deep Learning Lovers,DATAI,2020-04-06 13:29:40,1321
10,Neural-network-classification,kernels,poonaml/deep-neural-network-keras-way,Deep Neural Network Keras way,Poonam Ligade,2018-07-09 09:53:52,1057

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Nearest-Neighbors,kernels,startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9434
4,Nearest-Neighbors,kernels,jmataya/k-nearest-neighbors-classifier,k-Nearest Neighbors Classifier,jmataya,2017-06-27 16:55:52,11
6,Nearest-Neighbors,kernels,zohaib123/telecusts-prediction-k-nearest-neigh...,TeleCusts Prediction K-Nearest Neighbors,Zohaib Ahmed,2021-01-17 03:32:35,48
8,Nearest-Neighbors,kernels,khotijahs1/k-nearest-neighbors-will-it-rain-to...,K-nearest Neighbors : Will it Rain Tomorrow?,Siti Khotijah,2020-10-02 07:40:55,23
10,Nearest-Neighbors,kernels,codeblogger/k-nearest-neighbors-knn-classifica...,K-Nearest Neighbors (KNN) Classification (75.2...,Furkan Gulsen,2020-05-15 00:20:26,26

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Inferential-analysis,kernels,ravichaubey1506/inferential-statistical-analys...,Inferential Statistical Analysis on Diabetes Data,Ravi Chaubey,2022-02-16 14:34:55,118
4,Inferential-analysis,kernels,shreyasajal/inferential-statistics-on-heart-at...,Inferential Statistics on Heart Attack Analysis,Shreya Sajal,2021-04-09 03:25:43,53
6,Inferential-analysis,kernels,saurav9786/cardiogoodfitness-descriptive-stati...,CardioGoodFitness - Descriptive Statistics,Saurav Anand,2022-11-02 09:57:50,61
8,Inferential-analysis,kernels,ldfreeman3/a-data-science-framework-to-achieve...,A Data Science Framework: To Achieve 99% Accuracy,LD Freeman,2017-12-31 18:27:17,5295
10,Inferential-analysis,kernels,ekrembayar/a-b-testing-step-by-step-hypothesis...,A/B Testing: Step by Step & Hypothesis Testing,Ekrem Bayar,2021-11-30 12:54:32,190

,topic,set,ref,title,author,lastRunTime,totalVotes
2,R-data-visualization,kernels,antoniolopez/iris-data-visualization-with-r,Iris data visualization with R,Antonio Lopez,2017-10-27 02:43:15,36
4,R-data-visualization,kernels,xingobar/data-visualization-with-r,Data Visualization with R,Gary Ng,2016-11-09 10:53:37,14
6,R-data-visualization,kernels,muslump/data-visualization-with-r,Data Visualization with R,Muslum Polat,2020-12-28 13:26:30,16
8,R-data-visualization,kernels,mrisdal/exploring-survival-on-the-titanic,Exploring Survival on the Titanic,Meg Risdal,2017-12-26 19:42:24,3744
10,R-data-visualization,kernels,jessemostipak/dive-into-dplyr-tutorial-1,Dive into dplyr (tutorial #1),Jesse Mostipak,2020-10-14 15:40:50,1915

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Python-data-visualization,kernels,jchen2186/data-visualization-with-python-seaborn,Data Visualization with Python Seaborn,Jane,2017-07-30 05:04:25,41
4,Python-data-visualization,kernels,ashfakyeafi/data-visualization-with-python,DATA VISUALIZATION with Python,Ashfak Yeafi,2022-07-01 08:44:57,53
6,Python-data-visualization,kernels,andersonmatias/final-assignment-data-visualiza...,Final Assignment - Data Visualization with Pyt...,"""Anderson Matias PMP""",2020-08-20 08:38:05,9
8,Python-data-visualization,kernels,kanncaa1/data-sciencetutorial-for-beginners,Data ScienceTutorial for Beginners,DATAI,2020-05-19 00:29:44,6250
10,Python-data-visualization,kernels,benhamner/python-data-visualizations,Python Data Visualizations,Ben Hamner,2017-08-29 15:54:22,1383

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Power-BI,kernels,nalkrolu/power-bi-report-with-plotly,Power BI Report with Plotly,Unal KOROGLU,2022-10-04 12:46:34,11
4,Power-BI,kernels,justjun0321/way-to-google-get-a-job-in-goggle-...,Way to Google - Get a job in Goggle (Word Cloud),Wei Chun Chang,2020-09-03 05:42:51,186

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Tableau,kernels,pavansanagapati/tableau-intro-use-cases,Tableau Intro & Use Cases!!!!,Pavan Sanagapati,2020-08-02 17:26:05,122
4,Tableau,kernels,nikhilncr/eda-using-tableau-visualizations,EDA using Tableau Visualizations,Nikhil C R,2018-04-24 05:00:00,57
6,Tableau,kernels,xvivancos/data-breaches-tableau-visualization,Data Breaches Tableau Visualization,Xavier,2022-11-27 12:20:07,105
8,Tableau,kernels,lidlurch/visualization-using-tableau,Visualization using Tableau,Zach Loertscher,2017-10-26 22:20:30,30
10,Tableau,kernels,pavansanagapati/eda-using-tableau-visualisation,EDA using Tableau Visualisation !!!,Pavan Sanagapati,2020-06-15 13:17:52,49

Empty DataFrame
Columns: [topic, set, ref, title, author, lastRunTime, totalVotes]
Index: []

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Seaborn,kernels,alexisbcook/hello-seaborn,"""Hello Seaborn""",Alexis Cook,2022-06-09 00:35:16,734
4,Seaborn,kernels,kanncaa1/seaborn-tutorial-for-beginners,Seaborn Tutorial for Beginners,DATAI,2020-01-28 17:54:17,1074
6,Seaborn,kernels,residentmario/plotting-with-seaborn,Plotting with seaborn,Aleksey Bilogur,2018-09-19 21:36:58,305
8,Seaborn,kernels,residentmario/faceting-with-seaborn,Faceting with seaborn,Aleksey Bilogur,2018-04-16 22:20:52,195
10,Seaborn,kernels,saurav9786/seaborn-tutorial,Seaborn Tutorial,Saurav Anand,2022-07-23 16:01:35,120

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Bokeh,kernels,kanncaa1/visualization-bokeh-tutorial-part-1,Visualization: Bokeh Tutorial Part 1,DATAI,2018-05-26 21:54:19,299
4,Bokeh,kernels,kanncaa1/interactive-bokeh-tutorial-part-2,Interactive Bokeh Tutorial Part 2,DATAI,2018-07-09 20:38:05,179
6,Bokeh,kernels,pavansanagapati/pandas-bokeh-visualization-tut...,Pandas Bokeh Visualization Tutorial,Pavan Sanagapati,2020-07-05 01:20:21,134

,topic,set,ref,title,author,lastRunTime,totalVotes
2,Plotly,kernels,kanncaa1/plotly-tutorial-for-beginners,Plotly Tutorial for Beginners,DATAI,2019-10-01 20:59:55,1378
4,Plotly,kernels,hakkisimsek/plotly-tutorial-1,PLOTLY TUTORIAL - 1,Hakki Kaan Simsek,2019-01-13 17:06:49,190
6,Plotly,kernels,kanncaa1/earthquake-animation-with-plotly,Earthquake Animation with Plotly,DATAI,2019-12-08 11:15:26,231
8,Plotly,kernels,residentmario/introduction-to-plotly-optional,Introduction to plotly (Optional),Aleksey Bilogur,2018-03-16 17:57:35,117
10,Plotly,kernels,thebrownviking20/intermediate-visualization-tu...,Intermediate visualization tutorial using Plotly,Siddharth Yadav,2020-04-10 08:48:49,259

In [27]:
notebooks.shape

(560, 7)

In [28]:
notebooks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560 entries, 2 to 20
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   topic        560 non-null    object
 1   set          560 non-null    object
 2   ref          560 non-null    object
 3   title        560 non-null    object
 4   author       560 non-null    object
 5   lastRunTime  560 non-null    object
 6   totalVotes   560 non-null    object
dtypes: object(7)
memory usage: 35.0+ KB

In [29]:
# generar csv con todos los metadatos de todos los dataframes

notebooks.to_csv("api_dataExtraction/notebooks.csv")

In [ ]:
# graphql khan academy