In [2]:
import kaggle
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import itertools
from PIL import Image
from IPython.core import display as ICD
%matplotlib inline

In [3]:
from kaggle.api.kaggle_api_extended import KaggleApi

In [4]:
api = KaggleApi()
api.authenticate()

In [5]:
def convert_to_df(csv): # needs to be repaired
    df = pd.DataFrame(data=csv)[0].str.split(',',expand=True)  
    header = df.iloc[0]
    df = df[1:]
    df.columns = header
    return df

In [6]:
competitions_list_csv = !kaggle competitions list --csv
competitions_list_df = convert_to_df(competitions_list_csv)
print('20 Competitions from Kaggle.com/competitions:')
ICD.display(competitions_list_df.head(10))

20 Competitions from Kaggle.com/competitions:

,ref,deadline,category,reward,teamCount,userHasEntered,NaN
1,,None,None,None,None,None,None
2,contradictory-my-dear-watson,2030-07-01 23:59:00,Getting Started,Prizes,55,False,None
3,,None,None,None,None,None,None
4,gan-getting-started,2030-07-01 23:59:00,Getting Started,Prizes,100,False,None
5,,None,None,None,None,None,None
6,store-sales-time-series-forecasting,2030-06-30 23:59:00,Getting Started,Knowledge,613,False,None
7,,None,None,None,None,None,None
8,tpu-getting-started,2030-06-03 23:59:00,Getting Started,Knowledge,131,False,None
9,,None,None,None,None,None,None
10,digit-recognizer,2030-01-01 00:00:00,Getting Started,Knowledge,1226,False,None

In [24]:
datasets_list_csv = !kaggle datasets list --csv
datasets_list_df = convert_to_df(datasets_list_csv)

datasets_list_df_sorted = datasets_list_df.sort_values(by='lastUpdated', ascending=0)
ICD.display(datasets_list_df_sorted.head())

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN
40,nolanbconaway/pitchfork-data,"""18","393 Pitchfork Reviews""",33MB,2017-01-13 04:18:10,10608,371,0.7058824
18,iamsouravbanerjee/nifty500-stocks-dataset,Stock Market Dataset (NIFTY-500),35KB,2022-07-17 11:46:10,982,67,1.0,None
8,ramjasmaurya/1-gb-internet-price,Internet Prices around 200+ countries in 2022.,22KB,2022-07-17 02:56:12,1677,53,0.9705882,None
20,gabrielsantello/cars-purchase-decision-dataset,Cars - Purchase Decision Dataset,6KB,2022-07-09 13:18:38,858,30,1.0,None
16,mukuldeshantri/ecommerce-fashion-dataset,E-commerce Dataset with 30K Products,546KB,2022-07-08 12:28:18,1133,41,1.0,None

In [16]:
datasets = kaggle.api.dataset_list(search="regression")
print(datasets)

[andonians/random-linear-regression, abrambeyer/openintro-possum, dragonheir/logistic-regression, nkitgupta/jigsaw-regression-based-data, tanuprabhu/linear-regression-dataset, mirichoi0218/insurance, maajdl/yeh-concret-data, hellbuoy/car-price-prediction, harlfoxem/housesalesprediction, fedesoriano/the-boston-houseprice-data, dileep070/heart-disease-prediction-using-logistic-regression, heptapod/titanic, uciml/red-wine-quality-cortez-et-al-2009, quantbruce/real-estate-price-prediction, kandij/diabetes-dataset, azeembootwala/titanic, ishadss/productivity-prediction-of-garment-employees, rhuebner/human-resources-data-set, uciml/electric-power-consumption-data-set, karthickveerakumar/salary-data-simple-linear-regression]

In [119]:
csvregression = !kaggle datasets list -s linear-regression

csvregression

#csvregression = convert_to_df(csvregression)

#csvregression = csvregression.sort_values(by='lastUpdated', ascending=0)
#ICD.display(csvregression.head(30))

#csvregression.shape

['ref                                                      title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating  ',
 '-------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------  ',
 'andonians/random-linear-regression                       Linear Regression                                    8KB  2017-05-11 20:15:52          39568        422  0.8235294        ',
 'tanuprabhu/linear-regression-dataset                     Linear Regression Data-set                           1KB  2019-06-21 05:57:12           5218         55  1.0              ',
 'mirichoi0218/insurance                                    Medical Cost Personal Datasets                     16KB  2018-02-21 00:15:14         134379       1856  0.88235295       ',
 'hellbuoy/car-price-prediction                            Car Price Prediction Multiple Linear Regression     18KB  2019-10-15 16:45:27          30885        352  0.7058824        ',
 'karthickveerakumar/salary-data-simple-linear-regression  Salary data - Simple linear regression              378B  2018-01-22 17:09:38          30300        215  0.3529412        ',
 'quantbruce/real-estate-price-prediction                  Real estate price prediction                         7KB  2018-12-08 09:13:48          35188        321  0.47058824       ',
 'kolawale/focusing-on-mobile-app-or-website               Linear Regression  E-commerce Dataset               43KB  2019-09-16 19:04:27           4373         45  0.625            ',
 'karthickveerakumar/startup-logistic-regression           Startup - Multiple Linear Regression                 1KB  2018-01-29 11:42:03           5447         45  0.47058824       ',
 'tmcketterick/heights-and-weights                         Heights and weights                                 262B  2018-01-06 21:42:20           6078         67  0.7058824        ',
 'dev0914sharma/car-purchasing-model                       Car Purchasing Model                                24KB  2021-04-30 15:59:08           1735         30  0.8235294        ',
 'nehalbirla/vehicle-dataset-from-cardekho                 Vehicle dataset                                    227KB  2020-10-24 01:29:16          71326        636  1.0              ',
 'dmvreddy91/usahousing                                    Linear regression                                  363KB  2017-10-10 18:34:48           2139         15  0.29411766       ',
 'mayurdalvi/simple-linear-regression-placement-data       Simple Linear Regression - Placement data            4KB  2021-11-15 15:02:18            799         19  1.0              ',
 'testpython/linear-regression                             Linear regression                                    8KB  2018-03-18 12:51:45           1227         12  0.29411766       ',
 'aungpyaeap/fish-market                                   Fish market                                          2KB  2019-06-13 10:20:33          37432        387  1.0              ',
 'kashnitsky/mlcourse                                      mlcourse.ai                                         51MB  2018-12-09 16:45:09          32789       1479  0.88235295       ',
 'arejet/simple-linear-regression                          Simple Linear Regression                           780KB  2018-01-17 19:38:13           1233         24  0.29411766       ',
 'harsh45/random-salary-data-of-employes-age-wise          salary_data of Employees with years of Experience   378B  2019-08-11 16:11:15           1630         19  0.64705884       ',
 'kratos2597/boom-bikes-linear-regression                  Boom Bikes - Linear Regression                      22KB  2022-01-14 14:21:01            257         17  0.64705884       ',
 'swathiachath/kc-housesales-data                          KC_Housesales_Data                                 753KB  2018-08-08 08:01:57           4951         53  0.64705884       ']

In [45]:
csvregression['type'] = 'dataframe'
csvregression.head()

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN,type
18,harlfoxem/housesalesprediction,"""House Sales in King County","USA""",780KB,2016-08-25 15:52:49,138183,1840,0.7058824,dataframe
8,nkitgupta/jigsaw-regression-based-data,Jigsaw Regression Based Data,3GB,2022-02-05 20:51:56,1181,103,0.88235295,None,dataframe
4,abrambeyer/openintro-possum,Possum Regression,2KB,2021-08-17 01:15:54,2124,34,1.0,None,dataframe
20,fedesoriano/the-boston-houseprice-data,Boston House Prices-Advanced Regression Techni...,12KB,2021-06-01 10:39:10,4663,93,1.0,None,dataframe
34,ishadss/productivity-prediction-of-garment-emp...,Productivity Prediction of Garment Employees,16KB,2021-04-06 22:42:06,3223,62,0.9705882,None,dataframe

In [86]:
kernel = !kaggle kernels list -s regression --language python

kernel = convert_to_df(kernel)


ICD.display(kernel.head())

Empty DataFrame
Columns: [No kernels found]
Index: []

In [ ]:
# graphql khan academy