# Api Kaggle

In [11]:
# importar librerias necesarias
import kaggle
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import itertools
from PIL import Image
from IPython.core import display as ICD
%matplotlib inline

In [2]:
# importar libreria kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

In [3]:
# llamar a la api key de kaggle instalada en el ordenador

api = KaggleApi()
api.authenticate()

In [4]:
# metodo para convertir en df los metadatos extraidos

def convert_to_df(csv):
    df = pd.DataFrame(data=csv)[0].str.split(',',expand=True)  
    header = df.iloc[0]
    df = df[1:]
    df.columns = header
    return df

In [10]:
fashion_minst_search_in_datasets_csv = !kaggle datasets list -s Machine-learning --csv
fashion_minst_search_in_datasets_df = convert_to_df(fashion_minst_search_in_datasets_csv)
print('Search Results for Fashion-MNIST Dataset:')
ICD.display(fashion_minst_search_in_datasets_df.head(10))

Search Results for Fashion-MNIST Dataset:

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,kaggle/kaggle-survey-2018,2018 Kaggle Machine Learning & Data Science Su...,4MB,2018-11-03 22:35:07,18036,1012,0.85294116
3,,None,None,None,None,None,None
4,kaggle/kaggle-survey-2017,2017 Kaggle Machine Learning & Data Science Su...,4MB,2017-10-27 22:03:03,26029,857,0.8235294
5,,None,None,None,None,None,None
6,kaushil268/disease-prediction-using-machine-le...,Disease Prediction Using Machine Learning,30KB,2020-05-15 03:58:44,9782,120,0.8235294
7,,None,None,None,None,None,None
8,alopez247/pokemon,Pokémon for Data Mining and Machine Learning,715KB,2017-03-05 15:01:26,12627,265,0.85294116
9,,None,None,None,None,None,None
10,shashwatwork/phishing-dataset-for-machine-lear...,Phishing Dataset for Machine Learning,234KB,2021-05-28 14:47:37,2798,44,0.9411765

In [5]:
# temas de fundamentos de analisis de datos

topics = ['Data analysis', 'Data mining', 'Machine learning', 'Data extraction', 'Scrapy', 'data storage', 
          'Data quality', 'data preprocessing', 'data cleaning', 'data manipulation', 'Missing data', 'Null Data', 
          'outliers', 'data transformation', 'Dimensional reduction', 'Exploratory data analysis', 'Univariate data analysis', 
          'Multivariate data analysis', 'Regression', 'Linear regression', 'Simple linear regression', 'Multiple Linear Regression', 
          'Nonlinear regression', 'Data analysis', 'descriptive analysis', 'Frequency', 'Central tendency', 'Arithmetic mean', 
          'statistical mode', 'Median', 'dispersion', 'range', 'variance', 'standard deviation', 'Correlation', 
          'inferential analysis', 'Bayesian analysis', 'predictive analytics', 'prescriptive analytics']

In [6]:
for x in topics:
    
    competitions_list_csv = !kaggle datasets list -s $x --csv

    competitions_list_df = convert_to_df(competitions_list_csv)
    
    ICD.display(competitions_list_df.head(10))

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mining,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: learning,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: extraction,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,gauthamp10/google-playstore-apps,Google Play Store Apps,207MB,2021-06-17 12:04:06,16178,335,1.0
3,,None,None,None,None,None,None
4,usernam3/shopify-app-store,Shopify app store,71MB,2022-06-05 20:19:32,4700,130,1.0
5,,None,None,None,None,None,None
6,shreyaspj/android-devices-and-mobiles,Android devices and mobiles,30KB,2020-08-20 18:02:22,345,19,0.5882353
7,,None,None,None,None,None,None
8,cyaris/2016-mlb-season,2016 MLB Season,237KB,2018-04-21 18:26:56,2316,37,0.8235294
9,,None,None,None,None,None,None
10,sagunsh/fifa-20-complete-player-dataset,FIFA 20 Complete Player Dataset,2MB,2019-10-05 16:33:26,1147,26,0.9117647

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: storage,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: quality,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: preproc...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: cleaning,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: manipul...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: Data,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN
1,,None,None,None,None,None,None,None
2,broach/button-tone-sz,EEG data from basic sensory task in Schizophrenia,8GB,2019-01-31 18:26:06,4562,188,0.88235295,None
3,,None,None,None,None,None,None,None
4,mokar2001/house-price-tehran-iran,"""House Price (Tehran","Iran)""",31KB,2021-09-06 08:00:48,1568,52,1.0
5,,None,None,None,None,None,None,None
6,rubenssjr/brasilian-houses-to-rent,brazilian_houses_to_rent,282KB,2020-03-25 22:51:17,10229,281,1.0,None
7,,None,None,None,None,None,None,None
8,drscarlat/time-series,Time Series with anomalies,4MB,2021-01-30 18:39:27,1178,15,0.64705884,None
9,,None,None,None,None,None,None,None
10,soumikrakshit/anime-faces,Anime Faces,441MB,2019-05-16 10:38:47,7426,171,0.625,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: transfo...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: reduction,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN
1,,None,None,None,None,None,None,None
2,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,42133,441,0.8235294,None
3,,None,None,None,None,None,None,None
4,abrambeyer/openintro-possum,Possum Regression,2KB,2021-08-17 01:15:54,2749,38,1.0,None
5,,None,None,None,None,None,None,None
6,dragonheir/logistic-regression,Logistic Regression,3KB,2017-12-24 08:11:43,19275,151,0.4117647,None
7,,None,None,None,None,None,None,None
8,nkitgupta/jigsaw-regression-based-data,Jigsaw Regression Based Data,3GB,2022-02-05 20:51:56,1236,103,0.88235295,None
9,,None,None,None,None,None,None,None
10,tanuprabhu/linear-regression-dataset,Linear Regression Data-set,1KB,2019-06-21 05:57:12,6351,60,1.0,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: regression,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: linear ...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: Linear ...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: regression,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,rtatman/english-word-frequency,English Word Frequency,2MB,2017-09-06 18:21:27,12047,306,0.8235294
3,,None,None,None,None,None,None
4,rtatman/japanese-lemma-frequency,Japanese lemma frequency,130KB,2017-07-24 20:14:06,554,35,0.8235294
5,,None,None,None,None,None,None
6,tavoglc/vih-fragments-frequency,VIH Fragments Frequency,31MB,2022-06-21 02:15:23,20,7,0.9411765
7,,None,None,None,None,None,None
8,tavoglc/dengue-fragments-frequency,Dengue Fragments Frequency,11MB,2022-06-21 02:09:25,22,6,0.9411765
9,,None,None,None,None,None,None
10,tavoglc/rotavirus-fragments-frequency,Rotavirus Fragments Frequency,58MB,2022-06-21 02:15:17,5,6,0.9411765

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: tendency,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mean,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mode,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN
1,,None,None,None,None,None,None,None
2,camnugent/california-housing-prices,California Housing Prices,400KB,2017-11-24 03:14:59,75939,767,0.85294116,None
3,,None,None,None,None,None,None,None
4,marcomolina/water-consumption-in-a-median-size...,Water Consumption in a Median Size City,9MB,2016-09-15 07:04:37,3702,65,0.7058824,None
5,,None,None,None,None,None,None,None
6,zillow/median-listing-price-1-bedroom,Median Listing Price (1 Bedroom),22KB,2016-11-07 02:54:56,1059,28,0.7058824,None
7,,None,None,None,None,None,None,None
8,goldenoakresearch/us-household-income-stats-ge...,US Household Income Statistics,2MB,2018-04-16 18:20:57,11992,226,0.8235294,None
9,,None,None,None,None,None,None,None
10,ruchi798/malnutrition-across-the-globe,Malnutrition across the globe,79KB,2020-05-25 09:51:45,4901,186,1.0,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN,NaN
1,,None,None,None,None,None,None,None,None
2,saurabhshahane/us-electric-power-generators,U.S. Electric Power Generators,2MB,2021-07-07 16:58:18,137,12,0.8235294,None,None
3,,None,None,None,None,None,None,None,None
4,vinven7/comprehensive-database-of-minerals,Comprehensive database of Minerals,145KB,2021-01-12 17:32:41,663,23,1.0,None,None
5,,None,None,None,None,None,None,None,None
6,brsdincer/pulsar-classification-for-class-pred...,Pulsar Classification For Class Prediction,771KB,2021-04-04 12:42:47,159,17,1.0,None,None
7,,None,None,None,None,None,None,None,None
8,johnkenny/dispersion-dataset,dispersion dataset,999B,2021-10-09 11:44:47,2,1,0.11764706,None,None
9,,None,None,None,None,None,None,None,None
10,jvwilliams23/filtered-direct-numerical-simulat...,Filtered direct numerical simulation dataset,2GB,2022-07-28 19:56:29,3,1,0.9117647,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,iabhishekofficial/mobile-price-classification,Mobile Price Classification,71KB,2018-01-28 08:44:24,102046,1339,0.7058824
3,,None,None,None,None,None,None
4,joshmcadams/oranges-vs-grapefruit,Oranges vs. Grapefruit,61KB,2020-01-08 23:28:02,7653,71,1.0
5,,None,None,None,None,None,None
6,thomaskonstantin/highly-rated-children-books-a...,Highly Rated Children Books And Stories,1MB,2021-05-14 06:51:05,2245,80,1.0
7,,None,None,None,None,None,None
8,nasa/asteroid-impacts,Possible Asteroid Impacts with Earth,650KB,2017-02-10 20:14:33,2797,90,0.8235294
9,,None,None,None,None,None,None
10,nitishabharathi/scene-classification,Scene Classification,361MB,2018-12-09 18:31:18,2722,57,0.9411765

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,jakeshbohaju/brain-tumor,Brain Tumor,14MB,2020-07-26 01:52:35,7294,204,0.9411765
3,,None,None,None,None,None,None
4,fanbyprinciple/iot-device-identification,IOT device identification,511KB,2021-05-22 09:18:29,902,20,0.9411765
5,,None,None,None,None,None,None
6,andradaolteanu/gtzan-dataset-music-genre-class...,GTZAN Dataset - Music Genre Classification,1GB,2020-03-24 14:05:33,27405,495,0.88235295
7,,None,None,None,None,None,None
8,martinellis/nhl-game-data,NHL Game Data,240MB,2020-12-11 08:45:20,20945,477,0.7941176
9,,None,None,None,None,None,None
10,akshat0007/fetalhr,Fetal cardiotocography data,61KB,2020-04-11 05:46:32,1257,43,0.8235294

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: deviation,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,pattnaiksatyajit/event-correlation,Event Correlation,1MB,2021-02-01 10:32:50,90,14,0.7647059
3,,None,None,None,None,None,None
4,levyedgar44/income-and-happiness-correction,Income and Happiness Correlation,5KB,2020-09-22 14:08:13,1400,18,0.7058824
5,,None,None,None,None,None,None
6,nickbaynham/correlation,correlation,128KB,2020-04-21 18:48:55,109,4,0.7058824
7,,None,None,None,None,None,None
8,athosdamiani/guess-the-correlation,Guess The Correlation,191MB,2018-03-30 04:47:37,194,10,0.7058824
9,,None,None,None,None,None,None
10,mruanova/piratesvsglobalwarmingcorrelationcaus...,pirates-vs-global-warming-correlation-causation,304B,2020-12-23 17:53:31,125,11,1.0

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analytics,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analytics,None,None,None,None,None,None

In [13]:
# extraer competitions

def getCompetitions(topics):
    competitions_list_csv = !kaggle competitions list -s $topics --csv

    competitions_list_df = convert_to_df(competitions_list_csv)
    
    ICD.display(competitions_list_df.head())
    
    return(competitions_list_csv)

In [14]:
listCompetitions = []

for x in topics:
    listCompetitions.append(getCompetitions(x))

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mining,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: learning,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: extraction,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: storage,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: quality,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: preproc...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: cleaning,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: manipul...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: Data,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: transfo...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: reduction,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,ref,deadline,category,reward,teamCount,userHasEntered,NaN
1,,None,None,None,None,None,None
2,house-prices-advanced-regression-techniques,2030-01-01 00:00:00,Getting Started,Knowledge,3916,False,None
3,,None,None,None,None,None,None
4,tabular-playground-series-oct-2022,2022-10-31 23:59:00,Playground,Swag,247,False,None
5,,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: regression,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: linear ...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: Linear ...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: regression,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: tendency,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mean,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mode,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

Empty DataFrame
Columns: [No competitions found]
Index: []

,ref,deadline,category,reward,teamCount,userHasEntered,NaN
1,,None,None,None,None,None,None
2,jigsaw-unintended-bias-in-toxicity-classification,2019-07-18 19:35:00,Featured,"""$65","000""",3165,False
3,,None,None,None,None,None,None
4,freesound-audio-tagging,2018-08-01 11:59:00,Research,Knowledge,556,False,None
5,,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: deviation,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analytics,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analytics,None,None,None,None,None,None

In [15]:
for x in listCompetitions:
    competitions_list_df = convert_to_df(x)
    
    ICD.display(competitions_list_df.head(10))

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mining,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: learning,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: extraction,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: storage,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: quality,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: preproc...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: cleaning,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: manipul...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: Data,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: transfo...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: reduction,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,ref,deadline,category,reward,teamCount,userHasEntered,NaN
1,,None,None,None,None,None,None
2,house-prices-advanced-regression-techniques,2030-01-01 00:00:00,Getting Started,Knowledge,3916,False,None
3,,None,None,None,None,None,None
4,tabular-playground-series-oct-2022,2022-10-31 23:59:00,Playground,Swag,247,False,None
5,,None,None,None,None,None,None
6,tabular-playground-series-jan-2021,2021-01-31 23:59:00,Playground,Swag,1728,False,None
7,,None,None,None,None,None,None
8,allstate-claims-severity,2016-12-12 23:59:00,Recruitment,Jobs,3045,False,None
9,,None,None,None,None,None,None
10,elo-merchant-category-recommendation,2019-02-26 23:59:00,Featured,"""$50","000""",4110,False

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: regression,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: linear ...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: Linear ...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: regression,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: tendency,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mean,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mode,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

Empty DataFrame
Columns: [No competitions found]
Index: []

,ref,deadline,category,reward,teamCount,userHasEntered,NaN
1,,None,None,None,None,None,None
2,jigsaw-unintended-bias-in-toxicity-classification,2019-07-18 19:35:00,Featured,"""$65","000""",3165,False
3,,None,None,None,None,None,None
4,freesound-audio-tagging,2018-08-01 11:59:00,Research,Knowledge,556,False,None
5,,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: deviation,None,None,None,None,None,None

Empty DataFrame
Columns: [No competitions found]
Index: []

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analytics,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analytics,None,None,None,None,None,None

In [20]:
# extraer datasets

def getDatasets(topics):
    datasets_list_csv = !kaggle datasets list -s $topics --csv
    
    datasets_list_df = convert_to_df(datasets_list_csv)
    
    datasets_list_df_sorted = datasets_list_df.sort_values(by='lastUpdated', ascending=0)
    
    ICD.display(datasets_list_df_sorted.head())
    
    return(datasets_list_csv)

In [21]:
listDatasets = []

for y in topics:
    listDatasets.append(getDatasets(y))

KeyError: 'lastUpdated'

In [136]:
datasetsDF = []

for y in listDatasets:
    
    datasets_list_df = convert_to_df(y)
    
    ICD.display(datasets_list_df.head(10))
        
    datasetsDF.append(datasets_list_df)
    
    #print(datasets_list_df)

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mining,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: learning,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: extraction,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,gauthamp10/google-playstore-apps,Google Play Store Apps,207MB,2021-06-17 12:04:06,16178,335,1.0
3,,None,None,None,None,None,None
4,usernam3/shopify-app-store,Shopify app store,71MB,2022-06-05 20:19:32,4700,130,1.0
5,,None,None,None,None,None,None
6,shreyaspj/android-devices-and-mobiles,Android devices and mobiles,30KB,2020-08-20 18:02:22,345,19,0.5882353
7,,None,None,None,None,None,None
8,cyaris/2016-mlb-season,2016 MLB Season,237KB,2018-04-21 18:26:56,2316,37,0.8235294
9,,None,None,None,None,None,None
10,sagunsh/fifa-20-complete-player-dataset,FIFA 20 Complete Player Dataset,2MB,2019-10-05 16:33:26,1147,26,0.9117647

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: storage,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: quality,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: preproc...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: cleaning,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: manipul...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: Data,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN
1,,None,None,None,None,None,None,None
2,broach/button-tone-sz,EEG data from basic sensory task in Schizophrenia,8GB,2019-01-31 18:26:06,4562,188,0.88235295,None
3,,None,None,None,None,None,None,None
4,mokar2001/house-price-tehran-iran,"""House Price (Tehran","Iran)""",31KB,2021-09-06 08:00:48,1568,52,1.0
5,,None,None,None,None,None,None,None
6,rubenssjr/brasilian-houses-to-rent,brazilian_houses_to_rent,282KB,2020-03-25 22:51:17,10229,281,1.0,None
7,,None,None,None,None,None,None,None
8,drscarlat/time-series,Time Series with anomalies,4MB,2021-01-30 18:39:27,1178,15,0.64705884,None
9,,None,None,None,None,None,None,None
10,soumikrakshit/anime-faces,Anime Faces,441MB,2019-05-16 10:38:47,7426,171,0.625,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: transfo...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: reduction,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: data an...,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN
1,,None,None,None,None,None,None,None
2,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,42133,441,0.8235294,None
3,,None,None,None,None,None,None,None
4,abrambeyer/openintro-possum,Possum Regression,2KB,2021-08-17 01:15:54,2749,38,1.0,None
5,,None,None,None,None,None,None,None
6,dragonheir/logistic-regression,Logistic Regression,3KB,2017-12-24 08:11:43,19275,151,0.4117647,None
7,,None,None,None,None,None,None,None
8,nkitgupta/jigsaw-regression-based-data,Jigsaw Regression Based Data,3GB,2022-02-05 20:51:56,1236,103,0.88235295,None
9,,None,None,None,None,None,None,None
10,tanuprabhu/linear-regression-dataset,Linear Regression Data-set,1KB,2019-06-21 05:57:12,6350,60,1.0,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: regression,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: linear ...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: Linear ...,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: regression,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,rtatman/english-word-frequency,English Word Frequency,2MB,2017-09-06 18:21:27,12047,306,0.8235294
3,,None,None,None,None,None,None
4,rtatman/japanese-lemma-frequency,Japanese lemma frequency,130KB,2017-07-24 20:14:06,554,35,0.8235294
5,,None,None,None,None,None,None
6,tavoglc/vih-fragments-frequency,VIH Fragments Frequency,31MB,2022-06-21 02:15:23,20,7,0.9411765
7,,None,None,None,None,None,None
8,tavoglc/dengue-fragments-frequency,Dengue Fragments Frequency,11MB,2022-06-21 02:09:25,22,6,0.9411765
9,,None,None,None,None,None,None
10,tavoglc/rotavirus-fragments-frequency,Rotavirus Fragments Frequency,58MB,2022-06-21 02:15:17,5,6,0.9411765

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: tendency,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mean,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: mode,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN
1,,None,None,None,None,None,None,None
2,camnugent/california-housing-prices,California Housing Prices,400KB,2017-11-24 03:14:59,75937,767,0.85294116,None
3,,None,None,None,None,None,None,None
4,marcomolina/water-consumption-in-a-median-size...,Water Consumption in a Median Size City,9MB,2016-09-15 07:04:37,3702,65,0.7058824,None
5,,None,None,None,None,None,None,None
6,zillow/median-listing-price-1-bedroom,Median Listing Price (1 Bedroom),22KB,2016-11-07 02:54:56,1059,28,0.7058824,None
7,,None,None,None,None,None,None,None
8,goldenoakresearch/us-household-income-stats-ge...,US Household Income Statistics,2MB,2018-04-16 18:20:57,11992,226,0.8235294,None
9,,None,None,None,None,None,None,None
10,ruchi798/malnutrition-across-the-globe,Malnutrition across the globe,79KB,2020-05-25 09:51:45,4901,186,1.0,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN,NaN
1,,None,None,None,None,None,None,None,None
2,saurabhshahane/us-electric-power-generators,U.S. Electric Power Generators,2MB,2021-07-07 16:58:18,137,12,0.8235294,None,None
3,,None,None,None,None,None,None,None,None
4,vinven7/comprehensive-database-of-minerals,Comprehensive database of Minerals,145KB,2021-01-12 17:32:41,663,23,1.0,None,None
5,,None,None,None,None,None,None,None,None
6,brsdincer/pulsar-classification-for-class-pred...,Pulsar Classification For Class Prediction,771KB,2021-04-04 12:42:47,159,17,1.0,None,None
7,,None,None,None,None,None,None,None,None
8,johnkenny/dispersion-dataset,dispersion dataset,999B,2021-10-09 11:44:47,2,1,0.11764706,None,None
9,,None,None,None,None,None,None,None,None
10,jvwilliams23/filtered-direct-numerical-simulat...,Filtered direct numerical simulation dataset,2GB,2022-07-28 19:56:29,3,1,0.9117647,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,iabhishekofficial/mobile-price-classification,Mobile Price Classification,71KB,2018-01-28 08:44:24,102046,1339,0.7058824
3,,None,None,None,None,None,None
4,joshmcadams/oranges-vs-grapefruit,Oranges vs. Grapefruit,61KB,2020-01-08 23:28:02,7653,71,1.0
5,,None,None,None,None,None,None
6,thomaskonstantin/highly-rated-children-books-a...,Highly Rated Children Books And Stories,1MB,2021-05-14 06:51:05,2245,80,1.0
7,,None,None,None,None,None,None
8,nasa/asteroid-impacts,Possible Asteroid Impacts with Earth,650KB,2017-02-10 20:14:33,2797,90,0.8235294
9,,None,None,None,None,None,None
10,nitishabharathi/scene-classification,Scene Classification,361MB,2018-12-09 18:31:18,2722,57,0.9411765

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,jakeshbohaju/brain-tumor,Brain Tumor,14MB,2020-07-26 01:52:35,7294,204,0.9411765
3,,None,None,None,None,None,None
4,fanbyprinciple/iot-device-identification,IOT device identification,511KB,2021-05-22 09:18:29,902,20,0.9411765
5,,None,None,None,None,None,None
6,andradaolteanu/gtzan-dataset-music-genre-class...,GTZAN Dataset - Music Genre Classification,1GB,2020-03-24 14:05:33,27405,495,0.88235295
7,,None,None,None,None,None,None
8,martinellis/nhl-game-data,NHL Game Data,240MB,2020-12-11 08:45:20,20945,477,0.7941176
9,,None,None,None,None,None,None
10,akshat0007/fetalhr,Fetal cardiotocography data,61KB,2020-04-11 05:46:32,1257,43,0.8235294

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: deviation,None,None,None,None,None,None

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,pattnaiksatyajit/event-correlation,Event Correlation,1MB,2021-02-01 10:32:50,90,14,0.7647059
3,,None,None,None,None,None,None
4,levyedgar44/income-and-happiness-correction,Income and Happiness Correlation,5KB,2020-09-22 14:08:13,1400,18,0.7058824
5,,None,None,None,None,None,None
6,nickbaynham/correlation,correlation,128KB,2020-04-21 18:48:55,109,4,0.7058824
7,,None,None,None,None,None,None
8,athosdamiani/guess-the-correlation,Guess The Correlation,191MB,2018-03-30 04:47:37,194,10,0.7058824
9,,None,None,None,None,None,None
10,mruanova/piratesvsglobalwarmingcorrelationcaus...,pirates-vs-global-warming-correlation-causation,304B,2020-12-23 17:53:31,125,11,1.0

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analysis,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analytics,None,None,None,None,None,None

,usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
1,kaggle: error: unrecognized arguments: analytics,None,None,None,None,None,None

In [143]:
df_datasets = []

for z in datasetsDF:
    
    ICD.display(.head())
    #df_datasets.append(z.drop(['ref'], axis=1))

NameError: name 'z_sorted' is not defined

In [ ]:
for z in datasetsDF:
    ICD.display(z.head(10))

In [ ]:
# extraer notebooks
def getNotebooks(topics):
    
    kernel = !kaggle kernels list -s prediction

    kernel = convert_to_df(kernel)

    ICD.display(kernel.head())

In [100]:
topic = 'regression'

csvregression = !kaggle datasets list -s $topic --csv

csvregression

csvregression = convert_to_df(csvregression)

#csvregression = csvregression.sort_values(by='lastUpdated', ascending=0)
ICD.display(csvregression.head(30))

#csvregression.shape

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN
1,,None,None,None,None,None,None,None
2,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,42111,441,0.8235294,None
3,,None,None,None,None,None,None,None
4,abrambeyer/openintro-possum,Possum Regression,2KB,2021-08-17 01:15:54,2747,38,1.0,None
5,,None,None,None,None,None,None,None
6,dragonheir/logistic-regression,Logistic Regression,3KB,2017-12-24 08:11:43,19257,151,0.4117647,None
7,,None,None,None,None,None,None,None
8,nkitgupta/jigsaw-regression-based-data,Jigsaw Regression Based Data,3GB,2022-02-05 20:51:56,1236,103,0.88235295,None
9,,None,None,None,None,None,None,None
10,tanuprabhu/linear-regression-dataset,Linear Regression Data-set,1KB,2019-06-21 05:57:12,6342,60,1.0,None
11,,None,None,None,None,None,None,None
12,mirichoi0218/insurance,Medical Cost Personal Datasets,16KB,2018-02-21 00:15:14,146185,1960,0.88235295,None
13,,None,None,None,None,None,None,None
14,maajdl/yeh-concret-data,Revisiting a Concrete Strength regression,10KB,2018-06-15 20:26:01,5281,104,0.88235295,None
15,,None,None,None,None,None,None,None
16,hellbuoy/car-price-prediction,Car Price Prediction Multiple Linear Regression,18KB,2019-10-15 16:45:27,34334,384,0.7058824,None
17,,None,None,None,None,None,None,None
18,fedesoriano/the-boston-houseprice-data,Boston House Prices-Advanced Regression Techni...,12KB,2021-06-01 10:39:10,5612,107,1.0,None
19,,None,None,None,None,None,None,None
20,harlfoxem/housesalesprediction,"""House Sales in King County","USA""",780KB,2016-08-25 15:52:49,145489,1875,0.7058824
21,,None,None,None,None,None,None,None
22,dileep070/heart-disease-prediction-using-logis...,Logistic regression To predict heart disease,58KB,2019-06-07 06:12:56,24846,296,0.7058824,None
23,,None,None,None,None,None,None,None
24,heptapod/titanic,Titanic,11KB,2017-05-16 08:14:22,45441,857,0.7058824,None
25,,None,None,None,None,None,None,None
26,uciml/red-wine-quality-cortez-et-al-2009,Red Wine Quality,26KB,2017-11-27 23:41:08,150262,2211,0.88235295,None
27,,None,None,None,None,None,None,None
28,quantbruce/real-estate-price-prediction,Real estate price prediction,7KB,2018-12-08 09:13:48,37803,330,0.47058824,None
29,,None,None,None,None,None,None,None
30,kandij/diabetes-dataset,Diabetics prediction using logistic regression,9KB,2019-05-07 05:18:45,13627,153,0.5294118,None

In [109]:
csvregression = csvregression.drop([None], axis=1)

In [110]:
csvregression

,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,None,None,None,None,None,None
2,Linear Regression,8KB,2017-05-11 20:15:52,42111,441,0.8235294
3,None,None,None,None,None,None
4,Possum Regression,2KB,2021-08-17 01:15:54,2747,38,1.0
5,None,None,None,None,None,None
6,Logistic Regression,3KB,2017-12-24 08:11:43,19257,151,0.4117647
7,None,None,None,None,None,None
8,Jigsaw Regression Based Data,3GB,2022-02-05 20:51:56,1236,103,0.88235295
9,None,None,None,None,None,None
10,Linear Regression Data-set,1KB,2019-06-21 05:57:12,6342,60,1.0
11,None,None,None,None,None,None
12,Medical Cost Personal Datasets,16KB,2018-02-21 00:15:14,146185,1960,0.88235295
13,None,None,None,None,None,None
14,Revisiting a Concrete Strength regression,10KB,2018-06-15 20:26:01,5281,104,0.88235295
15,None,None,None,None,None,None
16,Car Price Prediction Multiple Linear Regression,18KB,2019-10-15 16:45:27,34334,384,0.7058824
17,None,None,None,None,None,None
18,Boston House Prices-Advanced Regression Techni...,12KB,2021-06-01 10:39:10,5612,107,1.0
19,None,None,None,None,None,None
20,"""House Sales in King County","USA""",780KB,2016-08-25 15:52:49,145489,1875
21,None,None,None,None,None,None
22,Logistic regression To predict heart disease,58KB,2019-06-07 06:12:56,24846,296,0.7058824
23,None,None,None,None,None,None
24,Titanic,11KB,2017-05-16 08:14:22,45441,857,0.7058824
25,None,None,None,None,None,None
26,Red Wine Quality,26KB,2017-11-27 23:41:08,150262,2211,0.88235295
27,None,None,None,None,None,None
28,Real estate price prediction,7KB,2018-12-08 09:13:48,37803,330,0.47058824
29,None,None,None,None,None,None
30,Diabetics prediction using logistic regression,9KB,2019-05-07 05:18:45,13627,153,0.5294118
31,None,None,None,None,None,None
32,Titanic,12KB,2017-06-05 12:14:37,14611,152,0.8235294
33,None,None,None,None,None,None
34,Productivity Prediction of Garment Employees,16KB,2021-04-06 22:42:06,3522,65,0.9705882
35,None,None,None,None,None,None
36,Human Resources Data Set,17KB,2020-10-19 13:50:53,55936,803,0.8235294
37,None,None,None,None,None,None
38,Household Electric Power Consumption,19MB,2016-08-23 17:02:15,20415,272,0.75
39,None,None,None,None,None,None
40,Salary data - Simple linear regression,378B,2018-01-22 17:09:38,34987,222,0.3529412
41,None,None,None,None,None,None

In [44]:
csvregression.dropna(inplace=True)

In [45]:
csvregression

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,42002,435,0.8235294
4,abrambeyer/openintro-possum,Possum Regression,2KB,2021-08-17 01:15:54,2713,38,1.0
6,dragonheir/logistic-regression,Logistic Regression,3KB,2017-12-24 08:11:43,19179,151,0.4117647
8,nkitgupta/jigsaw-regression-based-data,Jigsaw Regression Based Data,3GB,2022-02-05 20:51:56,1234,103,0.88235295
10,tanuprabhu/linear-regression-dataset,Linear Regression Data-set,1KB,2019-06-21 05:57:12,6297,60,1.0
12,mirichoi0218/insurance,Medical Cost Personal Datasets,16KB,2018-02-21 00:15:14,145533,1953,0.88235295
14,maajdl/yeh-concret-data,Revisiting a Concrete Strength regression,10KB,2018-06-15 20:26:01,5258,104,0.88235295
16,hellbuoy/car-price-prediction,Car Price Prediction Multiple Linear Regression,18KB,2019-10-15 16:45:27,34112,379,0.7058824
18,fedesoriano/the-boston-houseprice-data,Boston House Prices-Advanced Regression Techni...,12KB,2021-06-01 10:39:10,5560,107,1.0
20,harlfoxem/housesalesprediction,"""House Sales in King County","USA""",780KB,2016-08-25 15:52:49,145151,1872
22,dileep070/heart-disease-prediction-using-logis...,Logistic regression To predict heart disease,58KB,2019-06-07 06:12:56,24723,296,0.7058824
24,heptapod/titanic,Titanic,11KB,2017-05-16 08:14:22,45250,855,0.7058824
26,uciml/red-wine-quality-cortez-et-al-2009,Red Wine Quality,26KB,2017-11-27 23:41:08,149753,2202,0.88235295
28,quantbruce/real-estate-price-prediction,Real estate price prediction,7KB,2018-12-08 09:13:48,37682,331,0.47058824
30,kandij/diabetes-dataset,Diabetics prediction using logistic regression,9KB,2019-05-07 05:18:45,13561,153,0.5294118
32,azeembootwala/titanic,Titanic,12KB,2017-06-05 12:14:37,14572,152,0.8235294
34,ishadss/productivity-prediction-of-garment-emp...,Productivity Prediction of Garment Employees,16KB,2021-04-06 22:42:06,3504,65,0.9705882
36,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,55754,802,0.8235294
38,uciml/electric-power-consumption-data-set,Household Electric Power Consumption,19MB,2016-08-23 17:02:15,20357,271,0.75
40,karthickveerakumar/salary-data-simple-linear-r...,Salary data - Simple linear regression,378B,2018-01-22 17:09:38,34791,222,0.3529412

0 ref                                                             title                                              author                    lastRunTime          totalVotes
1  ----------------------------------------------...
2  ash316/eda-to-prediction-dietanic             ...
3  therealcyberlord/coronavirus-covid-19-visualiz...
4  gpreda/santander-eda-and-prediction           ...
5  buddhiniw/breast-cancer-prediction            ...

In [ ]:
# graphql khan academy