# Api Kaggle

In [1]:
# importar librerias necesarias
import kaggle
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import itertools
from PIL import Image
from IPython.core import display as ICD
%matplotlib inline

In [2]:
# importar libreria kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

In [3]:
# llamar a la api key de kaggle instalada en el ordenador

api = KaggleApi()
api.authenticate()

In [4]:
# metodo para convertir en df los metadatos extraidos

def convert_to_df(csv):
    df = pd.DataFrame(data=csv)[0].str.split(',',expand=True)  
    header = df.iloc[0]
    df = df[1:]
    df.columns = header
    return df

In [5]:
# temas de fundamentos de analisis de datos

# temas = ['Data analysis', 'Data mining', 'Machine learning', 'Data extraction', 'Scrapy', 'data storage', 
          #'Data quality', 'data preprocessing', 'data cleaning', 'data manipulation', 'Missing data', 'Null Data', 
          #'outliers', 'data transformation', 'Dimensional reduction', 'Exploratory data analysis', 'Univariate data analysis', 
          #'Multivariate data analysis', 'Regression', 'Linear regression', 'Simple linear regression', 'Multiple Linear Regression', 
          #'Nonlinear regression', 'Data analysis', 'descriptive analysis', 'Frequency', 'Central tendency', 'Arithmetic mean', 
          #'statistical mode', 'Median', 'dispersion', 'range', 'variance', 'standard deviation', 'Correlation', 
          #'inferential analysis', 'Bayesian analysis', 'predictive analytics', 'prescriptive analytics']
        
temas = ['data science']

In [6]:
topics = []
for a in temas:
    newTema = a.replace(' ', '-')
    topics.append(newTema)

In [7]:
print(topics)

['data-science']

In [8]:
# probando
tema = 'Data-analysis'

competitions_list_csv = !kaggle datasets list -s $tema --csv

# print(competitions_list_csv)

# print(type(competitions_list_csv))

competitions_list_df = convert_to_df(competitions_list_csv)

ICD.display(competitions_list_df.head())

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating,NaN
1,,None,None,None,None,None,None,None
2,rashikrahmanpritom/heart-attack-analysis-predi...,Heart Attack Analysis & Prediction Dataset,4KB,2021-03-22 11:40:59,92300,2632,1.0,None
3,,None,None,None,None,None,None,None
4,erqizhou/students-data-analysis,Students Data Analysis,2KB,2022-07-20 03:54:13,2531,51,1.0,None
5,,None,None,None,None,None,None,None

In [35]:
ultimaColumna = competitions_list_df.iloc[:,-1:]

In [36]:
#competitions_list_df.columns.values[-3:]

if ultimaColumna.columns.values[0] == None:
    competitions_list_df = competitions_list_df.drop([None], axis=1)

In [ ]:
# competitions_list_df[columnas] = df[columnas].replace({'0m':''}, regex=True)

In [37]:
competitions_list_df.head()

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
1,,None,None,None,None,None,None
2,rashikrahmanpritom/heart-attack-analysis-predi...,Heart Attack Analysis & Prediction Dataset,4KB,2021-03-22 11:40:59,92235,2630,1.0
3,,None,None,None,None,None,None
4,erqizhou/students-data-analysis,Students Data Analysis,2KB,2022-07-20 03:54:13,2530,51,1.0
5,,None,None,None,None,None,None

In [38]:
competitions_list_df.dropna(inplace=True)

In [39]:
competitions_list_df.head(20)

,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,rashikrahmanpritom/heart-attack-analysis-predi...,Heart Attack Analysis & Prediction Dataset,4KB,2021-03-22 11:40:59,92235,2630,1.0
4,erqizhou/students-data-analysis,Students Data Analysis,2KB,2022-07-20 03:54:13,2530,51,1.0
6,cosmos98/twitter-and-reddit-sentimental-analys...,Twitter and Reddit Sentimental analysis Dataset,10MB,2019-11-28 14:00:34,6596,94,1.0
8,ariyoomotade/netflix-data-cleaning-analysis-an...,"""Netflix Data: Cleaning","Analysis and Visualization""",270KB,2022-08-26 09:25:43,7457,163
10,ahmtcnbs/datasets-for-appiori,Market Basket Analysis Data,8KB,2021-05-28 09:37:26,2870,43,1.0
12,columbine/imdb-dataset-sentiment-analysis-in-c...,IMDB dataset (Sentiment analysis) in CSV format,26MB,2019-11-28 15:44:05,13911,100,1.0
14,shashwatwork/dataco-smart-supply-chain-for-big...,DataCo SMART SUPPLY CHAIN FOR BIG DATA ANALYSIS,26MB,2019-12-05 06:54:29,10349,167,0.7647059
16,davidbnn92/weather-data-for-covid19-data-analysis,Weather Data for COVID-19 Data Analysis,2MB,2020-04-12 17:14:26,2137,34,0.9705882
18,pradeeshprabhakar/preprocessed-dataset-sentime...,Preprocessed Dataset Sentiment Analysis,117KB,2022-06-29 05:56:47,414,26,1.0
20,urstrulyvikas/lending-club-loan-data-analysis,Lending Club Loan Data Analysis,213KB,2021-05-24 03:38:11,1027,24,0.7058824
22,dansbecker/aer-credit-card-data,"""Credit Card Data from book """"Econometric Anal...",24KB,2017-10-13 17:17:33,7432,59,0.7058824
24,abderrahimalakouche/data-analysis-products-dat...,Products Data Analysis,89KB,2021-05-11 09:55:40,542,20,0.7647059
26,jackdaoud/marketing-data,Marketing Analytics,643KB,2022-03-06 23:34:23,21774,394,0.9411765
28,rashikrahmanpritom/groceries-dataset-for-marke...,Groceries dataset for Market Basket Analysis(MBA),455KB,2021-04-03 04:01:37,2996,50,1.0
30,rutuspatel/retail-analysis-with-walmart-sales-...,RETAIL ANALYSIS WITH WALMART SALES DATA,122KB,2021-07-31 09:04:18,2468,28,0.8235294
32,cities/titanic123,Titanic Dataset Analysis,22KB,2017-02-07 23:15:54,1817,33,0.5294118
34,nikhilbhathi/data-scientist-salary-us-glassdoor,Data scientist salary,1023KB,2021-12-29 15:28:13,9337,163,1.0
36,shub99/sentiment-analysis-data,Sentiment Analysis Data,24KB,2021-08-04 07:23:11,567,13,0.88235295
38,sasanj/human-activity-smart-devices,An Open Dataset for Human Activity Analysis,129MB,2017-09-01 07:30:59,4072,141,0.7058824
40,ashfakyeafi/air-passenger-data-for-time-series...,Air Passenger Data for Time Series Analysis,764B,2021-08-06 14:46:29,350,39,0.7647059

In [40]:
competitions_list_df.to_csv("competitions_list_df.csv")

## Extraer datasets

In [17]:
# extraer competitions

def getDataSets(topics):
    
    # extraccion de datos de la api, devuelve una lista
    datasetsList = !kaggle datasets list -s $topics --all
    
    # condicional if para comprobar si me extrajo datos o no
    if datasetsList[0] != "No datasets found":
                
        datasetsDF = convert_to_df(datasetsList) # convertir a df
        
        datasetsDF.insert(0,"topic",x,True)
        datasetsDF.insert(1,"set","datasets",True)
        
        ultimaColumna = datasetsDF.iloc[:,-1:] # sacar la ultima columna para verificar si está vacia o no
        
        # condicional if si la ultima columna esta vacia
        if ultimaColumna.columns.values[0] == None:
            
            datasetsDF = datasetsDF.drop([None], axis=1) # eliminar columna vacia
        
        datasetsDF.dropna(inplace=True) # eliminar filas nulas
        
        ICD.display(datasetsDF.head()) # imprimir
        
        return(datasetsDF) # return

In [25]:
datasetsList = !kaggle datasets list --tags $topics --csv
print(datasetsList)

['ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating', '', 'akshaydattatraykhare/diabetes-dataset,Diabetes Dataset,9KB,2022-10-06 08:55:25,4770,152,1.0', '', 'vittoriogiatti/bigmacprice,Bigmac Prices,14KB,2022-10-19 21:11:14,964,27,1.0', '', 'whenamancodes/covid-19-coronavirus-pandemic-dataset,COVID -19 Coronavirus Pandemic Dataset,11KB,2022-09-30 04:05:11,3955,115,1.0', '', 'thedevastator/fast-food-restaurants-in-the-united-states,Fast Food Restaurants in the United States,4MB,2022-10-08 17:30:38,1369,39,1.0', '', 'whenamancodes/students-performance-in-exams,Students Performance in Exams,9KB,2022-09-14 15:14:54,7383,134,1.0', '', 'whenamancodes/student-performance,Student Performance,104KB,2022-10-07 05:14:47,5527,130,1.0', '', 'anushabellam/cars-cars-2,Cars_India_dataset,4KB,2022-10-12 06:34:20,796,27,1.0', '', 'iamsouravbanerjee/computer-games-dataset,Computer Games Dataset,29KB,2022-10-11 14:36:33,568,43,1.0', '', 'kathir1k/youtube-influencers-data,Youtube Channel and Influencer Analysis,196KB,2022-10-13 16:30:21,685,29,0.85294116', '', 'whenamancodes/flight-delay-prediction,Flight Delay Prediction,31MB,2022-10-07 05:26:20,1407,36,0.88235295', '', 'narayan63/netflix-popular-movies-dataset,Netflix popular movies dataset,1MB,2022-09-24 08:23:22,3617,57,0.9411765', '', 'evangower/premier-league-matches-19922022,Premier League Matches 1992-2022,78KB,2022-10-03 02:18:33,1344,47,1.0', '', 'whenamancodes/alcohol-effects-on-study,Alcohol Effects On Study,18KB,2022-09-15 03:21:04,4693,90,1.0', '', 'kathuman/housing,Housing,400KB,2022-09-29 10:21:23,829,26,1.0', '', 'whenamancodes/the-global-hunger-index,The Global Hunger Index,27KB,2022-09-13 18:18:01,1462,41,1.0', '', 'eliasturk/world-happiness-based-on-cpi-20152020,Happiness and Corruption 2015-2020,29KB,2022-10-11 22:35:03,851,31,1.0', '', 'jfreyberg/spotify-artist-feature-collaboration-network,Spotify Artist Feature Collaboration Network,15MB,2022-10-10 14:11:34,574,33,0.9117647', '', 'pantanjali/unemployment-dataset,Unemployment dataset,17KB,2022-09-08 08:26:10,6629,141,1.0', '', 'adnananam/spotify-artist-stats,Spotify Artist Stats,28KB,2022-09-22 03:22:44,1600,38,1.0', '', "thedevastator/fuel-economy-data-how-efficient-are-today-s-cars,Fuel Economy Data: How Efficient Are Today's Cars?,1MB,2022-10-09 16:47:41,921,31,0.9411765", '']

In [18]:
cont = 0

for x in topics:
    cont+=1
    
    dfDatasets = getDataSets(x)
    
    # ICD.display(dfDatasets.head()) # imprimir
    
    dfDatasets.to_csv("APIdata/datasets_" + x + str(cont) + ".csv")

Empty DataFrame
Columns: [topic, set, usage: kaggle [-h] [-v] {competitions, c, datasets, d, kernels, k, config} ...]
Index: []

## Extraer notebooks

In [16]:
# extraer competitions

def getKernels(topics, count):
    
    # extraccion de datos de la api, devuelve una lista
    kernelsList = !kaggle kernels list -s $topics --csv
    
    lista1 = kernelsList[0]
    lista1 = lista1.split('-')[0]
    # print(lista1)
    
    print(kernelsList)
    
    # condicional if para comprobar si me extrajo datos o no
    if lista1 != "500 ":
                
        kernelsDF = convert_to_df(kernelsList) # convertir a df
        
        kernelsDF.insert(0,"topic",x,True) # agregar columna con el tema
        kernelsDF.insert(1,"set","kernels",True) # agregar columnna con el tipo de metadato
        
        ultimaColumna = kernelsDF.iloc[:,-1:] # sacar la ultima columna para verificar si está vacia o no
        
        # condicional if si la ultima columna esta vacia
        if ultimaColumna.columns.values[0] == None:
            
            kernelsDF = kernelsDF.drop([None], axis=1) # eliminar columna vacia
        
        kernelsDF.dropna(inplace=True) # eliminar filas nulas
        
        ICD.display(kernelsDF.head()) # imprimir
        
        kernelsDF.to_csv("APIdata/notebook_" + x + str(count) + ".csv")
            
        return(kernelsDF) # return

In [17]:
count = 0

for x in topics:
    
    dfKernels = getKernels(x, count)
    count+=1
    
    #dfKernels.to_csv("APIdata/notebook_" + x + str(cont) + ".csv")

['ref,title,author,lastRunTime,totalVotes', '', 'startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9263', '', 'ldfreeman3/a-data-science-framework-to-achieve-99-accuracy,A Data Science Framework: To Achieve 99% Accuracy,LD Freeman,2017-12-31 18:27:17,5221', '', 'helgejo/an-interactive-data-science-tutorial,An Interactive Data Science Tutorial,Helge Bjorland,2017-01-28 19:54:58,846', '', 'kanncaa1/data-sciencetutorial-for-beginners,Data ScienceTutorial for Beginners,DATAI,2020-05-19 00:29:44,6161', '', 'shivamb/data-science-glossary-on-kaggle,Data Science Glossary on Kaggle,Shivam Bansal,2018-12-10 09:47:14,2097', '', 'vbmokin/data-science-for-tabular-data-advanced-techniques,Data Science for tabular data: Advanced Techniques,Vitalii Mokin,2021-09-05 16:15:48,1119', '', 'rtatman/welcome-to-data-science-in-r,Welcome to Data Science in R,Rachael Tatman,2018-04-11 21:56:06,402', '', 'rtatman/welcome-to-data-science-in-r-workbook,Welcome to Data Science in R: Workbook,Rachael Tatman,2018-04-30 19:07:24,154', '', 'rounakbanik/data-science-faq,Data Science FAQ,Rounak Banik,2017-11-08 06:27:49,161', '', 'gzuidhof/full-preprocessing-tutorial,Full Preprocessing Tutorial,Guido Zuidhof,2017-02-24 06:16:38,2362', '', 'gpreda/2019-data-science-bowl-eda,2019 Data Science Bowl EDA,Gabriel Preda,2019-12-20 07:44:46,345', '', 'erikbruin/data-science-bowl-2019-eda-and-baseline,Data Science Bowl 2019 EDA and Baseline,Erik Bruin,2019-12-15 09:49:54,438', '', 'parulpandey/useful-python-libraries-for-data-science,Useful Python libraries for Data Science,Parul Pandey,2020-04-25 06:22:19,506', '', "'charmap' codec can't encode character '\\U0001f6b8' in position 50: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,data-science,kernels,startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9263
4,data-science,kernels,ldfreeman3/a-data-science-framework-to-achieve...,A Data Science Framework: To Achieve 99% Accuracy,LD Freeman,2017-12-31 18:27:17,5221
6,data-science,kernels,helgejo/an-interactive-data-science-tutorial,An Interactive Data Science Tutorial,Helge Bjorland,2017-01-28 19:54:58,846
8,data-science,kernels,kanncaa1/data-sciencetutorial-for-beginners,Data ScienceTutorial for Beginners,DATAI,2020-05-19 00:29:44,6161
10,data-science,kernels,shivamb/data-science-glossary-on-kaggle,Data Science Glossary on Kaggle,Shivam Bansal,2018-12-10 09:47:14,2097

PermissionError: [Errno 13] Permission denied: 'APIdata/notebook_data-science0.csv'

In [ ]:
# graphql khan academy