# Api Kaggle

In [1]:
# importar librerias necesarias
import kaggle
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import itertools
import time
from PIL import Image
from IPython.core import display as ICD
%matplotlib inline

In [2]:
# leer archivo Excel que contiene los topicos de Fundamentos de Analsis de Datos

data = pd.read_csv('../data_fundamentosdeanalisisdedatos/topicos fundamentos de analisis de datos.csv', sep=(';'))

In [3]:
data.head()

                 CONCEPT                   subconcept
0  Data science concepts               Data scientist
1  Data science concepts            Big data concepts
2  Data science concepts         Data mining concepts
3  Data science concepts  Machine learning algorithms
4     Data science tools                 Google colab

In [4]:
data = data.dropna()

In [5]:
topics = []

for x in data['subconcept']:
    newTema = str(x).replace(' ', '-')
    topics.append(newTema)

In [6]:
print(topics)

['Data-scientist', 'Big-data-concepts', 'Data-mining-concepts', 'Machine-learning-algorithms', 'Google-colab', 'Jupyter-notebook', 'Kaggle-Notebook', 'Github', 'Rest-API', 'Scrapy', 'Metadata', 'Data-quality', 'Data-management', 'Csv-dataset', 'Json-dataset', 'Txt-dataset', 'Data-types', 'Numerical-data', 'Categorical-variables', 'Missing-values', 'Null-values', 'Outliers', 'Data-transformation', 'Principal-Component-Analysis-(PCA)', 'Categorical-EDA', 'Univariate-analysis', 'Multivariate-analysis', 'Linear-regression', 'Simple-linear-regression', 'Multiple-Linear-Regression', 'Nonlinear-regression', 'Decision-Trees-regression', 'Neural-network-regression', 'Correlation', 'Correspondence-analysis', 'Measures-of-Central-tendency', 'Central-tendency', 'Central-tendency', 'Measures-of-Dispersion', 'Variance-inflacton-factor', 'Factor-analysis', 'Quartile-analysis', 'Decision-Trees-classification', 'Neural-network-classification', 'Nearest-Neighbors', 'Inferential-analysis', 'R-data-visualization', 'Python-data-visualization', 'Power-BI', 'Tableau', 'matplotlib', 'Seaborn', 'Bokeh', 'Plotly']

In [7]:
len(topics)

54

In [8]:
# importar libreria kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

In [9]:
# llamar a la api key de kaggle instalada en el ordenador

api = KaggleApi()
api.authenticate()

In [10]:
# metodo para convertir en df los metadatos extraidos

def convert_to_df(csv):
    df = pd.DataFrame(data=csv)[0].str.split(',',expand=True)  
    header = df.iloc[0]
    df = df[1:]
    df.columns = header
    return df

## Get datasets

In [12]:
# extraer competitions

def getDataSets(tema, page):
    
    # extraccion de datos de la api, devuelve una lista
    new_datasetsList = !kaggle datasets list -s $tema --csv -p $page
    
    # lista vacia
    datasetsList = []
    
    # for para reemplazar las comas (,)
    # al trasformar la lista a dataframe toma la coma (,) de los metadatos como un separador
    for x in new_datasetsList:
        reemplazar = x.replace(', ', ' ')
        datasetsList.append(reemplazar)
    
    # print(datasetsList)
    
    # condicional si no encuentra metadatos de 
    if datasetsList[0] != 'No datasets found':
                
        # convertir lista a dataframe
        datasetsDF = convert_to_df(datasetsList)
        
        # agregar 2 columnas al dataframe
        datasetsDF.insert(0,"topic",tema,True) # topic
        datasetsDF.insert(1,"page",page,True) # page
        datasetsDF.insert(2,"set","datasets",True) # type
        
        ultimaColumna = datasetsDF.iloc[:,-1:] # sacar la ultima columna para verificar si est√° vacia o no
        
        # condicional if si la ultima columna esta vacia
        if ultimaColumna.columns.values[0] == None:
            
            datasetsDF = datasetsDF.drop([None], axis=1) # eliminar columna vacia
        
        datasetsDF.dropna(inplace=True) # eliminar filas nulas
                
        return(datasetsDF)
    
    # si no se encuentran datasets se retorna un dataframe vacio
    return(pd.DataFrame())

In [13]:

# dataframe vacio para concatenar
datasets= pd.DataFrame()


for x in topics:
    
    page = 0
    lim = 50
    
    while page <= lim:
        
        # obtenemos los dataframes haciendo uso de la funcion
        dfDatasets = getDataSets(x, page)
        
        page+=1
    
        # conficional si el dataframe est√° vacio
        if not dfDatasets.empty:
         
            ICD.display(dfDatasets.head()) # imprimir
    
            # concatenamos todos los dataframes  
            datasets = pd.concat([datasets, dfDatasets])


            # generamos csv de los dataframes
            #dfDatasets.to_csv("api_dataExtraction/datasets_" + x + str(cont) + ".csv")

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,1,datasets,nikhilbhathi/data-scientist-salary-us-glassdoor,Data scientist salary,1023KB,2021-12-29 15:28:13,10687,175,1.0
4,Data-scientist,1,datasets,andrewmvd/data-scientist-jobs,Data Scientist Jobs,4MB,2020-07-16 04:04:58,3235,92,1.0
6,Data-scientist,1,datasets,arashnic/hr-analytics-job-change-of-data-scien...,HR Analytics: Job Change of Data Scientists,295KB,2020-12-07 00:25:10,43289,1223,1.0
8,Data-scientist,1,datasets,sl6149/data-scientist-job-market-in-the-us,Data Scientist Job Market in the U.S.,16MB,2018-08-31 17:34:49,12332,327,0.7941176
10,Data-scientist,1,datasets,omkargowda/data-scientist-salary,Data Scientist Salary,88KB,2022-07-09 11:25:59,1232,47,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,2,datasets,filippoo/deep-learning-az-ann,Deep Learning A-Z - ANN dataset,262KB,2017-05-16 12:20:30,3884,67,0.7058824
4,Data-scientist,2,datasets,phuchuynguyen/salary-and-moredata-scientist-an...,"""Salary and more-Data Scientist Analyst Engineer""",422KB,2021-03-25 21:21:11,360,7,0.8235294
6,Data-scientist,2,datasets,elroyggj/indeed-dataset-data-scientistanalyste...,Indeed Dataset - Data Scientist/Analyst/Engineer),5MB,2018-11-02 08:48:04,1882,24,0.3529412
8,Data-scientist,2,datasets,divyansh22/summer-olympics-medals,Summer Olympics Medals (1976-2008),219KB,2020-02-03 08:42:41,8228,135,0.9411765
10,Data-scientist,2,datasets,taruntiwarihp/phishing-site-urls,Phishing Site URLs,9MB,2020-07-21 20:13:04,3942,63,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,3,datasets,nsharan/h-1b-visa,H-1B Visa Petitions 2011-2016,95MB,2017-02-28 09:03:27,15479,345,0.85294116
4,Data-scientist,3,datasets,vyombhatia/the-three-hair-types,The Three Hair Types,65MB,2020-09-17 11:03:22,328,18,0.875
6,Data-scientist,3,datasets,sadeghhoushyar/data-scientist-jobs-in-canada-i...,Data scientist jobs in Canada | indeed.com,451KB,2021-03-15 02:12:12,306,11,0.64705884
8,Data-scientist,3,datasets,samdeeplearning/deepnlp,Deep-NLP,234KB,2017-03-01 05:43:51,8307,205,0.8235294
10,Data-scientist,3,datasets,anmolkumar/house-price-prediction-challenge,House Price Prediction Challenge,2MB,2020-10-01 19:37:13,12406,171,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,4,datasets,trimparashut/data-scientist-vacancies,Data scientist vacancies,3MB,2020-04-28 13:26:50,34,3,0.29411766
4,Data-scientist,4,datasets,josephgutstadt/data-jobs,data_jobs,30MB,2020-08-16 00:30:38,225,5,0.7647059
6,Data-scientist,4,datasets,spitfire2nd/data-scientists-analysts-notebook-...,Data Scientists & Analysts notebook datasets,18MB,2021-11-28 12:28:43,54,3,0.7058824
8,Data-scientist,4,datasets,sandraphari/teslainctsla-historical-prices,"""Tesla","Inc.(TSLA) Historical prices""",2KB,2021-06-18 18:08:15,166,32
10,Data-scientist,4,datasets,mragpavank/most-useful-data-science-resources-...,Most useful Data Science resources - Part 6,50MB,2021-02-24 07:16:42,107,30,0.4375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,5,datasets,ilknuricke/neurohackinginrimages,"""Structural MRI Datasets (T1 T2 FLAIR etc.)""",189MB,2019-11-21 00:59:08,4703,111,0.625
4,Data-scientist,5,datasets,mvianna10/germany-electricity-power-for-20062017,Germany electricity power for 2006-2017,66KB,2019-08-10 18:59:19,1363,16,1.0
6,Data-scientist,5,datasets,katerpillar/meteonet,MeteoNet North-West France,14GB,2021-04-06 13:56:40,1708,98,0.875
8,Data-scientist,5,datasets,vetrirah/av-healthcare2,Health Care Analytics - 2,7MB,2020-09-06 17:21:06,1723,35,1.0
10,Data-scientist,5,datasets,mragpavank/most-useful-data-science-resources-...,Most useful Data Science resources - Part 3,14MB,2021-02-01 05:42:42,44,24,0.3125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,6,datasets,smeilisa07/number of school teacher student class,School Dataset,2KB,2017-01-21 16:12:57,1272,20,0.8235294
4,Data-scientist,6,datasets,swaptr/fifa-world-cup-2022-statistics,FIFA World Cup 2022 Team Data,15KB,2022-12-19 00:29:15,2987,67,0.9705882
6,Data-scientist,6,datasets,emmanueldjegou/user-info,User_info Dataset for Marketing Analytics,3KB,2022-06-26 03:00:55,90,11,0.875
8,Data-scientist,6,datasets,anmolkumar/janatahack-healthcare-analytics-part-2,Janatahack: Healthcare Analytics Part 2,7MB,2020-08-28 18:37:12,455,16,1.0
10,Data-scientist,6,datasets,iqrar99/lokasi-mudik-karyawan,Lokasi Mudik Karyawan,10KB,2019-06-23 16:17:34,898,19,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,7,datasets,anjuchauhan/quick-exploration-on-data-scientis...,Quick exploration on data Scientist survey data,20MB,2021-09-21 10:54:19,4,2,0.29411766
4,Data-scientist,7,datasets,discdiver/data-scientist-general-skills-2018-r...,Data Scientist General Skills 2018 Revised,822B,2018-10-15 14:34:06,354,1,0.4117647
6,Data-scientist,7,datasets,kouroshalizadeh/history-of-philosophy,History of Philosophy,55MB,2021-03-31 22:52:52,1004,49,0.7058824
8,Data-scientist,7,datasets,blackbee2016/adult-census-income-with-ai,Adult Census Income with AI,2MB,2017-08-08 13:33:21,819,20,0.8235294
10,Data-scientist,7,datasets,analystmasters/earn-your-6-figure-prize,A 6-figure prize by soccer prediction,11MB,2017-09-19 01:29:12,3088,190,0.7647059

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,8,datasets,akash14/house-price-dataset,House Price Dataset,2MB,2020-09-27 09:59:55,1483,30,0.9411765
4,Data-scientist,8,datasets,mochamadajipangestu/job-change-of-data-scienti...,Job Change of Data Scientists Using PCA,5KB,2021-02-23 15:03:35,14,4,0.25
6,Data-scientist,8,datasets,dishantsr/data-scientist-jobs,data_scientist_jobs,13KB,2020-07-15 04:01:54,19,3,0.5882353
8,Data-scientist,8,datasets,alvarob96/laliga_2018-19_season_player_stats,LaLiga 2018/19 Season Player Stats,67KB,2019-06-07 15:48:15,966,12,0.9411765
10,Data-scientist,8,datasets,putdejudomthai/codility-data-scientist-test-2022,Codility Data scientist test 2022,13KB,2022-06-02 09:11:47,4,2,0.23529412

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,9,datasets,abhishtagatya/imgflipscraped-memes-caption-dat...,ImgFlip-Scraped Memes Caption Dataset,38MB,2020-04-24 08:21:22,253,10,0.9411765
4,Data-scientist,9,datasets,gauravduttakiit/jobathon-march-2022,JOB-A-THON - March 2022,173KB,2022-03-08 04:02:09,162,10,0.7647059
6,Data-scientist,9,datasets,gauravduttakiit/medical-insurance-cost,Medical Insurance Cost,92KB,2022-09-10 14:44:47,317,7,0.64705884
8,Data-scientist,9,datasets,manukulamkombil/machinehack-financial-risk-pre...,MachineHack - Financial Risk Prediction,9KB,2020-05-15 12:44:23,164,3,0.5882353
10,Data-scientist,9,datasets,pradosh123/retinal-vessel-segmentation-combined,Retinal Vessel Segmentation Combined,446MB,2022-07-22 08:39:26,28,1,0.4375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,10,datasets,mahdinavaei/bankpersonalloanmodelling,Bank Personal Loan Modelling(best for training),60KB,2022-10-18 10:25:51,65,21,0.5
4,Data-scientist,10,datasets,scarecrow2020/tech-students-profile-prediction,Tech Students - profile prediction,666KB,2021-01-05 21:07:08,396,7,0.7647059
6,Data-scientist,10,datasets,gauravduttakiit/analytics-olympiad-2022,Analytics Olympiad 2022,3MB,2022-10-10 13:17:14,23,7,0.47058824
8,Data-scientist,10,datasets,pavan9065/internet-usage,Internet Usage,214KB,2021-10-07 04:18:01,1666,31,1.0
10,Data-scientist,10,datasets,bjdebordeaux/apprenticeship-application-20220607,Apprenticeship Application 20220607,3KB,2022-06-08 17:38:29,7,2,0.47058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Big-data-concepts,1,datasets,arashnic/e-product-pricing,Marketing: Electronic Products and Pricing Data,4MB,2020-12-19 00:50:26,721,20,0.9705882
4,Big-data-concepts,1,datasets,techykajal/fakereal-news,Fake-Real News,844KB,2020-06-23 02:46:21,674,14,1.0
6,Big-data-concepts,1,datasets,miroslavsabo/young-people-survey,Young People Survey,84KB,2016-12-06 03:10:30,39312,703,0.85294116
8,Big-data-concepts,1,datasets,elikplim/car-evaluation-data-set,Car Evaluation Data Set,5KB,2017-09-01 04:05:49,19611,95,0.8235294
10,Big-data-concepts,1,datasets,jmmvutu/lottery-features-for-machine-learning-ai,Lottery features for time series Machine Learning,1MB,2021-04-14 13:05:51,114,4,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-mining-concepts,1,datasets,arashnic/time-series-forecasting-with-yahoo-st...,Time Series Forecasting with Yahoo Stock Price,33KB,2020-11-20 22:35:28,3020,72,1.0
4,Data-mining-concepts,1,datasets,renatojmsantos/just-dance-on-youtube,Just Dance @ YouTube: Multi-label Text + Analy...,188MB,2022-01-24 18:45:49,158,9,0.9411765
6,Data-mining-concepts,1,datasets,techykajal/fakereal-news,Fake-Real News,844KB,2020-06-23 02:46:21,674,14,1.0
8,Data-mining-concepts,1,datasets,metron/public-files-of-religious-and-spiritual...,Public files of religious and spiritual texts,17MB,2018-04-09 04:16:55,335,12,0.75
10,Data-mining-concepts,1,datasets,saurabhshahane/annotating-and-detecting-phenot...,Annotating and detecting phenotypic information,2MB,2021-03-26 12:09:44,19,5,0.8125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,1,datasets,shashwatwork/phishing-dataset-for-machine-lear...,Phishing Dataset for Machine Learning,234KB,2021-05-28 14:47:37,3593,49,0.9411765
4,Machine-learning-algorithms,1,datasets,camnugent/california-housing-prices,California Housing Prices,400KB,2017-11-24 03:14:59,84145,821,0.85294116
6,Machine-learning-algorithms,1,datasets,rohanrao/nifty50-stock-market-data,NIFTY-50 Stock Market Data (2000 - 2021),18MB,2021-05-01 09:23:17,36641,648,1.0
8,Machine-learning-algorithms,1,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35847,1522,0.88235295
10,Machine-learning-algorithms,1,datasets,praveengovi/coronahack-chest-xraydataset,CoronaHack -Chest X-Ray-Dataset,1GB,2020-03-20 01:26:40,17031,509,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,2,datasets,yashpaloswal/fraud-detection-credit-card,Fraud Detection - Credit Card,43MB,2022-09-09 17:46:36,1533,37,0.88235295
4,Machine-learning-algorithms,2,datasets,agajorte/zoo-animals-extended-dataset,Zoo Animals Extended Dataset,2KB,2019-06-02 16:22:31,5242,120,1.0
6,Machine-learning-algorithms,2,datasets,uciml/indian-liver-patient-records,Indian Liver Patient Records,8KB,2017-09-20 16:48:58,24641,363,0.88235295
8,Machine-learning-algorithms,2,datasets,namanmanchanda/entrepreneurial-competency-in-u...,Entrepreneurial Competency in University Students,3KB,2021-05-19 06:35:43,2875,81,1.0
10,Machine-learning-algorithms,2,datasets,imetomi/eur-usd-forex-pair-historical-data-200...,EUR USD Forex Pair Historical Data (2002 - 2020),116MB,2020-12-02 20:49:37,6376,139,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,3,datasets,mathfour/mock-traffic-data,Mock Traffic Data,29KB,2019-11-19 16:24:55,1518,67,1.0
4,Machine-learning-algorithms,3,datasets,ahmedhamada0/brain-tumor-detection,Br35H :: Brain Tumor Detection 2020,84MB,2021-11-14 04:39:25,8299,180,0.875
6,Machine-learning-algorithms,3,datasets,sankha1998/student-semester-result,Semester Result of Technical Students,2KB,2020-09-09 11:10:47,1302,51,1.0
8,Machine-learning-algorithms,3,datasets,gauravduttakiit/resume-dataset,Resume Dataset,383KB,2021-02-23 23:15:35,8418,76,0.64705884
10,Machine-learning-algorithms,3,datasets,olgabelitskaya/style-color-images,Style Color Images,208MB,2020-10-18 19:08:04,2703,65,0.75

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,4,datasets,claytonmiller/buildingdatagenomeproject2,Building Data Genome Project 2,263MB,2020-10-29 05:04:27,1274,41,0.9705882
4,Machine-learning-algorithms,4,datasets,zurfer/rtb,Real Time Bidding,138MB,2017-02-27 18:21:27,2145,63,0.7352941
6,Machine-learning-algorithms,4,datasets,harrywang/housing,California Housing Data (1990),400KB,2018-05-10 15:56:31,11831,139,1.0
8,Machine-learning-algorithms,4,datasets,debdoot/bdrw,Bengali Digit Recognition in the Wild (BDRW),2MB,2016-08-18 13:41:05,992,34,0.7058824
10,Machine-learning-algorithms,4,datasets,yemregundogmus/turkey-political-opinions,Turkey Political Opinions,16KB,2018-09-06 12:51:47,2066,87,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,5,datasets,ashishs0ni/iris-dataset,Iris_dataset,1KB,2018-08-05 14:26:19,728,9,0.64705884
4,Machine-learning-algorithms,5,datasets,fedesoriano/california-housing-prices-data-ext...,California Housing Prices Data (5 new features!),952KB,2021-07-03 15:21:53,2484,50,1.0
6,Machine-learning-algorithms,5,datasets,benjaminwang/xigua30,xigua3.0 (Watermelons),565B,2018-05-04 21:39:13,766,23,0.8235294
8,Machine-learning-algorithms,5,datasets,olgabelitskaya/traditional-decor-patterns,Traditional Decor Patterns,70MB,2020-10-18 18:53:30,875,34,0.7058824
10,Machine-learning-algorithms,5,datasets,neha1703/movie-genre-from-its-poster,Movie Genre from its Poster,36MB,2018-05-15 05:45:06,7236,166,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,6,datasets,prashant111/ionosphere,Ionosphere,34KB,2020-03-15 09:36:02,1260,45,0.5294118
4,Machine-learning-algorithms,6,datasets,krantiswalke/bankfullcsv,bank-full.csv (Ensemble Techniques),481KB,2020-04-23 08:21:57,3944,32,0.64705884
6,Machine-learning-algorithms,6,datasets,sid321axn/gold-price-prediction-dataset,Gold Price Prediction Dataset,371KB,2021-07-20 14:33:47,6286,67,0.9411765
8,Machine-learning-algorithms,6,datasets,akshaypawar7/nse-daily-bhavcopy,NSE Stock Market Daily Update Bhavcopy,171MB,2022-08-21 10:13:12,373,43,0.9411765
10,Machine-learning-algorithms,6,datasets,ayushkalla1/rotten-tomatoes-movie-database,Rotten Tomatoes Movie Database,12MB,2018-12-05 07:15:59,1787,22,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,7,datasets,catarinaantelo/portuguese-meals,Portuguese Meals Dataset,647MB,2022-06-13 09:51:49,214,36,0.875
6,Machine-learning-algorithms,7,datasets,redikod/historical-rainfall-data-in-bangladesh,Historical Rainfall data of Bangladesh (1970-2...,2MB,2018-05-02 11:43:53,3624,71,0.7647059
8,Machine-learning-algorithms,7,datasets,ruthgn/bank-marketing-data-set,Bank Marketing Data Set,282KB,2021-10-20 00:33:20,2806,55,1.0
10,Machine-learning-algorithms,7,datasets,tosinabase/intel-stock-prices-historical-data-...,Intel Stock Prices Historical Data (INTC),235KB,2021-04-20 11:05:00,306,14,1.0
12,Machine-learning-algorithms,7,datasets,fredgirod/web-crawler-for-real-estate-market,Web crawler for real estate market,247KB,2017-03-23 20:42:43,1099,28,0.85294116

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,8,datasets,christianlillelund/csgo-round-winner-classific...,CS:GO Round Winner Classification,4MB,2020-08-19 08:08:19,2298,90,1.0
4,Machine-learning-algorithms,8,datasets,mahmoudahmed6/yallamotors-cars-dataset,Cars Dataset,111KB,2021-12-12 10:44:33,44,11,0.9411765
6,Machine-learning-algorithms,8,datasets,aaryapatel98/indian-diabetic-retinopathy-image...,INDIAN DIABETIC RETINOPATHY IMAGE DATASET,408MB,2020-01-11 17:58:27,1740,37,0.7647059
8,Machine-learning-algorithms,8,datasets,karandej/ipl-ball-by-ball-score-dataset,IPL Ball-by-Ball Dataset,1MB,2022-08-18 11:36:32,76,19,1.0
10,Machine-learning-algorithms,8,datasets,andrewmvd/brain-tumor-segmentation-in-mri-brat...,Brain Tumor Segmentation,8GB,2021-07-12 04:40:50,6204,135,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,9,datasets,shashwatwork/christmas-gift-price-prediction,Christmas Gift Price Prediction,1MB,2021-05-22 14:19:50,452,13,0.88235295
4,Machine-learning-algorithms,9,datasets,andrewmvd/metastatic-tissue-classification-pat...,Metastatic Tissue Classification - PatchCamelyon,7GB,2020-04-20 14:30:42,440,39,0.9411765
6,Machine-learning-algorithms,9,datasets,alimohammedbakhiet/anonymous-data,Anonymous Data,35KB,2021-09-19 10:34:37,52,9,0.8235294
8,Machine-learning-algorithms,9,datasets,balavashan/aquaculturedataset,Aquaculture-Dataset,6MB,2021-12-31 17:54:27,104,14,0.85294116
10,Machine-learning-algorithms,9,datasets,joeylimzy/flowers,Flowers,279MB,2020-10-12 09:26:18,361,8,0.75

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,10,datasets,cheddad/miniddsm2,The Complete Mini-DDSM,49GB,2021-03-24 08:39:18,6824,36,0.75
4,Machine-learning-algorithms,10,datasets,olgabelitskaya/handwritten-russian-letters,Handwritten Russian Letters,3GB,2022-01-16 20:49:53,88,12,0.75
6,Machine-learning-algorithms,10,datasets,mathurinache/employee-augmented,Employee (Augmented),88MB,2020-10-22 13:10:49,125,12,0.9411765
8,Machine-learning-algorithms,10,datasets,cnrieiit/mqttset,MQTTset,879MB,2021-07-14 08:34:12,2020,17,1.0
10,Machine-learning-algorithms,10,datasets,olgabelitskaya/image-classification-for-biospe...,Image Classification for Biospecies 2,522MB,2020-06-19 18:13:14,23,5,0.8125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Google-colab,1,datasets,wyattowalsh/basketball,Basketball Dataset,349MB,2021-09-15 03:38:00,11193,341,0.9411765
4,Google-colab,1,datasets,timoboz/python-data-science-handbook,Python Data Science Handbook,15MB,2021-12-20 07:06:52,3459,448,0.9375
6,Google-colab,1,datasets,prakharrathi25/google-play-store-reviews,Google Play Store Reviews,3MB,2020-12-24 08:17:02,1721,25,1.0
8,Google-colab,1,datasets,davidbroberts/cxr-anatomy-detection,CXR anatomy detection,13MB,2021-07-13 16:04:30,57,11,1.0
10,Google-colab,1,datasets,shravanc/kannada-covid19-sentiment-analysis-da...,Kannada Covid-19 Sentiment Analysis Dataset,33MB,2020-09-08 10:35:29,223,9,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Google-colab,2,datasets,innominate817/hagrid-classification-512p-no-ge...,HaGRID Classification 512p no_gesture,14GB,2022-09-27 22:56:47,25,1,0.875
4,Google-colab,2,datasets,curtisasmith/gptj6b-slim-weights-for-inference,GPT-J-6B Slim Weights For Inference,9GB,2021-06-19 18:28:05,90,8,0.9375
6,Google-colab,2,datasets,prjnce0fpersja/sportsclassification,sports-classification,0B,2019-07-22 02:42:44,18,2,0.25
8,Google-colab,2,datasets,hkayan/anomliot,AnoML-IoT,48KB,2021-06-29 10:00:39,133,1,0.8235294
10,Google-colab,2,datasets,innominate817/hagrid-classification-512p-127k,HaGRID Classification 512p 127K,3GB,2022-10-02 19:31:18,13,1,0.8125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Google-colab,3,datasets,majorprojectssuu/motorcycle-rider-helmet-licen...,motorcycle rider helmet license plate,983MB,2022-01-29 14:33:48,87,2,0.125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Jupyter-notebook,1,datasets,kaggle/2015-notebook-ux-survey,2015 Notebook UX Survey,198KB,2017-05-01 17:56:25,1084,49,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Jupyter-notebook,2,datasets,robertolofaro/ai-organization-scalability-and-...,AI organization scalability and Kaggle Survey ...,3MB,2021-01-22 22:02:15,13,4,0.875
4,Jupyter-notebook,2,datasets,skillsayhackathon/skillsay-ai-crickethon-dataset,SkillSay AI Crick-e-Thon,1MB,2020-11-22 06:30:33,93,10,0.8235294
6,Jupyter-notebook,2,datasets,jogwums/python-mini-project,Python Mini Project,825KB,2021-12-06 07:38:09,99,6,0.7647059
8,Jupyter-notebook,2,datasets,stephengoldie/big-databiopharmaceutical-manufa...,Big Data-Biopharmaceutical manufacturing,677MB,2019-10-08 16:08:22,985,37,0.64705884
10,Jupyter-notebook,2,datasets,sauhardsaini/phishing-url-detection,Everlytics Phishing URLs,42KB,2022-06-21 18:01:55,124,13,0.7647059

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Jupyter-notebook,3,datasets,robertolofaro/20210106-reproducibility-and-output,20210106 reproducibility and output,53MB,2021-01-06 22:48:05,20,4,0.875
4,Jupyter-notebook,3,datasets,akallouch/asayar,ASAYAR: A Dataset for Arabic-Latin Text Detect...,3GB,2022-02-04 15:11:35,69,11,0.75
6,Jupyter-notebook,3,datasets,katrinaalaimo/list-of-greek-gods-and-goddesses,List of Greek Gods and Goddesses,25KB,2020-12-13 12:05:38,221,11,0.9117647
8,Jupyter-notebook,3,datasets,augiekd/augie-ice-core-data,ice_core_data,160KB,2020-06-11 17:28:34,34,3,0.875
10,Jupyter-notebook,3,datasets,augiekd/penguin-count-data,Penguin Count Data,21KB,2020-07-21 20:18:05,172,5,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Jupyter-notebook,4,datasets,nolan37/webscraping,Webscraping_Capstone,8KB,2022-02-26 01:08:59,2,1,0.1875
4,Jupyter-notebook,4,datasets,ertizaabbas/pokmon-data-analysis-using-pandas,Pok√©mon Data Analysis using Pandas,123KB,2021-09-19 03:40:48,19,3,0.47058824
6,Jupyter-notebook,4,datasets,imprime/gsmarena-listed-brands,Gsmarena listed brands,1MB,2019-10-11 19:30:38,130,6,0.7058824
8,Jupyter-notebook,4,datasets,sureshdudi/siimfisabiorsna-covid19-detection-d...,SIIM-FISABIO-RSNA COVID-19 dataset-yolov5 format,83MB,2021-08-09 07:58:16,42,2,0.625
10,Jupyter-notebook,4,datasets,rajdeepkaurbajwa/telecom-data-analysis,Telecom Data Analysis(Customer Churn Analysis),240KB,2022-06-25 17:13:38,8,1,0.3125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Jupyter-notebook,5,datasets,ghaithalsirawan/dubais-business-opportunity,Dubai's business opportunity,898KB,2020-08-21 11:47:46,99,1,0.64705884
4,Jupyter-notebook,5,datasets,nafemuhtasim/social-media-customer-analysis,Social Media Customer Analysis,106KB,2021-04-16 14:04:44,162,2,0.23529412
6,Jupyter-notebook,5,datasets,meet5233/reliance-stock-from-2008-to-2018-open...,RELIANCE STOCK FROM 2008 TO 2018 (OPEN HIGH LOW,315KB,2022-01-19 10:24:53,7,1,0.29411766
8,Jupyter-notebook,5,datasets,robertolofaro/global-risk-report-eu-27-prioriz...,Global Risk Report: EU 27 priorization perception,5KB,2022-12-12 14:34:34,5,1,0.9411765
10,Jupyter-notebook,5,datasets,russchrusciel/nbabasketballgames20092018csvfile,NBABasketballGames20092018-CSVFile,8MB,2021-10-22 17:08:11,12,2,0.5294118

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,1,datasets,jtrotman/kaggle-notebook-user-rankings,Kaggle Notebook User Rankings,65KB,2021-08-17 11:42:20,59,19,1.0
4,Kaggle-Notebook,1,datasets,vivovinco/kaggle-notebooks-ranking,Kaggle Notebooks Ranking,44KB,2022-01-21 07:57:23,66,24,1.0
6,Kaggle-Notebook,1,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35847,1522,0.88235295
8,Kaggle-Notebook,1,datasets,headsortails/notebooks-of-the-week-hidden-gems,Notebooks of the Week - Hidden Gems,4MB,2022-04-05 12:58:55,231,172,1.0
10,Kaggle-Notebook,1,datasets,daisukelab/dc2020task2,DCASE 2020 Task 2 Unofficial Copy,8GB,2020-03-21 02:50:26,611,13,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,2,datasets,daavoo/3d-mnist,3D MNIST,153MB,2019-10-18 22:09:59,10739,201,0.75
4,Kaggle-Notebook,2,datasets,ravirajsinh45/crop-and-weed-detection-data-wit...,crop and weed detection data with bounding boxes,79MB,2020-04-06 10:06:46,4170,71,0.9375
6,Kaggle-Notebook,2,datasets,emirhanai/human-action-detection-artificial-in...,Human Action Detection - Artificial Intelligence,147MB,2022-04-22 21:07:24,972,35,1.0
8,Kaggle-Notebook,2,datasets,yashpaloswal/ann-car-sales-price-prediction,ANN - Car Sales Price Prediction,29KB,2022-09-30 16:48:41,1699,29,0.88235295
10,Kaggle-Notebook,2,datasets,daisukelab/dc2020task2added,DCASE 2020 Task 2 Additinal Set Unofficial Copy,4GB,2020-04-02 01:38:07,34,4,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,3,datasets,bsridatta/covid-19-italy-updated-regularly,Coronavirus COVID-19 Italy (updated regularly),56KB,2020-04-07 15:51:29,1273,29,1.0
4,Kaggle-Notebook,3,datasets,themlphdstudent/novel-covid19-dataset,Novel COVID19 Dataset,4MB,2022-09-20 06:48:06,1426,35,0.9117647
6,Kaggle-Notebook,3,datasets,ottoschnurr/kaggle-notebook-python-package-man...,Python Package List,19KB,2019-09-09 00:20:04,67,5,0.9411765
8,Kaggle-Notebook,3,datasets,ekaterinadranitsyna/keras-applications-models,keras applications models,1GB,2021-11-06 07:57:53,242,27,0.75
10,Kaggle-Notebook,3,datasets,carlmcbrideellis/optiver-public-leaderboard-files,All of the Optiver Leaderboard files,886KB,2022-01-14 08:33:50,69,13,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,4,datasets,jpmiller/meta-kaggle-moneyboard,Meta Kaggle Prize Money,79KB,2022-11-22 04:40:06,82,44,0.9117647
4,Kaggle-Notebook,4,datasets,anupamkhurana/spacy306installwhlfiles,spacy3.0.6-install-whl-files,1GB,2021-06-17 04:06:17,3,6,0.625
6,Kaggle-Notebook,4,datasets,gpreda/tales-from-the-pizza-guy,Tales from the Pizza Guy,860KB,2022-10-07 14:05:20,15,15,1.0
8,Kaggle-Notebook,4,datasets,emirhanai/aiml-with-orbital-elements-of-nearea...,AI/ML with Orbital Elements of Near-Earth Comets,777KB,2022-04-30 01:17:36,77,22,1.0
10,Kaggle-Notebook,4,datasets,skylord/covid19-tests-conducted-by-country,Covid19 Tests Conducted by Country,146KB,2020-07-13 07:38:25,1283,40,0.9117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,5,datasets,matheusmota/aula1-demo1-primeiro-contato-com-o...,Data Science - Facens - Primeiro Contato,25MB,2021-07-24 02:09:43,41,4,0.5294118
4,Kaggle-Notebook,5,datasets,truthr/pretrainedmodels-wheels,pretrainedmodels-0.7.4-wheels,764MB,2021-02-18 14:21:38,36,8,1.0
6,Kaggle-Notebook,5,datasets,kingabzpro/world-vaccine-progress,World Vaccine Progress,17KB,2022-11-15 14:31:03,1146,40,1.0
8,Kaggle-Notebook,5,datasets,sreevishnudamodaran/efficientnetv2-tfhub-weigh...,EfficientNetV2 TFHub Weight Files,8GB,2021-12-19 17:24:57,309,33,0.75
10,Kaggle-Notebook,5,datasets,markpeng/darknetbuildgpu,darknet-build-gpu,5MB,2020-08-01 07:39:21,143,9,0.75

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,6,datasets,andy8744/playing-cards-object-detection-dataset,Playing Cards Object Detection Dataset,674MB,2022-02-09 13:35:03,777,23,0.9375
4,Kaggle-Notebook,6,datasets,qitvision/staintools-offline,staintools_offline,4MB,2022-08-10 12:43:42,14,7,0.5
6,Kaggle-Notebook,6,datasets,lucashohmann/mathler-valid-equations,Mathler Valid Equations,6MB,2022-04-14 12:37:00,32,14,0.9411765
8,Kaggle-Notebook,6,datasets,alexteboul/binary-cropped-crown-of-thorns-dataset,COTS v NotCOTS Cropped Crown of Thorns Dataset,47MB,2022-02-05 00:27:38,96,18,0.875
10,Kaggle-Notebook,6,datasets,spitfire2nd/data-scientists-analysts-notebook-...,Data Scientists & Analysts notebook datasets,18MB,2021-11-28 12:28:43,54,3,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,7,datasets,mathurinache/cdpunlockingclimatesolutions,cdp-unlocking-climate-solutions,192MB,2020-10-15 17:46:41,162,12,0.875
4,Kaggle-Notebook,7,datasets,bcgvaccine/hackathon,BCG - COVID-19 AI Challenge,4GB,2020-11-11 08:04:24,846,67,0.9117647
6,Kaggle-Notebook,7,datasets,ahmedshahriarsakib/top-1000-twitter-celebrity-...,Top 1000 Twitter Celebrity Tweets And Embeddings,171MB,2022-07-12 16:01:26,186,30,0.88235295
8,Kaggle-Notebook,7,datasets,sardorabdirayimov/spaceship-titanic-no-missing...,Spaceship Titanic | No missing values,278KB,2022-03-12 18:20:06,51,7,0.64705884
10,Kaggle-Notebook,7,datasets,yeayates21/garage-detection-unofficial-ssl-cha...,Garage Detection Unofficial SSL Challenge,33MB,2020-06-18 14:00:08,262,15,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,8,datasets,ibrahimserouis99/one-piece-character-detection...,One Piece character detection with TFrecords,529MB,2022-04-25 10:48:16,34,10,0.9375
4,Kaggle-Notebook,8,datasets,yannmallegol/winedataset,Wine dataset - Unsupervised Algorithms,4KB,2017-01-24 21:47:53,304,2,0.75
6,Kaggle-Notebook,8,datasets,taniaj/2019-kaggle-survey-challenge-images,2019 Kaggle Survey Challenge Misc Images and Data,912KB,2019-11-28 19:31:05,19,3,0.9375
8,Kaggle-Notebook,8,datasets,jucor1/worldstrat,WorldStrat,49GB,2022-07-01 15:08:26,561,10,1.0
10,Kaggle-Notebook,8,datasets,filipefilardi/20-newsgroup-preprocessed,20 newsgroup preprocessed,18MB,2020-11-26 13:39:56,382,9,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,9,datasets,authman/fibrosis-train-resampled,Fibrosis Train Resampled,6GB,2020-09-06 20:09:41,8,8,0.5
4,Kaggle-Notebook,9,datasets,xc1011/ukraine-russia-war-clean-datasets,Ukraine Russia War - Clean datasets,9KB,2022-10-13 07:01:14,1250,31,0.9117647
6,Kaggle-Notebook,9,datasets,handsomeevy/data-preprocessing-for-rsna-the-pa...,data pre-processing for RSNA Part 3,10GB,2022-08-03 15:13:45,8,8,0.625
8,Kaggle-Notebook,9,datasets,ryleymcconkey/ml-turbulence-dataset,Turbulence modelling using machine learning,9GB,2022-03-04 20:50:12,1724,37,0.7647059
10,Kaggle-Notebook,9,datasets,saipradeepvg/cord19,Mining CORD-19 corpus for biomedical associati...,1GB,2020-06-15 10:59:55,307,14,0.7647059

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,10,datasets,mathurinache/colabcode,colabcode,6KB,2020-09-10 06:27:08,15,10,0.8125
4,Kaggle-Notebook,10,datasets,truthr/banglamnist,Bangla-MNIST,1GB,2021-03-16 11:52:35,177,11,0.9411765
6,Kaggle-Notebook,10,datasets,kefahaied/netflixmovies,netflixmovies,346KB,2022-08-03 00:45:22,61,6,0.8235294
8,Kaggle-Notebook,10,datasets,mmotoki/womens-leaderboard-analyzer-app-2021,womens-leaderboard-analyzer-app-2021,428KB,2021-03-03 17:45:58,16,4,0.625
10,Kaggle-Notebook,10,datasets,aifahim/dhaka-ai-traffic-challenge-weights-yolov5,Dhaka AI Traffic Challenge Weights - Yolov5,108MB,2021-03-10 01:15:36,71,7,0.9375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,1,datasets,github/github-repos,GitHub Repos,0B,2019-03-20 23:20:50,0,370,0.64705884
4,Github,1,datasets,davidshinn/github-issues,GitHub Issues,980MB,2018-01-17 21:26:05,2831,89,0.875
6,Github,1,datasets,simiotic/github-code-snippets,GitHub Code Snippets,7GB,2021-03-03 11:34:39,734,107,1.0
8,Github,1,datasets,anmolkumar/github-bugs-prediction,GitHub Bugs Prediction,98MB,2020-10-11 15:25:24,822,35,1.0
10,Github,1,datasets,isaacwen/github-programming-languages-data,GitHub Programming Languages Data,40KB,2022-01-02 03:58:56,1832,41,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,2,datasets,arpitdw/github-logs,github_logs,4MB,2020-07-16 02:56:05,129,15,0.29411766
4,Github,2,datasets,darwinwin/china-future-data-in-github,China fund data in Github,279MB,2022-12-31 19:40:30,120,11,0.8235294
6,Github,2,datasets,vad13irt/mixout-github-code,Mixout GitHub code,50KB,2022-04-24 18:20:22,20,11,0.375
8,Github,2,datasets,utshabkumarghosh/the-github-history-of-the-sca...,The GitHub History of the Scala Language,697KB,2020-08-21 22:27:46,298,13,0.5294118
10,Github,2,datasets,anshulmehtakaggl/top-1000-github-repositories-...,Top 1000 Github Repositories for Popular Topics,6MB,2022-11-09 18:46:05,513,69,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,3,datasets,mayur7garg/github-repo-sample-data,GitHub Repo Sample Data,287MB,2021-12-28 18:05:10,16,3,1.0
6,Github,3,datasets,gauthamp10/google-playstore-apps,Google Play Store Apps,207MB,2021-06-17 12:04:06,17926,354,1.0
8,Github,3,datasets,emmarex/plantdisease,PlantVillage Dataset,658MB,2018-10-30 01:16:23,33055,515,0.5625
10,Github,3,datasets,crowdflower/twitter-airline-sentiment,Twitter US Airline Sentiment,3MB,2019-10-16 00:04:05,78216,952,0.8235294
12,Github,3,datasets,gpreda/covid-world-vaccination-progress,COVID-19 World Vaccination Progress,2MB,2022-03-31 07:55:09,89217,2114,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,4,datasets,gkhan496/covid19-in-turkey,COVID-19 in Turkey,12KB,2020-10-29 15:52:08,2304,77,0.88235295
4,Github,4,datasets,hereisburak/pins-face-recognition,Pins Face Recognition,372MB,2020-03-07 11:57:06,4588,77,0.875
6,Github,4,datasets,cgurkan/airplane-crash-data-since-1908,Airplane Crash Data Since 1908,621KB,2019-08-20 12:24:25,5381,124,1.0
8,Github,4,datasets,sudalairajkumar/novel-corona-virus-2019-dataset,Novel Corona Virus 2019 Dataset,9MB,2021-06-24 04:27:25,394121,5922,0.9705882
10,Github,4,datasets,google/tinyquickdraw,QuickDraw Sketches,11GB,2018-04-18 19:38:04,3544,377,0.8125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,5,datasets,benhamner/nips-papers,NIPS Papers,141MB,2017-12-05 18:52:42,14372,228,0.8235294
4,Github,5,datasets,nicapotato/womens-ecommerce-clothing-reviews,Women's E-Commerce Clothing Reviews,3MB,2018-02-03 19:59:19,53968,959,0.88235295
6,Github,5,datasets,starbucks/store-locations,Starbucks Locations Worldwide,1MB,2017-02-13 23:05:16,34320,438,0.5882353
8,Github,5,datasets,prosperchuks/machine-learning-users-on-github,Machine Learning users on Github,51KB,2022-01-09 21:27:39,79,3,1.0
10,Github,5,datasets,idoyo92/epl-stats-20192020,English Premier League stats 2019-2020,825KB,2020-07-29 10:05:04,7887,193,0.9705882

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,6,datasets,davidcariboo/player-scores,Football Data from Transfermarkt,27MB,2023-01-02 10:45:02,3950,92,0.88235295
4,Github,6,datasets,yutkin/corpus-of-russian-news-articles-from-lenta,News dataset from Lenta.Ru,584MB,2019-12-14 14:34:44,2362,69,0.7058824
6,Github,6,datasets,piterfm/2022-ukraine-russian-war,2022 Russia Ukraine War,11KB,2023-01-01 19:38:28,20218,874,1.0
8,Github,6,datasets,rohanrao/covid19-forecasting-metadata,Covid19 Forecasting Metadata,118KB,2020-05-11 21:42:06,1177,33,1.0
10,Github,6,datasets,ryches/bertpretrained,BERT-Pretrained,8GB,2019-01-19 06:35:03,279,39,0.625

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,7,datasets,siddharthm1698/coursera-course-dataset,Coursera Course Dataset,23KB,2020-05-25 05:52:27,6013,170,1.0
4,Github,7,datasets,sudalairajkumar/covid19-in-italy,COVID-19 in Italy,441KB,2020-12-07 06:23:24,17425,251,1.0
6,Github,7,datasets,insiyeah/musicfeatures,Music features,291KB,2018-06-25 05:42:10,5922,125,0.85294116
8,Github,7,datasets,robikscube/helmet-assignment-helpers,NFL Helmet Assignment Helper Code,13KB,2021-09-22 14:29:22,440,46,0.875
10,Github,7,datasets,gmadevs/atp-matches-dataset,Association of Tennis Professionals Matches,3MB,2017-02-07 15:09:15,6214,115,0.85294116

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,8,datasets,rankirsh/esports-earnings,Esports Earnings 1998 - 2021,83KB,2022-01-31 16:44:43,3750,69,1.0
4,Github,8,datasets,dschettler8845/pylibjpg-github,Pylibjpg Github,34KB,2022-11-30 19:30:55,0,3,0.375
6,Github,8,datasets,szrlee/stock-time-series-20050101-to-20171231,DJIA 30 Stock Time Series,3MB,2018-01-03 08:29:18,29665,280,0.7058824
8,Github,8,datasets,cjroth/chronist,"""Emotion Aging and Sentiment Over Time""",13MB,2017-02-12 22:44:03,1774,92,0.7058824
10,Github,8,datasets,cdc/zika-virus-epidemic,Zika Virus Epidemic,750KB,2016-07-16 03:50:21,7595,149,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,9,datasets,ilhamfp31/indonesian-abusive-and-hate-speech-t...,Indonesian Abusive and Hate Speech Twitter Text,814KB,2020-04-15 14:27:08,2861,54,0.9705882
4,Github,9,datasets,justin900429/3d-printer-defected-dataset,3D-Printer Defected Dataset,53MB,2022-06-12 18:26:49,182,26,0.8125
6,Github,9,datasets,vikramtiwari/pix2pix-dataset,pix2pix dataset,2GB,2018-07-04 05:54:59,4796,91,0.625
8,Github,9,datasets,ncaa/ncaa-basketball,NCAA Basketball,0B,2019-03-20 23:17:02,0,175,0.6764706
10,Github,9,datasets,astraszab/facial-expression-dataset-image-fold...,Facial expression dataset image folders (fer2013),65MB,2020-04-14 08:15:32,1964,41,0.5625

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,10,datasets,jaimevalero/top-starred-github-repo-with-photos,Top starred github repo with photos,72KB,2017-10-26 20:15:31,40,5,0.4117647
4,Github,10,datasets,corrieaar/apartment-rental-offers-in-germany,Apartment rental offers in Germany,93MB,2020-04-20 10:29:50,4974,113,1.0
6,Github,10,datasets,arwinneil/gsmarena-phone-dataset,GSMArena Phone Dataset,635KB,2017-06-29 07:09:31,5605,74,0.85294116
8,Github,10,datasets,usharengaraju/indian-women-in-defense,RNA-seq Airway Data,435KB,2020-04-05 12:36:47,432,163,1.0
10,Github,10,datasets,sl6149/data-scientist-job-market-in-the-us,Data Scientist Job Market in the U.S.,16MB,2018-08-31 17:34:49,12332,327,0.7941176

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Rest-API,1,datasets,dansbecker/nba-shot-logs,NBA shot logs,3MB,2016-08-18 05:16:10,14602,341,0.5882353
4,Rest-API,1,datasets,jorijnsmit/binance-full-history,Binance Full History,26GB,2022-11-17 23:44:24,10760,300,0.875
6,Rest-API,1,datasets,kenjee/ken-jee-youtube-data,Ken Jee YouTube Data,6MB,2022-01-22 20:38:53,2133,163,1.0
8,Rest-API,1,datasets,freecodecamp/all-posts-public-main-chatroom,"""freeCodeCamp Gitter Chat 2015-2017""",597MB,2019-10-21 10:35:21,1973,76,0.7647059
10,Rest-API,1,datasets,maxreis/bitcoin-trades-at-binance-exchange,Bitcoin trades at Binance Exchange,6MB,2021-03-22 00:49:33,47,5,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Rest-API,2,datasets,yelexa/spotify200,Spotify Weekly Top 200 Songs Streaming Data,187MB,2022-07-25 04:35:48,719,16,0.7647059
4,Rest-API,2,datasets,cyruskouhyar/btcprices2015now,BTC-Prices-2014-Now,126KB,2022-01-01 19:37:20,46,9,0.64705884
6,Rest-API,2,datasets,robsonger/github-curated-topics,GitHub Curated Topics,100KB,2022-03-10 00:42:08,19,4,1.0
8,Rest-API,2,datasets,edwardtoledolpez/amazon-mexico-top-50-best-sel...,Amazon Best Sellers,63MB,2020-10-09 17:29:01,3211,43,0.875
10,Rest-API,2,datasets,ljewell/internal-navigation-dataset,Internal Navigation Dataset,1013B,2017-08-11 12:45:47,332,11,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Rest-API,3,datasets,federalreserve/foreign-direct-investment-in-u.s.,Foreign direct investment in U.S.,5KB,2019-12-24 01:49:50,22,2,0.64705884
4,Rest-API,3,datasets,e0650443145/dataset-8670,dataset-8670,2GB,2022-08-24 09:10:17,21,0,0.1875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Scrapy,1,datasets,gauthamp10/google-playstore-apps,Google Play Store Apps,207MB,2021-06-17 12:04:06,17926,354,1.0
4,Scrapy,1,datasets,usernam3/shopify-app-store,Shopify app store,71MB,2022-06-05 20:19:32,4869,135,1.0
6,Scrapy,1,datasets,shreyaspj/android-devices-and-mobiles,Android devices and mobiles,30KB,2020-08-20 18:02:22,366,19,0.5882353
8,Scrapy,1,datasets,cyaris/2016-mlb-season,2016 MLB Season,237KB,2018-04-21 18:26:56,2382,37,0.8235294
10,Scrapy,1,datasets,sagunsh/fifa-20-complete-player-dataset,FIFA 20 Complete Player Dataset,2MB,2019-10-05 16:33:26,1161,26,0.9117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Scrapy,2,datasets,vitalychait/scrapygoodnews,scrapygoodnews,12MB,2021-10-20 11:25:40,2,1,0.29411766
4,Scrapy,2,datasets,jnatascosta/pokemoncom,pokemon.com,107KB,2020-10-28 17:14:11,21,3,0.6875
6,Scrapy,2,datasets,nikitricky/chitankainfo-works,Chitanka.info works,648MB,2021-12-02 16:15:28,12,10,0.8125
8,Scrapy,2,datasets,antonkozyriev/unity3d-faq,Gamedev Chatbot: Domain-oriented intent dataset,29MB,2022-11-29 22:07:27,119,13,1.0
10,Scrapy,2,datasets,muhammedabdulazeem/house-rent-prediction-for-h...,House Rent Prediction for Hyderabad,2MB,2021-02-10 07:24:05,223,16,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Scrapy,3,datasets,tusharsingh1999/hindi-poem-dataset,Hindi Poem Dataset,144KB,2021-08-14 05:35:55,26,7,0.75
4,Scrapy,3,datasets,felixsiegfriedriedel/billboard-hot-100-weekly-...,Billboard Hot 100 Weekly Charts 2020,60KB,2021-08-19 00:51:23,160,5,0.9411765
6,Scrapy,3,datasets,gauthamp10/app-permissions-android,Android Permissions Dataset,119MB,2021-06-25 07:11:37,313,7,0.9375
8,Scrapy,3,datasets,prathameshbhalekar/images-scraped-from-unsplash,Categorized Images From Unsplash,87MB,2020-11-10 17:20:09,33,5,0.6875
10,Scrapy,3,datasets,cardbored/myanimelist-manga-dataset,MyAnimeList Manga Dataset,1MB,2020-05-20 18:48:42,77,4,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Scrapy,4,datasets,abireltaief/books-reviews,French Book reviews,4MB,2021-12-21 10:03:41,160,14,1.0
4,Scrapy,4,datasets,spideysloth/usa-charities-data,USA Charities Data,63MB,2020-07-12 02:01:17,80,3,0.5882353
6,Scrapy,4,datasets,arnavraj01/news-article,News Article,17MB,2020-08-11 20:13:23,38,2,0.47058824
8,Scrapy,4,datasets,jeugregg/covid19-france-sources,COVID-19 France Sources,3MB,2020-03-14 00:11:59,28,1,0.5294118
10,Scrapy,4,datasets,apat0saur/theneedledrop-reviews,theneedledrop reviews,203KB,2021-09-12 03:17:10,27,2,0.7352941

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Scrapy,5,datasets,akshitsoneji/iit-faculty-dataset,IIT Faculty Dataset,2MB,2021-04-23 14:12:53,14,2,0.29411766
4,Scrapy,5,datasets,ratthachat/nakhunchumpolsathien-thaisum,ThaiSum,690MB,2021-01-05 22:33:48,34,1,0.47058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,1,datasets,alamson/safebooru,Safebooru - Anime Image Metadata,333MB,2020-07-24 20:49:07,2777,107,1.0
4,Metadata,1,datasets,rohanrao/covid19-forecasting-metadata,Covid19 Forecasting Metadata,118KB,2020-05-11 21:42:06,1177,33,1.0
6,Metadata,1,datasets,tmdb/tmdb-movie-metadata,TMDB 5000 Movie Dataset,9MB,2017-09-28 01:09:12,243565,3239,0.8235294
8,Metadata,1,datasets,samuelcortinhas/rsna-2022-spine-fracture-detec...,RSNA 2022 Spine Fracture Detection - Metadata,119MB,2022-09-29 13:41:53,907,61,1.0
10,Metadata,1,datasets,karrrimba/movie-metadatacsv,Movie metadata,554KB,2018-01-09 04:45:32,4379,25,0.5294118

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,2,datasets,saurabhshahane/music-dataset-1950-to-2019,Music Dataset : 1950 to 2019,10MB,2022-01-31 17:51:31,1740,65,0.9411765
4,Metadata,2,datasets,cashncarry/fifa-22-complete-player-dataset,FIFA 22 Complete Player Dataset [UPD:01/10/21],2MB,2021-10-02 14:49:48,2323,65,0.9411765
6,Metadata,2,datasets,akshaypawar7/millions-of-movies,Movies Daily Update Dataset,165MB,2023-01-04 04:31:57,2064,68,1.0
8,Metadata,2,datasets,rishidamarla/youtube-channel-metadata,Youtube Channel Metadata,108MB,2020-11-02 01:46:24,123,13,0.8125
10,Metadata,2,datasets,astrung/hm-customer-metadata,hm-customer-metadata,53MB,2022-03-13 08:56:15,75,12,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,3,datasets,rohanrao/nifty50-stock-market-data,NIFTY-50 Stock Market Data (2000 - 2021),18MB,2021-05-01 09:23:17,36641,648,1.0
4,Metadata,3,datasets,shuyangli94/food-com-recipes-and-user-interact...,Food.com Recipes and Interactions,267MB,2019-11-08 01:18:21,20929,465,1.0
6,Metadata,3,datasets,danofer/usp-drug-classification,USP Drug Classification,26KB,2018-07-31 14:34:34,1473,48,1.0
8,Metadata,3,datasets,canggih/upvoted-kaggle-kernels,Upvoted Kaggle Kernels,115KB,2018-02-26 16:52:28,215,28,1.0
10,Metadata,3,datasets,rohanrao/xeno-canto-bird-recordings-extended-n-z,Xeno-Canto Bird Recordings Extended (N-Z),10GB,2020-09-14 10:36:58,805,90,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,4,datasets,imoore/7k-indian-famous-women,+7k Famous Indian Women,197KB,2021-03-17 10:23:48,603,88,1.0
4,Metadata,4,datasets,williamhyun/amazon-bin-image-dataset-536434-im...,"""Amazon Bin Image Dataset (536","434 images 224x224)""",3GB,2022-04-24 07:59:54,127,25
6,Metadata,4,datasets,riyapatel1697/imdb-official-movies-dataset,IMDB Official Movies Dataset,209MB,2022-10-07 10:24:39,688,35,0.7647059
8,Metadata,4,datasets,ashvanths/toprated-tmdb-movies,Top-Rated TMDB Movies,1MB,2022-08-15 06:49:17,652,28,1.0
10,Metadata,4,datasets,dschettler8845/extra-happywhale-metadata,Extra HappyWhale Metadata,2MB,2022-02-03 01:06:17,26,4,0.3529412

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,5,datasets,littleotter/united-states-presidential-speeches,United States Presidential Speeches,22MB,2020-05-31 17:07:14,605,14,1.0
4,Metadata,5,datasets,batjoker/zomato-restaurants-hyderabad,Zomato Restaurants Hyderabad,1MB,2020-06-08 15:11:39,3268,64,1.0
6,Metadata,5,datasets,gqfiddler/scotus-opinions,SCOTUS Opinions,233MB,2020-08-23 06:04:29,1031,71,0.9411765
8,Metadata,5,datasets,thedevastator/ikea-product,IKEA Products,155KB,2022-11-01 17:23:43,1893,37,1.0
10,Metadata,5,datasets,thedevastator/fashion-products-on-amazon-ratin...,"""Fashion Products on Amazon: Ratings Prices etc""",8MB,2022-11-18 14:28:57,1739,44,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,6,datasets,jacksoncrow/stock-market-dataset,Stock Market Dataset,522MB,2020-04-02 10:55:57,15838,317,0.8235294
4,Metadata,6,datasets,sreevishnudamodaran/siim-covid19-images-metada...,SIIM Covid19 Images & Metadata 256 512 768,3GB,2021-07-15 14:39:47,143,11,0.23529412
6,Metadata,6,datasets,gpreda/xenocanto-birds-from-romania,Xeno-Canto Birds from Romania,45KB,2020-07-29 19:45:44,60,10,1.0
8,Metadata,6,datasets,cheddad/miniddsm2,The Complete Mini-DDSM,49GB,2021-03-24 08:39:18,6824,36,0.75
10,Metadata,6,datasets,unitednations/international-energy-statistics,International Energy Statistics,7MB,2017-11-16 00:06:06,9276,270,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,7,datasets,shivamb/dhl-courier-facilities-dataset,DHL Courier Facilities Dataset,1MB,2022-01-12 02:29:46,659,25,0.9411765
4,Metadata,7,datasets,dschettler8845/bms-csvs-w-extra-metadata,BMS - CSVs w/ Extra Metadata,228MB,2021-05-08 15:05:37,164,5,0.23529412
6,Metadata,7,datasets,statmax/metadata,metadata,20KB,2020-03-25 11:29:07,5,1,0.3529412
8,Metadata,7,datasets,gpreda/xenocanto-birds-from-france,Xeno-Canto Birds from France,2MB,2020-07-29 20:10:24,43,9,1.0
10,Metadata,7,datasets,thedevastator/latest-licensed-playstation-game...,PlayStation Games,53KB,2022-11-09 02:51:20,1159,35,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,8,datasets,census/business-and-industry-reports,Business and Industry Reports,7MB,2017-10-17 23:21:56,4301,111,0.8235294
4,Metadata,8,datasets,allen-institute-for-ai/CORD-19-research-challenge,COVID-19 Open Research Dataset Challenge (CORD...,18GB,2022-06-06 19:39:40,154791,10245,0.88235295
6,Metadata,8,datasets,jtennis/spctornado,Storm Prediction Center,1MB,2016-11-22 14:12:55,3239,57,0.47058824
8,Metadata,8,datasets,foiachap/seattle-email-metadata,Seattle Email Metadata,2GB,2018-10-19 05:02:28,343,11,0.11764706
10,Metadata,8,datasets,fabulinus/metadata,metadata,15MB,2020-04-16 13:23:17,4,1,0.29411766

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,9,datasets,bsridatta/uwmadison-flattened-metadata,UW-Madison Flattened Metadata,8MB,2022-04-15 13:09:12,8,4,0.3529412
4,Metadata,9,datasets,daveianhickey/2000-16-traffic-flow-england-sco...,1.6 million UK traffic accidents,132MB,2017-09-17 16:55:28,20554,415,0.7941176
6,Metadata,9,datasets,nltkdata/brown-corpus,Brown Corpus,9MB,2018-10-19 03:27:49,2488,36,0.5294118
8,Metadata,9,datasets,juzershakir/tmdb-movies-dataset,TMDb Movies Dataset,3MB,2018-03-24 04:18:19,3879,40,0.7058824
10,Metadata,9,datasets,arathee2/demonetization-in-india-twitter-data,Demonetization in India Twitter Data,898KB,2017-04-21 17:35:02,6422,121,0.7352941

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,10,datasets,phryxia/safebooru-2018,Safebooru's image metadata of 2.4 million records,272MB,2018-05-27 14:07:44,134,7,0.7058824
4,Metadata,10,datasets,br33sa/gender-representation-in-video-games,Gender Representation in Video Games,97KB,2022-11-10 11:32:57,686,33,0.9411765
6,Metadata,10,datasets,sootersaalu/nigerian-songs-spotify,Nigerian Songs Spotify,24KB,2020-10-25 19:10:23,636,33,1.0
8,Metadata,10,datasets,scribbless/another-anime-face-dataset,another anime face dataset,1GB,2021-04-24 12:42:57,1504,47,0.8125
10,Metadata,10,datasets,mit/pantheon-project,Pantheon Project: Historical Popularity Index,511KB,2017-03-01 21:00:18,1617,71,0.85294116

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,1,datasets,shrutibhargava94/india-air-quality-data,India Air Quality Data,5MB,2017-07-22 05:04:57,22378,344,0.85294116
4,Data-quality,1,datasets,yasserh/wine-quality-dataset,Wine Quality Dataset,21KB,2022-01-15 19:15:11,21094,472,1.0
6,Data-quality,1,datasets,venkatramakrishnan/india-water-quality-data,India Water Quality Data,5MB,2016-12-31 12:22:01,6764,105,0.8235294
8,Data-quality,1,datasets,rohanrao/air-quality-data-in-india,Air Quality Data in India (2015 - 2020),73MB,2020-07-28 12:33:10,29587,413,1.0
10,Data-quality,1,datasets,anbarivan/indian-water-quality-data,Indian water quality data,45KB,2018-10-23 02:35:30,6013,79,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,2,datasets,sid321axn/beijing-multisite-airquality-data-set,Beijing Multi-Site Air-Quality Data Set,9MB,2019-11-08 05:10:43,1910,31,0.9117647
4,Data-quality,2,datasets,ozgurdogan646/water-quality-dataset,Water Quality Dataset,285KB,2021-08-21 10:37:49,1818,43,1.0
6,Data-quality,2,datasets,ruthgn/wine-quality-data-set-red-white-wine,Wine Quality Data Set (Red & White Wine),98KB,2021-11-03 01:26:46,1704,38,1.0
8,Data-quality,2,datasets,epa/epa-historical-air-quality,Historical Air Quality,0B,2019-02-12 00:35:35,0,284,0.7058824
10,Data-quality,2,datasets,digantdixit/delhi-air-quality-index-data,Delhi Air Quality Index Data,16KB,2022-07-08 11:51:12,177,12,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,3,datasets,fedesoriano/stroke-prediction-dataset,Stroke Prediction Dataset,67KB,2021-01-26 19:29:28,108291,2451,1.0
4,Data-quality,3,datasets,saharpourahmad/air-quality-data-set-from-uci-w...,Air Quality Data Set,248KB,2021-09-11 18:00:26,150,9,0.8235294
6,Data-quality,3,datasets,priankravichandar/wine-quality-data,Wine Quality Data,95KB,2021-09-14 16:33:04,215,4,0.9705882
8,Data-quality,3,datasets,borismarjanovic/price-volume-data-for-all-us-s...,Huge Stock Market Dataset,492MB,2017-11-16 14:53:29,93870,3909,0.75
10,Data-quality,3,datasets,kkhandekar/air-quality-data-brisbane-cbd,Air Quality Data - Brisbane CBD,144KB,2020-10-08 02:28:42,161,7,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,4,datasets,alessiocorrado99/animals10,Animals-10,586MB,2019-12-12 20:46:33,31606,625,0.875
4,Data-quality,4,datasets,bappekim/air-pollution-in-seoul,Air Pollution in Seoul,20MB,2020-04-03 16:33:49,18139,373,1.0
6,Data-quality,4,datasets,shree1992/housedata,House price prediction,432KB,2018-08-26 07:56:22,46825,460,0.64705884
8,Data-quality,4,datasets,laurentmih/aisegmentcom-matting-human-datasets,AISegment.com - Matting Human Datasets,29GB,2019-06-06 18:35:59,7194,162,0.875
10,Data-quality,4,datasets,cpluzshrijayan/milkquality,Milk Quality Prediction,1KB,2022-08-01 17:18:24,3826,63,0.7647059

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,5,datasets,ivivan/real-time-water-quality-data,Real Time Water Quality Data,3MB,2020-07-01 05:07:12,345,3,0.88235295
4,Data-quality,5,datasets,fedesoriano/heart-failure-prediction,Heart Failure Prediction Dataset,9KB,2021-09-10 18:11:57,85524,1946,1.0
6,Data-quality,5,datasets,fedesoriano/the-boston-houseprice-data,Boston House Prices-Advanced Regression Techni...,12KB,2021-06-01 10:39:10,7001,120,1.0
8,Data-quality,5,datasets,towhidultonmoy/wine-quality-dataset,Wine Quality Dataset,4KB,2022-02-22 05:56:45,16,8,0.29411766
10,Data-quality,5,datasets,muratkokludataset/pumpkin-seeds-dataset,Pumpkin Seeds Dataset,393KB,2022-03-28 18:28:16,2457,1456,0.9375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,6,datasets,lespin/house-prices-dataset,House Prices dataset,199KB,2018-02-18 20:39:04,6048,64,0.5882353
4,Data-quality,6,datasets,olistbr/brazilian-ecommerce,Brazilian E-Commerce Public Dataset by Olist,43MB,2021-10-01 19:08:27,164463,2528,1.0
6,Data-quality,6,datasets,claytonmiller/ashrae-global-thermal-comfort-da...,ASHRAE Global Thermal Comfort Database II,3MB,2020-07-21 02:47:43,1128,43,1.0
8,Data-quality,6,datasets,WUZZUF/wuzzuf-job-posts,WUZZUF Job Posts (2014-2016),40MB,2017-04-11 09:11:52,1611,40,0.85294116
10,Data-quality,6,datasets,mrpantherson/board-game-data,Board Game Data,1MB,2018-06-08 13:45:03,4622,125,0.7647059

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,7,datasets,shrutimehta/zomato-restaurants-data,Zomato Restaurants Data,5MB,2018-03-13 04:56:25,46264,629,0.7941176
4,Data-quality,7,datasets,andrewmvd/steam-reviews,Steam Reviews,685MB,2021-11-29 11:44:31,1513,55,1.0
6,Data-quality,7,datasets,piyushgoyal443/red-wine-dataset,Red Wine Dataset,29KB,2017-03-05 03:38:35,10401,84,0.85294116
8,Data-quality,7,datasets,ashishgup/netflix-rotten-tomatoes-metacritic-imdb,Latest Netflix data with 26+ joined attributes,5MB,2021-04-27 06:14:11,6005,107,1.0
10,Data-quality,7,datasets,monogenea/birdsongs-from-europe,Bird songs from Europe (xeno-canto),7GB,2020-03-23 15:35:20,844,46,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,8,datasets,sushantjhax/air-quality-data-set,Air Quality data set,2KB,2020-11-06 05:29:20,35,2,0.64705884
4,Data-quality,8,datasets,paytonfisher/sp-500-companies-with-financial-i...,S&P 500 Companies with Financial Information,30KB,2021-04-27 02:12:59,3192,54,1.0
6,Data-quality,8,datasets,fedesoriano/company-bankruptcy-prediction,Company Bankruptcy Prediction,5MB,2021-02-13 19:36:03,24716,549,1.0
8,Data-quality,8,datasets,lislejoem/us-minimum-wage-by-state-from-1968-t...,US Minimum Wage by State from 1968 to 2020,26KB,2020-12-31 17:06:26,24339,356,1.0
10,Data-quality,8,datasets,prasertk/top-1000-instagram-influencers,Top 1000 Instagram Influencers,39KB,2022-02-19 07:50:20,2012,51,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,9,datasets,piyushagni5/white-wine-quality,White Wine Quality,73KB,2020-09-28 11:10:37,6350,34,0.88235295
4,Data-quality,9,datasets,vbmokin/ammonium-prediction-in-river-water,Ammonium prediction in river water,20KB,2020-12-29 17:13:07,1118,69,1.0
6,Data-quality,9,datasets,surajjha101/tesla-share-price-for-last-5-years,Tesla share price since it listed,59KB,2022-04-11 07:51:49,658,128,1.0
8,Data-quality,9,datasets,ejlok1/toronto-emotional-speech-set-tess,Toronto emotional speech set (TESS),428MB,2019-08-24 23:03:36,10197,114,0.875
10,Data-quality,9,datasets,arnavr10880/voice-call-quality-customer-experi...,Voice Call Quality Customer Experience (India),4KB,2022-02-27 14:00:01,468,30,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,10,datasets,gpiosenka/sports-classification,100 Sports Image Classification,477MB,2022-01-13 16:08:31,4483,106,0.8235294
4,Data-quality,10,datasets,uciml/student-alcohol-consumption,Student Alcohol Consumption,18KB,2016-10-19 15:52:39,114436,1653,0.85294116
6,Data-quality,10,datasets,solarmainframe/ids-intrusion-csv,IDS 2018 Intrusion CSVs (CSE-CIC-IDS2018),2GB,2020-10-01 23:35:58,8218,71,0.9705882
8,Data-quality,10,datasets,holmjason2/videogamedata,Video Game Sales Data,478KB,2021-08-16 16:44:14,1397,36,0.9411765
10,Data-quality,10,datasets,jihyeseo/seoulairreport,Air pollutants measured in Seoul,43KB,2017-11-24 14:43:19,2292,39,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,1,datasets,xiaowenlimarketing/international-student-time-...,Student Time Management Performance Dataset,3KB,2019-03-05 11:37:41,3538,67,0.8235294
4,Data-management,1,datasets,headsortails/us-natural-disaster-declarations,US Natural Disaster Declarations,4MB,2023-01-04 01:07:37,2576,102,1.0
6,Data-management,1,datasets,techsash/waste-classification-data,Waste Classification data,427MB,2019-06-16 03:24:52,16006,321,0.875
8,Data-management,1,datasets,anikannal/solar-power-generation-data,Solar Power Generation Data,2MB,2020-08-18 15:52:03,28773,810,1.0
10,Data-management,1,datasets,surajjha101/bigbasket-entire-product-list-28k-...,BigBasket Entire Product List (~28K datapoints),6MB,2022-06-22 12:51:18,5462,186,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,2,datasets,ranadeep/credit-risk-dataset,Credit Risk Analysis,101MB,2021-06-12 14:52:07,2337,54,0.9705882
4,Data-management,2,datasets,vetrirah/av-healthcare2,Health Care Analytics - 2,7MB,2020-09-06 17:21:06,1723,35,1.0
6,Data-management,2,datasets,jpacse/datasets-for-churn-telecom,telecom churn (cell2cell),4MB,2018-12-14 16:22:18,5782,88,0.64705884
8,Data-management,2,datasets,yasserh/housing-prices-dataset,Housing Prices Dataset,5KB,2022-01-12 18:18:46,4970,59,1.0
10,Data-management,2,datasets,roche-data-science-coalition/uncover,UNCOVER COVID-19 Challenge,258MB,2022-05-02 16:35:45,22941,1297,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,3,datasets,claytonmiller/large-building-management-system...,Large Building Management System Time-Series Data,232MB,2021-09-27 04:16:32,104,8,0.64705884
4,Data-management,3,datasets,fedesoriano/heart-failure-prediction,Heart Failure Prediction Dataset,9KB,2021-09-10 18:11:57,85524,1946,1.0
6,Data-management,3,datasets,dheerajmpai/hospitals-and-beds-in-india,Hospitals and beds in India (Statewise),5KB,2020-03-27 14:05:50,5406,119,0.9411765
8,Data-management,3,datasets,mathchi/online-retail-ii-data-set-from-ml-repo...,Online Retail II Data Set from ML Repository,58MB,2021-06-14 07:41:48,3417,88,1.0
10,Data-management,3,datasets,laavanya/human-stress-detection-in-and-through...,Human Stress Detection in and through Sleep,3MB,2022-02-15 18:36:50,8627,102,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,4,datasets,divyansh22/toronto-covid19-cases,Toronto COVID-19 Cases,152KB,2020-07-17 09:48:52,652,28,1.0
4,Data-management,4,datasets,varpit94/goldman-sachs-stock-data-updated-till...,Goldman Sachs Stock Data,130KB,2022-03-25 16:09:03,458,25,1.0
6,Data-management,4,datasets,stefanoleone992/european-funds-dataset-from-mo...,European Funds dataset from Morningstar,23MB,2020-11-26 19:03:37,1111,32,1.0
8,Data-management,4,datasets,ardisragen/indonesia-coronavirus-cases,Indonesia-Coronavirus,10KB,2020-04-15 11:15:41,10562,170,0.9411765
10,Data-management,4,datasets,allen-institute-for-ai/CORD-19-research-challenge,COVID-19 Open Research Dataset Challenge (CORD...,18GB,2022-06-06 19:39:40,154791,10245,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,5,datasets,aguado/bike-rental-data-set-uci,Bike Rental Data Set - UCI,124KB,2022-11-30 10:31:04,1262,35,1.0
6,Data-management,5,datasets,fema/federal-disasters,"""Federal Emergencies and Disasters 1953-Present""",374KB,2017-02-19 02:30:20,1660,42,0.8235294
8,Data-management,5,datasets,krantiswalke/bank-personal-loan-modelling,Bank_Personal_Loan_Modelling,61KB,2020-04-17 17:02:39,2391,38,0.64705884
10,Data-management,5,datasets,claytonmiller/construction-and-project-managem...,Construction/Project Management Report Examples,564KB,2021-09-16 06:42:55,997,30,0.88235295
12,Data-management,5,datasets,sidhus/crab-age-prediction,Crab Age Prediction,81KB,2021-11-21 03:39:02,1529,36,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,6,datasets,usforestservice/usfs-fia,USFS Forest Inventory and Analysis (FIA) Program,0B,2019-03-20 23:18:11,0,63,0.6764706
4,Data-management,6,datasets,pranay969/spark-fund-investment-analysis,Spark Fund Investment Analysis,6MB,2019-09-05 03:10:45,679,15,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,7,datasets,asjad99/it-incident-management-process,Process Mining for analytic-driven decision ma...,780KB,2022-04-08 21:51:31,329,13,1.0
4,Data-management,7,datasets,integjs/state-of-javascript-2016,"""The State of JavaScript 2016""",1MB,2016-12-05 02:09:40,264,14,0.7058824
6,Data-management,7,datasets,michaelbryantds/salmon-dataset,Salmon Dataset,77MB,2022-10-30 19:03:02,770,28,0.9411765
8,Data-management,7,datasets,prognosticshse/preventive-to-predicitve-mainte...,Preventive to Predictive Maintenance,3MB,2022-02-14 10:46:11,1112,28,1.0
10,Data-management,7,datasets,fedesoriano/covid19-effect-on-liver-cancer-pre...,COVID-19 effect on Liver Cancer Prediction Dat...,9KB,2022-09-26 17:20:37,1539,44,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
4,Data-management,8,datasets,arunasivapragasam/github-topics,Github Topics,2KB,2022-02-20 15:05:40,268,33,0.9411765
6,Data-management,8,datasets,shashwatwork/airfares-in-new-zealand,Airfares in New Zealand,1MB,2020-12-28 08:20:00,480,15,0.9411765
8,Data-management,8,datasets,mukeshmanral/fifa-data-for-eda-and-stats,Sports Data Analysis,1MB,2022-08-14 11:58:02,498,18,0.85294116
10,Data-management,8,datasets,theworldbank/country-policy-and-institutional-...,Country Policy and Institutional Assessment,101KB,2019-05-16 20:06:59,79,3,0.64705884
12,Data-management,8,datasets,rgupt44/wealth-management-customer-data,Wealth Management Customer Data,586KB,2019-09-25 05:25:03,408,2,0.14705883

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,9,datasets,pranjalverma08/sec-edgar-annual-financial-fili...,SEC Edgar Annual Financial Filings - 2021,63MB,2022-04-14 10:23:31,107,28,0.8125
4,Data-management,9,datasets,imdevskp/kerala-floods-2018,Kerala Floods 2018,96KB,2019-11-12 13:29:52,1065,15,1.0
6,Data-management,9,datasets,saurabhshahane/time-series-in-risk-assessment,Time Series in Risk Assessment,9MB,2021-06-13 20:14:14,358,16,0.9411765
10,Data-management,9,datasets,cdc/childhood-blood-lead-surveillance,Childhood Blood Lead Surveillance,135KB,2017-04-30 20:01:39,698,19,0.8235294
12,Data-management,9,datasets,granjithkumar/it-employees-data-for-project-al...,IT Employees Data For Project Allocation,280KB,2021-04-27 06:18:27,212,10,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,10,datasets,inIT-OWL/versatileproductionsystem,Versatile Production System,355KB,2018-09-12 13:32:32,2419,78,0.85294116
4,Data-management,10,datasets,srinivasav22/sales-transactions-dataset,Sales Transactions Dataset,2MB,2020-02-12 08:33:57,988,12,0.5294118
6,Data-management,10,datasets,mrwellsdavid/unsw-nb15,UNSW_NB15,149MB,2019-01-29 01:06:31,9624,124,0.5294118
8,Data-management,10,datasets,tunguz/covid19-finance-sector-related-policy-r...,COVID-19 Finance Sector Related Policy Responses,682KB,2021-04-17 17:21:16,377,14,1.0
10,Data-management,10,datasets,usdeptofag/pesticide-data-program-2013,Pesticide Data Program (2013),12MB,2019-11-17 23:46:51,721,22,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,1,datasets,balaka18/email-spam-classification-dataset-csv,Email Spam Classification Dataset CSV,2MB,2020-03-10 05:08:13,19482,144,0.9117647
4,Csv-dataset,1,datasets,harsha547/indian-premier-league-csv-dataset,Indian Premier League CSV dataset,721KB,2016-12-29 23:08:28,18427,143,0.7058824
6,Csv-dataset,1,datasets,columbine/imdb-dataset-sentiment-analysis-in-c...,IMDB dataset (Sentiment analysis) in CSV format,26MB,2019-11-28 15:44:05,15570,107,1.0
8,Csv-dataset,1,datasets,prathamsharma123/farmers-protest-tweets-datase...,Farmers Protest Tweets Dataset (CSV),315MB,2021-11-21 07:04:07,766,27,1.0
10,Csv-dataset,1,datasets,oddrationale/mnist-in-csv,MNIST in CSV,15MB,2018-05-19 02:24:20,89924,603,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,2,datasets,stefanoleone992/fifa-20-complete-player-dataset,FIFA 20 complete player dataset,15MB,2019-09-26 20:19:33,33108,577,1.0
4,Csv-dataset,2,datasets,robikscube/ubiquant-parquet,Ubiquant Competition Data in Parquet Format,13GB,2022-01-19 14:18:59,4128,286,0.6875
6,Csv-dataset,2,datasets,camnugent/sandp500,S&P 500 stock data,19MB,2018-02-10 03:15:53,56605,942,0.7647059
8,Csv-dataset,2,datasets,silicon99/dft-accident-data,UK Car Accidents 2005-2015,112MB,2017-02-21 13:04:02,17108,194,0.7941176
10,Csv-dataset,2,datasets,utkarshxy/who-worldhealth-statistics-2020-comp...,World Health Statistics 2020|Complete|Geo-Anal...,1MB,2021-06-02 08:14:05,17045,792,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,3,datasets,kaushil268/disease-prediction-using-machine-le...,Disease Prediction Using Machine Learning,30KB,2020-05-15 03:58:44,12314,141,0.8235294
4,Csv-dataset,3,datasets,odins0n/top-50-cryptocurrency-historical-prices,TOP 50 Cryptocurrencies Historical Prices,2MB,2021-09-11 12:49:47,2668,130,1.0
6,Csv-dataset,3,datasets,budincsevity/szeged-weather,Weather in Szeged 2006-2016,2MB,2017-01-08 08:57:29,24745,254,0.8235294
8,Csv-dataset,3,datasets,shayanfazeli/heartbeat,ECG Heartbeat Categorization Dataset,99MB,2018-05-31 18:47:34,49039,680,0.5882353
10,Csv-dataset,3,datasets,snapcrack/all-the-news,All the news,244MB,2017-08-20 05:58:47,25179,532,0.7352941

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,4,datasets,gazu468/tpsoct22-feather-files,TPS-OCT22 Feather Files,4GB,2022-10-01 06:02:29,10,6,0.625
4,Csv-dataset,4,datasets,stefanoleone992/fifa-21-complete-player-dataset,FIFA 21 complete player dataset,83MB,2020-10-08 19:03:26,10383,175,1.0
6,Csv-dataset,4,datasets,gpiosenka/sports-classification,100 Sports Image Classification,477MB,2022-01-13 16:08:31,4483,106,0.8235294
8,Csv-dataset,4,datasets,neuromusic/avocado-prices,Avocado Prices,629KB,2018-06-06 05:28:35,202754,3278,0.9705882
10,Csv-dataset,4,datasets,therohk/million-headlines,A Million News Headlines,21MB,2022-06-11 14:08:07,34980,612,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,5,datasets,sogun3/uspollution,U.S. Pollution Data,26MB,2016-11-04 17:32:56,22615,438,0.7058824
4,Csv-dataset,5,datasets,promptcloud/jobs-on-naukricom,Jobs On Naukri.com,3MB,2020-06-15 10:51:07,2633,81,1.0
6,Csv-dataset,5,datasets,jeradrose/hearthstone-cards,Hearthstone Cards,745KB,2017-01-04 17:40:32,2593,111,0.8235294
8,Csv-dataset,5,datasets,tencars/392-crypto-currency-pairs-at-minute-re...,400+ crypto currency pairs at 1-minute resolution,2GB,2023-01-04 13:24:04,15791,529,0.8235294
10,Csv-dataset,5,datasets,residentmario/things-on-reddit,Things on Reddit,16MB,2017-10-26 14:10:15,9348,230,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,6,datasets,apollo2506/eurosat-dataset,EuroSat Dataset,2GB,2020-11-20 06:31:01,1951,47,0.8235294
4,Csv-dataset,6,datasets,kingburrito666/basic-computer-data-set,Basic Computer Data,41KB,2017-05-05 19:34:18,2765,33,0.8235294
6,Csv-dataset,6,datasets,mansibmursalin/ninapro-db1-full-dataset,Ninapro DB1 Full Dataset,588MB,2022-06-02 08:14:46,102,29,0.9117647
8,Csv-dataset,6,datasets,gpiosenka/100-bird-species,BIRDS 450 SPECIES- IMAGE CLASSIFICATION,2GB,2022-09-30 21:38:09,36303,859,0.85294116
10,Csv-dataset,6,datasets,arnabbiswas1/covid-vaccination-india-district-...,COVID-19 Vaccination India : District wise data,5MB,2021-10-01 00:37:48,1159,40,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,7,datasets,rishianand/devanagari-character-set,Devanagari Character Set,118MB,2017-11-21 10:15:09,3478,85,0.7647059
4,Csv-dataset,7,datasets,jvanelteren/boardgamegeek-reviews,BoardGameGeek Reviews,957MB,2022-01-19 17:55:20,2993,114,0.9411765
6,Csv-dataset,7,datasets,skylord/covid19-tests-conducted-by-country,Covid19 Tests Conducted by Country,146KB,2020-07-13 07:38:25,1283,40,0.9117647
8,Csv-dataset,7,datasets,vikasukani/parkinsons-disease-data-set,Parkinson‚Äôs Disease Data Set,16KB,2020-08-05 11:35:09,3588,58,1.0
10,Csv-dataset,7,datasets,jackdaoud/esports-earnings-for-players-teams-b...,eSports Earnings,42KB,2020-12-17 08:52:23,3178,54,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,8,datasets,kaggle/kaggle-survey-2017,2017 Kaggle Machine Learning & Data Science Su...,4MB,2017-10-27 22:03:03,26919,863,0.8235294
4,Csv-dataset,8,datasets,niharika41298/nutrition-details-for-most-commo...,Nutritional Facts for most common foods,6KB,2020-07-25 07:46:38,4159,76,1.0
6,Csv-dataset,8,datasets,manasgarg/ipl,Indian Premier League (Cricket),1MB,2017-11-23 01:33:56,56358,755,0.85294116
8,Csv-dataset,8,datasets,jeffreybraun/chipotle-locations,Chipotle Locations,124KB,2020-07-28 20:20:41,3373,76,1.0
10,Csv-dataset,8,datasets,kmader/rsna-bone-age,RSNA Bone Age,9GB,2018-01-24 14:37:16,15251,381,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,9,datasets,hassan06/nslkdd,NSL-KDD,14MB,2019-04-25 06:13:16,13234,128,0.625
4,Csv-dataset,9,datasets,kartik2khandelwal/speech-emotion-dataset,RAVDESS as .csv,763KB,2021-09-15 13:12:51,268,14,0.5882353
6,Csv-dataset,9,datasets,pdquant/sp500-daily-19862018,S&P500 Daily Prices 1986 - 2018,40KB,2018-09-22 20:23:27,3499,57,0.8235294
8,Csv-dataset,9,datasets,arhamrumi/amazon-product-reviews,Amazon Product Reviews,115MB,2021-07-11 17:40:05,1790,22,1.0
10,Csv-dataset,9,datasets,lperez/coronavirus-france-dataset,Coronavirus France dataset,10KB,2020-03-15 06:04:39,941,14,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,10,datasets,uciml/red-wine-quality-cortez-et-al-2009,Red Wine Quality,26KB,2017-11-27 23:41:08,163379,2305,0.88235295
4,Csv-dataset,10,datasets,paololol/league-of-legends-ranked-matches,League of Legends Ranked Matches,186MB,2017-10-26 11:35:10,7918,202,0.7647059
6,Csv-dataset,10,datasets,kingburrito666/shakespeare-plays,Shakespeare plays,5MB,2017-04-27 18:06:18,4912,100,0.7058824
8,Csv-dataset,10,datasets,adamschroeder/crimes-new-york-city,New York City Crimes,50MB,2017-08-11 04:54:29,5319,64,0.7941176
10,Csv-dataset,10,datasets,cdc/behavioral-risk-factor-surveillance-system,Behavioral Risk Factor Surveillance System,414MB,2017-08-24 00:16:13,9045,158,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,1,datasets,rtatman/iris-dataset-json-version,Iris Dataset (JSON Version),1KB,2018-04-06 20:21:31,10594,60,0.75
4,Json-dataset,1,datasets,yelp-dataset/yelp-dataset,Yelp Dataset,4GB,2022-03-17 22:59:01,102818,1513,0.75
6,Json-dataset,1,datasets,gunnvant/game-of-thrones-srt,Game of Thrones Subtitles,739KB,2018-02-20 10:22:36,45087,191,0.875
8,Json-dataset,1,datasets,prathamsharma123/farmers-protest-tweets-datase...,Farmers Protest Tweets Dataset (Raw JSON),191MB,2021-03-30 08:28:20,866,18,1.0
10,Json-dataset,1,datasets,krsna540/synthea-dataset-jsons-ehr,Synthea Dataset Jsons - EHR,2GB,2021-02-28 12:20:18,277,18,0.75

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,2,datasets,ltcmdrdata/plain-text-wikipedia-202011,Plain Text Wikipedia 2020-11,8GB,2020-11-27 22:42:48,1039,49,0.875
4,Json-dataset,2,datasets,shyamtgr/telugu-bible-dataset-json-format,Telugu Bible Dataset JSON & XML Format,5MB,2020-07-20 11:48:53,129,10,0.8125
6,Json-dataset,2,datasets,cdc/mortality,Death in the United States,731MB,2017-08-03 19:10:09,18638,322,0.7647059
8,Json-dataset,2,datasets,mrpantherson/board-game-data,Board Game Data,1MB,2018-06-08 13:45:03,4622,125,0.7647059
10,Json-dataset,2,datasets,rmisra/news-headlines-dataset-for-sarcasm-dete...,News Headlines Dataset For Sarcasm Detection,3MB,2019-07-03 23:52:57,35076,854,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,3,datasets,paolop/human-instructions-dataset-updated-json...,Human Instructions Dataset (Updated JSON files),232MB,2020-03-19 09:49:21,124,4,0.6875
4,Json-dataset,3,datasets,lightforever/mlcomp,mlcomp,16MB,2020-04-05 13:58:42,539,21,0.875
6,Json-dataset,3,datasets,zaharch/train-set-metadata-for-dfdc,Train set metadata for DFDC,11MB,2020-01-04 00:22:10,877,42,0.5
8,Json-dataset,3,datasets,4quant/eye-gaze,Eye Gaze,4GB,2018-06-27 07:15:30,4792,152,0.7941176
10,Json-dataset,3,datasets,simiotic/github-code-snippets,GitHub Code Snippets,7GB,2021-03-03 11:34:39,734,107,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,4,datasets,mistag/arthropod-taxonomy-orders-object-detect...,Arthropod Taxonomy Orders Object Detection Dat...,11GB,2020-06-12 19:58:11,1918,104,0.9375
4,Json-dataset,4,datasets,khushishahh/crime-in-india-2019,Crimes in India 2019,19KB,2021-08-24 16:59:32,873,24,0.9117647
6,Json-dataset,4,datasets,nickuzmenkov/ai4code-codebert-tokens,AI4Code CodeBert Tokens,3GB,2022-06-22 09:40:18,419,29,1.0
8,Json-dataset,4,datasets,imdevskp/nobel-prize,Nobel Prize Dataset,505KB,2020-07-26 15:03:33,2147,29,1.0
10,Json-dataset,4,datasets,harrywang/crypto-coven,Crypto Coven,3GB,2022-04-22 23:35:36,504,54,0.9705882

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,5,datasets,eb0x143839/covid-19-entities,COVID_19_Entities,168MB,2020-04-15 06:55:53,65,6,0.9705882
4,Json-dataset,5,datasets,joonasyoon/file-format-detection,Programming Laungages and File Format Detection,271MB,2022-05-09 13:50:28,478,29,0.9411765
6,Json-dataset,5,datasets,sandorkonya/5k-trachea-bifurcation-on-chest-xray,5k trachea bifurcation on chest xray,397KB,2021-02-20 14:47:33,96,22,0.75
8,Json-dataset,5,datasets,shubhmamp/english-premier-league-match-data,English Premier League in-game match data,6MB,2019-03-22 15:37:45,1978,53,0.75
10,Json-dataset,5,datasets,bsridatta/covid-19-italy-updated-regularly,Coronavirus COVID-19 Italy (updated regularly),56KB,2020-04-07 15:51:29,1273,29,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,6,datasets,aubertsigouin/biximtl,BIXI Montreal (public bicycle sharing system),166MB,2017-12-01 23:25:46,1555,54,0.7058824
4,Json-dataset,6,datasets,humansintheloop/semantic-segmentation-of-aeria...,Semantic segmentation of aerial imagery,30MB,2020-05-29 09:00:16,4283,106,0.75
6,Json-dataset,6,datasets,prokid1911/dota-2-all-hero-data-727d,Dota 2 - all hero data - 7.28b,80KB,2021-04-05 09:12:13,386,23,0.9117647
8,Json-dataset,6,datasets,suresrkumar/hand-sign-language-dataset-with-an...,Hand Sign Language DataSet with Annotation in ...,95MB,2020-02-28 01:55:59,91,2,0.625
10,Json-dataset,6,datasets,cashncarry/fifa-23-complete-player-dataset,FIFA 23 Complete Player Dataset [UPD:29/09/22],2MB,2022-09-29 19:34:27,2006,44,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,7,datasets,shinbg/lol-classic-rank-game-datakrtop-3-tier,LEAGUE of LEGENDS - KR Classic Game Data,670MB,2020-05-23 23:26:50,200,6,0.9117647
4,Json-dataset,7,datasets,muhammadmdurrani/annotated-skin,Annotated Skin,695MB,2021-01-30 06:09:02,180,9,1.0
6,Json-dataset,7,datasets,harshsinghal/javascript-libs-and-description-a...,Javascript libs and description and sites usin...,261KB,2022-10-30 07:50:24,23,9,0.75
8,Json-dataset,7,datasets,gauthamp10/apple-appstore-apps,Apple AppStore Apps,117MB,2021-10-14 07:28:30,1633,28,0.85294116
10,Json-dataset,7,datasets,tentotheminus9/yemen-data,Yemen Data,630KB,2018-08-03 12:40:46,369,17,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,8,datasets,fmitchell259/covid19-medical-paperscsv,COVID-19_medical_papers.csv,115MB,2020-03-17 20:07:30,140,9,0.7058824
4,Json-dataset,8,datasets,homelesssandwich/nhs-jobs,NHS Jobs,26MB,2019-11-22 23:26:39,180,9,0.9411765
6,Json-dataset,8,datasets,rmisra/news-category-dataset,News Category Dataset,27MB,2022-09-24 08:07:21,40711,601,1.0
8,Json-dataset,8,datasets,olgabelitskaya/geodata-for-exercises,GeoData for Exercises,41MB,2020-12-22 14:25:08,62,8,0.64705884
10,Json-dataset,8,datasets,mfrancis23/carnegie-museum-of-art,Carnegie Museum of Art,8MB,2020-08-19 19:45:37,175,10,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,9,datasets,lhanhsin/vizwiz,VizWiz-VQA,17GB,2022-07-01 09:31:41,14,7,0.875
4,Json-dataset,9,datasets,adinishad/yts-movie-dataset,YTS movie dataset,6MB,2022-07-28 16:27:53,87,24,0.6875
6,Json-dataset,9,datasets,joydeb28/nlp-benchmarking-data-for-intent-and-...,NLP Benchmarking Data for Intent and Entity,356KB,2020-04-30 11:42:02,531,7,0.5
8,Json-dataset,9,datasets,owaiskhan9654/amazon-womens-shirts-dataset,Amazon Women's Shirts dataset,52MB,2022-07-23 09:42:11,44,14,0.8235294
10,Json-dataset,9,datasets,holoong9291/china-province-city-latitude-longi...,Chinese boundary and coordinate for province&city,1MB,2021-12-27 02:53:52,30,8,0.8125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,10,datasets,praneshmukhopadhyay/amazon-questionanswer-dataset,Amazon Question/Answer Dataset,426MB,2021-12-15 20:51:26,207,9,1.0
4,Json-dataset,10,datasets,linkanjarad/coding-problems-and-solution-pytho...,Natural Language to Python Code,1MB,2022-04-23 02:01:26,133,12,0.6764706
6,Json-dataset,10,datasets,alexanejouglar/jeanmichel-trogneux-dataset,Jean-Michel Trogneux dataset,2MB,2022-04-05 09:01:20,8,7,0.7647059
8,Json-dataset,10,datasets,pinxau1000/radioml2018,DeepSig Dataset: RadioML 2018.01A,18GB,2021-07-27 10:48:21,786,14,1.0
10,Json-dataset,10,datasets,anshulmehtakaggl/table-tennis-games-dataset-ttnet,Table Tennis Games Dataset TTNet,60MB,2022-07-19 14:58:52,99,40,0.8125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,1,datasets,christianlillelund/donald-trumps-rallies,Donald Trump Rally Speeches,720KB,2020-09-26 10:25:08,4024,132,1.0
4,Txt-dataset,1,datasets,sudalairajkumar/daily-temperature-of-major-cities,Daily Temperature of Major Cities,13MB,2020-06-05 07:34:48,22391,371,1.0
6,Txt-dataset,1,datasets,valentynsichkar/traffic-signs-dataset-in-yolo-...,Traffic Signs Dataset in YOLO format,250MB,2020-04-03 22:25:16,8369,85,0.9375
8,Txt-dataset,1,datasets,hassan06/nslkdd,NSL-KDD,14MB,2019-04-25 06:13:16,13234,128,0.625
10,Txt-dataset,1,datasets,dasmehdixtr/drone-dataset-uav,Drone Dataset (UAV),716MB,2019-10-01 15:52:51,5216,170,0.9375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,2,datasets,aladdinpersson/flickr8kimagescaptions,Flickr8k-Images-Captions,1GB,2020-07-12 09:20:01,2489,47,0.5625
4,Txt-dataset,2,datasets,digvijayyadav/frenchenglish,English to French translations,6MB,2020-07-27 16:22:20,349,19,1.0
6,Txt-dataset,2,datasets,d0rj3228/russian-literature,Russian literature,21MB,2022-12-10 06:06:14,1344,48,0.9375
8,Txt-dataset,2,datasets,wanderfj/enron-spam,Enron-Spam dataset,29MB,2019-11-22 22:29:56,994,17,0.875
10,Txt-dataset,2,datasets,zusmani/mygenome,My Complete Genome,31MB,2021-05-15 03:19:18,2641,190,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,3,datasets,pawankumargunjan/imdb-review,IMDB Review,111MB,2022-11-18 04:30:08,650,29,0.9375
4,Txt-dataset,3,datasets,arkadiyhacks/drinking-waste-classification,Drinking Waste Classification,1GB,2020-05-10 18:48:55,2066,36,0.75
6,Txt-dataset,3,datasets,olgabelitskaya/image-examples-for-mixed-styles,Image Examples for Mixed Styles,75MB,2020-12-22 23:33:59,111,6,0.7647059
8,Txt-dataset,3,datasets,kushshah95/the-insurance-company-tic-benchmark,The Insurance Company (TIC) Benchmark,262KB,2020-05-27 16:36:41,1475,46,0.88235295
10,Txt-dataset,3,datasets,hijest/genre-classification-dataset-imdb,Genre Classification Dataset IMDb,42MB,2021-06-18 09:23:46,1712,57,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,4,datasets,abedkhooli/arabic-bert-corpus,Arabic BERT Corpus,2GB,2020-02-18 17:14:50,524,30,0.9375
4,Txt-dataset,4,datasets,qiriro/swell-heart-rate-variability-hrv,SWELL dataset,233MB,2019-01-31 12:54:35,3385,76,0.7058824
6,Txt-dataset,4,datasets,raynardj/classic-english-literature-corpus,Classic English Literature Corpus and Meta Data,160MB,2019-11-25 03:14:40,333,19,0.9375
8,Txt-dataset,4,datasets,boneacrabonjac/wiki-rfa,Wiki RfA,1MB,2021-08-04 06:00:55,49,8,1.0
10,Txt-dataset,4,datasets,sinclairg/surname-language-of-origin,Surname Language of Origin,3MB,2022-08-06 04:34:07,45,8,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,5,datasets,mathurinache/digital-peter,Digital Peter,915MB,2021-03-18 19:33:56,30,10,0.9411765
4,Txt-dataset,5,datasets,christianlillelund/2020-republican-convention-...,2020 Republican Convention Speeches,106KB,2020-08-29 09:52:24,110,7,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,6,datasets,jeremysun1224/cnn-dailymail-txt-dataset,CNN DailyMail txt dataset,471MB,2022-06-11 09:04:53,3,1,0.25
4,Txt-dataset,6,datasets,namrarehman/bbc-articles,BBC_Articles,2MB,2021-03-13 12:40:36,120,2,0.5294118
6,Txt-dataset,6,datasets,manishshah120/facial-expression-recog-image-ve...,Facial Expression Recog Image Ver of (FERC)Dat...,72MB,2020-06-28 17:11:47,703,17,0.75
8,Txt-dataset,6,datasets,alvations/google-product-taxonomy,Google Product Taxonomy,6MB,2017-08-18 05:50:47,693,25,0.64705884
10,Txt-dataset,6,datasets,khaledhweij/jordanian-traffic-signs,Jordanian (Arabic) Traffic signs in Yolo format,3GB,2022-06-20 18:52:16,44,14,0.6875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,7,datasets,shreyas0906/selfies-with-sunglasses,Selfies with Sunglasses,1KB,2016-08-24 06:26:29,585,22,0.6875
4,Txt-dataset,7,datasets,ankitbarai507/indian-vehicle-license-plates,Indian Vehicle License plates,31MB,2020-04-11 05:57:43,384,10,0.625
6,Txt-dataset,7,datasets,ayurgo/data-eeg-age-v1,EEG for Age Prediction,28GB,2020-08-21 03:16:07,3429,28,0.7647059
8,Txt-dataset,7,datasets,shaunthesheep/microsoft-catsvsdogs-dataset,Cats-vs-Dogs,788MB,2020-03-12 05:34:30,17371,245,0.875
10,Txt-dataset,7,datasets,stoicstatic/word2vecslim300k,Word2Vec-slim-300k,264MB,2020-09-30 04:43:08,64,15,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,8,datasets,andrewmvd/fundus-image-registration,Retina Fundus Image Registration,457MB,2020-04-20 13:31:08,350,20,0.875
4,Txt-dataset,8,datasets,mksaad/arabic-sentiment-twitter-corpus,Arabic Sentiment Twitter Corpus,17MB,2020-07-27 20:57:37,4961,63,0.88235295
6,Txt-dataset,8,datasets,furcifer/bangla-license-plates-synthetic,Bangla License Plates (Synthetic),149MB,2021-07-29 15:00:36,80,4,0.875
8,Txt-dataset,8,datasets,jjangdol/emg-data-for-gestures-data-set,EMG data for gestures Data Set,65MB,2021-05-03 11:18:30,72,6,0.6875
10,Txt-dataset,8,datasets,leite0407/ea-de-queiroz,E√ßa de Queiroz,7MB,2019-06-13 14:18:57,30,2,0.75

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,9,datasets,balabaskar/harry-potter-books-corpora-part-1-7,Harry Potter Books Corpora (Part 1 - 7),2MB,2022-06-10 01:53:08,3171,124,1.0
4,Txt-dataset,9,datasets,capsuleyolo/kyucapsule,The AICE Project Dataset,1GB,2022-04-10 11:14:16,90,9,0.8235294
6,Txt-dataset,9,datasets,nomihsa965/traffic-signs-dataset-mapillary-and...,Traffic Signs Dataset (Mapillary and DFG),12GB,2022-06-06 08:58:29,72,9,0.8125
8,Txt-dataset,9,datasets,baltacifatih/turkish-lira-banknote-dataset,Turkish Lira Banknote Dataset,3GB,2020-04-19 14:48:39,948,63,0.9375
10,Txt-dataset,9,datasets,luxedo/planos-de-governo-eleies-presidenciais-...,Planos de Governo - Elei√ß√µes Presidenciais 2018,13MB,2019-01-24 17:17:35,13,2,0.5625

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,10,datasets,ryleymcconkey/ml-turbulence-dataset,Turbulence modelling using machine learning,9GB,2022-03-04 20:50:12,1724,37,0.7647059
4,Txt-dataset,10,datasets,ipythonx/so-qn-classification,Stack Overflow Questions Classification,9MB,2022-07-17 12:09:08,5,3,0.375
6,Txt-dataset,10,datasets,gabrielaltay/credco-adstxt-and-sellersjson,Credibility Coalition AdSellers Dataset,304MB,2021-04-08 15:06:07,49,2,1.0
8,Txt-dataset,10,datasets,joosthazelzet/lego-brick-images,Images of LEGO Bricks,1020MB,2019-12-31 10:10:35,7832,191,0.9375
10,Txt-dataset,10,datasets,hazimahmed/imdb-tv-dataset,IMDb TV Dataset,13MB,2021-01-30 06:55:32,532,6,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,1,datasets,deepu1109/star-dataset,Star dataset to predict star types,3KB,2019-10-21 19:47:09,8075,200,1.0
4,Data-types,1,datasets,yamaerenay/mbtitypes-full,MBTI-TYPES Data,146KB,2021-01-31 21:33:31,546,20,1.0
6,Data-types,1,datasets,zeyadkhalid/mbti-personality-types-500-dataset,MBTI Personality Types 500 Dataset,123MB,2021-12-30 19:29:31,1369,36,0.88235295
8,Data-types,1,datasets,bahadoreizadkhah/face-mask-types-dataset,Face Mask Types Dataset,115MB,2022-07-05 00:04:04,178,26,0.75
10,Data-types,1,datasets,raddar/amex-data-integer-dtypes-parquet-format,AMEX data - integer dtypes - parquet format,4GB,2022-06-03 10:31:28,11979,690,0.4375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,2,datasets,crowww/a-large-scale-fish-dataset,A Large Scale Fish Dataset,3GB,2021-04-28 17:03:01,15684,870,0.9375
4,Data-types,2,datasets,aadhavvignesh/pubg-weapon-stats,PUBG Weapon Stats,2KB,2020-07-28 17:21:23,1221,32,0.88235295
6,Data-types,2,datasets,fanconic/skin-cancer-malignant-vs-benign,Skin Cancer: Malignant vs. Benign,325MB,2019-06-19 21:51:11,16998,310,0.75
8,Data-types,2,datasets,kaustubhb999/tomatoleaf,Tomato leaf disease detection,179MB,2020-04-24 15:18:16,7781,118,0.6875
10,Data-types,2,datasets,uciml/mushroom-classification,Mushroom Classification,34KB,2016-12-01 23:08:00,100215,2062,0.85294116

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,3,datasets,hoturam/bear-dataset,Bear dataset,8MB,2022-06-24 08:54:40,441,40,0.8125
4,Data-types,3,datasets,kenjee/ken-jee-youtube-data,Ken Jee YouTube Data,6MB,2022-01-22 20:38:53,2133,163,1.0
6,Data-types,3,datasets,sobhanmoosavi/us-weather-events,US Weather Events (2016 - 2021),80MB,2022-02-22 03:16:32,6303,108,1.0
8,Data-types,3,datasets,johnharshith/hollywood-theatrical-market-synop...,Hollywood Theatrical Market Synopsis 1995 to 2021,6KB,2021-11-14 16:07:38,15492,562,0.9705882
10,Data-types,3,datasets,rounakbanik/the-movies-dataset,The Movies Dataset,228MB,2017-11-10 02:40:38,258755,3084,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,4,datasets,sl6149/data-scientist-job-market-in-the-us,Data Scientist Job Market in the U.S.,16MB,2018-08-31 17:34:49,12332,327,0.7941176
4,Data-types,4,datasets,GoogleNewsLab/food-searches-on-google-since-2004,Food searches on Google since 2004,465KB,2017-11-01 16:58:42,2198,68,0.8235294
6,Data-types,4,datasets,piotrgrabo/breastcancerproteomes,Breast Cancer Proteomes,5MB,2019-11-14 05:15:12,12681,344,0.64705884
8,Data-types,4,datasets,misrakahmed/vegetable-image-dataset,Vegetable Image Dataset,534MB,2021-12-24 13:24:40,6787,75,0.75
10,Data-types,4,datasets,pranavuikey/zomato-eda,Zomato_EDA,89MB,2022-09-02 08:34:48,933,29,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,5,datasets,toramky/automobile-dataset,Automobile Dataset,5KB,2017-05-24 04:45:13,41823,319,0.7352941
4,Data-types,5,datasets,usharengaraju/indian-women-rehabilitation,sRNA sequencing - Pancreas (GSE84133),63MB,2020-04-05 16:29:01,186,149,0.875
6,Data-types,5,datasets,alexgude/california-traffic-collision-data-fro...,California Traffic Collision Data from SWITRS,1GB,2021-08-29 16:42:35,4822,454,0.9411765
8,Data-types,5,datasets,shubhamgoel27/dermnet,Dermnet,2GB,2020-06-24 08:17:50,6336,98,0.875
10,Data-types,5,datasets,gauravsahani/indian-currency-notes-classifier,Indian Currency Notes Classifier,20MB,2020-07-05 13:13:13,1178,45,0.75

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,6,datasets,citizen-ds-ghana/health-facilities-gh,Ghana Health Facilities,84KB,2018-09-03 01:19:24,3385,80,0.88235295
4,Data-types,6,datasets,lunamcbride24/pokemon-type-matchup-data,Pokemon Type Matchup Data,9KB,2020-10-14 18:56:23,1537,69,1.0
6,Data-types,6,datasets,kyakovlev/m5-aux-models,M5 - AUX models,391MB,2020-04-17 09:58:24,1528,50,1.0
8,Data-types,6,datasets,fdic/bank-failures,"""Commercial Bank Failures 1934-Present""",109KB,2017-03-09 16:05:31,2608,62,0.8235294
10,Data-types,6,datasets,hudsonstuck/stockx-data-contest,StockX Sneaker Data Contest,711KB,2020-07-18 04:25:37,2558,49,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,7,datasets,olgabelitskaya/traditional-decor-patterns,Traditional Decor Patterns,70MB,2020-10-18 18:53:30,875,34,0.7058824
4,Data-types,7,datasets,ealaxi/paysim1,Synthetic Financial Datasets For Fraud Detection,178MB,2017-04-03 08:40:34,62949,1191,0.88235295
6,Data-types,7,datasets,futurecorporation/epitope-prediction,COVID-19/SARS B-cell Epitope Prediction,1MB,2020-07-24 02:53:28,3098,147,1.0
8,Data-types,7,datasets,sshikamaru/face-mask-detection,Face Mask Detection,3MB,2022-06-26 17:05:11,845,37,0.8235294
10,Data-types,7,datasets,albenft/game-of-thrones-script-all-seasons,Game of Thrones Script All Seasons,691KB,2019-11-19 14:09:59,1629,43,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,8,datasets,JobsPikrHQ/usa-based-job-data-set-from-300-com...,US-based job data set from 300+ companies,12MB,2017-11-02 09:18:06,659,18,0.7058824
4,Data-types,8,datasets,saurabhshahane/cyberbullying-dataset,Cyberbullying Dataset,65MB,2022-10-22 00:20:11,1017,15,0.8235294
6,Data-types,8,datasets,shashwatwork/knee-osteoarthritis-dataset-with-...,Knee Osteoarthritis Dataset with Severity Grading,204MB,2021-04-08 06:50:09,1573,42,0.875
8,Data-types,8,datasets,akhilv11/border-crossing-entry-data,Border Crossing Entry Data,4MB,2019-08-21 14:51:34,9832,253,1.0
10,Data-types,8,datasets,mpwolke/cusersmarildownloadsgermancsv,Creditability - German Credit Data,13KB,2021-03-12 19:01:40,865,42,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,9,datasets,microize/newyork-yellow-taxi-trip-data-2020-2019,Newyork Yellow Taxi Trip Data,2GB,2022-05-02 01:22:55,2658,37,0.9411765
4,Data-types,9,datasets,census/2013-american-community-survey,2013 American Community Survey,916MB,2017-05-01 19:10:03,5984,98,0.7647059
6,Data-types,9,datasets,calebreigada/pokemon,Pok√©mon Stats (Pok√©mon Go),109KB,2022-05-27 13:02:12,778,37,1.0
8,Data-types,9,datasets,jpmiller/police-violence-racial-equity,Police Violence & Racial Equity - Part 2 of 2,1GB,2022-08-20 22:36:14,1275,44,0.9411765
10,Data-types,9,datasets,ophi/mpi,Multidimensional Poverty Measures,19KB,2018-02-16 18:24:39,6010,160,0.85294116

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,10,datasets,sohier/london-police-records,London Police Records,232MB,2017-08-15 00:11:34,2186,43,0.8235294
4,Data-types,10,datasets,code1110/numerai-train-validation-with-kazutsu...,[Numerai] train & validation with kazutsugi & ...,106MB,2020-12-26 08:53:27,62,11,1.0
6,Data-types,10,datasets,andradaolteanu/kaggle-data-science-survey-2017...,Kaggle Data Science Survey 2017-2021,18MB,2021-11-26 18:39:04,299,32,0.9411765
8,Data-types,10,datasets,vic006/beginner,Images,7GB,2019-10-21 10:40:40,1449,27,0.7058824
10,Data-types,10,datasets,texasdave/volcano-eruptions,Volcano Eruption Global Distribution,2KB,2018-05-25 15:27:58,2788,41,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,1,datasets,colearninglounge/employee-attrition,Employee Attrition,52KB,2020-08-26 03:38:50,3768,53,0.8235294
4,Numerical-data,1,datasets,lepchenkov/usedcarscatalog,Used-cars-catalog,824KB,2019-12-02 12:02:05,8023,119,1.0
6,Numerical-data,1,datasets,dshah1612/covid19-numerical-claims-open-resear...,COVID-19 Numerical Claims Open Research Dataset,29MB,2022-07-31 08:32:48,774,33,0.9411765
8,Numerical-data,1,datasets,colearninglounge/chronic-kidney-disease,Chronic Kidney Disease,10KB,2020-08-26 03:33:35,3361,42,0.8235294
10,Numerical-data,1,datasets,daalgi/fem-simulations,FEM simulations,183KB,2017-10-09 07:22:53,553,20,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,2,datasets,wcukierski/2016-march-ml-mania,2016 March ML Mania Predictions,28MB,2017-11-15 22:36:48,1963,61,0.64705884
6,Numerical-data,2,datasets,rmisra/clothing-fit-dataset-for-size-recommend...,Clothing Fit Dataset for Size Recommendation,40MB,2018-08-21 19:00:16,7518,154,1.0
10,Numerical-data,2,datasets,dataforyou/bankloan,Bank_Loan_data,563KB,2016-12-18 14:35:11,3894,50,0.4117647
12,Numerical-data,2,datasets,muratkokludataset/acoustic-extinguisher-fire-d...,Acoustic Extinguisher Fire Dataset,621KB,2022-04-02 22:59:36,2566,1648,0.9375
14,Numerical-data,2,datasets,saurabhshahane/body-measurements-dataset,Body Measurements Dataset,443KB,2021-10-20 06:15:01,1076,32,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,3,datasets,fydrose/macros-of-popular-high-protein-foods,Macros of Popular High Protein Foods,1KB,2022-11-19 15:50:31,495,28,1.0
4,Numerical-data,3,datasets,aljarah/xAPI-Edu-Data,Students' Academic Performance Dataset,6KB,2016-11-26 21:58:24,54580,689,0.7352941
6,Numerical-data,3,datasets,rajeshrampure/zomato-dataset,Zomato Dataset,89MB,2022-12-23 07:38:07,597,28,1.0
8,Numerical-data,3,datasets,whenamancodes/fraud-detection,Fraud Detection,66MB,2022-09-12 11:54:40,2696,57,1.0
10,Numerical-data,3,datasets,tangodelta/api-access-behaviour-anomaly-dataset,API security: Access behavior anomaly dataset,15MB,2021-11-22 11:27:16,656,22,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,4,datasets,twintyone/breaking-bad-ratings,"""Breaking Bad IMDb ratings votes and US views""",1KB,2020-08-26 03:27:42,146,3,1.0
4,Numerical-data,4,datasets,jvwilliams23/filtered-direct-numerical-simulat...,Filtered direct numerical simulation dataset,2GB,2022-07-28 19:56:29,8,1,0.9117647
6,Numerical-data,4,datasets,candicezhao28/edinburgh-airbnb-data,Edinburgh Airbnb Data,27MB,2022-06-16 13:04:04,109,8,0.8235294
8,Numerical-data,4,datasets,jjmewtw/offences-in-us-with-penalties,Offences in US with penalties,9KB,2020-10-19 15:31:47,45,9,1.0
10,Numerical-data,4,datasets,kailic/bts-lyrics,BTS Lyrics,182KB,2022-09-04 09:14:22,1002,47,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,5,datasets,omnamahshivai/dataset-readmission-proper-oneho...,Dataset Readmission proper onehot numerical retnd,906KB,2018-09-21 12:01:50,92,4,0.11764706
4,Numerical-data,5,datasets,meteogredu/models,Models data,27MB,2022-03-29 10:37:27,15,5,0.8235294
6,Numerical-data,5,datasets,sleymanzeynul/military-strengths-of-countries-...,Military Strengths of Countries - 2021,40KB,2021-10-23 20:22:02,168,11,0.5882353
8,Numerical-data,5,datasets,matiastaron/football-transfers-2020,Football transfers 2021,2MB,2022-02-01 22:27:51,285,10,0.85294116
10,Numerical-data,5,datasets,weinoose/migraine-classification,Data for Migraine Classification,3KB,2022-05-26 17:31:33,1890,55,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,6,datasets,arslanali4343/credit-card-cheating-detection-cccd,Credit Card Cheating Detection (CCCD),43MB,2020-10-07 20:24:31,625,87,0.9411765
4,Numerical-data,6,datasets,oakthyago/solarenergynortheastbrazil,Solar Energy Northeast Brazil,40MB,2022-11-19 03:39:13,51,7,0.88235295
6,Numerical-data,6,datasets,ryleymcconkey/ml-turbulence-dataset,Turbulence modelling using machine learning,9GB,2022-03-04 20:50:12,1724,37,0.7647059
8,Numerical-data,6,datasets,ishandutta/amphibians-data-set,Amphibians Data Set,3KB,2020-09-21 15:26:49,395,15,0.9411765
10,Numerical-data,6,datasets,hydramst/cars-moldova,Cars in Moldova (second hand market),1MB,2022-06-13 17:18:52,44,7,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,7,datasets,ruthgn/wine-quality-data-set-red-white-wine,Wine Quality Data Set (Red & White Wine),98KB,2021-11-03 01:26:46,1704,38,1.0
4,Numerical-data,7,datasets,evgenyparenchenkov/medium-202021-mlds-articles...,Medium 2020/21 articles with numerical stats,36MB,2022-04-05 13:21:47,37,4,1.0
6,Numerical-data,7,datasets,spatika/marvel-comics-characters-stats-and-powers,Marvel Comics Characters Stats and Powers,22KB,2021-05-27 12:48:10,540,23,0.7058824
8,Numerical-data,7,datasets,zakriasaad1/learn-to-prepare-data-for-machine-...,Textual Dataset of Articles From WOS and Scopus,5MB,2022-09-15 21:07:37,17,1,0.5294118
10,Numerical-data,7,datasets,yeanzc/malaysia-covid19-dataset,Malaysia Covid-19 Dataset,32KB,2021-07-20 11:39:59,897,14,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,9,datasets,johnmantios/teaching-assistant-evaluation-dataset,Teaching Assistant Evaluation Dataset,2KB,2021-02-03 09:22:23,245,3,1.0
4,Numerical-data,9,datasets,chelseazaloumis/cimis-dataset-with-fire-target,California Environmental Conditions Dataset,3MB,2020-10-02 16:37:59,302,10,0.64705884
6,Numerical-data,9,datasets,denzilg/hdb-flat-prices-19902021-march,HDB flat prices 1990-2021 March,68MB,2021-06-17 06:00:52,483,13,1.0
8,Numerical-data,9,datasets,jayantawasthi/stockhybridmodel,stockhybridmodel,2MB,2020-10-15 22:06:15,22,2,0.47058824
10,Numerical-data,9,datasets,harshilpatel355/autoirrigationdata,INTELLIGENT IRRIGATION SYSTEM,3KB,2020-06-28 07:58:40,2257,53,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,10,datasets,anishpai/ames-housing-dataset-missing,Ames Housing Dataset Engineered,192KB,2020-09-30 14:58:26,149,6,0.9117647
4,Numerical-data,10,datasets,mohamedziauddin/mh-work-hour-prediction,MH : Work Hour Prediction,443KB,2021-09-27 12:29:13,90,7,0.5294118
6,Numerical-data,10,datasets,nbroad/feedbackprize-bio-ner-train-data,feedback-prize: bio ner train data,122MB,2021-12-29 17:52:33,53,6,0.5625
8,Numerical-data,10,datasets,saurabhprakashgiri/instagram-post-reach,Instagram Post Reach,17KB,2021-01-23 03:58:46,266,8,0.5882353
10,Numerical-data,10,datasets,lambdamore/precipitation-machine,Precipitation Machine,5MB,2018-10-21 21:33:12,171,10,0.5625

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,1,datasets,nicapotato/womens-ecommerce-clothing-reviews,Women's E-Commerce Clothing Reviews,3MB,2018-02-03 19:59:19,53968,959,0.88235295
4,Categorical-variables,1,datasets,iamhungundji/covid19-symptoms-checker,COVID-19 Symptoms Checker,912KB,2020-03-21 06:05:59,17572,221,1.0
6,Categorical-variables,1,datasets,volodymyrgavrysh/bank-marketing-campaigns-dataset,Bank marketing campaigns dataset | Opening Dep...,391KB,2020-01-12 10:35:36,9762,155,1.0
8,Categorical-variables,1,datasets,sajidsaifi/prostate-cancer,Prostate Cancer,2KB,2018-10-19 15:47:48,5508,64,0.7647059
10,Categorical-variables,1,datasets,harrywang/housing,California Housing Data (1990),400KB,2018-05-10 15:56:31,11831,139,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,2,datasets,ranja7/vehicle-insurance-customer-data,Insurance,346KB,2019-05-31 09:31:07,2033,34,0.64705884
4,Categorical-variables,2,datasets,raosuny/success-of-bank-telemarketing-data,Success of Bank Telemarketing Data,124KB,2019-11-26 08:06:09,805,13,0.7058824
6,Categorical-variables,2,datasets,mrsantos/hcc-dataset,HCC dataset,2MB,2019-01-03 18:06:17,3488,58,0.7647059
8,Categorical-variables,2,datasets,rishikeshkonapure/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-10-29 06:29:47,961,32,1.0
10,Categorical-variables,2,datasets,psvishnu/bank-direct-marketing,Bank Direct Marketing,576KB,2019-11-29 15:37:45,1391,27,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,3,datasets,cformey24/ufc-fights-data-1993-2232016,UFC Fights Data 1993 - 2/23/2016,362KB,2017-09-13 03:41:30,473,18,0.5882353
4,Categorical-variables,3,datasets,dsfelix/employees-payroll-in-los-angeles,Employees' Payroll in Los Angeles,52MB,2022-06-23 18:03:12,284,16,1.0
6,Categorical-variables,3,datasets,dylanbollard/covid19-effect-on-grades-construc...,COVID-19 Effect on Grades,945KB,2021-04-23 21:01:58,1888,33,0.64705884
8,Categorical-variables,3,datasets,tunguz/bank-marketing-data-set,Bank Marketing Data Set,1MB,2021-04-14 18:17:27,353,14,1.0
10,Categorical-variables,3,datasets,thedevastator/uncovering-factors-that-affect-u...,Used Cars,18MB,2022-12-06 13:36:08,1170,35,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,4,datasets,ashrafkhan94/german-credit-history,German Credit History,15KB,2021-02-01 08:11:30,136,5,0.8235294
4,Categorical-variables,4,datasets,singhakash/bank-marketing-dataset,bank marketing dataset,578KB,2020-07-12 05:27:22,119,11,0.5294118
6,Categorical-variables,4,datasets,gobert/bank-telemarketing-moro-et-al,Bank Telemarketing (moro et al.),58KB,2017-06-15 11:25:19,587,3,0.64705884
8,Categorical-variables,4,datasets,tomculihiddleston/bank-customer-data-in-vietnam,Bank Customer Data in VietNam,501KB,2021-06-21 15:49:32,464,6,0.47058824
10,Categorical-variables,4,datasets,willianleite/german-credit-card,German Credit Card,15KB,2021-08-10 15:17:35,128,1,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,5,datasets,willianleite/diagnose-to-surgery-complications,Diagnose to Surgery Complications,12KB,2021-11-26 12:12:59,154,2,0.9411765
4,Categorical-variables,5,datasets,milindtakate/movie-ratings,Movie_Ratings,251KB,2021-02-27 11:29:26,77,3,0.6764706
6,Categorical-variables,5,datasets,johnprasanth/covid-19-weather-dataset,Covid_19_Weather_Dataset,465KB,2020-04-17 19:16:30,140,2,1.0
8,Categorical-variables,5,datasets,raphaelmarconato/detran-accidents-2020,Car Accident 2020 - (EDA and Classification),363KB,2022-08-21 13:13:59,74,7,0.5294118
12,Categorical-variables,5,datasets,dscarpetta/sepsis-fictitious-data,Sepsis dataset,55KB,2022-12-08 09:34:11,24,2,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,6,datasets,muhammetvarl/global-terrorism,Global Terrorism,29MB,2020-11-12 14:55:13,212,9,0.9411765
4,Categorical-variables,6,datasets,shamiulislamshifat/it-incident-log-dataset,IT_incident_log_Dataset,2MB,2020-07-04 15:11:05,351,15,0.47058824
6,Categorical-variables,6,datasets,davidfuenteherraiz/messy-imdb-dataset,Messy IMDB dataset,5KB,2021-03-18 03:27:30,264,3,0.47058824
8,Categorical-variables,6,datasets,newboots/convict2,convict2,1MB,2020-06-03 06:46:36,12,0,0.23529412
10,Categorical-variables,6,datasets,edith2021/fifa-18-player-prediction,FIFA 18 PLAYER Performance PREDICTION,6MB,2021-02-25 06:02:24,300,9,0.4117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,7,datasets,kareemmetwaly/cityscapes-attributes-recognitio...,Cityscapes Attributes Recognition (CAR),23KB,2022-12-29 10:38:56,14,16,0.6875
4,Categorical-variables,7,datasets,tpmeli/cleaned-csv-2020-kaggle-ml-ds-survey,Cleaned CSV - 2020 Kaggle ML & DS Survey,2MB,2020-11-23 09:27:28,51,4,0.5294118
6,Categorical-variables,7,datasets,ciphernine/drugs-and-risk-factors,Drug Use and Associated Risk Factors,698KB,2022-08-09 02:29:00,136,1,0.47058824
8,Categorical-variables,7,datasets,northpatawee/ficoloans,LendingClub,237KB,2021-11-09 15:13:25,43,6,0.7058824
10,Categorical-variables,7,datasets,cynthycynthy/titanicdataset,Titanic Dataset Competition,1KB,2022-12-19 08:44:11,1,1,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,8,datasets,sharmaharsh/microsoft-capstone,Microsoft Professional Capstone DataSet,7MB,2017-10-22 02:14:45,298,7,0.5294118
4,Categorical-variables,8,datasets,slappdun/dallas-animal-shelter,Dallas Animal Shelter,5MB,2021-03-31 01:45:24,40,2,0.47058824
6,Categorical-variables,8,datasets,bandilswati/lead-scoring-for-xyz-company,Lead Scoring for Xyz Company,1MB,2022-04-26 11:25:44,13,2,0.47058824
8,Categorical-variables,8,datasets,gan2gan/austin-bicycle-crashes-from-20102017,Austin Bicycle Crashes from 2010-2017,137KB,2022-05-14 18:10:18,29,7,0.7647059
10,Categorical-variables,8,datasets,gauravduttakiit/predict-the-house-prices-king-...,Predict the House Prices - King County,573KB,2022-09-17 05:36:19,14,2,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,1,datasets,jamesleslie/titanic-cleaned-data,Titanic: cleaned data,36KB,2018-11-21 11:50:18,5722,61,0.7647059
4,Missing-values,1,datasets,uciml/breast-cancer-wisconsin-data,Breast Cancer Wisconsin (Diagnostic) Data Set,49KB,2016-09-25 10:49:04,256361,2939,0.85294116
6,Missing-values,1,datasets,heptapod/titanic,Titanic,11KB,2017-05-16 08:14:22,49093,914,0.7058824
8,Missing-values,1,datasets,uciml/electric-power-consumption-data-set,Household Electric Power Consumption,19MB,2016-08-23 17:02:15,22461,285,0.75
10,Missing-values,1,datasets,arslanali4343/real-estate-dataset,Real Estate DataSet,12KB,2020-09-28 21:25:33,17304,332,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,2,datasets,arashnic/hr-analytics-job-change-of-data-scien...,HR Analytics: Job Change of Data Scientists,295KB,2020-12-07 00:25:10,43290,1223,1.0
4,Missing-values,2,datasets,tmdb/tmdb-movie-metadata,TMDB 5000 Movie Dataset,9MB,2017-09-28 01:09:12,243567,3239,0.8235294
6,Missing-values,2,datasets,azeembootwala/titanic,Titanic,12KB,2017-06-05 12:14:37,15290,155,0.8235294
8,Missing-values,2,datasets,imoore/age-dataset,"""Age dataset: life work and death of 1.22M peo...",34MB,2022-06-07 08:56:52,4193,133,1.0
10,Missing-values,2,datasets,therohk/ireland-historical-news,Irish Times - Waxy-Wany News,52MB,2021-09-25 10:52:48,3133,161,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,3,datasets,salihacur/diabetes,diabetes,9KB,2020-03-21 13:50:58,1834,30,0.9411765
4,Missing-values,3,datasets,cnic92/200-financial-indicators-of-us-stocks-2...,200+ Financial Indicators of US stocks (2014-2...,15MB,2020-01-18 17:16:22,10312,249,0.9705882
6,Missing-values,3,datasets,arianazmoudeh/airbnbopendata,Airbnb Open Data,10MB,2022-08-01 15:58:10,13128,177,1.0
8,Missing-values,3,datasets,saurabhshahane/ecommerce-text-classification,Ecommerce Text Classification,8MB,2022-12-31 14:40:17,958,22,1.0
10,Missing-values,3,datasets,uciml/el-nino-dataset,El Nino Dataset,3MB,2016-11-06 21:02:18,2423,48,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,4,datasets,saurabhshahane/body-measurements-dataset,Body Measurements Dataset,443KB,2021-10-20 06:15:01,1076,32,0.9411765
4,Missing-values,4,datasets,aneelaabdullah/housepriceprediction-cleaned-da...,House-Price-Prediction Cleaned Dataset,49KB,2022-09-23 07:39:58,750,25,0.88235295
6,Missing-values,4,datasets,camnugent/ufo-sightings-around-the-world,UFO Sightings around the world,5MB,2017-08-15 15:46:17,3687,75,0.8235294
8,Missing-values,4,datasets,harrywang/housing,California Housing Data (1990),400KB,2018-05-10 15:56:31,11831,139,1.0
10,Missing-values,4,datasets,krantiswalke/bankfullcsv,bank-full.csv (Ensemble Techniques),481KB,2020-04-23 08:21:57,3944,32,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,5,datasets,jillanisofttech/diabetes-disease-updated-dataset,Diabetes Disease Updated Dataset,9KB,2022-03-26 11:55:28,1430,41,1.0
4,Missing-values,5,datasets,crailtap/taxi-trajectory,Taxi Trajectory Data,515MB,2018-04-12 11:41:23,5601,115,0.5882353
6,Missing-values,5,datasets,teertha/ushealthinsurancedataset,US Health Insurance Dataset,16KB,2020-02-16 04:43:53,7753,80,0.9411765
8,Missing-values,5,datasets,adamwurdits/finland-norway-and-sweden-weather-...,"""Finland Norway and Sweden Weather Data 2015-2...",135KB,2022-01-11 23:49:19,213,15,1.0
10,Missing-values,5,datasets,caesarlupum/vertebralcolumndataset,VertebralColumnDataSet,19KB,2020-01-09 03:53:16,971,47,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,6,datasets,claytonmiller/ashrae-global-thermal-comfort-da...,ASHRAE Global Thermal Comfort Database II,3MB,2020-07-21 02:47:43,1128,43,1.0
4,Missing-values,6,datasets,prakharjadaun/employee-data,Employee Data,19KB,2022-11-09 13:22:21,167,7,0.5294118
6,Missing-values,6,datasets,dileep070/logisticregression-telecomcustomer-c...,Logisticregression telecomCustomer churmpredic...,263KB,2019-06-07 09:37:06,2031,20,0.5882353
8,Missing-values,6,datasets,noaa/global-historical-climatology-network,Global Historical Climatology Network,5MB,2016-10-24 15:23:05,2697,64,0.7058824
10,Missing-values,6,datasets,devsubhash/television-brands-ecommerce-dataset,Television Brands Ecommerce Dataset,9KB,2021-11-17 08:28:32,1396,43,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,7,datasets,safacanmetin/handle-missing-values,Handle Missing Values,2KB,2020-10-24 13:25:36,34,1,0.1764706
4,Missing-values,7,datasets,fatihoge/myanimelist-top-12k-manga,myanimelist top 15k manga,5MB,2022-01-29 10:55:00,151,9,0.8235294
6,Missing-values,7,datasets,ajpass/myanimelist-mal-top-50-manga-dataset,MyAnimeList (MAL) top 50 manga dataset,14KB,2020-07-20 11:07:03,133,9,0.9705882
8,Missing-values,7,datasets,mirfanazam/amex-prediction-starter-level-2,AMEX Prediction - Starter - Level 2,773MB,2022-07-16 17:34:39,53,11,1.0
10,Missing-values,7,datasets,akashdeepkuila/big-mart-sales,Big Mart Sales,307KB,2021-09-16 16:56:18,3069,42,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,8,datasets,aditya2803/eminem-lyrics,Eminem Lyrics,476KB,2021-01-02 10:51:13,246,12,1.0
4,Missing-values,8,datasets,piyushgoyal443/red-wine-dataset,Red Wine Dataset,29KB,2017-03-05 03:38:35,10401,84,0.85294116
6,Missing-values,8,datasets,justin2028/daily-statistics-of-the-2022-iran-p...,Daily Statistics of the 2022 Iran Protests,2KB,2023-01-03 23:44:33,54,25,1.0
8,Missing-values,8,datasets,miroslavsabo/young-people-survey,Young People Survey,84KB,2016-12-06 03:10:30,39312,703,0.85294116
10,Missing-values,8,datasets,iamprateek/store-transaction-data,Store Transaction data,513KB,2020-03-18 05:27:48,2069,27,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
4,Missing-values,9,datasets,pavlofesenko/titanic-extended,Titanic extended dataset (Kaggle + Wikipedia),134KB,2019-03-06 09:53:24,10377,144,0.9411765
6,Missing-values,9,datasets,elikplim/forest-fires-data-set,Forest Fires Data Set,7KB,2017-09-04 04:08:24,9334,99,0.64705884
8,Missing-values,9,datasets,sripaadsrinivasan/klib-library-python,Klib library python,86MB,2021-01-11 04:18:48,41,5,0.875
10,Missing-values,9,datasets,jtrotman/kaggle-view-counts-2019-11,Kaggle View Counts: 2019-11,5MB,2019-11-30 22:09:28,21,4,0.88235295
12,Missing-values,9,datasets,hbfree/covid19formattedweatherjan22march24,covid19-formatted-&weather-jan22-march24,135KB,2020-03-25 10:53:10,411,26,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,10,datasets,danielpanizzo/wine-quality,Wine Quality,108KB,2017-10-29 19:56:48,4946,39,0.7352941
4,Missing-values,10,datasets,dimitryzub/russian-losses-in-russia-ukraine-war,Russian Losses in Russia Ukraine War,12KB,2022-10-13 13:11:50,67,5,0.9117647
6,Missing-values,10,datasets,blackbee2016/6-months-daily-diabetes-history,6 Months Daily Diabetes Measures,11KB,2018-12-29 23:03:51,708,22,0.6764706
8,Missing-values,10,datasets,jd1325/japan-population-data,Japan Population Data,20KB,2018-06-02 03:42:17,1141,30,0.7058824
10,Missing-values,10,datasets,brsdincer/antarctica-several-data-multi-task-i,ANTARCTICA SEVERAL DATA - MULTI TASK - I,93MB,2021-12-17 20:56:33,28,16,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,1,datasets,matheusfreitag/gas-prices-in-brazil,Gas Prices in Brazil,3MB,2022-03-11 18:03:57,15176,376,1.0
4,Null-values,1,datasets,mayureshkoli/best-universities-in-the-united-k...,Best Universities in the United Kingdom,9KB,2022-08-05 05:32:37,1977,41,1.0
6,Null-values,1,datasets,ariyoomotade/netflix-data-cleaning-analysis-an...,"""Netflix Data: Cleaning Analysis and Visualiza...",270KB,2022-08-26 09:25:43,10131,197,1.0
8,Null-values,1,datasets,huntermcgushion/rrv-weather-data,Weather Data for Recruit Restaurant Competition,11MB,2018-01-04 23:09:56,4561,81,0.7058824
10,Null-values,1,datasets,devsubhash/flipkart-mobiles-dataset,Flipkart Mobiles Dataset,54KB,2022-03-20 10:46:28,2524,52,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,2,datasets,claytonmiller/ashrae-global-thermal-comfort-da...,ASHRAE Global Thermal Comfort Database II,3MB,2020-07-21 02:47:43,1128,43,1.0
4,Null-values,2,datasets,sambhavsg/housing-prices-for-indian-cities,Housing Prices for Indian Cities,578KB,2022-10-07 15:17:49,169,7,1.0
6,Null-values,2,datasets,calebreigada/pokemon,Pok√©mon Stats (Pok√©mon Go),109KB,2022-05-27 13:02:12,778,37,1.0
8,Null-values,2,datasets,yrohit199/milk-quality,Milk quality,1KB,2022-09-17 19:20:22,462,9,0.7058824
10,Null-values,2,datasets,xodeum/handling-of-missing-values-in-python,Handling of missing values in python,3KB,2022-07-03 06:38:13,104,19,0.8125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,3,datasets,syedjaferk/book-crossing-dataset,Book Crossing Dataset,25MB,2021-10-21 03:09:40,160,11,1.0
4,Null-values,3,datasets,harrywang/propensity-score-matching,Quasi-experimental Methods,24KB,2022-06-02 14:43:02,300,11,1.0
6,Null-values,3,datasets,shibumohapatra/icmr-data,ICMR Dataset,71MB,2022-08-09 08:29:34,340,18,1.0
8,Null-values,3,datasets,tr1gg3rtrash/global-corruption-index,World Corruption Index Dataset,3KB,2022-09-04 04:00:37,600,40,0.9411765
10,Null-values,3,datasets,koureasstavros/parts-revenue-from-automotive-i...,Parts Revenue from Automotive Industry Dealer,23KB,2021-09-28 15:35:42,190,12,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,4,datasets,kkhandekar/oil-spills-off-us-coastal-waters,Oil spills off US coastal waters,934KB,2022-03-23 03:18:46,239,18,1.0
4,Null-values,4,datasets,crawford/jester-online-joke-recommender,Jester Online Joke Recommender,4MB,2017-07-14 21:56:38,808,14,0.8235294
6,Null-values,4,datasets,annaepishova/delphiepidata,COVIDcast CMU Delphi Research Group Epidata,18MB,2020-06-26 02:36:37,58,16,0.8235294
8,Null-values,4,datasets,calven22/usa-key-macroeconomic-indicators,USA Key Economic Indicators,20KB,2022-01-08 12:08:53,455,14,0.9411765
10,Null-values,4,datasets,lyonabido/hate-crime-statistics-annual-report-...,Hate Crime Statistics Annual Report for 2020,4MB,2022-04-02 09:22:31,284,7,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,5,datasets,doesnotcompile/nf-kc-house-data,King-County-Housing-Data-2014-2015,783KB,2022-11-07 10:46:57,18,7,0.9117647
4,Null-values,5,datasets,nowingkim/ecommerce-data-cosmetics-shop,eCommerce data - Cosmetics Shop,83MB,2022-03-14 09:33:54,826,28,0.88235295
6,Null-values,5,datasets,ajkarella/nyc-crime-stats,NYC Crime Stats,129MB,2021-06-03 06:51:46,399,7,0.88235295
8,Null-values,5,datasets,oracledevrel/formulaaihackathon2022,FormulaAIHackathon2022,103MB,2022-02-14 23:23:40,695,40,1.0
10,Null-values,5,datasets,ahmadjalalmasood123/amazon-varying-phones-dataset,Amazon varying phones Dataset,9KB,2022-10-22 08:39:13,12,4,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,6,datasets,guanhaopeng/uk-used-car-market,UK Used Car Listing Data,40MB,2022-12-11 23:44:56,95,2,1.0
4,Null-values,6,datasets,jordancarlen/host-deaths-to-malenia-blade-of-m...,"""Elden Ring: Deaths to Malenia Blade of Miquella""",33KB,2022-04-11 01:26:33,401,42,1.0
6,Null-values,6,datasets,tbhamidipati/aquaculture,Global Aquaculture Production 1950-2018,16KB,2020-10-10 16:55:09,162,7,0.7352941
8,Null-values,6,datasets,polarbearyap/speed-dating,speed dating,349KB,2020-10-15 06:28:03,159,2,0.9117647
10,Null-values,6,datasets,liudmilalitonina/cyclistic-clean-data,Cyclistic_clean_data,553MB,2021-12-13 23:43:45,13,1,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,7,datasets,abrarmisk/covid19-research-articles-ncbi,Covid-19 Research Articles (NCBI),692KB,2021-01-31 03:55:42,39,1,0.9411765
6,Null-values,7,datasets,hangawqadir/erbil-heart-disease-dataset,Erbil Heart Disease Dataset,5KB,2022-07-26 15:41:59,165,7,0.7647059
8,Null-values,7,datasets,yafethtb/south-sulawesi-temperature-and-precip...,South Sulawesi Temperature and Precipitation Data,12KB,2022-04-24 15:47:45,34,2,0.9411765
10,Null-values,7,datasets,ngawangchoeda/car-price-dataset,car_price dataset,6KB,2021-05-28 17:00:12,151,2,0.47058824
12,Null-values,7,datasets,quhujun/book-crossing,Book Crossing,25MB,2020-10-23 09:39:37,23,2,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,8,datasets,arintel/my-first-kaggle-project-for-good,My first Kaggle Project for Good,282KB,2019-06-21 15:28:24,8,1,0.29411766
4,Null-values,8,datasets,prathmeshs/mercedesbenz-greener-manufacturing-...,Mercedes-Benz Greener Manufacturing- Updated,5KB,2022-09-25 14:09:53,19,0,0.4375
6,Null-values,8,datasets,adrianneaxelson/rentlercom-us-rental-listings-...,rentler.com - US Rental Listings - Summer 2021,3MB,2022-08-27 16:04:33,24,0,0.7647059
8,Null-values,8,datasets,purvanahar/udacity-free-trial-screener-model-a...,Udacity Free Trial Screener Model Analysis,2KB,2021-04-11 11:00:36,91,3,0.7058824
10,Null-values,8,datasets,sebastienlevesqueeva/cyclistic,Cyclistic,2KB,2022-11-19 21:20:42,2,0,0.5625

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,1,datasets,mokar2001/house-price-tehran-iran,"""House Price (Tehran Iran)""",31KB,2021-09-06 08:00:48,1929,58,1.0
4,Outliers,1,datasets,broach/button-tone-sz,EEG data from basic sensory task in Schizophrenia,8GB,2019-01-31 18:26:06,4811,194,0.88235295
6,Outliers,1,datasets,rubenssjr/brasilian-houses-to-rent,brazilian_houses_to_rent,282KB,2020-03-25 22:51:17,10557,284,1.0
8,Outliers,1,datasets,drscarlat/time-series,Time Series with anomalies,4MB,2021-01-30 18:39:27,1355,15,0.64705884
10,Outliers,1,datasets,soumikrakshit/anime-faces,Anime Faces,441MB,2019-05-16 10:38:47,8021,175,0.625

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,2,datasets,johntrunix/home-sensordata,Home Sensordata,1MB,2022-01-13 20:10:03,308,18,1.0
4,Outliers,2,datasets,thedevastator/weather-anomalies-in-the-united-...,Weather Anomalies in the United States,94MB,2022-11-22 12:52:39,58,6,0.9411765
6,Outliers,2,datasets,meetnagadia/amazon-kindle-book-review-for-sent...,Amazon Kindle Book Review for Sentiment Analysis,6MB,2021-09-03 11:52:29,1771,38,1.0
8,Outliers,2,datasets,atulanandjha/temperature-readings-iot-devices,Temperature Readings : IOT Devices,1MB,2019-12-01 18:48:54,9846,212,1.0
10,Outliers,2,datasets,mrdaniilak/russia-real-estate-20182021,Russia Real Estate 2018-2021,111MB,2021-05-14 17:54:30,1945,39,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,3,datasets,aiaiaidavid/cardio-data-dv13032020,Cardiovascular diseases dataset (clean),448KB,2020-03-14 15:10:59,1794,18,0.9411765
4,Outliers,3,datasets,mryanm/luflow-network-intrusion-detection-data...,LUFlow Network Intrusion Detection Data Set,5GB,2022-12-31 08:40:25,1133,44,0.8125
6,Outliers,3,datasets,dawerty/cleaned-daytrading-training-data,Cleaned Day-Trading Training Data,42MB,2021-01-24 07:06:23,208,15,0.9117647
8,Outliers,3,datasets,calepa/water-conservation-supplier-compliance,Water Conservation Supplier Compliance,13KB,2016-11-17 00:07:34,611,14,0.8235294
10,Outliers,3,datasets,elikplim/forest-fires-data-set,Forest Fires Data Set,7KB,2017-09-04 04:08:24,9334,99,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,4,datasets,laurendobratz/iottown,IoT-Town,4KB,2022-04-24 20:09:15,128,12,1.0
4,Outliers,4,datasets,burakdilber/outliers-packages,Outlier packages in R,15KB,2022-08-06 19:23:42,10,12,0.47058824
6,Outliers,4,datasets,synysterjeet/food-classification,Food Classification,8GB,2020-07-30 18:01:36,317,11,0.3125
8,Outliers,4,datasets,ze1598/arknights-operator-stats,Arknights Operator Stats,369KB,2022-01-16 18:23:08,65,8,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,5,datasets,tamilselvanmoorthy/cassava-cleaned-dataset,cassava_cleaned_dataset,196KB,2021-01-20 08:58:58,30,3,0.47058824
4,Outliers,5,datasets,macrosynergy/fixed-income-returns-and-macro-tr...,JPMaQS Quantamental Indicators,20MB,2022-10-10 21:40:33,316,27,1.0
6,Outliers,5,datasets,seanthemalloy/board-game-geek-database,Board Game Geek Database,56MB,2020-07-10 01:13:02,303,13,0.5294118
8,Outliers,5,datasets,ivivan/real-time-water-quality-data,Real Time Water Quality Data,3MB,2020-07-01 05:07:12,345,3,0.88235295
10,Outliers,5,datasets,elijahtoumoua/chicago-analysis-of-crime-data-d...,Visualizing Chicago Crime Data,90MB,2022-07-01 17:50:10,547,19,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,6,datasets,vzaguskin/ion-ghost-drift-removed,ion_competition_with_ghost_drift_removed,63MB,2020-05-12 14:57:26,9,1,0.29411766
4,Outliers,6,datasets,zhonglifr/thyroid-disease-unsupervised-anomaly...,Thyroid Disease Unsupervised Anomaly Detection,83KB,2021-05-16 18:36:38,425,6,0.47058824
6,Outliers,6,datasets,atanaskanev/online-retail-business-cleaned-dat...,Online Retail Business Cleaned Dataset,7MB,2021-05-10 20:58:17,170,1,0.5294118
8,Outliers,6,datasets,printcraft/booru-chars-2022,BOORU CHARS 2022,308MB,2022-06-28 14:57:24,28,12,0.7058824
10,Outliers,6,datasets,briaclg/financial-data-of-french-compagnies,Financial data of French compagnies,12MB,2021-07-16 14:05:53,155,4,0.9705882

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,7,datasets,hamelhusain/githubissues,GitHub-Issues,2GB,2022-04-28 03:42:54,15,2,0.5294118
4,Outliers,7,datasets,thedevastator/unlocking-the-energy-consumption...,Energy Consumption of United States Over Time,217KB,2022-12-14 04:37:34,8,1,0.9411765
6,Outliers,7,datasets,thedevastator/know-your-worth-tech-salaries-in...,Tech Salaries,62KB,2022-12-04 14:46:41,168,4,0.9411765
8,Outliers,7,datasets,ericsbrown/winter-olympics-prediction-fantasy-...,Winter Olympics Prediction - Fantasy Draft Picks,5KB,2022-01-19 21:06:18,83,5,0.5882353
10,Outliers,7,datasets,elijahtoumoua/bellabeat,BellaBeat - Case Study,2KB,2022-06-11 00:41:54,68,9,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,8,datasets,annabelhonorlissi/case-study-mlai-salaries,Case Study: ML/AI Salaries,11KB,2022-12-15 17:48:23,11,0,0.88235295
4,Outliers,8,datasets,nwanalytics/customer-activity,Customer Activity,71KB,2022-11-12 06:03:41,94,1,0.47058824
6,Outliers,8,datasets,jmmvutu/lottery-features-for-machine-learning-ai,Lottery features for time series Machine Learning,1MB,2021-04-14 13:05:51,114,4,0.8235294
8,Outliers,8,datasets,pedrogonalvesmag/no-outliers-logcsv,no_outliers_log.csv,25MB,2022-12-21 20:18:53,1,0,0.23529412
10,Outliers,8,datasets,rajesh289766/train-outliers-removed,train_outliers_removed,2MB,2018-06-30 12:30:45,19,0,0.11764706

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-transformation,1,datasets,uciml/glass,Glass Classification,3KB,2017-01-27 17:27:48,28948,305,0.8235294
4,Data-transformation,1,datasets,mlg-ulb/creditcardfraud,Credit Card Fraud Detection,66MB,2018-03-23 01:17:27,477698,9709,0.85294116
6,Data-transformation,1,datasets,xvivancos/barcelona-data-sets,Barcelona data sets,1MB,2020-02-15 23:29:29,15897,346,1.0
8,Data-transformation,1,datasets,teertha/ushealthinsurancedataset,US Health Insurance Dataset,16KB,2020-02-16 04:43:53,7753,80,0.9411765
10,Data-transformation,1,datasets,caesarmario/application-data,Credit Card Approval Prediction (Cleaned Version),296KB,2022-03-07 07:02:31,1666,50,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-transformation,3,datasets,hadasu92/cnn-articles,"""CNN Articles Raw data""",18MB,2022-03-15 21:06:20,106,6,0.9117647
4,Data-transformation,3,datasets,aslanahmedov/market-basket-analysis,Market Basket Analysis,23MB,2021-12-09 00:27:56,3855,63,1.0
6,Data-transformation,3,datasets,zhangyunsheng/orange-to-apple,Orange_to_Apple,75MB,2020-06-20 02:10:50,96,5,0.6875
8,Data-transformation,3,datasets,parasharmanas/global-hunger-index-2022-trends,Global Hunger Index 2022 Trends,3KB,2022-12-28 13:37:11,61,11,0.9705882
10,Data-transformation,3,datasets,ealtman2019/credit-card-transactions,Credit Card Transactions,263MB,2021-10-14 17:42:24,3888,54,0.85294116

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-transformation,4,datasets,robertolofaro/eu-recovery-and-resilience-facil...,EU recovery and resilience facility current st...,5KB,2021-07-23 17:55:37,47,5,1.0
4,Data-transformation,4,datasets,rezalesmana/tally-marks-dataset,Tally Marks Dataset,38MB,2021-11-30 16:37:50,56,26,0.875
6,Data-transformation,4,datasets,ariosliew92/jobactive-employment-fund,Jobactive Employment Fund,51MB,2022-01-01 03:43:59,43,3,1.0
8,Data-transformation,4,datasets,jogwums/python-mini-project-2022,Python Mini Project 2022,7MB,2022-06-06 17:50:29,101,6,0.9411765
10,Data-transformation,4,datasets,angelmartinezromero/solarlabeledv1,SolarLabeled.V1,585MB,2021-09-29 20:04:01,17,5,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-transformation,5,datasets,jprukundo/ubudehelivestock1,Ubudehe Livestock 1,509KB,2017-08-03 19:22:59,263,16,0.85294116
4,Data-transformation,5,datasets,alfrandom/human-genome-annotation,Human genome annotation in CSV,32MB,2018-06-15 22:10:17,625,10,0.64705884
6,Data-transformation,5,datasets,alwaysplanahea/bc-hydro-2016-salaries,BC Hydro 2016 Salaries,68KB,2018-12-04 06:38:32,48,1,0.64705884
8,Data-transformation,5,datasets,rohitfarmer/classify-the-bitter-or-sweet-taste...,Classify the bitter or sweet taste of compounds,24MB,2022-09-21 21:12:18,66,3,1.0
10,Data-transformation,5,datasets,mpwolke/cusersmarildownloadsdoriangjpg,DorianG Deep Learning,320KB,2021-09-22 23:43:40,17,16,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-transformation,6,datasets,aslanahmedov/star-wars-chat-bot,Star Wars Chat Bot,3KB,2021-12-08 00:09:39,363,16,1.0
6,Data-transformation,6,datasets,furkangozukara/ecommerce-products-dataset-for-...,E-Commerce Products Dataset For Record Linkage,206MB,2023-01-04 06:44:57,168,24,0.875
8,Data-transformation,6,datasets,silverhugh/trance,TRANCE,56GB,2021-01-21 11:56:37,133,2,0.8125
12,Data-transformation,6,datasets,new-york-state/nys-residential-homes-energy-ef...,NYS Residential Homes Energy Efficiency Projects,4MB,2021-07-01 04:05:50,654,6,0.64705884
14,Data-transformation,6,datasets,srmourasilva/zoom-g3-patches,Zoom G3 Patches,30KB,2021-03-27 18:29:46,54,3,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-transformation,7,datasets,shrutijainn/cyclist-google-data-analytics-caps...,Cyclist Google Data Analytics Capstone Project R,13KB,2022-10-17 07:32:29,3,0,0.5625
4,Data-transformation,7,datasets,yekahaaagayeham/ineuron-projectathon-octnov21,iNeuron Projectathon Oct-Nov'21,3MB,2021-10-22 16:26:56,29,3,0.4117647
6,Data-transformation,7,datasets,sarangdilipjodh/speaker-mfcc-image-data,Speaker MFCC image data,329MB,2022-08-12 05:55:04,5,8,0.75
8,Data-transformation,7,datasets,alicia7201/prac3-data,prac3 data,638KB,2021-03-28 13:03:27,4,1,0.0
10,Data-transformation,7,datasets,emericbraud/chess-positions-stockfish15-evalua...,Chess Positions StockFish15 Evaluation (depth 0),39MB,2022-11-09 21:52:32,2,0,0.4375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Principal-Component-Analysis-(PCA),1,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35847,1522,0.88235295
4,Principal-Component-Analysis-(PCA),1,datasets,kingabzpro/argentina-provincial-data,Argentina provincial data,2KB,2020-12-29 11:06:23,1329,34,1.0
6,Principal-Component-Analysis-(PCA),1,datasets,mathchi/covid19-and-character-strengths,Covid-19 and Character Strengths,173KB,2021-01-08 22:38:25,1212,65,0.88235295
8,Principal-Component-Analysis-(PCA),1,datasets,thedevastator/uncovering-factors-that-affect-u...,Used Cars,18MB,2022-12-06 13:36:08,1171,35,1.0
10,Principal-Component-Analysis-(PCA),1,datasets,sakhiagarwal/principal-component-analysis-pca,Principal Component Analysis (PCA),94KB,2022-09-19 07:05:43,22,0,0.23529412

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-EDA,1,datasets,pranavuikey/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-09-05 10:22:37,1903,40,1.0
4,Categorical-EDA,1,datasets,rajeshrampure/black-friday-sale,Black Friday Sale,5MB,2022-12-24 09:37:49,1008,32,1.0
6,Categorical-EDA,1,datasets,rishikeshkonapure/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-10-29 06:29:47,961,32,1.0
8,Categorical-EDA,1,datasets,titassaha/top-rated-tv-shows,Top Rated TV Shows,391KB,2022-10-18 17:38:12,2506,43,1.0
10,Categorical-EDA,1,datasets,candicezhao28/edinburgh-airbnb-data,Edinburgh Airbnb Data,27MB,2022-06-16 13:04:04,109,8,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-EDA,2,datasets,mdwaquarazam/ucidatasetlist,UCI-dataset,20KB,2022-08-17 06:35:25,378,15,0.8235294
4,Categorical-EDA,2,datasets,pailavinayamruth/predict-the-estimated-price-o...,Predict the Estimated price of the hardware,3KB,2021-05-17 16:15:15,63,1,0.5294118
6,Categorical-EDA,2,datasets,arpan129/startups-funding-dataset,Startups Funding Dataset,362KB,2022-07-11 10:15:49,322,22,0.9375
8,Categorical-EDA,2,datasets,edith2021/fifa-18-player-prediction,FIFA 18 PLAYER Performance PREDICTION,6MB,2021-02-25 06:02:24,300,9,0.4117647
10,Categorical-EDA,2,datasets,ksbmishra/employeeturnoverprediction,Employee-Turnover-Prediction,2MB,2021-02-09 17:22:16,309,8,0.3529412

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Univariate-analysis,1,datasets,vitthalmadane/ts-temp-1,Time Series Room Temperature Data,100KB,2022-11-21 10:16:26,619,30,1.0
4,Univariate-analysis,1,datasets,pranavuikey/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-09-05 10:22:37,1903,40,1.0
6,Univariate-analysis,1,datasets,rajeshrampure/black-friday-sale,Black Friday Sale,5MB,2022-12-24 09:37:49,1008,32,1.0
8,Univariate-analysis,1,datasets,rishikeshkonapure/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-10-29 06:29:47,961,32,1.0
10,Univariate-analysis,1,datasets,debashis74017/stock-market-data-nifty-100-stoc...,Stock Market Data - Nifty 100 stocks (5 min) data,5GB,2022-11-05 22:19:13,187,17,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Univariate-analysis,2,datasets,gauravkumar15/dtexpl-univariate-analysis,dtexpl_univariate analysis,240KB,2020-07-04 11:26:23,26,1,0.11764706
4,Univariate-analysis,2,datasets,thedevastator/flight-performance-characteristi...,Insects Flight Dynamics,584MB,2023-01-02 00:43:35,5,1,0.85294116
6,Univariate-analysis,2,datasets,debashis74017/bajaj-finance-stock-price-data-w...,Bajaj Finance Stock Price Data with Indicators,431MB,2022-11-10 20:58:07,90,17,0.9411765
8,Univariate-analysis,2,datasets,prashantsparhad/day-20eda-using-univariate-ana...,day_20.EDA_using_Univariate_Analysis,22KB,2022-07-15 05:36:41,0,1,0.11764706

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multivariate-analysis,1,datasets,aungpyaeap/fish-market,Fish market,2KB,2019-06-13 10:20:33,46661,433,1.0
4,Multivariate-analysis,1,datasets,nicapotato/womens-ecommerce-clothing-reviews,Women's E-Commerce Clothing Reviews,3MB,2018-02-03 19:59:19,53968,959,0.88235295
6,Multivariate-analysis,1,datasets,krismurphy01/data-lab,Expanded HR Analytics Data Lab,528KB,2017-08-18 19:45:54,3909,82,0.88235295
8,Multivariate-analysis,1,datasets,saurabhshahane/goalkeeper-actions-dataset,Goalkeeper Actions Dataset,17KB,2021-06-22 12:20:07,160,16,0.9411765
10,Multivariate-analysis,1,datasets,viswajithkn/instacart-predict-shopping-time,Instacart Predict Shopping Time,12MB,2018-10-29 17:24:48,543,12,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multivariate-analysis,2,datasets,faizunnabi/autism-screening,Autism Screening,7KB,2018-02-12 11:46:18,4945,109,0.75
4,Multivariate-analysis,2,datasets,tarunkumar1912/fish-dataset1,Fish_Dataset,2KB,2022-09-18 16:28:27,61,12,0.64705884
6,Multivariate-analysis,2,datasets,sims22/irisflowerdatasets,IRIS-FLOWER-DATASETS,2KB,2022-12-26 18:33:34,8,7,0.9411765
8,Multivariate-analysis,2,datasets,ranja7/bankloan-tobeapproved,BankLoan,55KB,2022-07-08 09:57:27,498,11,0.7058824
10,Multivariate-analysis,2,datasets,ishandutta/forest-fires-data-set-portugal,Forest Fires Data Set Portugal,7KB,2020-04-26 02:57:05,600,20,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multivariate-analysis,3,datasets,markpeng/lightning-unsupervised-tst,ventilator-lightning-unsupervised-tst,4GB,2021-10-25 04:49:18,69,21,0.6875
4,Multivariate-analysis,3,datasets,jackhan9811/the-premier-league-yearly-dataset-...,The Premier League Yearly Dataset from 18/19~2...,114KB,2021-11-23 15:53:42,36,3,0.4117647
6,Multivariate-analysis,3,datasets,aslanahmedov/predict-term-deposit,Predict Term Deposit,575KB,2021-11-29 11:36:06,980,25,1.0
8,Multivariate-analysis,3,datasets,zhonglifr/thyroid-disease-unsupervised-anomaly...,Thyroid Disease Unsupervised Anomaly Detection,83KB,2021-05-16 18:36:38,425,6,0.47058824
10,Multivariate-analysis,3,datasets,thedevastator/exploring-county-level-correlati...,Cancer County-Level,144KB,2022-12-03 19:17:04,960,43,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multivariate-analysis,4,datasets,isaacmg/flowdb-sample,FlowDB Sample,38MB,2021-01-28 20:06:53,114,2,0.8235294
4,Multivariate-analysis,4,datasets,debashis74017/bajaj-finance-stock-price-data-w...,Bajaj Finance Stock Price Data with Indicators,431MB,2022-11-10 20:58:07,90,17,0.9411765
6,Multivariate-analysis,4,datasets,dolphin123456789/iris-csv,IRIS flower dataset,1010B,2021-01-13 11:47:06,55,1,0.7647059
8,Multivariate-analysis,4,datasets,santigc6/multivariatetsmultilabelclassification5,multivariate-ts-multilabel-classification-5,6MB,2022-06-18 12:57:08,2,3,0.4117647
10,Multivariate-analysis,4,datasets,javi2270784/gas-sensor-array-temperature-modul...,Gas sensor array temperature modulation,365MB,2019-04-15 16:38:11,747,22,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,1,datasets,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,45299,469,0.8235294
4,Linear-regression,1,datasets,tanuprabhu/linear-regression-dataset,Linear Regression Data-set,1KB,2019-06-21 05:57:12,7697,70,1.0
8,Linear-regression,1,datasets,hellbuoy/car-price-prediction,Car Price Prediction Multiple Linear Regression,18KB,2019-10-15 16:45:27,39408,423,0.7058824
10,Linear-regression,1,datasets,karthickveerakumar/salary-data-simple-linear-r...,Salary data - Simple linear regression,378B,2018-01-22 17:09:38,40440,230,0.3529412
12,Linear-regression,1,datasets,kolawale/focusing-on-mobile-app-or-website,Linear Regression E-commerce Dataset,43KB,2019-09-16 19:04:27,6275,51,0.625

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,2,datasets,arejet/simple-linear-regression,Simple Linear Regression,780KB,2018-01-17 19:38:13,1370,25,0.29411766
4,Linear-regression,2,datasets,mdrazakhan/linear-regression-dataset,Linear Regression Dataset,6KB,2020-07-27 07:42:31,1289,15,0.23529412
6,Linear-regression,2,datasets,harsh45/random-salary-data-of-employes-age-wise,salary_data of Employees with years of Experience,378B,2019-08-11 16:11:15,1922,19,0.64705884
8,Linear-regression,2,datasets,luddarell/101-simple-linear-regressioncsv,1.01. Simple linear regression.csv,529B,2019-03-17 07:04:14,7266,67,0.1764706
10,Linear-regression,2,datasets,swathiachath/kc-housesales-data,KC_Housesales_Data,753KB,2018-08-08 08:01:57,5353,58,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,3,datasets,pranavuikey/zomato-eda,Zomato_EDA,89MB,2022-09-02 08:34:48,933,29,1.0
4,Linear-regression,3,datasets,rishikeshkonapure/zomato,Zomato,89MB,2022-10-29 06:56:33,1813,50,1.0
6,Linear-regression,3,datasets,kumarajarshi/life-expectancy-who,Life Expectancy (WHO),119KB,2018-02-10 16:55:10,81359,917,0.8235294
8,Linear-regression,3,datasets,shsrivas/salary-data,Salary Data (Simple Linear Regression),378B,2021-08-13 18:13:19,370,6,0.7058824
10,Linear-regression,3,datasets,vad13irt/linear-regression-dataset,Linear Regression Dataset,4KB,2020-12-22 19:03:14,130,23,0.47058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,4,datasets,pulkit21aug/pyramid-scheme-profit-or-loss,Pyramid scheme - profit or loss,3KB,2019-01-03 07:06:23,623,8,0.7647059
4,Linear-regression,4,datasets,notshrirang/reliance-stock-price-dataset,Reliance Stock Price Dataset,210KB,2022-12-05 01:08:23,369,25,1.0
6,Linear-regression,4,datasets,animeshnareda/bike-sharing-dataset-for-linear-...,bike sharing dataset for linear regression,879B,2020-05-31 13:46:58,202,14,0.25
8,Linear-regression,4,datasets,mohansacharya/graduate-admissions,Graduate Admission 2,10KB,2018-12-28 10:07:14,84246,1756,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,5,datasets,rutuspatel/walmart-dataset-retail,Walmart Dataset (Retail),122KB,2021-10-27 07:03:41,4984,66,0.8235294
4,Linear-regression,5,datasets,ameynoolkar/linear-regression,Linear Regression,682B,2021-09-21 02:24:09,36,2,0.1764706
6,Linear-regression,5,datasets,iamsouravbanerjee/house-rent-prediction-dataset,House Rent Prediction Dataset,82KB,2022-08-20 13:49:03,18998,385,1.0
8,Linear-regression,5,datasets,sandy1811/data-science-interview-questions,Data Science Interview Questions,1005KB,2023-01-04 05:45:00,851,45,0.88235295
10,Linear-regression,5,datasets,shivadumnawar/health-insurance-dataset,Health Insurance dataset,16KB,2020-12-18 20:08:21,1120,12,0.23529412

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,6,datasets,dongeorge/beer-consumption-sao-paulo,Beer Consumption - Sao Paulo,5KB,2018-11-19 11:56:28,11267,201,0.7058824
4,Linear-regression,6,datasets,sakshamjn/heightvsweight-for-linear-polynomial...,HeightVsWeight For Linear & Polynomial Regression,406B,2020-03-31 10:00:13,755,2,0.1764706
6,Linear-regression,6,datasets,yasserh/student-marks-dataset,Student Marks Dataset,949B,2022-01-04 11:09:03,7661,71,1.0
8,Linear-regression,6,datasets,slavapasedko/belarus-used-cars-prices,Belarus Used Cars Prices,557KB,2020-02-04 16:42:52,842,12,0.8235294
10,Linear-regression,6,datasets,reyanmatrika/supermarket-visitor-linear-regres...,Supermarket Visitor - Linear Regression,295B,2022-02-26 13:58:47,74,4,0.47058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,7,datasets,emirhanai/machine-learning-tutorials-example-p...,Machine Learning Tutorials - Example Projects ...,1GB,2022-10-20 22:31:07,455,39,1.0
4,Linear-regression,7,datasets,rutuspatel/retail-analysis-with-walmart-sales-...,RETAIL ANALYSIS WITH WALMART SALES DATA,122KB,2021-07-31 09:04:18,2850,29,0.8235294
6,Linear-regression,7,datasets,saisaathvik/used-cars-dataset-from-cardekhocom,Used Car Prices in India,2MB,2021-05-27 12:17:41,2760,48,0.9705882
8,Linear-regression,7,datasets,zakriarehman/weather-data-for-linear-regression,Weather Data for Linear Regression,149KB,2020-06-18 03:17:07,430,5,0.1764706
10,Linear-regression,7,datasets,shubhamsharma777/simplelinearregression,Simple-Linear-Regression,145KB,2021-04-03 08:32:04,47,1,0.29411766

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,8,datasets,kalilurrahman/mastercard-stock-data-latest-and...,MasterCard Stock Data - Latest and Updated,154KB,2023-01-04 13:45:39,1286,46,1.0
4,Linear-regression,8,datasets,rishishinde97/linear-regression-encodeded-data,Linear Regression encodeded data,19KB,2022-05-28 13:34:13,11,3,0.3529412
6,Linear-regression,8,datasets,mohannapd/linear-regression-sales-prediction-o...,Linear Regression | Sales Prediction of Carseats,7KB,2022-08-24 10:58:24,150,1,0.85294116
8,Linear-regression,8,datasets,skrakesh5/hosuing-data-set,Hosuing Data set,5KB,2017-11-27 11:35:48,424,4,0.47058824
10,Linear-regression,8,datasets,akiwelekar/predictingese,Predicting End Semester Performance,1KB,2020-10-10 08:32:03,719,10,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,9,datasets,saaranshsolanki/linear-regression,Linear Regression,1KB,2021-09-18 10:15:14,6,2,0.11764706
4,Linear-regression,9,datasets,nitya1510/linear-regression,Linear Regression,406KB,2021-11-06 16:44:27,9,2,0.11764706
6,Linear-regression,9,datasets,kratitiwari222/linear-regression,linear regression,1KB,2022-06-22 06:44:53,0,2,0.11764706
8,Linear-regression,9,datasets,alancmathew/anime-dataset,Anime Dataset,2MB,2020-06-20 21:37:16,2027,48,1.0
10,Linear-regression,9,datasets,alperaktepe/salaryexperience-and-age,Salary-Experience and Age,328B,2021-03-01 15:25:11,131,3,0.23529412

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,10,datasets,kasiviswanath00/simple-linear-regression,simple linear regression,378B,2022-05-25 12:06:42,10,3,0.11764706
4,Linear-regression,10,datasets,parisanahmadi/multi-variablelinear-regressionml,Multi Variable-Linear Regression-ML,427B,2022-08-07 18:43:00,8,7,0.11764706
6,Linear-regression,10,datasets,fredgirod/web-crawler-for-real-estate-market,Web crawler for real estate market,247KB,2017-03-23 20:42:43,1099,28,0.85294116
8,Linear-regression,10,datasets,avish5787/tvmarketing-dataset,tvmarketing_Dataset,1KB,2020-03-25 18:02:05,200,2,0.4117647
10,Linear-regression,10,datasets,rizdelhi/mydatasets2,R-squared explained,360KB,2020-12-31 10:29:38,6,2,0.5

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Simple-linear-regression,1,datasets,karthickveerakumar/salary-data-simple-linear-r...,Salary data - Simple linear regression,378B,2018-01-22 17:09:38,40440,230,0.3529412
4,Simple-linear-regression,1,datasets,mayurdalvi/simple-linear-regression-placement-...,Simple Linear Regression - Placement data,4KB,2021-11-15 15:02:18,1502,24,1.0
6,Simple-linear-regression,1,datasets,tmcketterick/heights-and-weights,Heights and weights,262B,2018-01-06 21:42:20,6870,69,0.7058824
8,Simple-linear-regression,1,datasets,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,45299,469,0.8235294
10,Simple-linear-regression,1,datasets,arejet/simple-linear-regression,Simple Linear Regression,780KB,2018-01-17 19:38:13,1370,25,0.29411766

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Simple-linear-regression,2,datasets,mdmuhtasimbillah/fertility-rate-vs-participati...,Female Employment vs Fertility Rate,319B,2020-05-14 20:54:39,921,20,0.7647059
4,Simple-linear-regression,2,datasets,mansigaikwad/nestle-india-historical-stock-pri...,Nestle India -Historical Stock Price Data,123KB,2022-04-25 17:21:35,347,13,0.7058824
6,Simple-linear-regression,2,datasets,peterkmutua/student-hours-scores,Student Hours & Scores,373B,2021-12-07 13:11:02,241,6,0.5294118
8,Simple-linear-regression,2,datasets,sinakaraji/covid-vaccination-vs-death,COVID vaccination vs. mortality,958KB,2022-07-01 07:50:12,5276,64,0.8235294
10,Simple-linear-regression,2,datasets,prathamtripathi/regression-with-neural-networking,Calculate Concrete Strength,11KB,2020-08-16 14:26:04,2994,56,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Simple-linear-regression,3,datasets,amineoumous/salary-data,Salary Data,436B,2020-06-22 20:59:04,282,5,0.5882353
4,Simple-linear-regression,3,datasets,mohochirps/test123,Simple Linear regression with 1 variable,2KB,2017-11-15 09:29:08,265,1,0.1764706
6,Simple-linear-regression,3,datasets,nirmaldash/salary-experience-simple-linear-reg...,Salary_Experience Simple Linear Regression,378B,2021-11-16 05:05:13,14,1,0.1764706
8,Simple-linear-regression,3,datasets,rishishinde97/linear-regression-encodeded-data,Linear Regression encodeded data,19KB,2022-05-28 13:34:13,11,3,0.3529412
10,Simple-linear-regression,3,datasets,ananthreddy/housing,Problem on Housing DataSet,6KB,2018-02-13 10:28:42,969,17,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Simple-linear-regression,4,datasets,claytonmiller/building-energy-benchmarking-usi...,Building energy benchmarking using city-scale ...,101MB,2021-09-20 07:29:21,84,12,0.7647059
4,Simple-linear-regression,4,datasets,saurabh2712/salary-data,Salary_data,386B,2021-04-06 12:28:10,18,2,0.29411766
6,Simple-linear-regression,4,datasets,samratsinghdikkhat/simple-linear-regression,Simple Linear Regression,17KB,2022-07-02 06:08:02,2,1,0.0
8,Simple-linear-regression,4,datasets,elifasgavraharnanda/simple-linear-regression-c...,Simple Linear Regression - Covid Vaccination 2021,3MB,2022-07-08 23:14:10,13,1,0.23529412
10,Simple-linear-regression,4,datasets,owenagius/inertia-sensors-for-human-activity-r...,Inertia Sensors for Human Activity Recognition,5MB,2021-06-30 18:23:08,295,16,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Simple-linear-regression,5,datasets,hakanerdem/belle-ayr,Belle Ayr,856B,2020-12-21 19:26:31,37,1,0.47058824
4,Simple-linear-regression,5,datasets,vinaysinha18/advertising-dataset,advertising_dataset,83KB,2021-07-19 15:22:03,7,1,0.0625
6,Simple-linear-regression,5,datasets,pratyushavi/simple-linear-regression,Simple Linear Regression,72KB,2020-07-13 06:49:26,13,0,0.0
8,Simple-linear-regression,5,datasets,edgarpoe/project-data-cost-for-prediction,Project Data Cost for Prediction,5KB,2022-09-09 21:43:03,24,0,0.64705884
10,Simple-linear-regression,5,datasets,zeesolver/fuel-consumption,Fuel consumption (Regression overview model),13KB,2022-12-14 16:38:20,20,0,0.9705882

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Simple-linear-regression,6,datasets,aruna1234/amazon-data-monitor-deals,"""Amazon Data - """"Monitor Deals""""""",83KB,2021-11-21 06:37:49,120,12,0.9117647
4,Simple-linear-regression,6,datasets,sarthi316/ecommerce-dataset-for-begginers,Ecommerce_Dataset_For_Begginers,43KB,2020-04-04 23:08:45,222,7,0.5625
6,Simple-linear-regression,6,datasets,vishaldhore/simple-linear-regression-of-salary,Simple_Linear_Regression _of_Salary,398B,2022-10-06 17:49:33,3,2,0.1764706
8,Simple-linear-regression,6,datasets,sandeepkumar69/website-traffic-data,Website Traffic Data,1KB,2022-11-08 17:22:42,8,1,0.8235294
10,Simple-linear-regression,6,datasets,mutindafestus/world-statistics-dataset-from-wo...,World Statistics dataset from World Bank,3MB,2020-11-22 07:03:10,1154,27,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multiple-Linear-Regression,1,datasets,hellbuoy/car-price-prediction,Car Price Prediction Multiple Linear Regression,18KB,2019-10-15 16:45:27,39408,423,0.7058824
4,Multiple-Linear-Regression,1,datasets,karthickveerakumar/startup-logistic-regression,Startup - Multiple Linear Regression,1KB,2018-01-29 11:42:03,6681,51,0.47058824
6,Multiple-Linear-Regression,1,datasets,erolmasimov/price-prediction-multiple-linear-r...,Price Prediction -Multiple Linear Regression,6KB,2022-08-03 20:54:12,1058,29,0.7647059
8,Multiple-Linear-Regression,1,datasets,aungpyaeap/fish-market,Fish market,2KB,2019-06-13 10:20:33,46661,433,1.0
10,Multiple-Linear-Regression,1,datasets,fayejavad/marketing-linear-multiple-regression,Marketing Linear Multiple Regression,2KB,2020-04-24 19:41:25,1799,20,0.29411766

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multiple-Linear-Regression,2,datasets,yasserh/student-marks-dataset,Student Marks Dataset,949B,2022-01-04 11:09:03,7661,71,1.0
4,Multiple-Linear-Regression,2,datasets,behordeun/102-multiple-linear-regression,1.02. Multiple linear regression,593B,2021-01-18 22:41:18,115,3,0.11764706
6,Multiple-Linear-Regression,2,datasets,alperaktepe/salaryexperience-and-age,Salary-Experience and Age,328B,2021-03-01 15:25:11,131,3,0.23529412
8,Multiple-Linear-Regression,2,datasets,akiwelekar/predictingese,Predicting End Semester Performance,1KB,2020-10-10 08:32:03,719,10,0.5882353
10,Multiple-Linear-Regression,2,datasets,simranjain17/insurance,Insurance Premium Data,16KB,2020-09-09 08:34:47,3515,59,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multiple-Linear-Regression,3,datasets,kesavapedda118/multiple-linear-regression,multiple linear regression,319B,2021-05-31 17:54:05,15,1,0.11764706
4,Multiple-Linear-Regression,3,datasets,praveenthomas85/multiple-linear-regression,Multiple Linear Regression,2KB,2021-06-08 15:15:37,46,1,0.11764706
6,Multiple-Linear-Regression,3,datasets,hrishitabapuram/multiple-linear-regression,Multiple Linear Regression,2KB,2021-08-09 04:52:29,38,1,0.11764706
8,Multiple-Linear-Regression,3,datasets,azmary/multiple-linear-regression-using-onehot...,Multiple Linear Regression using One-Hot Encoding,5KB,2021-12-03 15:58:46,17,2,0.1764706
10,Multiple-Linear-Regression,3,datasets,adnanzaidi/urdu-news-headlines,Urdu / Hindi News Headlines,64KB,2019-08-06 15:03:48,455,116,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multiple-Linear-Regression,4,datasets,kaissredoaune/multiple-linear-regression-kaiss,Multiple Linear Regression kaiss,425B,2022-08-14 21:37:11,3,0,0.1764706
4,Multiple-Linear-Regression,4,datasets,harsh45/startups-dataset,STARTUPS_DATASET,1KB,2019-09-14 15:53:12,343,4,0.4117647
6,Multiple-Linear-Regression,4,datasets,sohamganguly90/improving-time-cost-and-quality...,"""Improving Time Cost and Quality of Hire""",398KB,2021-11-08 05:55:55,197,5,0.5294118
8,Multiple-Linear-Regression,4,datasets,hakanerdem/national-football-league,National Football League,1KB,2020-12-19 11:25:46,88,1,0.47058824
10,Multiple-Linear-Regression,4,datasets,yasserh/employee-salaries-datatset,Employee Salaries Datatset,602B,2021-12-30 13:26:15,712,15,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multiple-Linear-Regression,5,datasets,sajidalam/multiple-linear-regression-for-salaries,Decision tree Classifier,2KB,2022-07-06 05:49:11,31,2,0.29411766
4,Multiple-Linear-Regression,5,datasets,somyaagarwal69/gold-forecasting,Gold Forecasting with Linear Regression & ARIMA,6KB,2021-03-26 10:46:50,739,2,0.88235295
6,Multiple-Linear-Regression,5,datasets,ayhanozturk/multi-lin-reg,MULTI_LIN_REG,328B,2019-06-06 19:44:07,24,1,0.11764706
8,Multiple-Linear-Regression,5,datasets,samratsinghdikkhat/multiple-linear-regession,Multiple Linear Regession,1MB,2022-07-02 06:08:46,8,1,0.125
10,Multiple-Linear-Regression,5,datasets,sumitnautiyal/multiple-linear-regression,multiple_linear_regression,744B,2021-11-12 12:01:14,8,3,0.11764706

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Nonlinear-regression,1,datasets,maajdl/yeh-concret-data,Revisiting a Concrete Strength regression,10KB,2018-06-15 20:26:01,5759,108,1.0
4,Nonlinear-regression,1,datasets,niteshyadav3103/concrete-compressive-strength,Concrete Compressive Strength,15KB,2021-05-09 10:52:12,1477,51,0.88235295
6,Nonlinear-regression,1,datasets,mcandocia/running-heart-rate-recovery,Running and Heart Rate Data,17MB,2021-07-29 16:34:46,1090,24,0.9117647
8,Nonlinear-regression,1,datasets,elikplim/concrete-compressive-strength-data-set,Concrete Compressive Strength Data Set,11KB,2017-09-05 03:26:12,3194,21,0.64705884
10,Nonlinear-regression,1,datasets,zeesolver/china-gdp,1960 to 2014 China's GDP Report,788B,2022-12-17 15:32:57,3,0,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Decision-Trees-regression,1,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35847,1522,0.88235295
4,Decision-Trees-regression,1,datasets,moneystore/agencyperformance,Insurance Data,5MB,2016-12-02 12:13:42,8194,121,0.7058824
6,Decision-Trees-regression,1,datasets,zurfer/rtb,Real Time Bidding,138MB,2017-02-27 18:21:27,2145,63,0.7352941
8,Decision-Trees-regression,1,datasets,mariosfish/default-of-credit-card-clients,Default of credit card clients,1005KB,2019-09-19 11:04:27,2602,40,0.7941176
10,Decision-Trees-regression,1,datasets,ayanzadeh93/color-classification,color classification,161MB,2018-04-20 00:13:09,2411,56,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Decision-Trees-regression,2,datasets,tathagatbanerjee/obesity-dataset-uci-ml,Obesity DataSet UCI ML,115KB,2022-02-23 06:25:25,164,3,0.29411766
4,Decision-Trees-regression,2,datasets,anasqais/mlcourseai2020,Mlcourse.ai-2020,16KB,2020-10-14 13:52:13,20,1,0.375
6,Decision-Trees-regression,2,datasets,thedevastator/flight-performance-characteristi...,Insects Flight Dynamics,584MB,2023-01-02 00:43:35,5,1,0.85294116

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-regression,1,datasets,milanvaddoriya/old-car-price-prediction,Old car price prediction,105KB,2022-12-24 15:38:56,457,30,1.0
4,Neural-network-regression,1,datasets,muratkokludataset/date-fruit-datasets,Date Fruit Datasets,408KB,2022-04-03 09:25:39,16103,1945,0.9375
6,Neural-network-regression,1,datasets,ishadss/productivity-prediction-of-garment-emp...,Productivity Prediction of Garment Employees,16KB,2021-04-06 22:42:06,4092,69,0.9705882
8,Neural-network-regression,1,datasets,mariosfish/default-of-credit-card-clients,Default of credit card clients,1005KB,2019-09-19 11:04:27,2602,40,0.7941176
10,Neural-network-regression,1,datasets,yashpaloswal/ann-car-sales-price-prediction,ANN - Car Sales Price Prediction,29KB,2022-09-30 16:48:41,1699,29,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-regression,2,datasets,inancigdem/carbon-nanotubes,Carbon Nanotubes,202KB,2018-04-10 09:48:25,540,10,0.7058824
4,Neural-network-regression,2,datasets,jishnukoliyadan/taiwan-default-credit-card-cli...,Taiwan Credit Card Clients,1003KB,2022-03-20 09:01:18,217,10,0.9411765
6,Neural-network-regression,2,datasets,harshilpatel355/autoirrigationdata,INTELLIGENT IRRIGATION SYSTEM,3KB,2020-06-28 07:58:40,2257,53,0.64705884
8,Neural-network-regression,2,datasets,candicezhao28/edinburgh-airbnb-data,Edinburgh Airbnb Data,27MB,2022-06-16 13:04:04,109,8,0.8235294
10,Neural-network-regression,2,datasets,rohiniselvaraj0107/stock-price-prediction-of-a...,Stock Price Prediction of Apple Inc.,29KB,2021-10-24 15:32:21,202,5,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-regression,3,datasets,kirankunapuli/pystacknet,pystacknet,999KB,2019-12-17 02:46:03,129,17,0.7058824
4,Neural-network-regression,3,datasets,benjaminawd/new-york-times-articles-comments-2020,New York Times Articles & Comments (2020),2GB,2021-07-20 08:47:17,1019,20,0.9117647
6,Neural-network-regression,3,datasets,andersonkarl/vectorizeddf,RSNA Boneage Vectorized,5GB,2022-10-29 16:37:22,1,0,0.3529412
8,Neural-network-regression,3,datasets,ryleymcconkey/ml-turbulence-dataset,Turbulence modelling using machine learning,9GB,2022-03-04 20:50:12,1724,37,0.7647059
10,Neural-network-regression,3,datasets,scaomath/pde-dataset,PDE dataset,4GB,2021-06-27 16:00:19,91,3,0.75

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,1,datasets,pattnaiksatyajit/event-correlation,Event Correlation,1MB,2021-02-01 10:32:50,102,14,0.7647059
4,Correlation,1,datasets,levyedgar44/income-and-happiness-correction,Income and Happiness Correlation,5KB,2020-09-22 14:08:13,2092,26,0.7058824
6,Correlation,1,datasets,dhanasekarjaisankar/correlation-between-postur...,Correlation between Posture & Personality Trait,2KB,2022-12-13 16:21:48,653,25,1.0
8,Correlation,1,datasets,nickbaynham/correlation,correlation,128KB,2020-04-21 18:48:55,129,4,0.7058824
10,Correlation,1,datasets,athosdamiani/guess-the-correlation,Guess The Correlation,191MB,2018-03-30 04:47:37,196,10,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,2,datasets,mrpantherson/board-game-data,Board Game Data,1MB,2018-06-08 13:45:03,4622,125,0.7647059
4,Correlation,2,datasets,zusmani/us-mass-shootings-last-50-years,US Mass Shootings,310KB,2022-05-25 02:44:39,16034,353,0.7941176
6,Correlation,2,datasets,mfaisalqureshi/hr-analytics-and-job-prediction,Hr Analytics Job Prediction,110KB,2021-06-15 03:37:38,2813,60,0.9411765
8,Correlation,2,datasets,cdc/chronic-disease,Chronic Disease Indicators,8MB,2017-08-17 18:01:41,4802,135,0.8235294
10,Correlation,2,datasets,mysarahmadbhat/wine-tasting,Wine Tasting,16MB,2021-09-11 07:30:03,1346,41,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,3,datasets,winterpierre91/covid19-global-weather-data,COVID19_Global_Weather_Data,203KB,2020-08-11 16:33:36,1381,17,0.8235294
4,Correlation,3,datasets,manchunhui/us-election-2020-tweets,US Election 2020 Tweets,353MB,2020-11-09 18:51:59,11400,368,1.0
6,Correlation,3,datasets,jiashenliu/515k-hotel-reviews-data-in-europe,515K Hotel Reviews Data in Europe,45MB,2017-08-21 21:19:17,28248,522,0.8235294
8,Correlation,3,datasets,lydiavasil/violent-crime-and-unemployment-corr...,violent crime and unemployment correlation,616B,2020-03-24 04:41:25,126,7,0.29411766
10,Correlation,3,datasets,uciml/red-wine-quality-cortez-et-al-2009,Red Wine Quality,26KB,2017-11-27 23:41:08,163379,2305,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,4,datasets,julianhorvath/sports-budget-olympic-medals-cor...,Sports Budget - Olympic Medals correlation,4KB,2021-09-18 05:56:25,197,3,0.7647059
4,Correlation,4,datasets,kumarajarshi/life-expectancy-who,Life Expectancy (WHO),119KB,2018-02-10 16:55:10,81359,917,0.8235294
6,Correlation,4,datasets,PromptCloudHQ/world-happiness-report-2019,World Happiness Report 2019,4KB,2019-03-20 09:39:07,22518,402,1.0
8,Correlation,4,datasets,trysuharso/sales-minimarket-retail-and-tourist...,Sales Minimarket Retail and Tourist in Bali,186KB,2020-11-14 03:21:18,344,4,0.7647059
10,Correlation,4,datasets,ellipticco/elliptic-data-set,Elliptic Data Set,292MB,2019-07-31 11:26:42,7921,144,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,5,datasets,harrywang/housing,California Housing Data (1990),400KB,2018-05-10 15:56:31,11831,139,1.0
4,Correlation,5,datasets,whenamancodes/student-performance,Student Performance,104KB,2022-10-07 05:14:47,8349,166,1.0
6,Correlation,5,datasets,bartvh/grape-yield-vs-avg-growing-season-tempe...,Grape Yield vs Avg Growing Season Temperature,376B,2019-01-29 09:26:37,336,6,0.88235295
8,Correlation,5,datasets,thedevastator/adidas-fashion-retail-products-d...,Adidas Fashion Retail Products Dataset,289KB,2022-10-22 18:09:44,1072,33,1.0
10,Correlation,5,datasets,brynja/wineuci,Classifying wine varieties,4KB,2017-06-20 23:13:05,6452,48,0.7352941

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,6,datasets,lampubhutia/nyc-flight-delay,NYC_Flight_Delay,8MB,2019-03-08 12:15:43,1768,21,0.64705884
4,Correlation,6,datasets,dipam7/student-grade-prediction,Student Grade Prediction,7KB,2018-09-14 15:34:04,23914,317,0.7058824
6,Correlation,6,datasets,sergejnuss/chicago-community-areas-demographics,Chicago Community Areas Demographics,2KB,2021-07-13 07:46:58,91,9,0.9411765
8,Correlation,6,datasets,krismurphy01/data-lab,Expanded HR Analytics Data Lab,528KB,2017-08-18 19:45:54,3909,82,0.88235295
10,Correlation,6,datasets,broach/button-tone-sz,EEG data from basic sensory task in Schizophrenia,8GB,2019-01-31 18:26:06,4811,194,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,7,datasets,ksuchris2000/oklahoma-earthquakes-and-saltwate...,Oklahoma Earthquakes and Saltwater Injection W...,1000KB,2017-09-26 17:43:05,746,21,0.8235294
4,Correlation,7,datasets,abhilashakumari100/supermarket-sales,EDA on Supermarket sales,36KB,2021-08-23 10:16:11,108,2,0.4117647
6,Correlation,7,datasets,alexandervc/multiple-single-cell-rna-expressio...,Multiple Single Cell RNA Expressions ARCHS4,22GB,2021-07-25 10:20:45,60,4,0.5882353
8,Correlation,7,datasets,rahulsingh731/classify-points-using-deep-learn...,Classify Points using Deep Learning (Beginner),58KB,2020-08-23 06:49:26,68,7,0.8235294
10,Correlation,7,datasets,junglisher/vehicle-insurance-data,Vehicle insurance data,282KB,2020-06-17 19:24:38,827,11,0.5294118

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,8,datasets,giologicx/aegisdataset,Metro Manila Flood Landscape Data,60KB,2017-06-09 05:52:55,602,17,1.0
4,Correlation,8,datasets,saeedtqp/radiojavan-popular-music-features,Persian top song features,343KB,2020-08-20 00:12:39,103,5,0.88235295
6,Correlation,8,datasets,wrotki8778/ski-jumping-results-database-2009now,Ski jumping results database,11MB,2022-01-09 10:17:30,258,22,0.9117647
8,Correlation,8,datasets,shresthapriya/synthetic-data-ols,Synthetic_data_OLS,1KB,2022-06-04 06:32:58,9,4,0.7647059
10,Correlation,8,datasets,aditech/earthquakes-solar-system-objects-7,Correlation - Earthquakes and Solar System obj...,2MB,2021-02-06 22:10:02,16,1,0.23529412

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,9,datasets,dsfelix/employees-annual-salary-in-chicago,Employees' Annual Salary in Chicago,2MB,2022-06-17 13:50:22,438,24,1.0
4,Correlation,9,datasets,shiyapara/canada-covid19-data,Coronavirus_Canada,73KB,2020-05-12 02:05:19,60,4,0.9117647
6,Correlation,9,datasets,philomeneyang/cocovis,Correlation Comparison in Visualizations Dataset,20GB,2022-12-16 19:25:15,5,0,0.8235294
8,Correlation,9,datasets,rudymizrahi/daily-crypto-currency-and-lunar-ge...,Daily Crypto Currency and Lunar Geocentric Data,29MB,2018-01-25 01:33:42,154,10,0.64705884
10,Correlation,9,datasets,thomaskonstantin/the-chasegame-show-israel-epi...,The Chase(Game Show) Israel episode data,2KB,2020-09-19 09:28:27,117,20,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,10,datasets,sayantansadhu/various-aspects-of-indian-states,Various Aspects of Indian States,1KB,2021-10-19 13:39:30,93,8,0.6875
4,Correlation,10,datasets,laxmena/ipl-dataset-2020-season-included,IPL Dataset (2020 Season Included),1MB,2021-02-15 22:44:05,455,18,0.9117647
6,Correlation,10,datasets,augustus0498/life-expectancy-who,Life Expectancy (WHO),118KB,2019-05-02 08:54:12,4222,44,0.7058824
8,Correlation,10,datasets,yuxinc/summer-olympics-weightlifting-records-2...,Summer Olympics Weightlifting records 2000 to ...,39KB,2021-08-22 02:25:46,89,4,0.64705884
10,Correlation,10,datasets,debashis74017/nifty-50-minute-data,NSE - Nifty 50 Index Minute data (2015 to 2022),482MB,2022-11-05 22:15:32,324,15,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correspondence-analysis,1,datasets,louislippens/the-state-of-hiring-discrimination,The state of hiring discrimination,80KB,2022-08-31 09:54:54,91,3,0.47058824
4,Correspondence-analysis,1,datasets,prashant111/glass-identification-dataset,Glass Identification Dataset,9KB,2020-03-16 05:56:26,937,21,0.5294118
6,Correspondence-analysis,1,datasets,hisunnytang/halo-sims,QuasarNet,3GB,2021-03-24 09:10:58,32,3,0.47058824
8,Correspondence-analysis,1,datasets,quasarnet/quasarnet,QuasarNet,3GB,2022-04-29 03:35:30,17,2,0.47058824
10,Correspondence-analysis,1,datasets,louise2001/goethe,Goethe,457MB,2021-04-29 08:44:56,46,17,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Measures-of-Central-tendency,1,datasets,ajay101tiwari/stats-meas-of-central-tendency,Stats Meas of Central Tendency,38KB,2023-01-01 13:23:00,3,0,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Central-tendency,1,datasets,ajay101tiwari/stats-meas-of-central-tendency,Stats Meas of Central Tendency,38KB,2023-01-01 13:23:00,3,0,0.7058824
4,Central-tendency,1,datasets,thedevastator/uncovering-user-perspectives-on-...,Reddit: /r/Bitcoin,285KB,2022-12-19 04:47:40,0,1,0.9411765
6,Central-tendency,1,datasets,stlouisfed/fomc-summary-of-economic-projection...,FOMC Summary of Economic Projections Time Series,5KB,2019-12-12 00:17:05,14,1,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Central-tendency,1,datasets,ajay101tiwari/stats-meas-of-central-tendency,Stats Meas of Central Tendency,38KB,2023-01-01 13:23:00,3,0,0.7058824
4,Central-tendency,1,datasets,thedevastator/uncovering-user-perspectives-on-...,Reddit: /r/Bitcoin,285KB,2022-12-19 04:47:40,0,1,0.9411765
6,Central-tendency,1,datasets,stlouisfed/fomc-summary-of-economic-projection...,FOMC Summary of Economic Projections Time Series,5KB,2019-12-12 00:17:05,14,1,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Measures-of-Dispersion,1,datasets,psterk/income-inequality,GapMinder - Income Inequality,148KB,2020-04-11 19:14:17,1651,45,0.9705882
4,Measures-of-Dispersion,1,datasets,rohitzaman/gender-age-and-emotion-detection-fr...,"""Gender Age and Emotion Detection from Voice """,945KB,2021-05-29 18:23:07,312,6,0.5294118

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Factor-analysis,1,datasets,tunguz/big-five-personality-test,Big Five Personality Test,159MB,2020-02-17 15:59:37,19919,751,1.0
4,Factor-analysis,1,datasets,brsdincer/alzheimer-features,Alzheimer Features,4KB,2021-03-30 19:38:20,2206,40,1.0
6,Factor-analysis,1,datasets,nancyalaswad90/diamonds-prices,Diamonds Prices,711KB,2022-07-09 14:59:21,5413,155,1.0
8,Factor-analysis,1,datasets,gyejr95/league-of-legends-challenger-ranked-ga...,League Of Legends High elo Ranked Games(2020),13MB,2020-04-20 14:49:35,2609,83,1.0
10,Factor-analysis,1,datasets,ipravin/hair-customer-survey-data-for-100-cust...,Product customer survey data for 100 customers,2KB,2019-03-13 17:11:54,955,10,0.5294118

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Factor-analysis,2,datasets,lydia70/malaria-in-africa,Malaria in Africa,27KB,2020-12-30 13:40:12,1621,29,1.0
4,Factor-analysis,2,datasets,lengbunhor/factor-analysis-using-spss,Factor Analysis using SPSS,45KB,2021-02-07 00:44:13,64,3,0.375
6,Factor-analysis,2,datasets,lplenka/brfss-data,BRFSS Data,157MB,2020-11-03 15:56:29,363,8,0.9411765
8,Factor-analysis,2,datasets,fazilbtopal/auto85,1985 Automobile Dataset,11KB,2019-03-18 13:22:11,3287,37,0.7647059
10,Factor-analysis,2,datasets,mathchi/covid19-and-character-strengths,Covid-19 and Character Strengths,173KB,2021-01-08 22:38:25,1212,65,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
4,Factor-analysis,3,datasets,varpit94/worldwide-deaths-by-risk-factors,Worldwide deaths by country/risk factors,1MB,2021-07-07 11:06:58,1397,32,1.0
6,Factor-analysis,3,datasets,arttua/who-obesity-by-country-2016,WHO obesity by country 2016,3KB,2020-03-22 10:30:13,501,4,0.5294118
8,Factor-analysis,3,datasets,daishinkan002/amazon-mobile-dataset,Amazon Mobile Dataset,88KB,2021-07-21 20:20:04,286,11,0.7058824
10,Factor-analysis,3,datasets,wendystremmel/divvy-full-excersie,divvy_full_excersie,257KB,2022-04-19 22:14:07,25,9,0.75
12,Factor-analysis,3,datasets,rohitsahoo/bicycle-store-dataset,bicycle store dataset,667KB,2020-09-11 15:12:21,1460,32,0.9705882

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Factor-analysis,4,datasets,davidsilvam/crosswalkdataset,crosswalk-dataset,136MB,2020-07-22 20:36:41,885,15,0.85294116
4,Factor-analysis,4,datasets,xan3011/airline-data-project-mit-1995-2019,Airline Data Project,1MB,2021-01-11 16:02:54,1213,19,0.7647059
6,Factor-analysis,4,datasets,rtatman/sign-language-analyses,The Sign Language Analyses (SLAY) Database,11KB,2017-07-13 21:19:01,450,13,0.7647059
8,Factor-analysis,4,datasets,arttua/who-overweight-by-country-2016,WHO overweight by country 2016,3KB,2020-03-22 10:14:32,166,2,0.5294118
10,Factor-analysis,4,datasets,adorigueto/cnc-turning-roughness-forces-and-to...,"""CNC turning: roughness forces and tool wear""",20KB,2022-05-23 18:41:21,206,9,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Factor-analysis,5,datasets,appliedresearcher/social-media-the-new-window-...,Social Media: The New Window to Athlete‚Äôs Soul,8MB,2019-06-14 06:19:58,247,6,0.64705884
4,Factor-analysis,5,datasets,drmbsharma/maternal-health-risk-data-set,Maternal Health Risk Data set,3KB,2022-09-22 12:52:25,105,6,0.5294118
6,Factor-analysis,5,datasets,bastekforever/complete-football-data-89000-mat...,Football DataSet +96k matches (18 leagues),9MB,2022-07-30 12:32:05,140,11,0.64705884
8,Factor-analysis,5,datasets,rohitrao003/indian-agricultural-firms-data,Indian Agricultural Firms Data,4MB,2022-08-17 12:36:54,23,3,0.7647059
10,Factor-analysis,5,datasets,thedevastator/unlocking-the-secrets-of-nba-pla...,NBA Players Performance,39KB,2022-12-09 01:20:47,332,13,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Factor-analysis,6,datasets,jirkaborovec/histology-cima-dataset,Histology (CIMA) dataset,13GB,2021-09-09 14:37:24,86,11,0.6875
4,Factor-analysis,6,datasets,thedevastator/maximizing-profits-with-mlb-play...,MLB Players Salaries And Performance,381KB,2022-12-04 16:22:07,68,6,0.9411765
6,Factor-analysis,6,datasets,gpreda/kaggle-youtube-video-metadata,Kaggle YouTube Video Metadata,55KB,2020-08-15 08:25:37,131,13,1.0
8,Factor-analysis,6,datasets,prayankkul/delhi-air-quality-dataset,Delhi Air Quality Dataset,691KB,2022-09-19 15:16:03,65,1,0.7058824
10,Factor-analysis,6,datasets,shaniellewilliams/jamaica-crime-data,Jamaica Crime Data,3KB,2021-11-06 02:35:31,32,1,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Factor-analysis,7,datasets,andrewgao/alzheimer-microarray-analysis,Alzheimer Microarray Analysis,1MB,2019-12-11 18:30:41,542,13,1.0
4,Factor-analysis,7,datasets,ericsbrown/winter-olympics-prediction-fantasy-...,Winter Olympics Prediction - Fantasy Draft Picks,5KB,2022-01-19 21:06:18,83,5,0.5882353
6,Factor-analysis,7,datasets,thedevastator/canadian-baseball-performance-in...,Canadian Baseball,236KB,2022-12-09 01:41:55,4,5,0.9411765
8,Factor-analysis,7,datasets,ahmedeltom/nchs-weekly-counts-of-deaths-by-sta...,NCHS - Weekly Counts of Deaths by State 2020-2...,270KB,2023-01-03 19:52:58,12,1,0.88235295
10,Factor-analysis,7,datasets,thedevastator/domain-analysis-of-5000-most-pop...,Most Popular GitHub Projects,281KB,2023-01-04 14:16:19,1,1,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Factor-analysis,8,datasets,shivakumar1995n/usa-house-prediction,USA House Prediction,11KB,2022-09-18 19:16:40,20,0,0.47058824
4,Factor-analysis,8,datasets,itiresearch/pose-estimation,Pose Estimation,10GB,2021-09-29 06:14:00,26,4,0.625
6,Factor-analysis,8,datasets,pralabhpoudel/world-energy-consumption,World Energy Consumption,2MB,2022-01-12 22:22:09,6543,99,0.9705882
8,Factor-analysis,8,datasets,ankitkalauni/the-soccer-fever,THE SOCCER FEVER,258KB,2021-08-20 16:35:47,44,6,0.64705884
10,Factor-analysis,8,datasets,kuleafenujoachim/ghana-covid19-cases-dataset,Ghana Covid-19 Dataset,20KB,2020-09-30 13:55:09,47,4,0.7941176

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Quartile-analysis,1,datasets,rohitzaman/gender-age-and-emotion-detection-fr...,"""Gender Age and Emotion Detection from Voice """,945KB,2021-05-29 18:23:07,312,6,0.5294118
4,Quartile-analysis,1,datasets,maksymshkliarevskyi/scopus-source-list,Scopus Source List,19MB,2021-08-22 08:17:57,94,6,1.0
6,Quartile-analysis,1,datasets,dkapitan/nhs-proms-case-study,NHS PROMs case study,53MB,2022-12-18 01:22:34,99,6,0.9375
8,Quartile-analysis,1,datasets,thedevastator/analyzing-energy-consumption-pat...,Energy Consumption Patterns in Chicago,10MB,2022-12-14 04:31:38,8,1,0.9411765
10,Quartile-analysis,1,datasets,christianfrey/sea-of-thieves-emissary-data,Sea of Thieves Emissary Leaderboard,16KB,2021-03-05 02:38:11,27,2,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Decision-Trees-classification,1,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35847,1522,0.88235295
4,Decision-Trees-classification,1,datasets,moneystore/agencyperformance,Insurance Data,5MB,2016-12-02 12:13:42,8194,121,0.7058824
6,Decision-Trees-classification,1,datasets,ayanzadeh93/color-classification,color classification,161MB,2018-04-20 00:13:09,2411,56,0.875
8,Decision-Trees-classification,1,datasets,mariosfish/default-of-credit-card-clients,Default of credit card clients,1005KB,2019-09-19 11:04:27,2602,40,0.7941176
10,Decision-Trees-classification,1,datasets,aleespinosa/apple-watch-and-fitbit-data,Apple Watch and Fitbit data,700KB,2022-03-02 18:40:39,1754,38,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Decision-Trees-classification,2,datasets,tathagatbanerjee/obesity-dataset-uci-ml,Obesity DataSet UCI ML,115KB,2022-02-23 06:25:25,164,3,0.29411766
4,Decision-Trees-classification,2,datasets,emirhanai/machine-learning-tutorials-example-p...,Machine Learning Tutorials - Example Projects ...,1GB,2022-10-20 22:31:07,455,39,1.0
6,Decision-Trees-classification,2,datasets,anasqais/mlcourseai2020,Mlcourse.ai-2020,16KB,2020-10-14 13:52:13,20,1,0.375
8,Decision-Trees-classification,2,datasets,thedevastator/flight-performance-characteristi...,Insects Flight Dynamics,584MB,2023-01-02 00:43:35,5,1,0.85294116
10,Decision-Trees-classification,2,datasets,dzikrifaizziyan/haberman-dataset,Haberman Dataset,3KB,2021-06-11 10:35:10,194,3,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,1,datasets,muratkokludataset/rice-image-dataset,Rice Image Dataset,219MB,2022-04-03 02:12:00,6350,1642,0.875
4,Neural-network-classification,1,datasets,puneet6060/intel-image-classification,Intel Image Classification,346MB,2019-01-30 09:22:58,70102,1258,0.75
6,Neural-network-classification,1,datasets,muratkokludataset/date-fruit-datasets,Date Fruit Datasets,408KB,2022-04-03 09:25:39,16103,1945,0.9375
8,Neural-network-classification,1,datasets,weinoose/migraine-classification,Data for Migraine Classification,3KB,2022-05-26 17:31:33,1890,55,1.0
10,Neural-network-classification,1,datasets,muratkokludataset/pistachio-dataset,Pistachio Dataset,2MB,2022-04-03 08:38:21,1496,1470,0.9375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,2,datasets,paramaggarwal/fashion-product-images-small,Fashion Product Images (Small),565MB,2019-04-26 16:33:51,15903,237,0.5882353
4,Neural-network-classification,2,datasets,mariosfish/default-of-credit-card-clients,Default of credit card clients,1005KB,2019-09-19 11:04:27,2602,40,0.7941176
6,Neural-network-classification,2,datasets,mdwaquarazam/automobilepartsindentification,Automobile-parts-classification,38MB,2022-08-13 04:13:53,590,30,0.875
8,Neural-network-classification,2,datasets,kritanjalijain/amazon-reviews,Amazon reviews,1GB,2021-05-15 09:45:40,5025,73,1.0
10,Neural-network-classification,2,datasets,lsind18/gemstones-images,Gemstones Images,55MB,2020-03-21 19:42:38,1653,62,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,3,datasets,nicw102168/snake-eyes,Snake Eyes,293MB,2018-12-07 14:16:18,895,37,0.8235294
4,Neural-network-classification,3,datasets,ruopengan/11-common-nut-types-for-image-classi...,11 Common Nut Types For Image Classification,4GB,2022-07-10 16:51:47,70,10,0.75
6,Neural-network-classification,3,datasets,michelheusser/handwritten-digits-and-operators,Dataset: Handwritten Digits and Operators,205MB,2020-07-13 17:23:23,640,19,0.9375
8,Neural-network-classification,3,datasets,whenamancodes/date-fruit-datasets,Date Fruit Datasets,223KB,2022-10-27 09:44:38,995,40,1.0
10,Neural-network-classification,3,datasets,yasserh/kinematics-motion-data,Kinematics Motion Data,2MB,2022-01-05 18:17:32,397,32,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,4,datasets,lasaljaywardena/mobile-smartphone-images-dataset,Mobile / Smartphone Images Dataset,251MB,2021-12-17 03:00:46,1078,27,0.9411765
4,Neural-network-classification,4,datasets,sachinkumar413/covid-pneumonia-normal-chest-xr...,COVID19+PNEUMONIA+NORMAL Chest X-Ray Image Dat...,277MB,2021-01-18 23:08:48,424,16,0.875
6,Neural-network-classification,4,datasets,mashijie/eating-sound-collection,Eating Sound Collection,6GB,2020-06-20 23:35:33,374,13,0.8125
8,Neural-network-classification,4,datasets,kanwalinder/cats-vs-dogs-redux-transfer-features,Cats vs Dogs Redux Transfer Features,1GB,2018-08-22 00:46:31,196,9,0.8125
10,Neural-network-classification,4,datasets,srikaranelakurthy/online-news-popularity,Online News Popularity,7MB,2020-01-04 23:26:56,719,12,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,5,datasets,adityakomaravolu/brain-tumor-mri-images,Brain Tumor MRI Images,175MB,2022-11-02 05:21:40,169,14,0.625
4,Neural-network-classification,5,datasets,pnkjgpt/butterfly-classification-dataset,Butterfly Classification Dataset,426MB,2021-06-30 06:03:06,208,6,0.875
6,Neural-network-classification,5,datasets,mloey1/covid19-chest-ct-image-augmentation-gan...,COVID-19 Chest CT image Augmentation GAN Dataset,2GB,2021-01-31 19:56:33,445,15,0.625
8,Neural-network-classification,5,datasets,valentynsichkar/preprocessed-light-version-of-...,Pre-processed Light version of Traffic Signs,8GB,2021-04-10 13:35:24,48,3,1.0
10,Neural-network-classification,5,datasets,lenferdetroud/trash-bins-dataset,Dumpster Dataset,198MB,2022-04-22 17:08:22,59,8,0.75

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,6,datasets,praveen2084/leather-defect-classification,Leather Defect detection and Classification,31MB,2022-01-03 10:20:43,294,4,0.6875
4,Neural-network-classification,6,datasets,airbusgeo/airbus-wind-turbines-patches,Airbus Wind Turbines Patches,1GB,2020-10-27 07:10:05,270,10,0.875
6,Neural-network-classification,6,datasets,tunguz/default-of-credit-card-clients-data-set,Default of Credit Card Clients Data Set,1005KB,2021-04-14 23:29:48,265,11,1.0
8,Neural-network-classification,6,datasets,jeffheaton/glasses-or-no-glasses,Glasses or No Glasses,6GB,2020-04-17 23:53:58,4782,67,0.88235295
10,Neural-network-classification,6,datasets,sandeshbhat/satellite-images-to-predict-povert...,Satellite Images to predict poverty,5GB,2021-01-11 11:34:27,319,16,0.8125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,7,datasets,rmisra/news-headlines-dataset-for-sarcasm-dete...,News Headlines Dataset For Sarcasm Detection,3MB,2019-07-03 23:52:57,35077,854,1.0
4,Neural-network-classification,7,datasets,tommyngx/cmmd2022,The Chinese Mammography Database (CMMD) 2022,5GB,2022-10-07 11:15:23,202,17,0.8235294
6,Neural-network-classification,7,datasets,dataup1/ogbn-arxiv,OGBN-ArXiv (Processed for PyG),161MB,2021-02-27 07:32:02,76,4,0.7647059
8,Neural-network-classification,7,datasets,pcbreviglieri/smart-grid-stability,Smart Grid Stability,6MB,2020-05-10 00:04:53,2482,58,1.0
10,Neural-network-classification,7,datasets,sohelranaccselab/google-facial-expression-comp...,Google facial expression comparison,41MB,2020-09-17 11:07:04,316,12,0.7058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,8,datasets,alifrahman/chestxraydataset,chest-xray-dataset,1GB,2020-08-31 19:36:35,1251,25,0.625
4,Neural-network-classification,8,datasets,johndig90/winpe-ml,Win-PE_ml,125MB,2020-08-15 13:47:29,155,4,0.47058824
6,Neural-network-classification,8,datasets,sanikamal/horses-or-humans-dataset,Horses Or Humans Dataset,307MB,2019-04-24 20:09:38,6150,106,0.875
8,Neural-network-classification,8,datasets,karimcse007/matrib-dataset,Matrib Dataset,1GB,2022-09-06 06:41:48,2,1,0.75
10,Neural-network-classification,8,datasets,mdwaquarazam/classificationofspecies,Classification-OF-SPECIES(9),257MB,2022-08-07 09:19:50,579,26,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,9,datasets,aryamanchoudhary/quadcopter-captured-different...,Quadcopter captured different land types,317MB,2022-12-04 17:53:34,2,8,0.875
4,Neural-network-classification,9,datasets,tgprostata/transverse-plane-prostate-dataset,Transverse Plane Prostate Dataset,90MB,2021-05-07 21:11:04,74,2,0.3125
6,Neural-network-classification,9,datasets,alexispomares/dissertation-preprocessed,DISSERTATION ‚Äî Preprocessed EEG Dataset,6GB,2021-09-06 17:03:30,57,2,0.8125
8,Neural-network-classification,9,datasets,alexispomares/dissertation-raw,DISSERTATION - raw EEG dataset,20GB,2021-07-30 19:42:03,62,2,0.8125
10,Neural-network-classification,9,datasets,sathiralamal/sinhala-letter-454,Sinhala Letter and Modifications,206MB,2021-08-05 06:06:46,37,3,0.5625

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,10,datasets,rzemouri/oncotypedx-breast-cancer-dataset,Oncotype-DX Breast Cancer Dataset,145KB,2022-08-28 13:50:27,10,0,0.29411766
4,Neural-network-classification,10,datasets,iuryck/simple-gray-captchas,Simple Gray Captchas,287MB,2022-07-12 16:02:36,23,3,0.75
6,Neural-network-classification,10,datasets,focatak/malapi2019,API Call based Malware Dataset,6MB,2019-05-08 06:13:48,854,16,0.6875
8,Neural-network-classification,10,datasets,kenjee/z-by-hp-unlocked-challenge-3-signal-pro...,Z by HP Unlocked Challenge 3 - Signal Processing,604MB,2022-02-17 00:38:17,1750,47,0.8125
10,Neural-network-classification,10,datasets,saadbutt321/pakistan-sign-language-dataset,Pakistan Sign Language Dataset (openPose),4MB,2020-07-05 01:27:23,574,35,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Nearest-Neighbors,1,datasets,gkalpolukcu/knn-algorithm-dataset,KNN Algorithm Dataset,49KB,2020-07-05 11:06:30,2024,23,0.5294118
4,Nearest-Neighbors,1,datasets,joshkyh/glove-twitter,GloVe: Global Vectors for Word Representation,107MB,2017-09-18 22:01:53,805,43,0.875
6,Nearest-Neighbors,1,datasets,rahulsah06/machine-learning-for-diabetes-with-...,Machine Learning for Diabetes with Python,9KB,2019-09-20 08:04:12,1635,27,0.5882353
8,Nearest-Neighbors,1,datasets,abdallamahgoub/diabetes,Diabetes predication system with KNN algorithm,9KB,2021-03-12 14:44:33,2318,7,0.3529412
10,Nearest-Neighbors,1,datasets,ayanzadeh93/color-classification,color classification,161MB,2018-04-20 00:13:09,2411,56,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Nearest-Neighbors,2,datasets,wolfram77/graphs-ml-graph,ML_Graph Graphs,14MB,2021-12-16 03:08:57,9,1,0.84375
4,Nearest-Neighbors,2,datasets,thedevastator/movie-review-data-set-from-rotte...,Rotten Tomatoes Movie Reviews,495KB,2022-11-20 08:43:45,24,3,1.0
6,Nearest-Neighbors,2,datasets,eliseu10/material-safety-data-sheets,Material Safety Data Sheets,676MB,2020-06-19 21:21:12,55,1,0.8125
8,Nearest-Neighbors,2,datasets,visualcomments/cd-genes-100-neighbors,cd_genes_100_neighbors,24KB,2022-10-18 10:09:09,8,14,0.64705884
10,Nearest-Neighbors,2,datasets,jefmenegazzo/pvs-passive-vehicular-sensors-dat...,PVS - Passive Vehicular Sensors Datasets,41GB,2021-01-27 20:26:04,4042,27,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Inferential-analysis,1,datasets,saurabhshahane/geospatiotemporal-and-causal-in...,Geospatiotemporal and Causal Inferential Analysis,60MB,2021-06-01 19:46:56,19,6,0.7647059
4,Inferential-analysis,1,datasets,kmldas/hr-employee-data-descriptive-analytics,HR Employee Analytics,787KB,2021-05-01 09:16:43,3365,38,0.85294116
6,Inferential-analysis,1,datasets,abdurahmanmaarouf/nba-players-stats-2016-2017,NBA Player Stats (2016 - 2019),106KB,2020-08-19 17:19:31,172,2,0.88235295
8,Inferential-analysis,1,datasets,dhireshmasilamani/cyclisticbikesharedataanalysis,Cyclistic-Data-Analysis,31MB,2022-08-20 09:53:23,3,0,0.85294116
10,Inferential-analysis,1,datasets,sandy1811/data-science-interview-questions,Data Science Interview Questions,1005KB,2023-01-04 05:45:00,851,45,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,1,datasets,kaggle/world-development-indicators,World Development Indicators,369MB,2017-05-01 17:50:44,63338,1615,0.7647059
4,R-data-visualization,1,datasets,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,60599,841,0.8235294
6,R-data-visualization,1,datasets,kaushiksuresh147/data-visualization-cheat-chea...,Data Visualization Cheat sheets and Resources,127MB,2022-05-31 11:31:11,2200,192,0.875
8,R-data-visualization,1,datasets,ilknuricke/neurohackinginrimages,"""Structural MRI Datasets (T1 T2 FLAIR etc.)""",189MB,2019-11-21 00:59:08,4703,111,0.625
10,R-data-visualization,1,datasets,piterfm/2022-ukraine-russian-war,2022 Russia Ukraine War,11KB,2023-01-01 19:38:28,20218,874,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,2,datasets,jessemostipak/caribou-location-tracking,Caribou Location Tracking,6MB,2020-06-22 21:44:58,654,30,0.88235295
4,R-data-visualization,2,datasets,jessemostipak/astronaut-database,Astronaut database,40KB,2020-07-13 19:56:20,550,26,0.88235295
6,R-data-visualization,2,datasets,rtatman/r-vs-python-the-kitchen-gadget-test,R vs. Python: The Kitchen Gadget Test,265B,2017-11-09 23:27:21,91,9,0.8235294
8,R-data-visualization,2,datasets,vipulgohel/cyclistic-bike-excel-data-visualiza...,Cyclistic bike- Excel Data Visualization,106MB,2022-02-05 16:07:01,28,12,0.5882353
10,R-data-visualization,2,datasets,jessemostipak/marble-racing,Marble Racing,4KB,2020-06-02 17:08:53,175,18,0.88235295

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,3,datasets,maksymshkliarevskyi/reddit-data-science-posts,Reddit Data Science Posts (500k+),114MB,2022-05-08 17:49:09,283,13,1.0
4,R-data-visualization,3,datasets,cemrenurgenc/infant-feeding,Social Media Influence (by text mining),33MB,2022-10-20 13:06:06,1083,33,0.9705882
6,R-data-visualization,3,datasets,trentonmarquette/divvy-trip-data-for-analysis,Divvy Ride Share Data for Google Data Analytics,178MB,2022-05-21 18:55:22,2,2,0.88235295
8,R-data-visualization,3,datasets,lucidlenn/sloan-digital-sky-survey,Sloan Digital Sky Survey DR14,446KB,2018-09-20 00:23:41,5800,194,0.8235294
10,R-data-visualization,3,datasets,afzale/cryptocurrency-prices,CryptoCurrency Prices,4MB,2018-02-04 16:39:48,351,5,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,4,datasets,kerneler/2019-baton-rouge-la-animal-control-calls,"""(2012-2019) Baton Rouge LA Animal Control Calls""",1MB,2019-11-20 05:29:37,226,5,0.9411765
4,R-data-visualization,4,datasets,donovanbangs/call-centre-queue-simulation,Call Centre Queue Simulation,822KB,2022-09-20 18:17:55,96,2,0.9411765
6,R-data-visualization,4,datasets,saipradeepvg/cord19,Mining CORD-19 corpus for biomedical associati...,1GB,2020-06-15 10:59:55,307,14,0.7647059
8,R-data-visualization,4,datasets,vaske93/fifa-ballon-dor-2021-nominees,FIFA Ballon d'Or 2021 nominees,22KB,2021-11-11 22:18:35,135,7,1.0
10,R-data-visualization,4,datasets,whenamancodes/blood-transfusion-dataset,Blood Transfusion Dataset,3KB,2022-09-30 04:35:43,2929,52,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,5,datasets,danbrady1/bellabeat-case-study-r,Bellabeat Case Study in R,12MB,2022-05-24 20:56:20,7,4,0.9705882
4,R-data-visualization,5,datasets,savfod/simplecube-raw-images-with-gt-illumination,SimpleCube++: raw images with gt illumination,2GB,2021-01-14 18:21:43,16,2,0.6875
6,R-data-visualization,5,datasets,nusrat216/cyclistic-bike-share-dataset,Cyclistic Bike-Share DataSet,459MB,2022-05-07 20:54:55,9,1,0.9705882
8,R-data-visualization,5,datasets,amritharj/ipl-dataset-20082022,IPL Dataset 2008-2022,36KB,2022-06-16 17:45:00,651,22,1.0
10,R-data-visualization,5,datasets,harly98/bike-share-case-study-april-2021-to-ma...,Bike share case study (april 2021 to march 2022),3KB,2022-05-16 21:41:48,30,7,0.8125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,6,datasets,pancaldi/gapminder,Gapminder,30KB,2021-07-15 18:08:07,43,3,0.8235294
4,R-data-visualization,6,datasets,iamsouravbanerjee/game-of-thrones-dataset,Game of Thrones Dataset,33KB,2022-11-10 11:41:21,876,42,1.0
6,R-data-visualization,6,datasets,philomeneyang/cocovis,Correlation Comparison in Visualizations Dataset,20GB,2022-12-16 19:25:15,5,0,0.8235294
8,R-data-visualization,6,datasets,thedevastator/uncovering-user-perspectives-on-...,Reddit: /r/Bitcoin,285KB,2022-12-19 04:47:40,0,1,0.9411765
10,R-data-visualization,6,datasets,bcruise/reddit-data-is-beautiful-and-ugly,Reddit - Data is Beautiful and Ugly,18MB,2022-09-13 16:57:46,34,5,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,7,datasets,amritharj/ipl-teamwise-dataset,IPL Teamwise Dataset,1KB,2022-06-02 14:38:11,86,13,0.9411765
4,R-data-visualization,7,datasets,abhiparashar/cancer-prediction,Cancer prediction,4MB,2020-09-14 08:18:11,874,32,0.625
6,R-data-visualization,7,datasets,muhammadakmal46/insurance-fulfilment,Insurance Fulfilment,6MB,2021-07-14 07:11:31,72,2,0.4117647
8,R-data-visualization,7,datasets,haimanottadross/how-does-a-bikeshare-navigate-...,Google Data Analytics Capstone,328B,2021-11-29 01:31:48,112,8,0.875
10,R-data-visualization,7,datasets,jasonphilip/cyclistic-trip-data,Cyclistic_trip_data,163MB,2021-08-31 17:48:48,4,1,0.875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,8,datasets,mrugacz95/snowdog-recruitment-task,SNOW.DOG recruitment task,687MB,2020-02-06 16:36:32,15,1,0.4375
4,R-data-visualization,8,datasets,ankanhore545/deforestation-cover-india-2000-2020,Deforestation Cover India- 2000- 2020,1MB,2022-01-31 10:56:00,217,14,0.7647059
6,R-data-visualization,8,datasets,rec3141/biol342-genome-data,Decontamination of Microbial Genomes,30MB,2019-04-17 16:32:31,155,13,0.7941176
8,R-data-visualization,8,datasets,mattmuszynski/cyclistic,cyclistic case study,433MB,2022-08-16 21:25:14,9,2,0.5882353
10,R-data-visualization,8,datasets,thedevastator/uncovering-the-most-cost-effecti...,The Most Cost-Effective MLB Hitters,740KB,2022-12-04 16:12:33,1,1,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,9,datasets,stanley888cy/google-project-02,Healthcare Device Data Analysis with R,345KB,2021-10-07 09:40:24,118,2,0.5882353
4,R-data-visualization,9,datasets,rajkumarpandey02/game-of-thrones-all-seasons-d...,Game of Thrones All Seasons Dataset,2KB,2022-11-11 16:37:14,111,11,0.8235294
6,R-data-visualization,9,datasets,lkr123/indian-rupees-vs-dollor,Indian rupees vs dollor,20KB,2022-07-10 07:22:06,15,2,0.64705884
8,R-data-visualization,9,datasets,krishnapalvihol/cardiogoodfitness-in-r,CardioGoodFitness in r,1009KB,2021-03-09 05:18:12,26,2,0.6875
10,R-data-visualization,9,datasets,dreb87/jamesbond,James Bond Movie Dataset,3KB,2020-08-19 12:41:26,624,19,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,10,datasets,kaivalyapowale/eminem-album-trends,Eminem Album Trends,15KB,2020-05-23 23:26:37,129,2,0.5294118
4,R-data-visualization,10,datasets,lukeroberts64/cyclicbikedata2022,Cyclic Bike Data 2022,165MB,2022-11-29 06:47:17,1,0,0.5882353
6,R-data-visualization,10,datasets,dinhanhx/studentgradepassorfailprediction,student grade pass or fail prediction,5KB,2020-12-06 10:31:00,2034,20,0.7058824
8,R-data-visualization,10,datasets,jordancsquared/project-folder-for-bellabeat-ca...,Bellabeat Capstone_Jordan Camp,24MB,2022-03-11 19:08:29,8,1,0.9375
10,R-data-visualization,10,datasets,claytonmiller/building-energy-benchmarking-usi...,Building energy benchmarking using city-scale ...,101MB,2021-09-20 07:29:21,84,12,0.7647059

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,1,datasets,kalilurrahman/python-data-visualization-essent...,Python Data Visualization Essentials Guide,2MB,2022-12-31 12:40:15,366,41,1.0
4,Python-data-visualization,1,datasets,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,60599,841,0.8235294
6,Python-data-visualization,1,datasets,lakshyaag/india-trade-data,India - Trade Data,3MB,2022-11-02 07:31:00,22180,433,0.9705882
8,Python-data-visualization,1,datasets,kaushiksuresh147/data-visualization-cheat-chea...,Data Visualization Cheat sheets and Resources,127MB,2022-05-31 11:31:11,2200,192,0.875
10,Python-data-visualization,1,datasets,piterfm/2022-ukraine-russian-war,2022 Russia Ukraine War,11KB,2023-01-01 19:38:28,20218,874,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,2,datasets,alexandervc/scanpy-python-package-for-scrnaseq...,SCANPY Python package for scRNA-seq analysis,894KB,2022-02-05 21:17:45,11,9,0.4375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,3,datasets,jogwums/python-mini-project,Python Mini Project,825KB,2021-12-06 07:38:09,99,6,0.7647059
4,Python-data-visualization,3,datasets,ahmedalghafri/lichess-chess-games-statistics,Lichess: Python Chess Games Statistics,440KB,2022-01-04 07:48:10,564,63,1.0
6,Python-data-visualization,3,datasets,sripaadsrinivasan/klib-library-python,Klib library python,86MB,2021-01-11 04:18:48,41,5,0.875
8,Python-data-visualization,3,datasets,sherrytp/bilibili-cells-at-work,Bilibili Cells at Work,7MB,2021-06-07 04:59:59,357,10,0.9705882
10,Python-data-visualization,3,datasets,danielvalyano/country-coord,Country Coordinates GeoJson,101KB,2021-03-10 21:14:07,40,5,0.6875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,4,datasets,canggih/upvoted-kaggle-kernels,Upvoted Kaggle Kernels,115KB,2018-02-26 16:52:28,215,28,1.0
4,Python-data-visualization,4,datasets,die9origephit/amazon-data-science-books,Amazon Data Science Books Dataset,117KB,2022-09-18 22:01:34,3172,66,1.0
6,Python-data-visualization,4,datasets,deewakarchakraborty/zomato-restaurant-dataset,Zomato Restaurant Dataset,18KB,2022-06-22 10:05:30,1321,31,1.0
8,Python-data-visualization,4,datasets,arjunbhasin2013/pycon-india-proposals,Pycon India Proposals,625KB,2020-08-09 18:53:45,22,6,0.64705884
10,Python-data-visualization,4,datasets,phiitm/chennai-zomato-restaurants-data,Chennai Zomato Restaurants Data,672KB,2020-05-27 13:06:02,1582,36,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,6,datasets,meteogredu/observations,Observations,178MB,2022-03-29 10:17:43,5,4,0.875
4,Python-data-visualization,6,datasets,uysalserkan/packt-books-dataset,Packt Books Dataset,577KB,2022-02-23 14:36:54,74,11,0.9411765
6,Python-data-visualization,6,datasets,xodeum/spaceship-titanic-advance-model,Spaceship Titanic Advance Model,21KB,2022-06-30 07:59:17,63,13,0.9411765
8,Python-data-visualization,6,datasets,vaske93/fifa-ballon-dor-2021-nominees,FIFA Ballon d'Or 2021 nominees,22KB,2021-11-11 22:18:35,135,7,1.0
10,Python-data-visualization,6,datasets,kuchhbhi/latest-30k-jobs-data,Latest 30K+ Jobs Data,2MB,2022-05-26 03:58:11,873,34,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,7,datasets,ncsaayali/cereals-data,Cereals_data,2KB,2021-02-11 21:20:58,194,4,0.9411765
4,Python-data-visualization,7,datasets,texasdave/volcano-eruptions,Volcano Eruption Global Distribution,2KB,2018-05-25 15:27:58,2788,41,0.7058824
6,Python-data-visualization,7,datasets,taruntiwarihp/all-india-pincode-directory-with...,All India Pincode directory with contact details,2MB,2021-03-15 11:48:25,159,5,0.6764706
8,Python-data-visualization,7,datasets,nelakurthisudheer/mall-customer-segmentation,Mall Customer Segmentation,2KB,2022-01-03 10:13:54,239,6,0.5882353
10,Python-data-visualization,7,datasets,alisonyao/movie-bechdel-test-scores,Movie Bechdel Test Scores,472KB,2022-01-02 05:43:36,236,14,0.9705882

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,8,datasets,ibrahimhakami/new-egg-gaming-laptops,new_egg_gaming_laptops,12KB,2019-11-20 13:42:51,179,7,0.88235295
4,Python-data-visualization,8,datasets,farkhod77/predict-students-level,Predict student's level,15KB,2022-06-27 10:40:59,544,25,0.8235294
6,Python-data-visualization,8,datasets,jennyai/share-bikes,A Capstone Project - Cyclistic shared bikes,151MB,2021-05-01 08:47:16,47,4,0.64705884
8,Python-data-visualization,8,datasets,bigquery/census-bureau-international,census-bureau-international,0B,2020-05-06 05:48:51,0,2,0.0
10,Python-data-visualization,8,datasets,ozgurdogan646/alphabet-inc-stock-prices-goog-2...,Alphabet Inc. Stock Prices (GOOG) 2004-2021,105KB,2021-09-12 12:09:40,73,10,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,9,datasets,upparipavan/mkbhd-youtube-videos-2008-2022,MKBHD youtube 2008-2022,61KB,2022-04-04 09:27:02,47,8,0.64705884
4,Python-data-visualization,9,datasets,prashant1309/stocks-analysis,Stocks Analysis,85KB,2021-06-15 12:55:43,121,2,0.7058824
6,Python-data-visualization,9,datasets,krist0phersmith/gresearchpubliclb20211228,G-Research-Public-LB-2021-12-28,25KB,2021-12-29 04:25:57,4,3,0.3529412
8,Python-data-visualization,9,datasets,zeeshanmulla/advance-house-price-predicitons,Advance House Price Predicitons,274KB,2020-01-05 10:22:15,636,4,0.7058824
10,Python-data-visualization,9,datasets,die9origephit/population-data,Tuscany Population Data,296KB,2022-06-23 01:04:13,152,16,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,10,datasets,septos/pokemon,pokemon,3KB,2020-10-19 14:06:14,45,3,0.29411766
4,Python-data-visualization,10,datasets,ravineesh/soundtracks-of-top-250-imdb-movies-a...,Soundtracks of Top 250 IMDb Movies and TV Series,109KB,2022-03-27 13:18:47,85,8,0.9411765
6,Python-data-visualization,10,datasets,raghavs1003/life-expectancy-and-gdp,life_expectancy_and_GDP,223KB,2020-09-21 16:21:33,91,2,0.5294118
8,Python-data-visualization,10,datasets,chenxidong/edhec-data-for-portfolio-constructi...,EDHEC_Data for Portfolio Construction with Python,1MB,2021-05-15 09:36:20,53,1,0.4117647
10,Python-data-visualization,10,datasets,ekayfabio/immigration-deported,Undocumented Immigrants Deported in the U.S.,1KB,2021-03-31 00:23:03,53,1,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Power-BI,1,datasets,aman1497/power-bi-projects,Power BI Projects,2MB,2022-04-06 05:25:44,1343,24,0.375
4,Power-BI,1,datasets,kalilurrahman/2021-kaggle-machine-learning-dat...,2021 Kaggle Machine Learning & Data Science Su...,8MB,2022-03-22 12:29:52,352,22,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Power-BI,2,datasets,lasaljaywardena/sri-lanka-rupees-exchange-rate...,Sri Lanka Rupees Exchange Rate Historical Data,2MB,2021-11-05 13:40:52,109,14,0.9411765
4,Power-BI,2,datasets,lasaljaywardena/sri-lanka-furniture-prices-dat...,Sri Lanka Furniture Prices Dataset,2MB,2021-11-10 04:30:48,184,21,1.0
6,Power-BI,2,datasets,amankashyap29/power-bi-project-on-cryptocurrency,Power Bi project on cryptocurrency,65KB,2021-11-09 05:16:49,93,3,0.25
8,Power-BI,2,datasets,reetocarreto/contratos-menores-ayto-alcala-de-...,Contratos Menores Ayto Alcala de Henares,2MB,2021-09-22 12:42:44,20,2,0.7647059
10,Power-BI,2,datasets,aasirwaseer/data-analyst-python-power-bi-practice,Data Analyst Python Power Bi Practice,90KB,2022-07-13 03:06:16,37,2,0.47058824

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Power-BI,3,datasets,peteribiam/hr-analytic-dashbord,HR Analytic Dashbord,70KB,2022-06-10 08:13:46,64,6,0.5
4,Power-BI,3,datasets,nxtwaveda/data-analyst,Data Analyst,14KB,2022-05-13 07:24:35,1600,33,0.47058824
6,Power-BI,3,datasets,awosikaolumide/data-visualization-1-using-powe...,Data Visualization 1 Using Power BI,185KB,2022-03-19 23:38:30,11,1,0.25
8,Power-BI,3,datasets,jcatumba/tweetsfromelespectador,Tweets From El Espectador,3MB,2021-02-25 16:17:45,43,1,0.9411765
10,Power-BI,3,datasets,mdshamsirshad/hr-analytics-on-power-bi-employe...,HR Analytics on power BI- Employee Attrition,315KB,2022-05-20 16:37:35,63,1,0.3125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Power-BI,4,datasets,amitraghav007/us-store-data,Sample Power BI Data,1007KB,2022-10-02 10:48:11,5,0,0.11764706
4,Power-BI,4,datasets,shwetankchaudhary/power-bi-sample-data,Power BI Sample Data,72KB,2022-10-20 15:22:56,55,0,0.11764706
6,Power-BI,4,datasets,mikehoney/coronawhy-plus,CoronaWhy Plus,6GB,2020-08-06 04:56:01,29,1,0.625
8,Power-BI,4,datasets,prashant111/ionosphere,Ionosphere,34KB,2020-03-15 09:36:02,1260,45,0.5294118
10,Power-BI,4,datasets,datacertlaboratoria/projeto-5,Projeto 5: Perda de clientes em telecomunica√ß√µes,587KB,2022-05-06 19:33:26,223,5,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Power-BI,5,datasets,shariq1810/unemployment2022,Unemployment Rates in India 2022,14KB,2023-01-03 13:23:15,3,0,0.3529412
4,Power-BI,5,datasets,mohdmujtaba1998/data-analytics,DATA ANALYTICS INTERVIEW QUESTIONS AND ANSWERS,2MB,2022-12-06 06:36:18,18,0,0.125
6,Power-BI,5,datasets,siddharthgovardhane/crime-against-women-in-ind...,Crime Against Women In India From 2001-2010,247KB,2022-12-30 15:21:38,0,0,0.29411766
8,Power-BI,5,datasets,thedevastator/analyzing-hartford-real-estate-s...,Real Estate Sales 730 Days,182KB,2022-12-07 10:49:18,21,1,0.9411765
10,Power-BI,5,datasets,abjoshua/furniture-store-project-for-eugene-en...,FURNITURE STORE PROJECT FOR EUGENE ENTERPRISE,44KB,2022-09-03 16:48:47,9,0,0.25

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,1,datasets,ariyoomotade/netflix-data-cleaning-analysis-an...,"""Netflix Data: Cleaning Analysis and Visualiza...",270KB,2022-08-26 09:25:43,10131,197,1.0
4,Tableau,1,datasets,nadianizam/tableau-pic,tableau pic,391KB,2021-03-11 03:13:43,32,27,0.75
6,Tableau,1,datasets,arindam235/startup-investments-crunchbase,StartUp Investments (Crunchbase),3MB,2020-02-17 21:54:42,9390,301,0.88235295
8,Tableau,1,datasets,nadianizam/tableau-pic1,tableau_pic1,45KB,2021-03-12 09:42:45,16,23,0.75
10,Tableau,1,datasets,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,60599,841,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,2,datasets,lasaljaywardena/sri-lanka-vehicle-prices-dataset,Sri Lanka Vehicle Prices Dataset,15MB,2022-03-14 19:03:51,1028,47,1.0
4,Tableau,2,datasets,namratakapoor1/tableau,Tableau,1MB,2021-11-14 14:20:45,922,5,0.0
6,Tableau,2,datasets,aniruddhasshirahatti/us-unemployment-dataset-2...,US Unemployment Dataset (2010 - 2020),4KB,2020-04-29 23:58:21,4801,27,1.0
8,Tableau,2,datasets,fernandoretamales/health-expenditure-and-suici...,Health Expenditure and Suicide Rates [2000-2019],45KB,2022-09-06 17:37:21,1046,33,1.0
10,Tableau,2,datasets,yuanmozhu/top-trends-on-tiktok-youtubeshorts-2...,Top Trends on TikTok & YoutubeShorts 2022 summer,2KB,2022-12-09 06:01:35,473,31,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,3,datasets,luizpaulodeoliveira/walmart-dashboard-in-tableau,Walmart Dashboard in Tableau,91KB,2020-11-13 01:37:26,244,4,0.25
4,Tableau,3,datasets,mayureshkoli/police-deaths-in-usa-from-1791-to...,Police deaths in USA from 1791 to 2022,5MB,2022-12-07 08:08:10,1923,49,1.0
6,Tableau,3,datasets,mhapich/crueltyfree-brands,Cruelty-free Brands,11KB,2022-06-07 02:48:47,350,17,1.0
8,Tableau,3,datasets,jackogozaly/art-as-dots,Art As Dots,2MB,2022-02-11 01:55:28,19,7,1.0
10,Tableau,3,datasets,cvronao/covid19-philippine-dataset,COVID-19 Cases in the Philippines,14MB,2020-05-15 15:47:44,1555,31,0.9117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,4,datasets,dxtnikhil/laliga-1415-1920,La Liga Results 2014-15 to 2019-20,4KB,2020-07-20 16:37:46,77,7,0.7941176
4,Tableau,4,datasets,lgalbavt/london-luxury-apartments-pricing,London Luxury Apartments pricing,34KB,2020-10-26 13:13:48,113,2,0.64705884
6,Tableau,4,datasets,tylermorse/tourdefrancedataset,TourDeFranceDataSet,21KB,2020-02-20 03:07:20,148,5,0.8235294
8,Tableau,4,datasets,dimitryzub/10-coffee-places-from-ukrainian-cities,200 Ukrainian Coffee Shops,11KB,2021-06-09 15:33:59,228,7,0.9117647
10,Tableau,4,datasets,rajpatelds/ipl-visualisation-using-tableau,IPL Visualisation using Tableau,2MB,2021-10-24 05:08:58,128,2,0.375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,5,datasets,swarajverma/tableau-sales-performance-analysis,tableau sales performance analysis,151KB,2020-12-22 05:15:19,48,1,0.1875
4,Tableau,5,datasets,ruddygunawan/co2-emissions-metric-tons-per-cap...,CO2 emissions (metric tons per capita) until 2019,286KB,2022-12-24 15:34:42,4,7,0.7647059
6,Tableau,5,datasets,wjia26/twittersentimentbycountry,World - Twitter Sentiment By Country,751MB,2020-11-10 08:54:55,273,12,0.9411765
8,Tableau,5,datasets,zeozhang/cyclistic-total-tripdata-v00,Cyclistic trip data 202006-202105,153MB,2021-06-18 00:11:19,9,1,0.9411765
12,Tableau,5,datasets,geethabarani/bellabeat-case-study-project-by-g...,Bellabeat case study project by Geetha,520KB,2022-08-11 14:33:19,5,7,0.6875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,6,datasets,brittasmith/cyclistic-bikeshare-clean-data-rdata,Cyclistic Case Study Supplement,473MB,2022-10-03 21:46:42,1,2,0.7647059
4,Tableau,6,datasets,joshuapaulbarnard/custom-regions-tableau-example,Worlds Countries with Regions for Tableau Example,2KB,2022-05-06 04:47:14,57,1,0.23529412
6,Tableau,6,datasets,dimitrisangelide/top-10-highestpaid-athletes-t...,Top 10 Highest-Paid Athletes 2011 - 2021,21KB,2022-01-03 13:30:23,213,4,0.8235294
8,Tableau,6,datasets,joshuapaulbarnard/beijing-air-quality-pm25-fro...,Beijing Air Quality & PM2.5 from 2010 to 2017,16MB,2020-03-11 19:30:50,267,6,0.5294118
10,Tableau,6,datasets,lamarmcmillan/my-analysis-of-the-bike-share-da...,"""My analysis of the """"bike share"""" data: Googl...",73KB,2023-01-04 01:44:56,27,6,0.6875

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,7,datasets,muhajipra/people-of-skyrim,People of Skyrim,66KB,2022-01-30 04:11:48,57,6,0.9411765
4,Tableau,7,datasets,ivanchvez/fertility,WORLD FERTILITY DATA - United Nations Dataset,8MB,2022-06-12 04:09:54,195,15,0.9117647
6,Tableau,7,datasets,anthonydcastillo/womens-lacrosse-college-teams,Women's Lacrosse College Teams,28KB,2021-12-05 20:03:11,22,3,0.85294116
8,Tableau,7,datasets,datasetguru/sealink-financials,SeaLink Financials,42KB,2021-04-27 07:33:45,144,5,0.7647059
10,Tableau,7,datasets,danielmorgan4848/total-rides-by-membership-type,Cyclistic Bike Share Case Study (SQL and Tabl...,39KB,2022-10-25 17:09:34,3,0,0.3125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,8,datasets,jeromejohn/superstore-data,Superstore data,1006KB,2022-01-09 06:29:21,30,1,0.29411766
4,Tableau,8,datasets,amitapathak79/cyclistic-capstone-google-casestudy,Cyclistic-Data-Aug21-July22,208MB,2022-11-14 11:11:24,1,0,0.9705882
6,Tableau,8,datasets,thippeshsv/cleaned-data-using-sql,Clean data using SQL,24KB,2022-11-26 12:59:30,0,0,0.9411765
8,Tableau,8,datasets,kenziekeena/case-study-dog-breed-size-vs-intel...,Case Study: Dog Breed Size vs. Intelligence,179KB,2022-09-27 17:01:41,22,1,0.7058824
10,Tableau,8,datasets,nivethithaamurugan/bike-accessories-sales-dataset,Bike Accessories Sales Dataset,8MB,2021-05-15 08:48:42,550,13,0.5294118

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,9,datasets,kaushiknandansaha/tile-map-for-india-by-stateuts,Tile Map for India by State/UTs,8KB,2021-07-29 09:55:28,14,1,0.4117647
4,Tableau,9,datasets,brianblitz/ag-stores,AG_Store,135MB,2022-02-09 07:30:55,18,1,0.64705884
6,Tableau,9,datasets,ivnvallenas/peruvian-agriculture-data,Peruvian agriculture data,4MB,2022-11-03 10:51:36,10,1,0.5294118
8,Tableau,9,datasets,jamestunny/case-1-cyclistic-dataset,Case 1 - Cyclistic dataset,357MB,2022-07-17 07:54:46,1,1,0.4117647
10,Tableau,9,datasets,jamestunny/case-1-cyclistic-dataset-addition,Case 1 - Cyclistic dataset addition,282MB,2022-07-17 08:05:01,1,1,0.4117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,10,datasets,toni342/tableau-full-project-san-francisco-jun...,Tableau Full Project San Francisco June 2022,78MB,2022-12-15 02:27:52,1,0,0.0
4,Tableau,10,datasets,m0hitgupta/earthquake-data-visualization,Earthquake Data Visualization,408KB,2020-05-25 07:10:28,52,2,0.3125
6,Tableau,10,datasets,matthewabrams/new-york-and-jersey-city-citi-bikes,New York and Jersey City Citi Bikes 2022,222MB,2022-05-23 14:13:46,33,1,0.47058824
8,Tableau,10,datasets,m0hitgupta/data-exploration-and-visualizations,Data Exploration and Visualizations,530KB,2020-05-25 07:03:59,13,2,0.25
10,Tableau,10,datasets,nilufarshahhosseini/unicorn-project,Unicorn Project,491KB,2022-11-17 22:25:17,4,0,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,1,datasets,mielek/python-matplotlib-introduction-dataset,Python Matplotlib Introduction Dataset,1KB,2020-02-12 16:57:40,205,21,0.4117647
4,matplotlib,1,datasets,andreshg/countries-iso-codes-continent-flags-url,Countries ISO Codes | Continent | Flags URL,8KB,2021-04-01 12:44:30,632,25,0.9705882
6,matplotlib,1,datasets,dhruvildave/github-commit-messages-dataset,GitHub Commit Messages Dataset,903MB,2021-04-21 11:56:07,405,35,1.0
8,matplotlib,1,datasets,gemartin/world-bank-data-1960-to-2016,World Bank Data (1960 to 2016),187KB,2018-07-12 06:11:24,5731,103,0.7058824
10,matplotlib,1,datasets,kandij/diabetes-dataset,Diabetics prediction using logistic regression,9KB,2019-05-07 05:18:45,15026,162,0.5294118

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,2,datasets,fmendes/office-supply-sales,Office Supply Sales,738B,2018-04-21 17:40:29,1700,19,0.5882353
4,matplotlib,2,datasets,xodeum/advance-store-sales-by-time-series,Advance Store Sales by Time Series,77KB,2022-07-07 14:22:51,177,22,0.9411765
6,matplotlib,2,datasets,brendan45774/countries-life-expectancy,Countries Life Expectancy,17KB,2021-06-24 15:24:43,3269,108,1.0
8,matplotlib,2,datasets,vaishnavisahu/play-store-data-analysis-by-vais...,Play Store Data Analysis By Vaishnavi,583KB,2021-04-30 07:32:03,210,6,0.7647059
10,matplotlib,2,datasets,emirhanai/artificial-intelligence-recognit-ist...,Artificial Intelligence Recognit Istanbul Dist...,52MB,2022-04-07 03:01:08,147,23,0.9375

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,3,datasets,isaacflath/library-matplotlib-venn,library-matplotlib-venn,65MB,2022-10-12 00:09:43,70,1,0.375
4,matplotlib,3,datasets,vermaamitesh/group-bar-chart,Group Bar Chart,45KB,2021-10-02 06:41:47,13,3,0.5625
6,matplotlib,3,datasets,himanshunakrani/iris-dataset,iris dataset,1006B,2022-07-20 18:50:06,751,29,1.0
8,matplotlib,3,datasets,goen01/stats-ex3,stats1_practice,19KB,2021-06-17 02:28:11,59,3,0.47058824
10,matplotlib,3,datasets,die9origephit/methane-emissions-dataset,Methane Emissions Dataset,25KB,2022-07-12 02:02:21,177,14,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,4,datasets,jillanisofttech/updated-resume-dataset,Updated Resume Dataset,383KB,2022-02-01 12:21:32,376,23,0.9411765
4,matplotlib,4,datasets,palmer0/matplotlib-images,matplotlib_images,163KB,2019-10-23 06:47:04,11,1,0.125
6,matplotlib,4,datasets,swatikhedekar/price-prediction-of-diamond,Data Analysis on Diamonds Dataset,733KB,2022-12-24 16:04:20,416,27,0.9705882
8,matplotlib,4,datasets,palmer0/matplotlib-basic-tutorial-dataset,matplotlib_basic_tutorial_dataset,198B,2019-10-26 12:55:36,5,1,0.11764706
10,matplotlib,4,datasets,dadamdata/csdojomatplotlib,cs-dojo-matplotlib,13KB,2021-03-11 14:32:36,3,1,0.11764706

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,5,datasets,ibrahimelsayed182/titanic-dataset,Titanic dataset,6KB,2022-01-27 07:41:54,632,14,1.0
4,matplotlib,5,datasets,poznyakovskiy/natural-earth-1110m-countries,Natural Earth 1:110m Countries,193KB,2020-03-14 02:34:31,156,1,0.9375
6,matplotlib,5,datasets,mfaisalqureshi/pakistan-traffic-accident-dataset,Pakistan Traffic Accidents,1KB,2021-06-13 06:36:17,377,19,0.9411765
8,matplotlib,5,datasets,jogwums/python-mini-project-2022,Python Mini Project 2022,7MB,2022-06-06 17:50:29,101,6,0.9411765
10,matplotlib,5,datasets,kishan9044/mpl-id-season10,MPL ID Season 10,2KB,2022-10-30 00:41:25,220,32,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,6,datasets,amirkhalesi/decentraland-nft-estates-dataset-2022,Decentraland NFT Virtual Estate Dataset 2022,217KB,2022-09-18 21:36:09,115,12,0.9117647
4,matplotlib,6,datasets,mukhazarahmad/adobeadbe-stock-data-08131986-11...,Adobe(ADBE) Stock Data,198KB,2022-11-04 06:08:14,118,28,0.9411765
6,matplotlib,6,datasets,mdwaquarazam/air-condition-dataac,Air_Condition_data(A/C),9KB,2022-07-22 18:37:37,140,13,1.0
8,matplotlib,6,datasets,shariful07/nice-work-thanks-for-share,University Students Monthly Expenses,850B,2022-09-20 08:18:50,3030,70,0.7058824
10,matplotlib,6,datasets,aditya6196/telecom-consumer-complaints,Telecom Consumer Complaints,69KB,2020-05-21 07:27:15,384,8,0.4117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,7,datasets,nalkrolu/assay-of-serum-free-light-chain,Assay of serum free light chain,101KB,2020-07-31 12:07:12,52,13,0.5882353
4,matplotlib,7,datasets,milangabriel/ramen-ratings-dataset,Ramen Ratings Dataset,40KB,2021-08-15 19:25:14,269,8,0.7647059
6,matplotlib,7,datasets,alexanderyyy/siim-cov19-processed-jpg-512-with...,siim cov19 processed JPG 512 with updated bboxes,501MB,2022-11-01 07:40:57,9,6,0.9117647
8,matplotlib,7,datasets,farhansadeek/ap-exam-curve-data-2022,AP Exam Curve Data 2022,615B,2022-03-02 05:36:19,235,15,0.9411765
10,matplotlib,7,datasets,prashantgodse/titanic1,titanic1,33KB,2022-12-11 15:44:13,0,0,0.4117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,8,datasets,pranjalbahore/adult-income-eda,Adult Income EDA,468KB,2021-05-30 13:10:07,76,4,0.5294118
4,matplotlib,8,datasets,vyankateshraut/the-complete-list-of-unicorn-co...,The Complete List Of Unicorn Companies,28KB,2021-11-23 14:17:22,95,6,0.6764706
6,matplotlib,8,datasets,uursinansarolu/herbal-product-sales-ecommerce-...,Herbal Product Sales E-Commerce 2012-2013,74KB,2021-05-30 13:09:17,114,4,1.0
8,matplotlib,8,datasets,thedevastator/discovering-trends-in-us-jobs-us...,US jobs on Dice.com,19MB,2022-12-07 13:27:50,17,1,0.9411765
12,matplotlib,8,datasets,maheshchauhan09/reviews-dataset,Reviews Dataset,574KB,2022-08-20 05:34:16,17,5,0.5294118

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,9,datasets,anubhavkumargupta/shark-tank-india-dataset-sea...,Shark Tank India Dataset Season 1,3KB,2022-05-01 04:12:37,21,6,0.64705884
4,matplotlib,9,datasets,balajivaraprasad/coviddata,COVID DATASET - OUR WORLD IN DATA,11MB,2022-11-19 13:50:04,36,5,0.9411765
6,matplotlib,9,datasets,nirajpoudel/homework,HomeWork,163KB,2020-04-12 02:30:10,14,9,0.125
8,matplotlib,9,datasets,lavanyasarma/fifa-2020-player-dataset,FIFA - 2020 player dataset,3MB,2021-02-08 11:25:07,175,4,0.47058824
10,matplotlib,9,datasets,futurecode/crop-recommend-data,Crop Recommend Data,62KB,2022-02-08 14:07:55,20,6,0.5588235

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,10,datasets,ziyapek/turkey-minwagetlusd-compared-with-gas-...,Turkey Minwage(TL-USD) Compared With Gas Prices,603B,2022-11-26 19:39:02,5,0,0.4375
4,matplotlib,10,datasets,chandruuk/flight-prediction,Flight Prediction,602KB,2022-09-24 06:36:25,37,3,0.5294118
6,matplotlib,10,datasets,dayanithi2004/data-visualization,Data_Visualization,18MB,2022-09-26 04:16:09,0,0,0.3529412
8,matplotlib,10,datasets,advancedforestry/ign-scores-dataset,IGN scores dataset,685KB,2022-10-21 13:52:04,22,3,0.5294118
10,matplotlib,10,datasets,sujangahamagar/new-york-film-permits-2022,New York Film Permits (2022),5MB,2022-04-21 12:30:34,5,3,0.64705884

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,1,datasets,ranjeetjain3/seaborn-tips-dataset,seaborn_tips_dataset,2KB,2018-04-02 11:34:35,8307,37,0.3529412
4,Seaborn,1,datasets,mielek/python-seaborn-datas,Python Seaborn Datas,27KB,2020-02-13 15:35:58,170,24,0.47058824
6,Seaborn,1,datasets,gaganmaahi224/mathplotlib-tutorial,Seaborn Tutorial,7MB,2021-10-27 11:48:52,182,14,0.23529412
8,Seaborn,1,datasets,jsphyg/tipping,A Waiter's Tips,2KB,2019-03-12 09:31:16,10871,72,1.0
10,Seaborn,1,datasets,tklimonova/gapminder-datacamp-2007,Gapminder World,35KB,2019-10-23 14:36:21,3392,30,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,2,datasets,raxnamosa/defense-of-the-ancients,Defense of the Ancients,2KB,2018-12-18 22:04:37,313,9,0.8235294
4,Seaborn,2,datasets,annatrofy/flights-seaborn,flights seaborn,859B,2021-04-21 06:09:58,216,1,0.1764706
6,Seaborn,2,datasets,mohamadrezaashori/seaborn-files,seaborn files,12KB,2021-11-01 08:49:05,6,1,0.1764706
8,Seaborn,2,datasets,vaishnavisahu/play-store-data-analysis-by-vais...,Play Store Data Analysis By Vaishnavi,583KB,2021-04-30 07:32:03,210,6,0.7647059
10,Seaborn,2,datasets,ritesh2000/fifa20-players-dataset-with-stats-a...,FIFA20 Players Dataset with Stats | Images,2MB,2020-07-01 08:45:10,161,19,0.7941176

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,3,datasets,umangsharma9533/seabornpractice,SeabornPractice,39KB,2020-07-29 16:07:27,15,1,0.1764706
4,Seaborn,3,datasets,daryasikerina/seaborn-dots-dataset,seaborn_dots_dataset,8KB,2020-10-03 10:51:57,31,1,0.1764706
6,Seaborn,3,datasets,daryasikerina/seaborn-iris-dataset,seaborn_iris_dataset,1008B,2020-10-03 11:20:25,15,1,0.1764706
8,Seaborn,3,datasets,leonardobolek/analise-de-vendas-de-carros,Analise de Vendas de Carros,213KB,2021-02-09 19:36:18,630,7,0.64705884
10,Seaborn,3,datasets,sabya40/filpkart-onlineorders,Flipkart OnlineOrders,207KB,2020-06-22 09:13:30,516,8,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,4,datasets,concyclics/chinas-gdp-in-province,China's GDP in Province,7KB,2022-03-10 14:45:27,1454,50,0.9705882
4,Seaborn,4,datasets,ibrahimelsayed182/titanic-dataset,Titanic dataset,6KB,2022-01-27 07:41:54,632,14,1.0
6,Seaborn,4,datasets,mfaisalqureshi/pakistan-traffic-accident-dataset,Pakistan Traffic Accidents,1KB,2021-06-13 06:36:17,377,19,0.9411765
8,Seaborn,4,datasets,rehan1024/911-calls-data-subset,911 Calls Data (Subset),4MB,2020-06-03 04:51:21,13,1,0.5294118
10,Seaborn,4,datasets,jishnukoliyadan/gold-price-1979-present,Global Gold price - Historical Data (1979-Pres...,796KB,2022-04-13 10:53:33,557,14,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,5,datasets,amartyanambiar/gold-silver-prices-1791-2020,GOLD & SILVER PRICES : 1791 - 2020,2KB,2021-06-29 16:53:47,302,13,1.0
4,Seaborn,5,datasets,muhammadshahrayar/pakistans-courier-companies-...,Pakistan's Courier companies dataset,2KB,2021-07-18 09:11:35,128,12,0.8235294
6,Seaborn,5,datasets,shivamkumarsingh1/knn-classifier,K-NN Classifier,1KB,2021-03-01 06:29:49,109,7,0.5294118
8,Seaborn,5,datasets,paramarthasengupta/world-countries-shp-file,World Countries Shape File-all formats,3MB,2020-07-27 14:34:45,36,12,0.375
10,Seaborn,5,datasets,kishan9044/mobile-legends-bang-bang,Mobile Legends: Bang Bang E-sports Heroes Stats,5KB,2022-09-24 18:20:53,302,20,0.9411765

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,6,datasets,arslanrisalat/corona-pakistan,Corona Pakistan,9KB,2021-12-02 06:39:05,29,6,0.88235295
4,Seaborn,6,datasets,pranjalbahore/adult-income-eda,Adult Income EDA,468KB,2021-05-30 13:10:07,76,4,0.5294118
6,Seaborn,6,datasets,himanshunakrani/spotify-data-final,spotify_data_final,18MB,2022-07-18 11:35:23,30,6,0.5294118
8,Seaborn,6,datasets,vyankateshraut/the-complete-list-of-unicorn-co...,The Complete List Of Unicorn Companies,28KB,2021-11-23 14:17:22,95,6,0.6764706
10,Seaborn,6,datasets,notepub/tips-dataset-for-beginners,Tips Dataset for beginners,2KB,2021-06-07 18:11:14,83,1,0.4117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,7,datasets,goen01/stats-ex3,stats1_practice,19KB,2021-06-17 02:28:11,59,3,0.47058824
4,Seaborn,7,datasets,kashym/food-price-index-may-2022,Food Price Index May 2022 - New Zealand,233KB,2022-06-24 09:15:42,18,4,0.5294118
6,Seaborn,7,datasets,cristianmejia00/selected-data-from-us-nhanes-2009,Selected data from US NHANES 2009.,62KB,2021-04-27 08:50:41,53,3,1.0
8,Seaborn,7,datasets,dzikrifaizziyan/haberman-dataset,Haberman Dataset,3KB,2021-06-11 10:35:10,194,3,0.7058824
10,Seaborn,7,datasets,amrboghdady74/superstoreus,SuperStoreUS,123KB,2022-08-29 21:36:00,158,6,0.5882353

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,8,datasets,tomooinubushi/riiidgroupdataset,riiid-group-dataset,2GB,2020-12-29 06:21:33,4,1,0.4375
4,Seaborn,8,datasets,fahadsyed97/us-covid19-dataset,US Covid-19 Dataset,3MB,2021-12-25 14:30:43,28,1,0.7647059
6,Seaborn,8,datasets,chandrarohir/2021-kaggle-survey-viz,2021_kaggle_survey_viz,162KB,2022-07-30 22:18:16,6,0,0.25
8,Seaborn,8,datasets,kamganganthony/dr-semmelweis-and-the-discovery...,Dr. Semmelweis and the Discovery of Handwashin,148KB,2022-05-08 20:56:15,21,3,0.5294118
10,Seaborn,8,datasets,shashankvichare/logical-gate-dataset,Logical_Gate_Dataset,447B,2021-07-30 14:11:52,12,1,0.7647059

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,9,datasets,stevegallegos/bank-marketing-data-set,Steve Gallegos_BTA419_Bank_Additional_full,368KB,2022-02-23 17:38:59,8,1,0.7058824
4,Seaborn,9,datasets,thedevastator/which-youtube-comments-go-viral,Which Youtube Comments Go Viral?,6MB,2022-11-05 06:37:21,34,6,0.9411765
6,Seaborn,9,datasets,sushantpattanaik/amazon-sales-data-analysis-pr...,Amazon Sales Data Analysis Project1,825KB,2022-09-03 23:03:57,91,0,0.4375
8,Seaborn,9,datasets,manishsharma448/playstore-analysis-eda,Playstore Analysis EDA,313KB,2021-08-27 10:05:32,19,1,0.29411766
10,Seaborn,9,datasets,ayanmalik35/regdbhf,regdbhf,6KB,2021-07-12 13:39:48,3,1,0.125

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,10,datasets,yeaseen564/weather-prediction,Weather_Prediction,1MB,2022-11-09 16:41:52,3,0,0.47058824
4,Seaborn,10,datasets,anuabdul/data-panel-from-world-happiness-report,Data panel from World Happiness Report,144KB,2021-09-15 15:53:56,96,1,0.11764706
6,Seaborn,10,datasets,bibhz33/car-details-for-visualization-purpose,Car details for visualization purpose,2KB,2022-09-06 15:45:06,1,0,0.23529412
8,Seaborn,10,datasets,arzooparihar/jio-telecom-churn-prediction,JIO_Telecom_Churn_Prediction,253KB,2021-12-30 10:31:48,113,1,0.375
10,Seaborn,10,datasets,ushaayyag/mltsalarydata,MLTSalaryData,374B,2022-12-17 01:44:45,5,0,0.4117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Bokeh,1,datasets,kingabzpro/cosmetics-datasets,Cosmetics datasets,263KB,2020-12-16 10:47:37,3641,58,1.0
4,Bokeh,1,datasets,ritesh2000/fifa20-players-dataset-with-stats-a...,FIFA20 Players Dataset with Stats | Images,2MB,2020-07-01 08:45:10,161,19,0.7941176
6,Bokeh,1,datasets,nagarajbhat/australian-bush-fire-satellite-dat...,Australian Bush fire satellite data (NASA),19MB,2020-01-31 11:17:30,1612,56,1.0
8,Bokeh,1,datasets,ritesh2000/pokemon-dataset-with-stats,Pokemon Dataset with Stats,2KB,2020-06-30 15:43:21,181,21,0.85294116
10,Bokeh,1,datasets,smart1004/pandas-bokeh,pandas_bokeh,123KB,2020-06-29 09:19:17,13,2,0.1764706

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Plotly,1,datasets,andradaolteanu/country-mapping-iso-continent-r...,"""Country Mapping - ISO Continent Region""",5KB,2019-12-15 15:07:34,8047,76,0.88235295
4,Plotly,1,datasets,sogun3/uspollution,U.S. Pollution Data,26MB,2016-11-04 17:32:56,22615,438,0.7058824
6,Plotly,1,datasets,andreshg/countries-iso-codes-continent-flags-url,Countries ISO Codes | Continent | Flags URL,8KB,2021-04-01 12:44:30,632,25,0.9705882
8,Plotly,1,datasets,umeshkumar017/who-covid19-data-tabe,WHO(World Health Org.) COVID-19 data,16KB,2021-08-31 13:11:34,1085,28,1.0
10,Plotly,1,datasets,sureshmecad/plotly-dashboard-healthcare,Plotly Dashboard Healthcare,2MB,2022-01-04 11:11:06,29,5,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Plotly,2,datasets,eliasdabbas/european-football-soccer-clubs-on-...,European Football (soccer) Clubs on Google SERPs,2MB,2019-07-12 13:18:21,162,8,0.9411765
4,Plotly,2,datasets,priyanka841/world-development-indicators-world...,World Development Indicators | World Bank,27KB,2020-04-24 10:07:31,229,8,0.5882353
6,Plotly,2,datasets,ritesh2000/fifa20-players-dataset-with-stats-a...,FIFA20 Players Dataset with Stats | Images,2MB,2020-07-01 08:45:10,161,19,0.7941176
8,Plotly,2,datasets,mohamedhanyyy/covid19-worldspreading,Covid-19_WorldSpreading,17KB,2020-09-15 00:18:29,122,17,0.8235294
10,Plotly,2,datasets,nagarajbhat/australian-bush-fire-satellite-dat...,Australian Bush fire satellite data (NASA),19MB,2020-01-31 11:17:30,1612,56,1.0

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Plotly,3,datasets,neerjad/countries,Countries,4KB,2018-05-14 00:55:47,277,2,0.5882353
4,Plotly,3,datasets,kmader/globe-model,globe_model,26MB,2020-06-24 13:09:45,6,3,0.375
6,Plotly,3,datasets,dsailajashankar/covid19-datasets,COVID-19 Data Analysis and Visualization,506KB,2021-02-04 18:23:30,57,2,0.88235295
8,Plotly,3,datasets,jaykumar1607/world-press-index-20192021,World Press Index (2019-2021),3KB,2021-06-21 11:46:23,145,15,1.0
10,Plotly,3,datasets,nakkapraneethreddy/zomato,zomato,89MB,2021-02-21 16:18:53,47,3,0.29411766

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Plotly,4,datasets,zhanhaoh/geographic-data-of-japan,Geographic data of Japan,1MB,2021-05-08 06:51:09,21,2,0.625
4,Plotly,4,datasets,suchitakumari/covid19dataset,Covid19-DataSet,15MB,2022-06-27 15:45:53,323,23,0.64705884
6,Plotly,4,datasets,arjunprasadsarkhel/indian-city-latitude-longitude,Indian City Latitude & Longitude Coordinates,5KB,2021-07-16 10:34:29,517,12,1.0
8,Plotly,4,datasets,datota/uk-food-hygiene-rating-data-london,UK Food Hygiene Rating Data (London),916KB,2022-03-16 12:58:36,328,15,1.0
10,Plotly,4,datasets,snuzbrokh/warehouse-lease-data,Warehouse Lease data,2MB,2020-09-11 15:32:19,175,4,0.4117647

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Plotly,5,datasets,infinator/uk-energy-consumption-2015-a-to-l,UK Energy Consumption 2015 (A to L),56MB,2022-01-30 06:00:12,78,9,0.8235294
4,Plotly,5,datasets,zahidmahar/pattern-mining-project,Pattern Mining project,607KB,2021-03-09 01:49:11,46,23,0.5294118
6,Plotly,5,datasets,saikat026/commonwealth-games,COMMONWEALTH GAMES,559KB,2022-11-06 11:53:57,38,10,0.7647059
8,Plotly,5,datasets,kefahaied/netflixmovies,netflixmovies,346KB,2022-08-03 00:45:22,61,6,0.8235294
10,Plotly,5,datasets,sadaruwan/sri-lanka-dengue-cases-2010-2020,Sri Lanka Dengue Cases 2010 - 2020,88KB,2021-12-05 05:36:10,133,5,0.8235294

,topic,page,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Plotly,6,datasets,ishikakesarwani/tokyo-olympics-medals,Tokyo Olympics medals,4KB,2021-08-08 10:50:04,39,4,0.29411766
4,Plotly,6,datasets,amandaiglesias/oscar-winners-and-nominees,Oscar winners and nominees,20KB,2021-01-31 17:49:49,138,2,0.5882353
6,Plotly,6,datasets,chavansumit/international-hydropower-associati...,International Hydropower Association - India DB,28KB,2021-07-28 11:32:31,25,1,0.9411765
8,Plotly,6,datasets,ayushi19sharma/company-wise-performance-of-it-...,Company wise performance of IT sector in COVID...,1MB,2021-06-19 06:03:09,17,3,0.1875
10,Plotly,6,datasets,liviam/natam-tweets-oct2022,natam_tweets_oct2022,528KB,2022-10-27 16:19:46,0,0,0.9117647

In [14]:
# inspeccion dataframe
datasets.shape

(5425, 10)

In [15]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5425 entries, 2 to 34
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   topic            5425 non-null   object
 1   page             5425 non-null   int64
 2   set              5425 non-null   object
 3   ref              5425 non-null   object
 4   title            5425 non-null   object
 5   size             5425 non-null   object
 6   lastUpdated      5425 non-null   object
 7   downloadCount    5425 non-null   object
 8   voteCount        5425 non-null   object
 9   usabilityRating  5425 non-null   object
dtypes: int64(1), object(9)
memory usage: 466.2+ KB

In [18]:
# generamos csv del dataframe que tiene todos los metadatos en uno solo

datasets.to_csv("api_dataExtraction/datasets.csv")

## Get notebooks/kernels

In [11]:
# extraer notebooks

def getKernels(topics, page):
    
    # extraccion de datos de la api, devuelve una lista
    new_kernelsList = !kaggle kernels list -s $topics --csv -p $page
    
    # si no se obtiene notebooks se muestra un error 500
    lista1 = new_kernelsList[0]
    # obtener el 500 para condicional
    lista1 = lista1.split('-')[0]
    # print(lista1)
    
    # dataframe vacio para concatenar
    kernelsList = []
    
    # for para reemplazar las comas (,)
    # al trasformar la lista a dataframe toma la coma (,) de los metadatos como un separador
    for x in new_kernelsList:
        reemplazarK = x.replace(', ', ' ')
        kernelsList.append(reemplazarK)
    
    # print(kernelsList)
    
    # condicional si se encuentran o no metadatos
    if kernelsList[0] != 'No kernels found':
                
        kernelsDF = convert_to_df(kernelsList) # convertir a df
        
        kernelsDF.insert(0,"topic",topics,True) # agregar columna con el tema
        kernelsDF.insert(1,"page",page,True) # agregar columna con el tema
        kernelsDF.insert(2,"set","kernels",True) # agregar columnna con el tipo de metadato
        
        ultimaColumna = kernelsDF.iloc[:,-1:] # sacar la ultima columna para verificar si est√° vacia o no
        
        # condicional if si la ultima columna esta vacia
        if ultimaColumna.columns.values[0] == None:
            
            kernelsDF = kernelsDF.drop([None], axis=1) # eliminar columna vacia
        
        kernelsDF.dropna(inplace=True) # eliminar filas nulas
        
        ICD.display(kernelsDF.head()) # imprimir
                    
        return(kernelsDF) # return
    return(pd.DataFrame())

In [12]:
# dataframe vacio para concatenar dataframes
notebooks = pd.DataFrame()

In [51]:
# topics = ['Linear-regression', 'Multiple-Linear-Regression']

for x in topics:
    
    lim = 50 # cantidad de p√°ginas que se procesar√°n.
    page = 0
    
    while page <= lim:
        
        page+=1
        
        dfKernels = getKernels(x, page)
        
        if not dfKernels.empty:
            
            # unir todos los dataframes
            notebooks = pd.concat([notebooks, dfKernels])
            
            # generar csv individuales
            # dfKernels.to_csv("api_dataExtraction/notebook_" + x + str(cont) + ".csv")
    
    # time.sleep(120)

In [52]:
notebooks.shape

(19621, 8)

In [53]:
notebooks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19621 entries, 2 to 18
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   topic        19621 non-null  object
 1   page         19621 non-null  int64
 2   set          19621 non-null  object
 3   ref          19621 non-null  object
 4   title        19621 non-null  object
 5   author       19621 non-null  object
 6   lastRunTime  19621 non-null  object
 7   totalVotes   19621 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.3+ MB

In [54]:
notebooks.head(60)

,topic,page,set,ref,title,author,lastRunTime,totalVotes
2,Data-scientist,1,kernels,hiteshp/head-start-for-data-scientist,Head Start for Data Scientist,Hitesh palamada,2018-09-02 18:36:19,1091
4,Data-scientist,1,kernels,jackcook/how-to-become-a-data-scientist,How to Become a Data Scientist,Jack Cook,2017-11-20 20:33:34,301
6,Data-scientist,1,kernels,pedrodematos/titanic-a-complete-approach-for-d...,Titanic: A complete approach for Data Scientists,Pedro Gon√ßalves,2021-06-01 16:16:47,508
2,Data-scientist,2,kernels,ash316/novice-to-grandmaster,Novice to Grandmaster,Ashwini Swain,2018-03-07 17:18:09,789
4,Data-scientist,2,kernels,saurav9786/statistics-for-data-scientists,Statistics For Data Scientists,Saurav Anand,2022-10-26 07:29:54,40
6,Data-scientist,2,kernels,ananysharma/data-scientist-salary-prediction,Data Scientist Salary prediction,Anany Sharma,2020-10-09 13:41:11,19
8,Data-scientist,2,kernels,paultimothymooney/2021-survey-job-title-data-s...,2021 Survey: Job Title = Data Scientist,Paul Mooney,2021-10-14 14:10:58,42
10,Data-scientist,2,kernels,kanncaa1/machine-learning-tutorial-for-beginners,Machine Learning Tutorial for Beginners,DATAI,2018-07-24 14:43:45,2347
12,Data-scientist,2,kernels,dansbecker/submitting-from-a-kernel,Submitting From A Kernel,DanB,2018-01-22 19:25:43,1654
14,Data-scientist,2,kernels,miguelfzzz/the-typical-kaggle-data-scientist-i...,The Typical Kaggle Data Scientist in 2021,Miguel Fzzz,2021-11-04 21:19:45,61
16,Data-scientist,2,kernels,loveall/how-to-become-a-data-scientist,How to Become a Data Scientist,Gokagglers,2017-11-10 09:19:59,26
18,Data-scientist,2,kernels,sudhanshu2198/data-scientist-job-change-predic...,Data Scientist Job Change Prediction,sudhanshu rastogi,2022-10-23 14:06:40,20
20,Data-scientist,2,kernels,gsdeepakkumar/who-is-a-data-scientist-a-statis...,Who is a data scientist ?-A statistical approach,GSD,2018-11-23 14:42:27,22
22,Data-scientist,2,kernels,dhimananubhav/data-scientists-in-germany,Data Scientists in Germany?,Anubhav Dhiman,2018-11-16 16:11:36,24
24,Data-scientist,2,kernels,pmav99/spam-identification-and-data-scientists...,Spam identification and Data Scientists profile,Panos Mavrogiorgos,2021-01-20 10:37:05,59
26,Data-scientist,2,kernels,spurryag/what-defines-a-data-scientist-simple-eda,What defines a Data Scientist? (Simple EDA),Ahan,2019-06-29 11:06:45,13
28,Data-scientist,2,kernels,ldfreeman3/a-data-science-framework-to-achieve...,A Data Science Framework: To Achieve 99% Accuracy,LD Freeman,2017-12-31 18:27:17,5316
30,Data-scientist,2,kernels,dansbecker/getting-started-with-sql-and-bigquery,Getting Started With SQL and BigQuery,DanB,2021-11-09 00:04:04,889
2,Data-scientist,3,kernels,geninhu/direction-toward-a-great-data-scientist,Direction toward a great Data Scientist,Nhu Hoang,2019-12-30 11:51:02,35
4,Data-scientist,3,kernels,gcmadhan/hr-analysis-data-scientist-job,HR Analysis - Data Scientist Job,Madhan Chandrasekharan,2021-01-27 15:10:30,16
6,Data-scientist,3,kernels,garlsham/data-scientists-vs-data-analysts,Data Scientists vs. Data Analysts.,Garry,2018-12-28 23:33:20,18
8,Data-scientist,3,kernels,omkargowda/starter-notebook-data-scientist-salary,Starter Notebook Data Scientist Salary,Omkar Gowda,2022-07-09 12:39:26,11
2,Data-scientist,4,kernels,yogesh239/data-scientist-salary-eda,Data Scientist Salary EDA,Yogesh Shinde,2022-11-20 09:09:25,23
4,Data-scientist,4,kernels,amberthomas/who-are-data-scientists,Who Are Data Scientists?,AmberThomas,2017-10-30 05:30:44,9
6,Data-scientist,4,kernels,nikhilbhathi/100-insights-data-science-jobs-eda,100+ Insights Data Science Jobs EDA,Nikhil Bhati,2021-12-31 01:10:44,64
8,Data-scientist,4,kernels,pleonova/how-many-ml-frameworks-do-data-scient...,How many ML Frameworks do Data Scientists know?,Paula,2018-11-11 20:47:17,42
10,Data-scientist,4,kernels,headsortails/what-we-do-in-the-kernels-a-kaggl...,What We Do in the Kernels - A Kaggle Survey Story,Heads or Tails,2018-12-03 19:34:09,402
12,Data-scientist,4,kernels,alexisbcook/categorical-variables,Categorical Variables,Alexis Cook,2021-11-09 00:07:00,702
14,Data-scientist,4,kernels,jiwon5315/becoming-a-data-scientist,Becoming a Data Scientist,Jiwon,2018-12-17 09:31:39,5
2,Data-scientist,5,kernels,rtatman/sql-scavenger-hunt-handbook,SQL Scavenger Hunt Handbook,Rachael Tatman,2018-02-21 00:54:05,471
4,Data-scientist,5,kernels,codename007/developer-survey-2018-complete-ana...,Developer Survey 2018 : Complete Analysis??,Lathwal,2018-06-08 00:58:31,106
6,Data-scientist,5,kernels,chrispr/interview-with-a-data-scientist-or-not,Interview With a [Data Scientist]... or Not!,ChrisPR,2018-12-08 21:14:13,10
8,Data-scientist,5,kernels,sasakitetsuya/data-scientist-engineer-and-anal...,"""Data Scientist Engineer and Analyst Pred Model""",Tetsuya Sasaki,2022-08-12 07:34:46,21
10,Data-scientist,5,kernels,gpreda/h-1b-visa-applications,H-1B Visa Applications,Gabriel Preda,2018-08-16 16:54:45,136
14,Data-scientist,5,kernels,rtatman/the-5-day-regression-challenge,The 5-Day Regression Challenge,Rachael Tatman,2017-12-13 22:20:15,298
16,Data-scientist,5,kernels,juli0703/powerlifters-are-data-scientists-too,Powerlifters are Data Scientists too!,julio0703,2018-05-01 23:58:29,10
18,Data-scientist,5,kernels,rohanrao/tutorial-on-reading-large-datasets,Tutorial on reading large datasets,Vopani,2020-12-14 17:13:08,1373
20,Data-scientist,5,kernels,brunoarchetti/statistics-for-data-scientists-o...,Statistics for Data Scientists-O'Reilly (chapt...,Bruno Archetti,2020-07-27 14:52:29,15
22,Data-scientist,5,kernels,nomilk/exploring-2-years-of-data-scientist-job...,Exploring 2 years' of Data Scientist Job Listings,nomilk,2021-07-25 16:37:18,6
24,Data-scientist,5,kernels,mullervilmos/essential-data-skills-supply-and-...,Essential Data Skills - Supply and Demand,vmuller,2018-12-13 09:49:18,124
26,Data-scientist,5,kernels,mohamedbakrey/hr-analytics-for-job-change-of-d...,HR Analytics for Job Change of Data Scientists,Mohamed Bakrey,2021-04-01 12:09:55,18
28,Data-scientist,5,kernels,lykin22/data-scientist-s-salary-prediction,Data Scientist's Salary Prediction,Ishan Kotian,2021-07-07 13:28:09,14
30,Data-scientist,5,kernels,dansbecker/data-leakage,Data Leakage,DanB,2018-01-22 00:44:20,483
32,Data-scientist,5,kernels,rohitsahoo/data-scientist-jobs-analysis,Data Scientist Jobs Analysis,Rohit Sahoo,2020-09-13 08:24:09,9
34,Data-scientist,5,kernels,macespinoza/kaggle-de-principiante-a-grandmast...,Kaggle de principiante a Grandmaster en espa√±ol,Miguel Angel Cotrina Espinoza,2019-01-09 19:46:14,95
36,Data-scientist,5,kernels,aamster/overview-of-different-types-of-data-sc...,Overview of different types of data scientists,cosmosaa,2018-12-06 15:08:42,9
38,Data-scientist,5,kernels,nrigheriu/data-scientist-job-postings,Data Scientist Job Postings,Nicolae Righeriu,2020-01-09 14:24:56,5
40,Data-scientist,5,kernels,niyamatalmass/how-to-become-a-data-scientist-i...,How to become a Data Scientist in 2018,Niyamat Ullah,2018-12-06 00:43:28,22
2,Data-scientist,6,kernels,ccollado7/hr-analytics-job-change-of-data-scie...,HR Analytics: Job Change of Data Scientists - EDA,Claudio Collado,2021-03-05 02:22:38,12
4,Data-scientist,6,kernels,zacktack/data-scientist-journey-neuroimaging-lgbm,Data Scientist Journey: Neuroimaging (LGBM),Zhehao Xu,2020-04-26 18:30:56,6
6,Data-scientist,6,kernels,phuchuynguyen/data-scientist-salary-choropleth,Data scientist salary - Choropleth,PhucNH,2021-02-12 17:54:13,6
8,Data-scientist,6,kernels,bbhawa35/05-hr-analytics-job-change-of-data-sc...,05_HR Analytics: Job Change of Data Scientists,BBHawa,2022-10-15 06:43:05,6
10,Data-scientist,6,kernels,parulpandey/geek-girls-rising-myth-or-reality,Geek Girls Rising : Myth or Reality!,Parul Pandey,2019-12-02 06:35:51,402
12,Data-scientist,6,kernels,bthnakd/data-scientist-kernel,DATA SCIENTIST KERNEL,Batuhan,2021-03-24 16:13:30,2
14,Data-scientist,6,kernels,andresionek/what-makes-a-kaggler-valuable,What Makes a Kaggler Valuable?,Andre Sionek,2018-12-18 12:42:40,204
16,Data-scientist,6,kernels,residentmario/faceting-with-seaborn,Faceting with seaborn,Aleksey Bilogur,2018-04-16 22:20:52,195
18,Data-scientist,6,kernels,lokkagle/glassdoor-data-scientist-salary-predi...,Glassdoor Data Scientist Salary Prediction,Lokesh,2020-07-12 08:35:09,3
20,Data-scientist,6,kernels,artimous/real-data-scientists-train-hard,Real Data Scientists train hard,Soumitra Agarwal,2017-04-12 23:46:25,13
22,Data-scientist,6,kernels,mhajabri/what-do-kagglers-say-about-data-science,What do Kagglers say about Data Science ?,Mhamed Jabri,2019-02-03 01:07:43,357
24,Data-scientist,6,kernels,specbug/what-s-in-a-data-scientist-s-backpack,What's in a Data Scientist's backpack?,Rishit Vora,2018-11-16 12:33:54,13

In [55]:
# generar csv con todos los metadatos de todos los dataframes

notebooks.to_csv("api_dataExtraction/notebooks.csv")

In [ ]:
# graphql khan academy