# Api Kaggle

In [1]:
# importar librerias necesarias
import kaggle
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import itertools
from PIL import Image
from IPython.core import display as ICD
%matplotlib inline

In [2]:
# leer archivo Excel que contiene los topicos de Fundamentos de Analsis de Datos

data = pd.read_csv('data/topicos fundamentos de analisis de datos.csv', sep=(';'))

In [3]:
data.head()

                 CONCEPT                   subconcept
0  Data science concepts               Data scientist
1  Data science concepts            Big data concepts
2  Data science concepts         Data mining concepts
3  Data science concepts  Machine learning algorithms
4     Data science tools                 Google colab

In [4]:
data = data.dropna()

In [5]:
topics = []

for x in data['subconcept']:
    newTema = str(x).replace(' ', '-')
    topics.append(newTema)

In [6]:
print(topics)

['Data-scientist', 'Big-data-concepts', 'Data-mining-concepts', 'Machine-learning-algorithms', 'Google-colab', 'Jupyter-notebook', 'Kaggle-Notebook', 'Github', 'Rest-API', 'Scrapy', 'Metadata', 'Data-quality', 'Data-management', 'Csv-dataset', 'Json-dataset', 'Txt-dataset', 'Data-types', 'Numerical-data', 'Categorical-variables', 'Missing-values', 'Null-values', 'Outliers', 'Data-transformation', 'Principal-Component-Analysis-(PCA)', 'Categorical-EDA', 'Univariate-analysis', 'Multivariate-analysis', 'Linear-regression', 'Simple-linear-regression', 'Multiple-Linear-Regression', 'Nonlinear-regression', 'Decision-Trees-regression', 'Neural-network-regression', 'Correlation', 'Correspondence-analysis', 'Measures-of-Central-tendency', 'Central-tendency', 'Central-tendency', 'Measures-of-Dispersion', 'Variance-inflacton-factor', 'Factor-analysis', 'Quartile-analysis', 'Decision-Trees-classification', 'Neural-network-classification', 'Nearest-Neighbors', 'Inferential-analysis', 'R-data-visualization', 'Python-data-visualization', 'Power-BI', 'Tableau', 'matplotlib', 'Seaborn', 'Bokeh', 'Plotly']

In [7]:
# importar libreria kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

In [8]:
# llamar a la api key de kaggle instalada en el ordenador

api = KaggleApi()
api.authenticate()

In [9]:
# metodo para convertir en df los metadatos extraidos

def convert_to_df(csv):
    df = pd.DataFrame(data=csv)[0].str.split(',',expand=True)  
    header = df.iloc[0]
    df = df[1:]
    df.columns = header
    return df

## Get Competetions

## Get datasets

In [28]:
# extraer competitions

def getDataSets(tema):
    
    # extraccion de datos de la api, devuelve una lista
    new_datasetsList = !kaggle datasets list -s $tema --csv
    
    # lista vacia
    datasetsList = []
    
    # for para reemplazar las comas (,)
    # al trasformar la lista a dataframe toma la coma (,) de los metadatos como un separador
    for x in new_datasetsList:
        reemplazar = x.replace(', ', ' ')
        datasetsList.append(reemplazar)
    
    # print(datasetsList)
    
    # condicional si no encuentra metadatos de 
    if datasetsList[0] != 'No datasets found':
                
        # convertir lista a dataframe
        datasetsDF = convert_to_df(datasetsList)
        
        # agregar 2 columnas al dataframe
        datasetsDF.insert(0,"topic",tema,True) # topic
        datasetsDF.insert(1,"set","datasets",True) # type
        
        ultimaColumna = datasetsDF.iloc[:,-1:] # sacar la ultima columna para verificar si est√° vacia o no
        
        # condicional if si la ultima columna esta vacia
        if ultimaColumna.columns.values[0] == None:
            
            datasetsDF = datasetsDF.drop([None], axis=1) # eliminar columna vacia
        
        datasetsDF.dropna(inplace=True) # eliminar filas nulas
                
        return(datasetsDF)
    
    # si no se encuentran datasets se retorna un dataframe vacio
    return(pd.DataFrame())

In [30]:
cont = 0

# dataframe vacio para concatenar
datasets= pd.DataFrame()

for x in topics:
    cont+=1
    
    # obtenemos los dataframes haciendo uso de la funcion
    dfDatasets = getDataSets(x)
    
    # conficional si el dataframe est√° vacio
    if not dfDatasets.empty:
         
        ICD.display(dfDatasets.head()) # imprimir
    
        # concatenamos todos los dataframes  
        datasets = pd.concat([datasets, dfDatasets])

        # generamos csv de los dataframes
        dfDatasets.to_csv("APIdata/datasets_" + x + str(cont) + ".csv")

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-scientist,datasets,nikhilbhathi/data-scientist-salary-us-glassdoor,Data scientist salary,1023KB,2021-12-29 15:28:13,10588,174,1.0
4,Data-scientist,datasets,andrewmvd/data-scientist-jobs,Data Scientist Jobs,4MB,2020-07-16 04:04:58,3212,92,1.0
6,Data-scientist,datasets,arashnic/hr-analytics-job-change-of-data-scien...,HR Analytics: Job Change of Data Scientists,295KB,2020-12-07 00:25:10,43000,1220,1.0
8,Data-scientist,datasets,sl6149/data-scientist-job-market-in-the-us,Data Scientist Job Market in the U.S.,16MB,2018-08-31 17:34:49,12298,326,0.7941176
10,Data-scientist,datasets,omkargowda/data-scientist-salary,Data Scientist Salary,88KB,2022-07-09 11:25:59,1219,47,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Big-data-concepts,datasets,arashnic/e-product-pricing,Marketing: Electronic Products and Pricing Data,4MB,2020-12-19 00:50:26,713,20,0.9705882
4,Big-data-concepts,datasets,techykajal/fakereal-news,Fake-Real News,844KB,2020-06-23 02:46:21,657,14,1.0
6,Big-data-concepts,datasets,miroslavsabo/young-people-survey,Young People Survey,84KB,2016-12-06 03:10:30,39178,702,0.85294116
8,Big-data-concepts,datasets,elikplim/car-evaluation-data-set,Car Evaluation Data Set,5KB,2017-09-01 04:05:49,19312,93,0.8235294
10,Big-data-concepts,datasets,jmmvutu/lottery-features-for-machine-learning-ai,Lottery features for time series Machine Learning,1MB,2021-04-14 13:05:51,114,4,0.8235294

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-mining-concepts,datasets,arashnic/time-series-forecasting-with-yahoo-st...,Time Series Forecasting with Yahoo Stock Price,33KB,2020-11-20 22:35:28,2969,72,1.0
4,Data-mining-concepts,datasets,renatojmsantos/just-dance-on-youtube,Just Dance @ YouTube: Multi-label Text + Analy...,188MB,2022-01-24 18:45:49,157,9,0.9411765
6,Data-mining-concepts,datasets,techykajal/fakereal-news,Fake-Real News,844KB,2020-06-23 02:46:21,657,14,1.0
8,Data-mining-concepts,datasets,metron/public-files-of-religious-and-spiritual...,Public files of religious and spiritual texts,17MB,2018-04-09 04:16:55,332,12,0.75
10,Data-mining-concepts,datasets,saurabhshahane/annotating-and-detecting-phenot...,Annotating and detecting phenotypic information,2MB,2021-03-26 12:09:44,19,5,0.8125

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Machine-learning-algorithms,datasets,shashwatwork/phishing-dataset-for-machine-lear...,Phishing Dataset for Machine Learning,234KB,2021-05-28 14:47:37,3506,48,0.9411765
4,Machine-learning-algorithms,datasets,camnugent/california-housing-prices,California Housing Prices,400KB,2017-11-24 03:14:59,83156,813,0.85294116
6,Machine-learning-algorithms,datasets,rohanrao/nifty50-stock-market-data,NIFTY-50 Stock Market Data (2000 - 2021),18MB,2021-05-01 09:23:17,36105,645,1.0
8,Machine-learning-algorithms,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35656,1518,0.88235295
10,Machine-learning-algorithms,datasets,praveengovi/coronahack-chest-xraydataset,CoronaHack -Chest X-Ray-Dataset,1GB,2020-03-20 01:26:40,16992,509,0.9411765

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Google-colab,datasets,wyattowalsh/basketball,Basketball Dataset,349MB,2021-09-15 03:38:00,11056,340,0.9411765
4,Google-colab,datasets,timoboz/python-data-science-handbook,Python Data Science Handbook,15MB,2021-12-20 07:06:52,3441,448,0.9375
6,Google-colab,datasets,prakharrathi25/google-play-store-reviews,Google Play Store Reviews,3MB,2020-12-24 08:17:02,1693,25,1.0
8,Google-colab,datasets,davidbroberts/cxr-anatomy-detection,CXR anatomy detection,13MB,2021-07-13 16:04:30,57,11,1.0
10,Google-colab,datasets,shravanc/kannada-covid19-sentiment-analysis-da...,Kannada Covid-19 Sentiment Analysis Dataset,33MB,2020-09-08 10:35:29,221,9,0.7058824

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Jupyter-notebook,datasets,kaggle/2015-notebook-ux-survey,2015 Notebook UX Survey,198KB,2017-05-01 17:56:25,1079,49,0.64705884

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Kaggle-Notebook,datasets,jtrotman/kaggle-notebook-user-rankings,Kaggle Notebook User Rankings,65KB,2021-08-17 11:42:20,59,19,1.0
4,Kaggle-Notebook,datasets,vivovinco/kaggle-notebooks-ranking,Kaggle Notebooks Ranking,44KB,2022-01-21 07:57:23,65,24,1.0
6,Kaggle-Notebook,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35656,1518,0.88235295
8,Kaggle-Notebook,datasets,headsortails/notebooks-of-the-week-hidden-gems,Notebooks of the Week - Hidden Gems,4MB,2022-04-05 12:58:55,227,172,1.0
10,Kaggle-Notebook,datasets,daisukelab/dc2020task2,DCASE 2020 Task 2 Unofficial Copy,8GB,2020-03-21 02:50:26,595,12,0.875

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Github,datasets,github/github-repos,GitHub Repos,0B,2019-03-20 23:20:50,0,369,0.64705884
4,Github,datasets,davidshinn/github-issues,GitHub Issues,980MB,2018-01-17 21:26:05,2826,89,0.875
6,Github,datasets,simiotic/github-code-snippets,GitHub Code Snippets,7GB,2021-03-03 11:34:39,724,107,1.0
8,Github,datasets,anmolkumar/github-bugs-prediction,GitHub Bugs Prediction,98MB,2020-10-11 15:25:24,809,34,1.0
10,Github,datasets,isaacwen/github-programming-languages-data,GitHub Programming Languages Data,40KB,2022-01-02 03:58:56,1804,40,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Rest-API,datasets,dansbecker/nba-shot-logs,NBA shot logs,3MB,2016-08-18 05:16:10,14556,341,0.5882353
4,Rest-API,datasets,jorijnsmit/binance-full-history,Binance Full History,26GB,2022-11-17 23:44:24,10722,299,0.875
6,Rest-API,datasets,kenjee/ken-jee-youtube-data,Ken Jee YouTube Data,6MB,2022-01-22 20:38:53,2052,162,1.0
8,Rest-API,datasets,freecodecamp/all-posts-public-main-chatroom,"""freeCodeCamp Gitter Chat 2015-2017""",597MB,2019-10-21 10:35:21,1968,76,0.7647059
10,Rest-API,datasets,maxreis/bitcoin-trades-at-binance-exchange,Bitcoin trades at Binance Exchange,6MB,2021-03-22 00:49:33,47,5,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Scrapy,datasets,gauthamp10/google-playstore-apps,Google Play Store Apps,207MB,2021-06-17 12:04:06,17772,351,1.0
4,Scrapy,datasets,usernam3/shopify-app-store,Shopify app store,71MB,2022-06-05 20:19:32,4846,132,1.0
6,Scrapy,datasets,shreyaspj/android-devices-and-mobiles,Android devices and mobiles,30KB,2020-08-20 18:02:22,363,19,0.5882353
8,Scrapy,datasets,cyaris/2016-mlb-season,2016 MLB Season,237KB,2018-04-21 18:26:56,2380,37,0.8235294
10,Scrapy,datasets,sagunsh/fifa-20-complete-player-dataset,FIFA 20 Complete Player Dataset,2MB,2019-10-05 16:33:26,1161,26,0.9117647

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Metadata,datasets,alamson/safebooru,Safebooru - Anime Image Metadata,333MB,2020-07-24 20:49:07,2755,107,1.0
4,Metadata,datasets,rohanrao/covid19-forecasting-metadata,Covid19 Forecasting Metadata,118KB,2020-05-11 21:42:06,1160,33,1.0
6,Metadata,datasets,tmdb/tmdb-movie-metadata,TMDB 5000 Movie Dataset,9MB,2017-09-28 01:09:12,241305,3225,0.8235294
8,Metadata,datasets,samuelcortinhas/rsna-2022-spine-fracture-detec...,RSNA 2022 Spine Fracture Detection - Metadata,119MB,2022-09-29 13:41:53,892,61,1.0
10,Metadata,datasets,karrrimba/movie-metadatacsv,Movie metadata,554KB,2018-01-09 04:45:32,4346,25,0.5294118

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-quality,datasets,shrutibhargava94/india-air-quality-data,India Air Quality Data,5MB,2017-07-22 05:04:57,22254,344,0.85294116
4,Data-quality,datasets,yasserh/wine-quality-dataset,Wine Quality Dataset,21KB,2022-01-15 19:15:11,20753,469,1.0
6,Data-quality,datasets,venkatramakrishnan/india-water-quality-data,India Water Quality Data,5MB,2016-12-31 12:22:01,6747,103,0.8235294
8,Data-quality,datasets,rohanrao/air-quality-data-in-india,Air Quality Data in India (2015 - 2020),73MB,2020-07-28 12:33:10,29143,412,1.0
10,Data-quality,datasets,anbarivan/indian-water-quality-data,Indian water quality data,45KB,2018-10-23 02:35:30,5959,79,0.88235295

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-management,datasets,xiaowenlimarketing/international-student-time-...,Student Time Management Performance Dataset,3KB,2019-03-05 11:37:41,3517,67,0.8235294
4,Data-management,datasets,headsortails/us-natural-disaster-declarations,US Natural Disaster Declarations,4MB,2022-12-16 17:33:23,2542,101,1.0
6,Data-management,datasets,techsash/waste-classification-data,Waste Classification data,427MB,2019-06-16 03:24:52,15621,320,0.875
8,Data-management,datasets,anikannal/solar-power-generation-data,Solar Power Generation Data,2MB,2020-08-18 15:52:03,28574,806,1.0
10,Data-management,datasets,surajjha101/bigbasket-entire-product-list-28k-...,BigBasket Entire Product List (~28K datapoints),6MB,2022-06-22 12:51:18,5316,183,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Csv-dataset,datasets,balaka18/email-spam-classification-dataset-csv,Email Spam Classification Dataset CSV,2MB,2020-03-10 05:08:13,19116,141,0.9117647
4,Csv-dataset,datasets,harsha547/indian-premier-league-csv-dataset,Indian Premier League CSV dataset,721KB,2016-12-29 23:08:28,18359,143,0.7058824
6,Csv-dataset,datasets,columbine/imdb-dataset-sentiment-analysis-in-c...,IMDB dataset (Sentiment analysis) in CSV format,26MB,2019-11-28 15:44:05,15355,104,1.0
8,Csv-dataset,datasets,prathamsharma123/farmers-protest-tweets-datase...,Farmers Protest Tweets Dataset (CSV),315MB,2021-11-21 07:04:07,756,27,1.0
10,Csv-dataset,datasets,oddrationale/mnist-in-csv,MNIST in CSV,15MB,2018-05-19 02:24:20,88808,597,0.8235294

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Json-dataset,datasets,rtatman/iris-dataset-json-version,Iris Dataset (JSON Version),1KB,2018-04-06 20:21:31,10453,60,0.75
4,Json-dataset,datasets,yelp-dataset/yelp-dataset,Yelp Dataset,4GB,2022-03-17 22:59:01,102448,1510,0.75
6,Json-dataset,datasets,gunnvant/game-of-thrones-srt,Game of Thrones Subtitles,739KB,2018-02-20 10:22:36,45060,192,0.875
8,Json-dataset,datasets,prathamsharma123/farmers-protest-tweets-datase...,Farmers Protest Tweets Dataset (Raw JSON),191MB,2021-03-30 08:28:20,843,18,1.0
10,Json-dataset,datasets,krsna540/synthea-dataset-jsons-ehr,Synthea Dataset Jsons - EHR,2GB,2021-02-28 12:20:18,269,18,0.75

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Txt-dataset,datasets,christianlillelund/donald-trumps-rallies,Donald Trump Rally Speeches,720KB,2020-09-26 10:25:08,3931,131,1.0
4,Txt-dataset,datasets,sudalairajkumar/daily-temperature-of-major-cities,Daily Temperature of Major Cities,13MB,2020-06-05 07:34:48,22207,369,1.0
6,Txt-dataset,datasets,valentynsichkar/traffic-signs-dataset-in-yolo-...,Traffic Signs Dataset in YOLO format,250MB,2020-04-03 22:25:16,8143,83,0.9375
8,Txt-dataset,datasets,hassan06/nslkdd,NSL-KDD,14MB,2019-04-25 06:13:16,12863,126,0.625
10,Txt-dataset,datasets,dasmehdixtr/drone-dataset-uav,Drone Dataset (UAV),716MB,2019-10-01 15:52:51,5050,168,0.9375

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-types,datasets,deepu1109/star-dataset,Star dataset to predict star types,3KB,2019-10-21 19:47:09,7942,199,1.0
4,Data-types,datasets,yamaerenay/mbtitypes-full,MBTI-TYPES Data,146KB,2021-01-31 21:33:31,532,20,1.0
6,Data-types,datasets,zeyadkhalid/mbti-personality-types-500-dataset,MBTI Personality Types 500 Dataset,123MB,2021-12-30 19:29:31,1345,36,0.88235295
8,Data-types,datasets,bahadoreizadkhah/face-mask-types-dataset,Face Mask Types Dataset,115MB,2022-07-05 00:04:04,177,26,0.75
10,Data-types,datasets,raddar/amex-data-integer-dtypes-parquet-format,AMEX data - integer dtypes - parquet format,4GB,2022-06-03 10:31:28,11939,690,0.4375

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Numerical-data,datasets,colearninglounge/employee-attrition,Employee Attrition,52KB,2020-08-26 03:38:50,3719,52,0.8235294
4,Numerical-data,datasets,lepchenkov/usedcarscatalog,Used-cars-catalog,824KB,2019-12-02 12:02:05,7942,119,1.0
6,Numerical-data,datasets,dshah1612/covid19-numerical-claims-open-resear...,COVID-19 Numerical Claims Open Research Dataset,29MB,2022-07-31 08:32:48,742,33,0.9411765
8,Numerical-data,datasets,colearninglounge/chronic-kidney-disease,Chronic Kidney Disease,10KB,2020-08-26 03:33:35,3308,42,0.8235294
10,Numerical-data,datasets,daalgi/fem-simulations,FEM simulations,183KB,2017-10-09 07:22:53,545,20,0.8235294

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-variables,datasets,nicapotato/womens-ecommerce-clothing-reviews,Women's E-Commerce Clothing Reviews,3MB,2018-02-03 19:59:19,53670,959,0.88235295
4,Categorical-variables,datasets,iamhungundji/covid19-symptoms-checker,COVID-19 Symptoms Checker,912KB,2020-03-21 06:05:59,17386,220,1.0
6,Categorical-variables,datasets,volodymyrgavrysh/bank-marketing-campaigns-dataset,Bank marketing campaigns dataset | Opening Dep...,391KB,2020-01-12 10:35:36,9666,154,1.0
8,Categorical-variables,datasets,sajidsaifi/prostate-cancer,Prostate Cancer,2KB,2018-10-19 15:47:48,5411,64,0.7647059
10,Categorical-variables,datasets,harrywang/housing,California Housing Data (1990),400KB,2018-05-10 15:56:31,11762,138,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Missing-values,datasets,jamesleslie/titanic-cleaned-data,Titanic: cleaned data,36KB,2018-11-21 11:50:18,5646,61,0.7647059
4,Missing-values,datasets,uciml/breast-cancer-wisconsin-data,Breast Cancer Wisconsin (Diagnostic) Data Set,49KB,2016-09-25 10:49:04,253876,2926,0.85294116
6,Missing-values,datasets,heptapod/titanic,Titanic,11KB,2017-05-16 08:14:22,48650,909,0.7058824
8,Missing-values,datasets,uciml/electric-power-consumption-data-set,Household Electric Power Consumption,19MB,2016-08-23 17:02:15,22240,285,0.75
10,Missing-values,datasets,arslanali4343/real-estate-dataset,Real Estate DataSet,12KB,2020-09-28 21:25:33,17137,331,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Null-values,datasets,matheusfreitag/gas-prices-in-brazil,Gas Prices in Brazil,3MB,2022-03-11 18:03:57,15126,374,1.0
4,Null-values,datasets,mayureshkoli/best-universities-in-the-united-k...,Best Universities in the United Kingdom,9KB,2022-08-05 05:32:37,1937,41,1.0
6,Null-values,datasets,ariyoomotade/netflix-data-cleaning-analysis-an...,"""Netflix Data: Cleaning Analysis and Visualiza...",270KB,2022-08-26 09:25:43,9869,190,1.0
8,Null-values,datasets,huntermcgushion/rrv-weather-data,Weather Data for Recruit Restaurant Competition,11MB,2018-01-04 23:09:56,4557,81,0.7058824
10,Null-values,datasets,devsubhash/flipkart-mobiles-dataset,Flipkart Mobiles Dataset,54KB,2022-03-20 10:46:28,2443,52,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Outliers,datasets,mokar2001/house-price-tehran-iran,"""House Price (Tehran Iran)""",31KB,2021-09-06 08:00:48,1874,58,1.0
4,Outliers,datasets,broach/button-tone-sz,EEG data from basic sensory task in Schizophrenia,8GB,2019-01-31 18:26:06,4785,194,0.88235295
6,Outliers,datasets,rubenssjr/brasilian-houses-to-rent,brazilian_houses_to_rent,282KB,2020-03-25 22:51:17,10525,284,1.0
8,Outliers,datasets,drscarlat/time-series,Time Series with anomalies,4MB,2021-01-30 18:39:27,1341,15,0.64705884
10,Outliers,datasets,soumikrakshit/anime-faces,Anime Faces,441MB,2019-05-16 10:38:47,7917,174,0.625

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Data-transformation,datasets,uciml/glass,Glass Classification,3KB,2017-01-27 17:27:48,28692,303,0.8235294
4,Data-transformation,datasets,mlg-ulb/creditcardfraud,Credit Card Fraud Detection,66MB,2018-03-23 01:17:27,474368,9676,0.85294116
6,Data-transformation,datasets,xvivancos/barcelona-data-sets,Barcelona data sets,1MB,2020-02-15 23:29:29,15816,346,1.0
8,Data-transformation,datasets,teertha/ushealthinsurancedataset,US Health Insurance Dataset,16KB,2020-02-16 04:43:53,7615,79,0.9411765
10,Data-transformation,datasets,caesarmario/application-data,Credit Card Approval Prediction (Cleaned Version),296KB,2022-03-07 07:02:31,1649,50,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Principal-Component-Analysis-(PCA),datasets,shrutipandit707/housingnewdataset,Housing-New-Dataset,7KB,2022-09-24 05:37:17,868,58,0.88235295
4,Principal-Component-Analysis-(PCA),datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35656,1518,0.88235295
6,Principal-Component-Analysis-(PCA),datasets,kingabzpro/argentina-provincial-data,Argentina provincial data,2KB,2020-12-29 11:06:23,1287,34,1.0
8,Principal-Component-Analysis-(PCA),datasets,mathchi/covid19-and-character-strengths,Covid-19 and Character Strengths,173KB,2021-01-08 22:38:25,1178,65,0.88235295
10,Principal-Component-Analysis-(PCA),datasets,sakhiagarwal/principal-component-analysis-pca,Principal Component Analysis (PCA),94KB,2022-09-19 07:05:43,20,0,0.23529412

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Categorical-EDA,datasets,pranavuikey/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-09-05 10:22:37,1825,39,1.0
4,Categorical-EDA,datasets,titassaha/top-rated-tv-shows,Top Rated TV Shows,391KB,2022-10-18 17:38:12,2469,42,1.0
6,Categorical-EDA,datasets,rishikeshkonapure/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-10-29 06:29:47,928,31,1.0
8,Categorical-EDA,datasets,candicezhao28/edinburgh-airbnb-data,Edinburgh Airbnb Data,27MB,2022-06-16 13:04:04,108,8,0.8235294
10,Categorical-EDA,datasets,dhoogla/cic-evasive-pdfmal2022,CIC-Evasive-PDFMal2022,636KB,2022-08-11 20:54:21,36,5,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Univariate-analysis,datasets,pranavuikey/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-09-05 10:22:37,1825,39,1.0
4,Univariate-analysis,datasets,vitthalmadane/ts-temp-1,Time Series Room Temperature Data,100KB,2022-11-21 10:16:26,557,29,1.0
6,Univariate-analysis,datasets,rishikeshkonapure/black-friday-sales-eda,Black Friday Sales EDA,5MB,2022-10-29 06:29:47,928,31,1.0
8,Univariate-analysis,datasets,debashis74017/stock-market-data-nifty-100-stoc...,Stock Market Data - Nifty 100 stocks (5 min) data,5GB,2022-11-05 22:19:13,163,16,0.88235295
10,Univariate-analysis,datasets,soumyajitdatta/aluminium-prices2014-2022-for-t...,Aluminium Prices Dataset for Time Series,34KB,2022-06-24 14:26:40,71,10,0.3529412

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multivariate-analysis,datasets,aungpyaeap/fish-market,Fish market,2KB,2019-06-13 10:20:33,45912,428,1.0
4,Multivariate-analysis,datasets,nicapotato/womens-ecommerce-clothing-reviews,Women's E-Commerce Clothing Reviews,3MB,2018-02-03 19:59:19,53670,959,0.88235295
6,Multivariate-analysis,datasets,krismurphy01/data-lab,Expanded HR Analytics Data Lab,528KB,2017-08-18 19:45:54,3898,82,0.88235295
8,Multivariate-analysis,datasets,saurabhshahane/goalkeeper-actions-dataset,Goalkeeper Actions Dataset,17KB,2021-06-22 12:20:07,156,16,0.9411765
10,Multivariate-analysis,datasets,viswajithkn/instacart-predict-shopping-time,Instacart Predict Shopping Time,12MB,2018-10-29 17:24:48,543,12,0.64705884

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Linear-regression,datasets,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,44901,466,0.8235294
4,Linear-regression,datasets,tanuprabhu/linear-regression-dataset,Linear Regression Data-set,1KB,2019-06-21 05:57:12,7529,68,1.0
8,Linear-regression,datasets,hellbuoy/car-price-prediction,Car Price Prediction Multiple Linear Regression,18KB,2019-10-15 16:45:27,38866,420,0.7058824
10,Linear-regression,datasets,karthickveerakumar/salary-data-simple-linear-r...,Salary data - Simple linear regression,378B,2018-01-22 17:09:38,39861,230,0.3529412
12,Linear-regression,datasets,kolawale/focusing-on-mobile-app-or-website,Linear Regression E-commerce Dataset,43KB,2019-09-16 19:04:27,6174,51,0.625

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Simple-linear-regression,datasets,karthickveerakumar/salary-data-simple-linear-r...,Salary data - Simple linear regression,378B,2018-01-22 17:09:38,39861,230,0.3529412
4,Simple-linear-regression,datasets,mayurdalvi/simple-linear-regression-placement-...,Simple Linear Regression - Placement data,4KB,2021-11-15 15:02:18,1419,24,1.0
6,Simple-linear-regression,datasets,tmcketterick/heights-and-weights,Heights and weights,262B,2018-01-06 21:42:20,6810,69,0.7058824
8,Simple-linear-regression,datasets,andonians/random-linear-regression,Linear Regression,8KB,2017-05-11 20:15:52,44901,466,0.8235294
10,Simple-linear-regression,datasets,arejet/simple-linear-regression,Simple Linear Regression,780KB,2018-01-17 19:38:13,1364,25,0.29411766

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Multiple-Linear-Regression,datasets,hellbuoy/car-price-prediction,Car Price Prediction Multiple Linear Regression,18KB,2019-10-15 16:45:27,38866,420,0.7058824
4,Multiple-Linear-Regression,datasets,karthickveerakumar/startup-logistic-regression,Startup - Multiple Linear Regression,1KB,2018-01-29 11:42:03,6598,51,0.47058824
6,Multiple-Linear-Regression,datasets,erolmasimov/price-prediction-multiple-linear-r...,Price Prediction -Multiple Linear Regression,6KB,2022-08-03 20:54:12,999,29,0.7647059
8,Multiple-Linear-Regression,datasets,aungpyaeap/fish-market,Fish market,2KB,2019-06-13 10:20:33,45912,428,1.0
10,Multiple-Linear-Regression,datasets,fayejavad/marketing-linear-multiple-regression,Marketing Linear Multiple Regression,2KB,2020-04-24 19:41:25,1771,20,0.29411766

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Nonlinear-regression,datasets,maajdl/yeh-concret-data,Revisiting a Concrete Strength regression,10KB,2018-06-15 20:26:01,5721,108,1.0
4,Nonlinear-regression,datasets,niteshyadav3103/concrete-compressive-strength,Concrete Compressive Strength,15KB,2021-05-09 10:52:12,1453,50,0.88235295
6,Nonlinear-regression,datasets,mcandocia/running-heart-rate-recovery,Running and Heart Rate Data,17MB,2021-07-29 16:34:46,1083,24,0.9117647
8,Nonlinear-regression,datasets,elikplim/concrete-compressive-strength-data-set,Concrete Compressive Strength Data Set,11KB,2017-09-05 03:26:12,3125,21,0.64705884
10,Nonlinear-regression,datasets,zeesolver/china-gdp,1960 to 2014 China's GDP Report,788B,2022-12-17 15:32:57,0,1,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Decision-Trees-regression,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35656,1518,0.88235295
4,Decision-Trees-regression,datasets,moneystore/agencyperformance,Insurance Data,5MB,2016-12-02 12:13:42,8115,120,0.7058824
6,Decision-Trees-regression,datasets,zurfer/rtb,Real Time Bidding,138MB,2017-02-27 18:21:27,2141,63,0.7352941
8,Decision-Trees-regression,datasets,mariosfish/default-of-credit-card-clients,Default of credit card clients,1005KB,2019-09-19 11:04:27,2556,40,0.7941176
10,Decision-Trees-regression,datasets,ayanzadeh93/color-classification,color classification,161MB,2018-04-20 00:13:09,2374,56,0.875

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correlation,datasets,pattnaiksatyajit/event-correlation,Event Correlation,1MB,2021-02-01 10:32:50,100,14,0.7647059
4,Correlation,datasets,levyedgar44/income-and-happiness-correction,Income and Happiness Correlation,5KB,2020-09-22 14:08:13,2039,25,0.7058824
6,Correlation,datasets,nickbaynham/correlation,correlation,128KB,2020-04-21 18:48:55,126,4,0.7058824
8,Correlation,datasets,athosdamiani/guess-the-correlation,Guess The Correlation,191MB,2018-03-30 04:47:37,196,10,0.7058824
10,Correlation,datasets,mruanova/piratesvsglobalwarmingcorrelationcaus...,pirates-vs-global-warming-correlation-causation,304B,2020-12-23 17:53:31,153,11,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Correspondence-analysis,datasets,louislippens/the-state-of-hiring-discrimination,The state of hiring discrimination,80KB,2022-08-31 09:54:54,88,3,0.47058824
4,Correspondence-analysis,datasets,prashant111/glass-identification-dataset,Glass Identification Dataset,9KB,2020-03-16 05:56:26,905,21,0.5294118
6,Correspondence-analysis,datasets,hisunnytang/halo-sims,QuasarNet,3GB,2021-03-24 09:10:58,32,3,0.47058824
8,Correspondence-analysis,datasets,quasarnet/quasarnet,QuasarNet,3GB,2022-04-29 03:35:30,17,2,0.47058824
10,Correspondence-analysis,datasets,louise2001/goethe,Goethe,457MB,2021-04-29 08:44:56,46,17,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Central-tendency,datasets,thedevastator/uncovering-user-perspectives-on-...,Reddit: /r/Bitcoin,285KB,2022-12-19 04:47:40,0,1,0.9411765
4,Central-tendency,datasets,stlouisfed/fomc-summary-of-economic-projection...,FOMC Summary of Economic Projections Time Series,5KB,2019-12-12 00:17:05,14,1,0.5882353

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Central-tendency,datasets,thedevastator/uncovering-user-perspectives-on-...,Reddit: /r/Bitcoin,285KB,2022-12-19 04:47:40,0,1,0.9411765
4,Central-tendency,datasets,stlouisfed/fomc-summary-of-economic-projection...,FOMC Summary of Economic Projections Time Series,5KB,2019-12-12 00:17:05,14,1,0.5882353

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Measures-of-Dispersion,datasets,psterk/income-inequality,GapMinder - Income Inequality,148KB,2020-04-11 19:14:17,1641,45,0.9705882
4,Measures-of-Dispersion,datasets,rohitzaman/gender-age-and-emotion-detection-fr...,"""Gender Age and Emotion Detection from Voice """,945KB,2021-05-29 18:23:07,304,5,0.5294118

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Factor-analysis,datasets,tunguz/big-five-personality-test,Big Five Personality Test,159MB,2020-02-17 15:59:37,19758,750,1.0
4,Factor-analysis,datasets,brsdincer/alzheimer-features,Alzheimer Features,4KB,2021-03-30 19:38:20,2129,40,1.0
6,Factor-analysis,datasets,nancyalaswad90/diamonds-prices,Diamonds Prices,711KB,2022-07-09 14:59:21,5296,151,1.0
8,Factor-analysis,datasets,gyejr95/league-of-legends-challenger-ranked-ga...,League Of Legends High elo Ranked Games(2020),13MB,2020-04-20 14:49:35,2591,83,1.0
10,Factor-analysis,datasets,ipravin/hair-customer-survey-data-for-100-cust...,Product customer survey data for 100 customers,2KB,2019-03-13 17:11:54,930,10,0.5294118

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Quartile-analysis,datasets,rohitzaman/gender-age-and-emotion-detection-fr...,"""Gender Age and Emotion Detection from Voice """,945KB,2021-05-29 18:23:07,304,5,0.5294118
4,Quartile-analysis,datasets,maksymshkliarevskyi/scopus-source-list,Scopus Source List,19MB,2021-08-22 08:17:57,92,6,1.0
6,Quartile-analysis,datasets,dkapitan/nhs-proms-case-study,NHS PROMs case study,53MB,2022-12-18 01:22:34,99,6,0.9375
8,Quartile-analysis,datasets,thedevastator/analyzing-energy-consumption-pat...,Energy Consumption Patterns in Chicago,10MB,2022-12-14 04:31:38,0,1,0.9411765
10,Quartile-analysis,datasets,christianfrey/sea-of-thieves-emissary-data,Sea of Thieves Emissary Leaderboard,16KB,2021-03-05 02:38:11,27,2,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Decision-Trees-classification,datasets,kashnitsky/mlcourse,mlcourse.ai,51MB,2018-12-09 16:45:09,35656,1518,0.88235295
4,Decision-Trees-classification,datasets,moneystore/agencyperformance,Insurance Data,5MB,2016-12-02 12:13:42,8115,120,0.7058824
6,Decision-Trees-classification,datasets,ayanzadeh93/color-classification,color classification,161MB,2018-04-20 00:13:09,2374,56,0.875
8,Decision-Trees-classification,datasets,mariosfish/default-of-credit-card-clients,Default of credit card clients,1005KB,2019-09-19 11:04:27,2556,40,0.7941176
10,Decision-Trees-classification,datasets,aleespinosa/apple-watch-and-fitbit-data,Apple Watch and Fitbit data,700KB,2022-03-02 18:40:39,1735,38,0.88235295

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Neural-network-classification,datasets,muratkokludataset/rice-image-dataset,Rice Image Dataset,219MB,2022-04-03 02:12:00,6122,1641,0.875
4,Neural-network-classification,datasets,puneet6060/intel-image-classification,Intel Image Classification,346MB,2019-01-30 09:22:58,69372,1254,0.75
6,Neural-network-classification,datasets,muratkokludataset/date-fruit-datasets,Date Fruit Datasets,408KB,2022-04-03 09:25:39,15931,1941,0.9375
8,Neural-network-classification,datasets,weinoose/migraine-classification,Data for Migraine Classification,3KB,2022-05-26 17:31:33,1842,55,1.0
10,Neural-network-classification,datasets,muratkokludataset/pistachio-dataset,Pistachio Dataset,2MB,2022-04-03 08:38:21,1447,1470,0.9375

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Nearest-Neighbors,datasets,gkalpolukcu/knn-algorithm-dataset,KNN Algorithm Dataset,49KB,2020-07-05 11:06:30,1947,23,0.5294118
4,Nearest-Neighbors,datasets,joshkyh/glove-twitter,GloVe: Global Vectors for Word Representation,107MB,2017-09-18 22:01:53,803,43,0.875
6,Nearest-Neighbors,datasets,rahulsah06/machine-learning-for-diabetes-with-...,Machine Learning for Diabetes with Python,9KB,2019-09-20 08:04:12,1626,27,0.5882353
8,Nearest-Neighbors,datasets,abdallamahgoub/diabetes,Diabetes predication system with KNN algorithm,9KB,2021-03-12 14:44:33,2308,7,0.3529412
10,Nearest-Neighbors,datasets,ayanzadeh93/color-classification,color classification,161MB,2018-04-20 00:13:09,2374,56,0.875

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Inferential-analysis,datasets,saurabhshahane/geospatiotemporal-and-causal-in...,Geospatiotemporal and Causal Inferential Analysis,60MB,2021-06-01 19:46:56,19,6,0.7647059
4,Inferential-analysis,datasets,kmldas/hr-employee-data-descriptive-analytics,HR Employee Analytics,787KB,2021-05-01 09:16:43,3333,38,0.85294116
6,Inferential-analysis,datasets,abdurahmanmaarouf/nba-players-stats-2016-2017,NBA Player Stats (2016 - 2019),106KB,2020-08-19 17:19:31,169,2,0.88235295
8,Inferential-analysis,datasets,dhireshmasilamani/cyclisticbikesharedataanalysis,Cyclistic-Data-Analysis,31MB,2022-08-20 09:53:23,3,0,0.85294116
10,Inferential-analysis,datasets,sandy1811/data-science-interview-questions,Data Science Interview Questions,1005KB,2022-12-21 05:30:07,798,45,0.88235295

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,R-data-visualization,datasets,kaggle/world-development-indicators,World Development Indicators,369MB,2017-05-01 17:50:44,63248,1613,0.7647059
4,R-data-visualization,datasets,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,60112,832,0.8235294
6,R-data-visualization,datasets,kaushiksuresh147/data-visualization-cheat-chea...,Data Visualization Cheat sheets and Resources,127MB,2022-05-31 11:31:11,2188,191,0.875
8,R-data-visualization,datasets,ilknuricke/neurohackinginrimages,"""Structural MRI Datasets (T1 T2 FLAIR etc.)""",189MB,2019-11-21 00:59:08,4691,111,0.625
10,R-data-visualization,datasets,piterfm/2022-ukraine-russian-war,2022 Russia Ukraine War,10KB,2022-12-20 13:39:28,19964,869,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Python-data-visualization,datasets,kalilurrahman/python-data-visualization-essent...,Python Data Visualization Essentials Guide,2MB,2022-12-17 12:21:32,364,41,1.0
4,Python-data-visualization,datasets,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,60112,832,0.8235294
6,Python-data-visualization,datasets,lakshyaag/india-trade-data,India - Trade Data,3MB,2022-11-02 07:31:00,22129,432,0.9705882
8,Python-data-visualization,datasets,kaushiksuresh147/data-visualization-cheat-chea...,Data Visualization Cheat sheets and Resources,127MB,2022-05-31 11:31:11,2188,191,0.875
10,Python-data-visualization,datasets,piterfm/2022-ukraine-russian-war,2022 Russia Ukraine War,10KB,2022-12-20 13:39:28,19964,869,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Power-BI,datasets,aman1497/power-bi-projects,Power BI Projects,2MB,2022-04-06 05:25:44,1272,24,0.375
4,Power-BI,datasets,kalilurrahman/2021-kaggle-machine-learning-dat...,2021 Kaggle Machine Learning & Data Science Su...,8MB,2022-03-22 12:29:52,349,22,1.0

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Tableau,datasets,ariyoomotade/netflix-data-cleaning-analysis-an...,"""Netflix Data: Cleaning Analysis and Visualiza...",270KB,2022-08-26 09:25:43,9869,190,1.0
4,Tableau,datasets,nadianizam/tableau-pic,tableau pic,391KB,2021-03-11 03:13:43,32,27,0.75
6,Tableau,datasets,arindam235/startup-investments-crunchbase,StartUp Investments (Crunchbase),3MB,2020-02-17 21:54:42,9342,299,0.88235295
8,Tableau,datasets,nadianizam/tableau-pic1,tableau_pic1,45KB,2021-03-12 09:42:45,16,23,0.75
10,Tableau,datasets,rhuebner/human-resources-data-set,Human Resources Data Set,17KB,2020-10-19 13:50:53,60112,832,0.8235294

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,matplotlib,datasets,mielek/python-matplotlib-introduction-dataset,Python Matplotlib Introduction Dataset,1KB,2020-02-12 16:57:40,193,21,0.4117647
4,matplotlib,datasets,andreshg/countries-iso-codes-continent-flags-url,Countries ISO Codes | Continent | Flags URL,8KB,2021-04-01 12:44:30,614,25,0.9705882
6,matplotlib,datasets,dhruvildave/github-commit-messages-dataset,GitHub Commit Messages Dataset,903MB,2021-04-21 11:56:07,403,35,1.0
8,matplotlib,datasets,gemartin/world-bank-data-1960-to-2016,World Bank Data (1960 to 2016),187KB,2018-07-12 06:11:24,5706,103,0.7058824
10,matplotlib,datasets,kandij/diabetes-dataset,Diabetics prediction using logistic regression,9KB,2019-05-07 05:18:45,14873,162,0.5294118

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Seaborn,datasets,ranjeetjain3/seaborn-tips-dataset,seaborn_tips_dataset,2KB,2018-04-02 11:34:35,8209,37,0.3529412
4,Seaborn,datasets,mielek/python-seaborn-datas,Python Seaborn Datas,27KB,2020-02-13 15:35:58,169,24,0.47058824
6,Seaborn,datasets,gaganmaahi224/mathplotlib-tutorial,Seaborn Tutorial,7MB,2021-10-27 11:48:52,182,14,0.23529412
8,Seaborn,datasets,jsphyg/tipping,A Waiter's Tips,2KB,2019-03-12 09:31:16,10671,71,1.0
10,Seaborn,datasets,tklimonova/gapminder-datacamp-2007,Gapminder World,35KB,2019-10-23 14:36:21,3340,30,0.9411765

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Bokeh,datasets,kingabzpro/cosmetics-datasets,Cosmetics datasets,263KB,2020-12-16 10:47:37,3582,56,1.0
4,Bokeh,datasets,ritesh2000/fifa20-players-dataset-with-stats-a...,FIFA20 Players Dataset with Stats | Images,2MB,2020-07-01 08:45:10,158,19,0.7941176
6,Bokeh,datasets,nagarajbhat/australian-bush-fire-satellite-dat...,Australian Bush fire satellite data (NASA),19MB,2020-01-31 11:17:30,1610,56,1.0
8,Bokeh,datasets,ritesh2000/pokemon-dataset-with-stats,Pokemon Dataset with Stats,2KB,2020-06-30 15:43:21,179,21,0.85294116
10,Bokeh,datasets,smart1004/pandas-bokeh,pandas_bokeh,123KB,2020-06-29 09:19:17,13,2,0.1764706

,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
2,Plotly,datasets,andradaolteanu/country-mapping-iso-continent-r...,"""Country Mapping - ISO Continent Region""",5KB,2019-12-15 15:07:34,7952,76,0.88235295
4,Plotly,datasets,sogun3/uspollution,U.S. Pollution Data,26MB,2016-11-04 17:32:56,22546,437,0.7058824
6,Plotly,datasets,umeshkumar017/who-covid19-data-tabe,WHO(World Health Org.) COVID-19 data,16KB,2021-08-31 13:11:34,1080,28,1.0
8,Plotly,datasets,andreshg/countries-iso-codes-continent-flags-url,Countries ISO Codes | Continent | Flags URL,8KB,2021-04-01 12:44:30,614,25,0.9705882
10,Plotly,datasets,sureshmecad/plotly-dashboard-healthcare,Plotly Dashboard Healthcare,2MB,2022-01-04 11:11:06,29,5,0.8235294

In [31]:
# inspeccion dataframe
datasets.shape

(832, 9)

In [32]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 832 entries, 2 to 40
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   topic            832 non-null    object
 1   set              832 non-null    object
 2   ref              832 non-null    object
 3   title            832 non-null    object
 4   size             832 non-null    object
 5   lastUpdated      832 non-null    object
 6   downloadCount    832 non-null    object
 7   voteCount        832 non-null    object
 8   usabilityRating  832 non-null    object
dtypes: object(9)
memory usage: 65.0+ KB

In [33]:
# generamos csv del dataframe que tiene todos los metadatos en uno solo

datasets.to_csv("APIdata/datasets.csv")

## Extraer notebooks/kernels

In [30]:
# extraer notebooks

def getKernels(topics, count):
    
    # extraccion de datos de la api, devuelve una lista
    new_kernelsList = !kaggle kernels list -s $topics --csv
    
    # si no se obtiene notebooks se muestra un error 500
    lista1 = new_kernelsList[0]
    # obtener el 500 para condicional
    lista1 = lista1.split('-')[0]
    # print(lista1)
    
    # dataframe vacio para concatenar
    kernelsList = []
    
    # for para reemplazar las comas (,)
    # al trasformar la lista a dataframe toma la coma (,) de los metadatos como un separador
    for x in new_kernelsList:
        reemplazarK = x.replace(', ', ' ')
        kernelsList.append(reemplazarK)
    
    # print(kernelsList)
    
    # condicional si se encuentran o no metadatos
    if lista1 != "500 ":
                
        kernelsDF = convert_to_df(kernelsList) # convertir a df
        
        kernelsDF.insert(0,"topic",x,True) # agregar columna con el tema
        kernelsDF.insert(1,"set","kernels",True) # agregar columnna con el tipo de metadato
        
        ultimaColumna = kernelsDF.iloc[:,-1:] # sacar la ultima columna para verificar si est√° vacia o no
        
        # condicional if si la ultima columna esta vacia
        if ultimaColumna.columns.values[0] == None:
            
            kernelsDF = kernelsDF.drop([None], axis=1) # eliminar columna vacia
        
        kernelsDF.dropna(inplace=True) # eliminar filas nulas
        
        ICD.display(kernelsDF.head()) # imprimir
                    
        return(kernelsDF) # return
    return(pd.DataFrame())

In [31]:
count = 0

notebooks = pd.DataFrame()

for x in topics:
    
    dfKernels = getKernels(x, count)
    count+=1
    
    notebooks = pd.concat([notebooks, dfKernels])
    
    dfKernels.to_csv("APIdata/notebook_" + x + str(cont) + ".csv")

['ref,title,author,lastRunTime,totalVotes', '', 'anokas/data-analysis-xgboost-starter-0-35460-lb,Data Analysis & XGBoost Starter (0.35460 LB),anokas,2017-04-12 14:22:20,1414', '', 'dimarudov/data-analysis-using-sql,Data Analysis using SQL,Dima Rudov,2022-03-21 19:40:13,582', '', 'peterchang77/exploratory-data-analysis,Exploratory Data Analysis,Peter,2018-08-27 14:52:22,304', '', 'kashnitsky/topic-1-exploratory-data-analysis-with-pandas,Topic 1. Exploratory Data Analysis with Pandas,Yury Kashnitsky,2021-05-07 08:35:46,873', '', 'anokas/data-exploration-analysis,Data Exploration & Analysis,anokas,2017-04-21 18:30:17,405', '', 'anokas/exploratory-data-analysis-4,Exploratory Data Analysis,anokas,2017-04-07 17:22:48,303', '', 'rounakbanik/ted-data-analysis,TED Data Analysis,Rounak Banik,2017-10-19 13:46:29,212', '', 'ekami66/detailed-exploratory-data-analysis-with-python,Detailed exploratory data analysis with python,Tuatini GODARD,2017-01-20 02:06:37,646', '', 'ruslankl/eeg-data-analysis,EEG Data Analysis ,def me(x),2019-01-08 18:10:20,163', '', 'ihelon/hubmap-exploratory-data-analysis,HuBMAP - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-30 22:55:15,311', '', 'mmetter/pokemon-data-analysis-tutorial,Pokemon Data Analysis Tutorial,Michael Metter,2018-07-18 16:05:11,139', '', 'jonathanbouchet/f1-data-analysis,F1 Data analysis,Jonathan Bouchet,2017-12-09 03:36:26,188', '', 'pmarcelino/data-analysis-and-feature-extraction-with-python,Data analysis and feature extraction with Python,"Pedro Marcelino PhD",2022-04-30 19:20:15,619', '', 'loaiabdalslam/sales-data-analysis-report,Sales Data Analysis Report !,Loai abdalslam,2019-02-09 12:47:15,176', '', 'notaapple/detailed-exploratory-data-analysis-using-r,Detailed Exploratory Data Analysis using R ,AiO,2017-01-07 22:25:15,330', '', 'chirag9073/netflix-data-analysis,Netflix Data Analysis,Chirag Samal,2020-06-03 05:54:25,86', '', 'tannercarbonati/detailed-data-analysis-ensemble-modeling,Detailed Data Analysis & Ensemble Modeling,a ghost,2017-07-15 19:36:06,365', '', 'amirrezaeian/time-series-data-analysis-using-lstm-tutorial,Time-series data analysis using LSTM (Tutorial),Amir Rezaeian,2018-02-06 17:08:41,279', '', 'ihelon/cassava-leaf-disease-exploratory-data-analysis,Cassava Leaf Disease - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-28 21:48:41,391', '', 'randylaosat/simple-exploratory-data-analysis-passnyc,Simple Exploratory Data Analysis - PASSNYC,randy lao,2018-07-14 13:50:08,231', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,anokas/data-analysis-xgboost-starter-0-35460-lb,Data Analysis & XGBoost Starter (0.35460 LB),anokas,2017-04-12 14:22:20,1414
4,,kernels,dimarudov/data-analysis-using-sql,Data Analysis using SQL,Dima Rudov,2022-03-21 19:40:13,582
6,,kernels,peterchang77/exploratory-data-analysis,Exploratory Data Analysis,Peter,2018-08-27 14:52:22,304
8,,kernels,kashnitsky/topic-1-exploratory-data-analysis-w...,Topic 1. Exploratory Data Analysis with Pandas,Yury Kashnitsky,2021-05-07 08:35:46,873
10,,kernels,anokas/data-exploration-analysis,Data Exploration & Analysis,anokas,2017-04-21 18:30:17,405

['ref,title,author,lastRunTime,totalVotes', '', 'carolzhangdc/predict-imdb-score-with-data-mining-algorithms,Predict IMDB score with data mining algorithms,Yueming,2018-01-12 05:28:17,84', '', 'ekrembayar/f-r-i-e-n-d-s-text-mining-data-visualization,F.R.I.E.N.D.S Text Mining & Data Visualization,Ekrem Bayar,2021-12-06 10:21:40,110', '', 'josipdomazet/mining-nyc-airbnb-data-using-r,Mining NYC Airbnb data using R,Josip Domazet,2019-09-03 10:33:49,46', '', 'diegocalvo/data-mining-of-mental-health,Data mining of mental health,Diego Calvo,2017-02-11 21:54:46,32', '', 'emmaren/cold-calls-data-mining-and-model-selection,Cold Calls: Data Mining and Model Selection,Emma Ren,2017-07-20 06:49:41,40', '', "'charmap' codec can't encode characters in position 56-57: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode characters in pos...,kernels,carolzhangdc/predict-imdb-score-with-data-mini...,Predict IMDB score with data mining algorithms,Yueming,2018-01-12 05:28:17,84
4,'charmap' codec can't encode characters in pos...,kernels,ekrembayar/f-r-i-e-n-d-s-text-mining-data-visu...,F.R.I.E.N.D.S Text Mining & Data Visualization,Ekrem Bayar,2021-12-06 10:21:40,110
6,'charmap' codec can't encode characters in pos...,kernels,josipdomazet/mining-nyc-airbnb-data-using-r,Mining NYC Airbnb data using R,Josip Domazet,2019-09-03 10:33:49,46
8,'charmap' codec can't encode characters in pos...,kernels,diegocalvo/data-mining-of-mental-health,Data mining of mental health,Diego Calvo,2017-02-11 21:54:46,32
10,'charmap' codec can't encode characters in pos...,kernels,emmaren/cold-calls-data-mining-and-model-selec...,Cold Calls: Data Mining and Model Selection,Emma Ren,2017-07-20 06:49:41,40

['ref,title,author,lastRunTime,totalVotes', '', 'dansbecker/your-first-machine-learning-model,Your First Machine Learning Model,DanB,2021-11-09 00:01:04,2915', '', 'kanncaa1/machine-learning-tutorial-for-beginners,Machine Learning Tutorial for Beginners,DATAI,2018-07-24 14:43:45,2342', '', 'dansbecker/exercise-build-your-first-machine-learning-model,Exercise: Build Your First Machine Learning Model,DanB,2018-09-27 21:55:58,361', '', ',[Private Notebook],,2010-04-01 00:00:00,0', '', 'dansbecker/exercise-machine-learning-competitions,Exercise: Machine Learning Competitions,DanB,2021-11-09 00:00:21,70', '', 'yogeshtak/exercise-your-first-machine-learning-model,Exercise: Your First Machine Learning Model,Yogesh Tak,2020-01-03 14:51:27,2841', '', 'cdabakoglu/heart-disease-classifications-machine-learning,Heart Disease - Classifications (Machine Learning),Caner Dabakoglu,2019-08-07 06:20:35,806', '', 'alexisbcook/machine-learning-competitions,Machine Learning Competitions,Alexis Cook,2021-11-09 00:02:46,240', '', 'dansbecker/learn-machine-learning,Learn Machine Learning,DanB,2018-04-04 12:21:16,379', '', 'jchen2186/machine-learning-with-iris-dataset,Machine Learning with Iris Dataset,Jane,2017-08-07 18:02:48,266', '', 'gargmanish/basic-machine-learning-with-cancer,Basic Machine Learning with Cancer,Manish Kumar,2017-05-30 15:30:18,352', '', 'kairosart/machine-learning-for-mental-health-1,Machine Learning for Mental Health,kairos,2018-06-26 12:58:37,156', '', 'ranjeetjain3/visualization-machine-learning-deep-learning,Visualization -> Machine learning -> Deep learning,Ranjeet Jain,2019-11-29 15:40:08,148', '', 'rtatman/bigquery-machine-learning-tutorial,BigQuery Machine Learning Tutorial,Rachael Tatman,2019-09-12 22:19:05,116', '', "'charmap' codec can't encode character '\\U0001fa7a' in position 107: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,dansbecker/your-first-machine-learning-model,Your First Machine Learning Model,DanB,2021-11-09 00:01:04,2915
4,'charmap' codec can't encode character '\U0001...,kernels,kanncaa1/machine-learning-tutorial-for-beginners,Machine Learning Tutorial for Beginners,DATAI,2018-07-24 14:43:45,2342
6,'charmap' codec can't encode character '\U0001...,kernels,dansbecker/exercise-build-your-first-machine-l...,Exercise: Build Your First Machine Learning Model,DanB,2018-09-27 21:55:58,361
8,'charmap' codec can't encode character '\U0001...,kernels,,[Private Notebook],,2010-04-01 00:00:00,0
10,'charmap' codec can't encode character '\U0001...,kernels,dansbecker/exercise-machine-learning-competitions,Exercise: Machine Learning Competitions,DanB,2021-11-09 00:00:21,70

['ref,title,author,lastRunTime,totalVotes', '', 'pmarcelino/data-analysis-and-feature-extraction-with-python,Data analysis and feature extraction with Python,"Pedro Marcelino PhD",2022-04-30 19:20:15,619', '', 'wfaria/midi-music-data-extraction-using-music21,MIDI Music Data Extraction using Music21,Waldecir Faria,2018-09-11 23:57:59,61', '', 'kaushiksuresh147/twitter-data-extraction,Twitter data extraction,Kash,2021-06-23 19:40:49,26', '', 'saga21/cord-19-data-extraction-functions,CORD-19 - Data extraction functions,Patrick S√°nchez,2020-05-08 12:17:12,60', '', 'pavansanagapati/spotify-music-api-data-extraction-part1,Spotify Music API - Data Extraction - Part1,Pavan Sanagapati,2020-06-15 16:00:15,32', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'kaushiksuresh147/twitter-data-extraction-for-ipl2020,Twitter data extraction for #ipl2020,Kash,2020-08-23 21:36:11,13', '', 'kanncaa1/feature-selection-and-data-visualization,Feature Selection and Data Visualization,DATAI,2021-07-10 16:05:36,1689', '', 'tanulsingh077/twitter-sentiment-extaction-analysis-eda-and-model,"Twitter sentiment Extaction-Analysis,EDA and Model",Mr_KnowNothing,2020-04-14 10:09:10,1451', '', "'charmap' codec can't encode characters in position 69-71: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode characters in pos...,kernels,pmarcelino/data-analysis-and-feature-extractio...,Data analysis and feature extraction with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:15,619
4,'charmap' codec can't encode characters in pos...,kernels,wfaria/midi-music-data-extraction-using-music21,MIDI Music Data Extraction using Music21,Waldecir Faria,2018-09-11 23:57:59,61
6,'charmap' codec can't encode characters in pos...,kernels,kaushiksuresh147/twitter-data-extraction,Twitter data extraction,Kash,2021-06-23 19:40:49,26
8,'charmap' codec can't encode characters in pos...,kernels,saga21/cord-19-data-extraction-functions,CORD-19 - Data extraction functions,Patrick S√°nchez,2020-05-08 12:17:12,60
10,'charmap' codec can't encode characters in pos...,kernels,pavansanagapati/spotify-music-api-data-extract...,Spotify Music API - Data Extraction - Part1,Pavan Sanagapati,2020-06-15 16:00:15,32

['ref,title,author,lastRunTime,totalVotes', '', "'charmap' codec can't encode characters in position 83-84: character maps to <undefined>"]

Empty DataFrame
Columns: [topic, set, ref, title, author, lastRunTime, totalVotes]
Index: []

['ref,title,author,lastRunTime,totalVotes', '', 'alexisbcook/intro-to-automl,Intro to AutoML,Alexis Cook,2021-11-09 00:01:59,460', '', 'ekrembayar/fifa-19-dashboard-with-r-shiny,FIFA 19 Dashboard with R Shiny,Ekrem Bayar,2020-09-01 19:18:32,214', '', 'ihelon/cassava-leaf-disease-exploratory-data-analysis,Cassava Leaf Disease - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-28 21:48:41,391', '', 'rishabhiitbhu/unet-pytorch-inference-kernel,UNet (Pytorch) inference kernel,Rishabh Agrahari,2019-08-08 05:07:38,199', '', 'gpreda/deepfake-starter-kit,DeepFake Starter Kit,Gabriel Preda,2020-02-05 09:36:03,639', '', 'yufengg/automl-getting-started-notebook,AutoML Getting Started Notebook,Yufeng Guo,2020-01-23 16:21:00,151', '', 'gzuidhof/full-preprocessing-tutorial,Full Preprocessing Tutorial,Guido Zuidhof,2017-02-24 06:16:38,2370', '', 'remekkinas/yolox-training-pipeline-cots-dataset-lb-0-507,YoloX training pipeline COTS dataset [LB 0.507] !!,Remek Kinas,2021-12-02 11:42:35,433', '', "'charmap' codec can't encode character '\\u23eb' in position 60: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\u23eb...,kernels,alexisbcook/intro-to-automl,Intro to AutoML,Alexis Cook,2021-11-09 00:01:59,460
4,'charmap' codec can't encode character '\u23eb...,kernels,ekrembayar/fifa-19-dashboard-with-r-shiny,FIFA 19 Dashboard with R Shiny,Ekrem Bayar,2020-09-01 19:18:32,214
6,'charmap' codec can't encode character '\u23eb...,kernels,ihelon/cassava-leaf-disease-exploratory-data-a...,Cassava Leaf Disease - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-28 21:48:41,391
8,'charmap' codec can't encode character '\u23eb...,kernels,rishabhiitbhu/unet-pytorch-inference-kernel,UNet (Pytorch) inference kernel,Rishabh Agrahari,2019-08-08 05:07:38,199
10,'charmap' codec can't encode character '\u23eb...,kernels,gpreda/deepfake-starter-kit,DeepFake Starter Kit,Gabriel Preda,2020-02-05 09:36:03,639

['ref,title,author,lastRunTime,totalVotes', '', 'madhurisivalenka/basic-machine-learning-with-red-wine-quality-data,Basic Machine Learning with Red Wine Quality data,Madhuri Sivalenka,2018-03-04 04:29:29,131', '', 'taha07/wine-quality-prediction-data-analysis,Wine Quality Prediction & Data Analysis ,Taha07,2020-06-28 05:26:57,36', '', 'kanncaa1/water-quality-explanatory-data-analysis,Water Quality Explanatory Data Analysis,DATAI,2021-07-15 09:43:45,32', '', 'vbmokin/datasets-for-river-water-quality-prediction,Datasets for river water quality prediction,Vitalii Mokin,2021-01-27 22:39:02,73', '', 'dansbecker/model-validation,Model Validation,DanB,2021-11-09 00:00:51,2656', '', 'georgyzubkov/wine-quality-exploratory-data-analysis-ml,Wine quality. Exploratory data analysis+ML.,Georgy Zubkov,2022-08-16 11:05:12,96', '', 'digvijaysingh16/k-mean-clustering-for-wine-quality-data,K-Mean clustering for Wine Quality Data,Mr D,2018-07-04 04:13:39,31', '', 'nikunjmalpani/wine-quality-prediction-imbalanced-data,Wine Quality Prediction | Imbalanced Data,Nikunj Malpani,2022-03-02 23:43:25,38', '', 'devisangeetha/data-analysis-on-water-quality,Data Analysis on water Quality,DSangeetha,2017-06-28 03:04:46,17', '', 'vishalyo990/prediction-of-quality-of-wine,Prediction of quality of Wine,Vishal Kumar,2018-01-19 14:35:37,856', '', 'erikbruin/house-prices-lasso-xgboost-and-a-detailed-eda,"House prices: Lasso XGBoost and a detailed EDA",Erik Bruin,2018-05-10 06:33:09,1477', '', 'ishanvardhan/india-air-quality-data-cleaning-and-analysis,India Air quality: Data cleaning and Analysis,Ishan Vardhan Mahajan,2018-10-02 07:05:02,20', '', 'dansbecker/handling-missing-values,Handling Missing Values,DanB,2019-02-26 02:31:25,1330', '', 'mahnoorshahidshakir/data-quality-assessment-for-an-organization,Data Quality Assessment for an Organization,Mahnoor Shahid,2020-08-30 11:59:59,21', '', 'inmine/novelai-with-webui-stable-diffusion-version,NovelAI with webUI(Stable Diffusion version),inmine,2022-12-21 13:55:54,1439', '', 'ashwathbalaji/data-cleaning-india-air-quality,Data Cleaning India Air Quality,Ashwath Balaji,2019-10-11 01:16:53,19', '', 'harshjain123/red-wine-quality-exploratory-data-analysis,Red Wine Quality - Exploratory Data Analysis,Harsh Jain,2021-05-06 12:52:53,41', '', 'dansbecker/your-first-machine-learning-model,Your First Machine Learning Model,DanB,2021-11-09 00:01:04,2915', '', 'georgyzubkov/water-quality-exploratory-data-analysis-ml-rf,Water quality.Exploratory data analysis + ML(RF),Georgy Zubkov,2022-09-09 03:59:33,98', '', 'alexisbcook/cross-validation,Cross-Validation,Alexis Cook,2021-11-09 00:06:31,405', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,madhurisivalenka/basic-machine-learning-with-r...,Basic Machine Learning with Red Wine Quality data,Madhuri Sivalenka,2018-03-04 04:29:29,131
4,,kernels,taha07/wine-quality-prediction-data-analysis,Wine Quality Prediction & Data Analysis,Taha07,2020-06-28 05:26:57,36
6,,kernels,kanncaa1/water-quality-explanatory-data-analysis,Water Quality Explanatory Data Analysis,DATAI,2021-07-15 09:43:45,32
8,,kernels,vbmokin/datasets-for-river-water-quality-predi...,Datasets for river water quality prediction,Vitalii Mokin,2021-01-27 22:39:02,73
10,,kernels,dansbecker/model-validation,Model Validation,DanB,2021-11-09 00:00:51,2656

['ref,title,author,lastRunTime,totalVotes', '', 'nkitgupta/advance-data-preprocessing,Advance Data Preprocessing,Ankit Gupta,2022-04-14 14:28:14,128', '', 'faressayah/logistic-regression-data-preprocessing,Logistic Regression & Data Preprocessing,Fares Sayah,2021-02-10 15:11:21,90', '', 'agrawaladitya/step-by-step-data-preprocessing-eda,Step-by-step Data Preprocessing & EDA,Aditya Agrawal,2018-08-28 22:30:48,112', '', 'mistag/data-preprocessing-with-gwpy,Data Preprocessing with GWPy,Geir Drange,2021-08-05 16:22:03,108', '', 'kmader/data-preprocessing-and-unet-segmentation-gpu,Data Preprocessing and UNet Segmentation (GPU),K Scott Mader,2018-04-21 17:05:16,70', '', 'rhtsingh/external-data-mlqa-xquad-preprocessing,"External Data - MLQA XQUAD Preprocessing",torch,2021-09-08 21:33:05,103', '', 'abhishekmamidi/titanic-data-preprocessing-and-visualization,Titanic - Data Preprocessing and Visualization,Abhishekmamidi,2019-12-22 08:49:05,68', '', 'vikassingh1996/extensive-data-preprocessing-and-modeling,Extensive Data Preprocessing And Modeling,Vikas Singh,2019-08-20 13:38:34,92', '', 'utkarshm25/data-preprocessing-basics,Data Preprocessing Basics,Utkarsh Sharma,2021-03-31 13:20:55,55', '', 'fizzbuzz/toxic-data-preprocessing,Toxic Data Preprocessing,Zafar,2018-03-12 15:59:05,40', '', 'saurav9786/amex-data-preprocessing-eda-feature-engineering,"AMEX Data Preprocessing ,EDA Feature Engineering ",Saurav Anand,2022-07-31 14:35:34,74', '', 'saxinou/nlp-01-preprocessing-data,NLP 01 - Preprocessing data,S.Day,2018-01-08 14:23:20,22', '', 'anirban7/data-preprocessing-for-beginners,Data preprocessing for Beginners,Anirban Dutta,2019-06-03 05:15:20,27', '', 'king9528/data-preprocessing-in-python,Data preprocessing in python,monkeyking,2018-07-09 08:18:17,19', '', 'ohseokkim/preprocessing-encoding-categorical-data,[Preprocessing] Encoding Categorical Data,OH SEOK KIM,2021-11-16 10:37:14,55', '', 'srivignesh/data-preprocessing-for-house-price-prediction,Data preprocessing for House Price Prediction ,Srivignesh Rajan,2020-07-10 11:30:12,34', '', 'vedanth777/telecom-customer-churn-data-preprocessing,Telecom-Customer-Churn-Data-Preprocessing,Vedanth,2021-02-09 10:57:12,34', '', 'mahyamahjoob/data-preprocessing,Data Preprocessing,Mahya Mahjoob,2021-12-20 19:35:18,28', '', 'ajay1216/practical-guide-on-data-preprocessing-in-python,Practical Guide on Data Preprocessing in Python,Ajay Shewale,2018-09-22 13:53:12,29', '', 'bhavikapanara/data-preprocessing-and-analysis,Data Preprocessing and Analysis,Bhavika,2018-08-26 17:41:25,18', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,nkitgupta/advance-data-preprocessing,Advance Data Preprocessing,Ankit Gupta,2022-04-14 14:28:14,128
4,,kernels,faressayah/logistic-regression-data-preprocessing,Logistic Regression & Data Preprocessing,Fares Sayah,2021-02-10 15:11:21,90
6,,kernels,agrawaladitya/step-by-step-data-preprocessing-eda,Step-by-step Data Preprocessing & EDA,Aditya Agrawal,2018-08-28 22:30:48,112
8,,kernels,mistag/data-preprocessing-with-gwpy,Data Preprocessing with GWPy,Geir Drange,2021-08-05 16:22:03,108
10,,kernels,kmader/data-preprocessing-and-unet-segmentatio...,Data Preprocessing and UNet Segmentation (GPU),K Scott Mader,2018-04-21 17:05:16,70

['ref,title,author,lastRunTime,totalVotes', '', 'rtatman/data-cleaning-challenge-handling-missing-values,Data Cleaning Challenge: Handling missing values,Rachael Tatman,2018-03-30 21:18:56,1272', '', 'rtatman/data-cleaning-challenge-scale-and-normalize-data,Data Cleaning Challenge: Scale and Normalize Data,Rachael Tatman,2018-03-30 21:18:36,556', '', 'rtatman/data-cleaning-challenge-parsing-dates,Data Cleaning Challenge: Parsing Dates,Rachael Tatman,2018-03-30 21:17:59,251', '', 'rtatman/data-cleaning-challenge-inconsistent-data-entry,Data Cleaning Challenge: Inconsistent Data Entry,Rachael Tatman,2018-03-30 21:14:30,189', '', 'rtatman/data-cleaning-challenge-character-encodings,Data Cleaning Challenge: Character Encodings,Rachael Tatman,2018-03-30 21:17:02,180', '', 'rtatman/data-cleaning-challenge-outliers,Data Cleaning Challenge: Outliers,Rachael Tatman,2019-01-14 20:56:00,81', '', 'rtatman/data-cleaning-challenge-json-txt-and-xls,"Data Cleaning Challenge: .json .txt and .xls",Rachael Tatman,2019-01-14 20:55:43,114', '', 'reighns/augmentations-data-cleaning-and-bounding-boxes,"Augmentations Data Cleaning and Bounding Boxes",Hongnan G,2020-08-02 07:47:25,296', '', 'rtatman/data-cleaning-challenge-deduplication,Data Cleaning Challenge: Deduplication,Rachael Tatman,2019-01-14 20:56:34,55', '', 'chadalee/olympics-data-cleaning-exploration-prediction,"Olympics Data- Cleaning Exploration Prediction",sagar chadha,2018-08-27 14:19:49,88', '', 'fedi1996/house-prices-data-cleaning-viz-and-modeling,"House Prices : Data cleaning viz and modeling ",Fedi Ben Messaoud,2021-07-14 10:10:51,288', '', 'rtatman/data-cleaning-challenge-cleaning-numeric-columns,Data Cleaning Challenge: Cleaning numeric columns,Rachael Tatman,2019-01-14 20:56:41,42', '', 'rtatman/data-cleaning-challenge-imputing-missing-values,Data Cleaning Challenge: Imputing missing values,Rachael Tatman,2019-01-14 20:55:18,65', '', 'ragnisah/text-data-cleaning-tweets-analysis,Text Data Cleaning - tweets analysis,Rageeni Sah,2018-10-11 17:31:15,84', '', 'code1110/houseprice-data-cleaning-visualization,HousePrice - data cleaning & visualization,katsu1110,2017-12-26 08:37:22,69', '', 'jhoward/cleaning-the-data-for-rapid-prototyping-fastai,Cleaning the data for rapid prototyping (fastai),Jeremy Howard,2019-10-24 18:27:51,163', '', 'danielson/cleaning-up-market-data-errors-and-stock-splits,Cleaning Up Market Data Errors (and Stock Splits),danielson,2018-11-14 19:13:26,132', '', 'suddhu/cleaning-data-eda,Cleaning Data + EDA,sudhar287,2018-12-31 22:42:42,39', '', 'sabasiddiqi/google-play-store-apps-data-cleaning,Google Play Store Apps - Data Cleaning,Saba Siddiqi,2018-09-28 17:01:18,67', '', 'milankalkenings/comprehensive-tutorial-data-cleaning,Comprehensive Tutorial: Data Cleaning,Milan Kalkenings,2021-05-04 13:33:18,48', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,rtatman/data-cleaning-challenge-handling-missi...,Data Cleaning Challenge: Handling missing values,Rachael Tatman,2018-03-30 21:18:56,1272
4,,kernels,rtatman/data-cleaning-challenge-scale-and-norm...,Data Cleaning Challenge: Scale and Normalize Data,Rachael Tatman,2018-03-30 21:18:36,556
6,,kernels,rtatman/data-cleaning-challenge-parsing-dates,Data Cleaning Challenge: Parsing Dates,Rachael Tatman,2018-03-30 21:17:59,251
8,,kernels,rtatman/data-cleaning-challenge-inconsistent-d...,Data Cleaning Challenge: Inconsistent Data Entry,Rachael Tatman,2018-03-30 21:14:30,189
10,,kernels,rtatman/data-cleaning-challenge-character-enco...,Data Cleaning Challenge: Character Encodings,Rachael Tatman,2018-03-30 21:17:02,180

['ref,title,author,lastRunTime,totalVotes', '', 'purvanshsingh/pandas-basic-data-manipulation,Pandas Basic Data Manipulation,Purvansh Singh,2021-01-19 04:04:40,26', '', 'emanueleimmesi/food-project-data-manipulation-and-visualization,Food Project - Data Manipulation and Visualization,Emanuele Immesi,2022-06-28 14:07:24,21', '', 'aman2000jaiswal/data-manipulation-with-dask-dataframe,Data manipulation with Dask Dataframe,aman2000jaiswal,2020-12-11 15:50:09,11', '', 'rohitamalnerkar/prediction-of-sepsis-using-data-manipulation,Prediction of Sepsis using Data Manipulation,Rohit Amalnerkar,2020-09-24 15:04:47,12', '', 'daguangya/r-beginner-data-manipulation-dplyr-flightdelays,R Beginner: Data Manipulation: dplyr: FlightDelays,BlueTempo,2021-01-25 01:11:11,8', '', 'tirendazacademy/data-manipulation-with-pyspark,Data Manipulation with PySpark ,Tirendaz Academy,2022-08-26 14:23:30,13', '', 'colinmorris/strings-and-dictionaries,Strings and Dictionaries,ColinMorris,2021-11-11 14:28:03,1347', '', 'bbatista/bike-sharing-at-seattle-data-manipulation,Bike Sharing at Seattle ! Data Manipulation,Bruno Batista,2018-09-24 21:37:01,5', '', 'himsim2726/data-manipulation,Data Manipulation,Simran_k,2021-04-18 14:02:56,2', '', 'jessemostipak/dive-into-dplyr-tutorial-1,Dive into dplyr (tutorial #1),Jesse Mostipak,2020-10-14 15:40:50,1912', '', 'ahmettkara/assignment-data-manipulation-with-pandas,Assignment - Data Manipulation with Pandas,ahmettkara,2020-04-25 08:05:48,4', '', 'laowingkin/netflix-movie-recommendation,Netflix - Movie recommendation,DLao,2020-09-03 14:22:01,523', '', 'grkemdoan/data-manipulation,Data Manipulation,G√∂rkem Dogan,2021-06-13 10:43:57,10', '', 'dansbecker/exercise-machine-learning-competitions,Exercise: Machine Learning Competitions,DanB,2021-11-09 00:00:21,70', '', 'mrisdal/exploring-survival-on-the-titanic,Exploring Survival on the Titanic,Meg Risdal,2017-12-26 19:42:24,3742', '', 'residentmario/welcome-to-data-visualization,Welcome to data visualization,Aleksey Bilogur,2018-01-23 20:24:14,450', '', 'ekrembayar/holidays-events-data-manipulation-time-features,Holidays-Events  Data Manipulation & Time Features,Ekrem Bayar,2021-10-25 13:01:56,20', '', 'dimarudov/data-analysis-using-sql,Data Analysis using SQL,Dima Rudov,2022-03-21 19:40:13,582', '', 'opoliakova/data-analysis-and-manipulation-sklearn-modeling,"Data analysis and manipulation sklearn modeling",Olena Radchykova,2019-02-08 18:03:18,3', '', 'rajmehra03/flower-recognition-cnn-keras,Flower Recognition CNN Keras,Raj Mehrotra,2018-11-01 08:11:14,449', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,purvanshsingh/pandas-basic-data-manipulation,Pandas Basic Data Manipulation,Purvansh Singh,2021-01-19 04:04:40,26
4,,kernels,emanueleimmesi/food-project-data-manipulation-...,Food Project - Data Manipulation and Visualiza...,Emanuele Immesi,2022-06-28 14:07:24,21
6,,kernels,aman2000jaiswal/data-manipulation-with-dask-da...,Data manipulation with Dask Dataframe,aman2000jaiswal,2020-12-11 15:50:09,11
8,,kernels,rohitamalnerkar/prediction-of-sepsis-using-dat...,Prediction of Sepsis using Data Manipulation,Rohit Amalnerkar,2020-09-24 15:04:47,12
10,,kernels,daguangya/r-beginner-data-manipulation-dplyr-f...,R Beginner: Data Manipulation: dplyr: FlightDe...,BlueTempo,2021-01-25 01:11:11,8

['ref,title,author,lastRunTime,totalVotes', '', 'rtatman/data-cleaning-challenge-handling-missing-values,Data Cleaning Challenge: Handling missing values,Rachael Tatman,2018-03-30 21:18:56,1272', '', 'residentmario/data-types-and-missing-values,Data Types and Missing Values,Aleksey Bilogur,2022-02-08 16:48:25,540', '', 'residentmario/exercise-data-types-and-missing-values,Exercise: Data Types and Missing Values,Aleksey Bilogur,2022-02-08 16:41:43,45', '', 'rtatman/data-cleaning-challenge-imputing-missing-values,Data Cleaning Challenge: Imputing missing values,Rachael Tatman,2019-01-14 20:55:18,65', '', 'jpmiller/patterns-of-missing-data,Patterns of Missing Data,JohnM,2019-05-06 14:32:54,129', '', 'shashankasubrahmanya/missing-data-imputation-using-regression,Missing Data Imputation using Regression ,Shashanka Subrahmanya,2018-06-07 04:26:32,85', '', 'residentmario/simple-techniques-for-missing-data-imputation,Simple techniques for missing data imputation,Aleksey Bilogur,2018-04-28 16:20:31,98', '', 'aitude/ashrae-missing-weather-data-handling,ASHRAE - Missing Weather Data Handling,Sandeep Kumar,2019-11-05 14:15:55,57', '', 'ohseokkim/titanic-missing-and-small-data-are-disaster,Titanic ( Missing and Small Data are Disaster ),OH SEOK KIM,2021-11-30 14:04:23,122', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'bisaria/handling-missing-data,Handling Missing Data,Bisaria,2016-09-25 12:20:06,32', '', 'dansbecker/data-types-and-missing-data-reference-daily,Data types and missing data reference Daily,DanB,2019-05-14 00:06:12,24', '', 'serigne/stacked-regressions-top-4-on-leaderboard,Stacked Regressions : Top 4% on LeaderBoard,Serigne ,2017-12-16 11:57:12,6776', '', 'ganfear/missing-data-and-zeros-visualized,Missing data and zeros visualized,Ganfear,2019-10-17 15:07:41,43', '', 'auroralht/restoring-the-missing-geo-data,Restoring the missing Geo data ,sauce,2017-08-13 15:55:31,34', '', 'captcalculator/imputing-missing-data-with-the-mice-package-in-r,Imputing missing data with the mice package in R,Troy Walters,2016-10-21 20:33:18,60', '', 'mrisdal/exploring-survival-on-the-titanic,Exploring Survival on the Titanic,Meg Risdal,2017-12-26 19:42:24,3742', '', 'dansbecker/handling-missing-values,Handling Missing Values,DanB,2019-02-26 02:31:25,1330', '', 'startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9431', '', 'dansbecker/your-first-machine-learning-model,Your First Machine Learning Model,DanB,2021-11-09 00:01:04,2915', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,rtatman/data-cleaning-challenge-handling-missi...,Data Cleaning Challenge: Handling missing values,Rachael Tatman,2018-03-30 21:18:56,1272
4,,kernels,residentmario/data-types-and-missing-values,Data Types and Missing Values,Aleksey Bilogur,2022-02-08 16:48:25,540
6,,kernels,residentmario/exercise-data-types-and-missing-...,Exercise: Data Types and Missing Values,Aleksey Bilogur,2022-02-08 16:41:43,45
8,,kernels,rtatman/data-cleaning-challenge-imputing-missi...,Data Cleaning Challenge: Imputing missing values,Rachael Tatman,2019-01-14 20:55:18,65
10,,kernels,jpmiller/patterns-of-missing-data,Patterns of Missing Data,JohnM,2019-05-06 14:32:54,129

['ref,title,author,lastRunTime,totalVotes', '', 'startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9431', '', 'masumrumi/a-statistical-analysis-ml-workflow-of-titanic,A Statistical Analysis & ML workflow of Titanic,Masum Rumi,2022-04-21 19:25:23,1416', '', 'kanncaa1/data-sciencetutorial-for-beginners,Data ScienceTutorial for Beginners,DATAI,2020-05-19 00:29:44,6245', '', 'yassineghouzam/introduction-to-cnn-keras-0-997-top-6,Introduction to CNN Keras - 0.997 (top 6%),Yassine Ghouzam,2017-08-18 01:42:23,6457', '', 'kanncaa1/statistical-learning-tutorial-for-beginners,Statistical Learning Tutorial for Beginners,DATAI,2018-09-09 13:39:20,785', '', 'ldfreeman3/a-data-science-framework-to-achieve-99-accuracy,A Data Science Framework: To Achieve 99% Accuracy,LD Freeman,2017-12-31 18:27:17,5294', '', 'dansbecker/getting-started-with-sql-and-bigquery,Getting Started With SQL and BigQuery,DanB,2021-11-09 00:04:04,888', '', 'ogrellier/feature-selection-with-null-importances,Feature Selection with Null Importances,olivier,2018-06-14 06:44:06,754', '', 'residentmario/data-types-and-missing-values,Data Types and Missing Values,Aleksey Bilogur,2022-02-08 16:48:25,540', '', 'mrisdal/exploring-survival-on-the-titanic,Exploring Survival on the Titanic,Meg Risdal,2017-12-26 19:42:24,3742', '', 'kenjee/titanic-project-example,Titanic Project Example,Ken Jee,2021-04-08 02:17:34,869', '', 'arthurtok/interactive-porto-insights-a-plot-ly-tutorial,Interactive Porto Insights - A Plot.ly Tutorial,Anisotropic,2017-12-13 17:01:57,518', '', 'yassineghouzam/titanic-top-4-with-ensemble-modeling,Titanic Top 4% with ensemble modeling,Yassine Ghouzam,2017-08-09 14:34:44,2734', '', 'fabiendaniel/customer-segmentation,Customer Segmentation,FabienDaniel,2019-03-21 14:19:41,987', '', 'hiteshp/head-start-for-data-scientist,Head Start for Data Scientist,Hitesh palamada,2018-09-02 18:36:19,1090', '', 'skirmer/fun-with-real-estate-data,Fun with Real Estate Data,Stephanie Kirmer,2016-09-01 20:00:01,221', '', 'omarelgabry/a-journey-through-titanic,A Journey through Titanic,OMAR ELGABRY,2016-11-15 18:19:03,1399', '', 'ash316/eda-to-prediction-dietanic,EDA To Prediction(DieTanic),Ashwini Swain,2018-03-08 17:55:32,2554', '', 'rohanrao/tutorial-on-reading-large-datasets,Tutorial on reading large datasets,Vopani,2020-12-14 17:13:08,1370', '', 'youhanlee/fill-null-data-using-linear-regression,Fill null data using linear regression,YouHan Lee,2018-07-02 03:49:28,12', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9431
4,,kernels,masumrumi/a-statistical-analysis-ml-workflow-o...,A Statistical Analysis & ML workflow of Titanic,Masum Rumi,2022-04-21 19:25:23,1416
6,,kernels,kanncaa1/data-sciencetutorial-for-beginners,Data ScienceTutorial for Beginners,DATAI,2020-05-19 00:29:44,6245
8,,kernels,yassineghouzam/introduction-to-cnn-keras-0-997...,Introduction to CNN Keras - 0.997 (top 6%),Yassine Ghouzam,2017-08-18 01:42:23,6457
10,,kernels,kanncaa1/statistical-learning-tutorial-for-beg...,Statistical Learning Tutorial for Beginners,DATAI,2018-09-09 13:39:20,785

['ref,title,author,lastRunTime,totalVotes', '', 'aharless/xgb-w-o-outliers-lgb-with-outliers-combined,XGB w/o outliers & LGB with outliers combined,Andy Harless,2017-07-18 02:21:21,96', '', 'rtatman/data-cleaning-challenge-outliers,Data Cleaning Challenge: Outliers,Rachael Tatman,2019-01-14 20:56:00,81', '', 'mindcool/unrolling-of-helices-outliers-removal,Unrolling of helices + outliers removal,Luis,2018-07-19 17:32:14,190', '', 'junjitakeshima/ubiquant-simple-lgbm-removing-outliers-en-jp,[Ubiquant] Simple LGBM removing Outliers (En/Jp),Junji Takeshima,2022-02-23 07:20:06,101', '', 'sudalairajkumar/rainfall-test,Beware of Outliers !!,SRK,2015-09-18 01:38:17,45', '', 'miklgr500/ghost-drift-and-outliers,"""Ghost"" drift and Outliers",Welf Crozzo,2020-04-12 06:25:26,63', '', 'ramjib/cassava-leaf-disease-eda-and-outliers,Cassava Leaf Disease: EDA and Outliers,Ram (ji),2021-10-13 05:57:32,67', '', 'janiobachmann/credit-fraud-dealing-with-imbalanced-datasets,Credit Fraud  || Dealing with Imbalanced Datasets,Janio Martinez Bachmann,2019-07-03 23:04:48,4308', '', 'serigne/stacked-regressions-top-4-on-leaderboard,Stacked Regressions : Top 4% on LeaderBoard,Serigne ,2017-12-16 11:57:12,6776', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'tilii7/you-want-outliers-we-got-them-outliers,You want outliers? We got them outliers!,Tilii,2017-07-04 07:08:36,48', '', 'javigallego/outliers-eda-clustering-tutorial,Outliers+EDA+Clustering Tutorial,Francisco Javier Gallego,2022-09-29 19:18:43,79', '', 'kingychiu/home-credit-eda-distributions-and-outliers,Home Credit EDA: Distributions and Outliers,nlgn,2018-05-24 18:04:15,55', '', "'charmap' codec can't encode character '\\U0001f920' in position 53: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,aharless/xgb-w-o-outliers-lgb-with-outliers-co...,XGB w/o outliers & LGB with outliers combined,Andy Harless,2017-07-18 02:21:21,96
4,'charmap' codec can't encode character '\U0001...,kernels,rtatman/data-cleaning-challenge-outliers,Data Cleaning Challenge: Outliers,Rachael Tatman,2019-01-14 20:56:00,81
6,'charmap' codec can't encode character '\U0001...,kernels,mindcool/unrolling-of-helices-outliers-removal,Unrolling of helices + outliers removal,Luis,2018-07-19 17:32:14,190
8,'charmap' codec can't encode character '\U0001...,kernels,junjitakeshima/ubiquant-simple-lgbm-removing-o...,[Ubiquant] Simple LGBM removing Outliers (En/Jp),Junji Takeshima,2022-02-23 07:20:06,101
10,'charmap' codec can't encode character '\U0001...,kernels,sudalairajkumar/rainfall-test,Beware of Outliers !!,SRK,2015-09-18 01:38:17,45

['ref,title,author,lastRunTime,totalVotes', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'serigne/stacked-regressions-top-4-on-leaderboard,Stacked Regressions : Top 4% on LeaderBoard,Serigne ,2017-12-16 11:57:12,6776', '', 'saumyadeepm/data-transformation-titanic-dataset,Data Transformation | Titanic Dataset,saumyadeepmitra,2022-11-18 20:18:50,13', '', 'rtatman/data-cleaning-challenge-scale-and-normalize-data,Data Cleaning Challenge: Scale and Normalize Data,Rachael Tatman,2018-03-30 21:18:36,556', '', 'weikai/data-exploration-transformation-ridge-lasso,Data exploration & transformation. Ridge & LASSO.,Weikai Mao,2019-05-21 10:52:17,7', '', 'arthurtok/interactive-intro-to-dimensionality-reduction,Interactive Intro to Dimensionality Reduction,Anisotropic,2018-09-24 22:53:26,814', '', 'freespirit08/time-series-for-beginners-with-arima,Time Series For beginners with ARIMA,Arindam Chatterjee,2018-08-24 16:53:34,397', '', 'dgawlik/house-prices-eda,House Prices EDA,Dominik Gawlik,2017-02-20 10:51:47,513', '', 'residentmario/exercise-summary-functions-and-maps,Exercise: Summary Functions and Maps,Aleksey Bilogur,2022-02-08 16:43:13,76', '', 'nroman/melanoma-pytorch-starter-efficientnet,Melanoma. Pytorch starter. EfficientNet,Roman,2020-08-04 20:37:41,435', '', 'nareshbhat/outlier-the-silent-killer,Outlier!!! The Silent Killer,Naresha Bhat,2021-08-30 07:18:27,747', '', 'saga21/covid-global-forecast-sir-model-ml-regressions,COVID Global Forecast: SIR model + ML regressions,Patrick S√°nchez,2020-04-16 10:40:17,787', '', 'ankurrezo/data-cleaning-and-transformation-enron-email,Data Cleaning and Transformation Enron email,Ankur Kumar,2021-01-25 13:08:30,4', '', 'yassineghouzam/introduction-to-cnn-keras-0-997-top-6,Introduction to CNN Keras - 0.997 (top 6%),Yassine Ghouzam,2017-08-18 01:42:23,6457', '', 'lavanyashukla01/how-i-made-top-0-3-on-a-kaggle-competition,How I made top 0.3% on a Kaggle competition,Lavanya Shukla,2019-06-09 21:10:44,981', '', 'abhianalytic/amex-read-full-data-without-any-transformation,AmEx : Read full data without any transformation,AbhishekKumar,2022-06-13 13:32:17,13', '', 'sudhirnl7/linear-regression-tutorial,Linear Regression Tutorial,Sudhir Kumar,2020-04-04 14:56:45,357', '', 'janiobachmann/credit-fraud-dealing-with-imbalanced-datasets,Credit Fraud  || Dealing with Imbalanced Datasets,Janio Martinez Bachmann,2019-07-03 23:04:48,4308', '', 'burhanykiyakoglu/predicting-house-prices,Predicting House Prices,Burhan Y. Kiyakoglu,2019-05-23 20:33:09,870', '', 'martinpiotte/bounding-box-model,Bounding Box Model,Martin Piotte,2018-06-29 23:52:43,241', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12859
4,,kernels,serigne/stacked-regressions-top-4-on-leaderboard,Stacked Regressions : Top 4% on LeaderBoard,Serigne,2017-12-16 11:57:12,6776
6,,kernels,saumyadeepm/data-transformation-titanic-dataset,Data Transformation | Titanic Dataset,saumyadeepmitra,2022-11-18 20:18:50,13
8,,kernels,rtatman/data-cleaning-challenge-scale-and-norm...,Data Cleaning Challenge: Scale and Normalize Data,Rachael Tatman,2018-03-30 21:18:36,556
10,,kernels,weikai/data-exploration-transformation-ridge-l...,Data exploration & transformation. Ridge & LASSO.,Weikai Mao,2019-05-21 10:52:17,7

['ref,title,author,lastRunTime,totalVotes', '', 'arthurtok/interactive-intro-to-dimensionality-reduction,Interactive Intro to Dimensionality Reduction,Anisotropic,2018-09-24 22:53:26,814', '', 'maksimeren/covid-19-literature-clustering,COVID-19 Literature Clustering,MaksimEkin,2021-06-04 15:09:37,1088', '', 'thykhuely/mercari-interactive-eda-topic-modelling,Mercari Interactive EDA + Topic Modelling,ThyKhueLy,2018-04-22 08:23:34,915', '', 'kashnitsky/topic-2-visual-data-analysis-in-python,Topic 2. Visual data analysis in Python,Yury Kashnitsky,2021-05-07 08:36:16,262', '', 'pierremegret/gensim-word2vec-tutorial,Gensim Word2Vec Tutorial,Pierre Megret,2018-10-21 01:14:06,523', '', 'lisphilar/covid-19-data-with-sir-model,COVID-19 data with SIR model,Lisphilar,2022-04-03 16:35:22,438', '', 'pedrodematos/titanic-a-complete-approach-for-data-scientists,Titanic: A complete approach for Data Scientists,Pedro Gon√ßalves,2021-06-01 16:16:47,508', '', ',[Private Notebook],,2010-04-01 00:00:00,0', '', 'lalitharajesh/iris-dataset-exploratory-data-analysis,Iris Dataset - Exploratory Data Analysis,Lalitha Rajesh,2018-01-26 11:39:38,89', '', "'charmap' codec can't encode character '\\U0001f525' in position 103: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,arthurtok/interactive-intro-to-dimensionality-...,Interactive Intro to Dimensionality Reduction,Anisotropic,2018-09-24 22:53:26,814
4,'charmap' codec can't encode character '\U0001...,kernels,maksimeren/covid-19-literature-clustering,COVID-19 Literature Clustering,MaksimEkin,2021-06-04 15:09:37,1088
6,'charmap' codec can't encode character '\U0001...,kernels,thykhuely/mercari-interactive-eda-topic-modelling,Mercari Interactive EDA + Topic Modelling,ThyKhueLy,2018-04-22 08:23:34,915
8,'charmap' codec can't encode character '\U0001...,kernels,kashnitsky/topic-2-visual-data-analysis-in-python,Topic 2. Visual data analysis in Python,Yury Kashnitsky,2021-05-07 08:36:16,262
10,'charmap' codec can't encode character '\U0001...,kernels,pierremegret/gensim-word2vec-tutorial,Gensim Word2Vec Tutorial,Pierre Megret,2018-10-21 01:14:06,523

['ref,title,author,lastRunTime,totalVotes', '', 'peterchang77/exploratory-data-analysis,Exploratory Data Analysis,Peter,2018-08-27 14:52:22,304', '', 'kashnitsky/topic-1-exploratory-data-analysis-with-pandas,Topic 1. Exploratory Data Analysis with Pandas,Yury Kashnitsky,2021-05-07 08:35:46,873', '', 'anokas/exploratory-data-analysis-4,Exploratory Data Analysis,anokas,2017-04-07 17:22:48,303', '', 'ekami66/detailed-exploratory-data-analysis-with-python,Detailed exploratory data analysis with python,Tuatini GODARD,2017-01-20 02:06:37,646', '', 'ihelon/hubmap-exploratory-data-analysis,HuBMAP - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-30 22:55:15,311', '', 'notaapple/detailed-exploratory-data-analysis-using-r,Detailed Exploratory Data Analysis using R ,AiO,2017-01-07 22:25:15,330', '', 'ihelon/cassava-leaf-disease-exploratory-data-analysis,Cassava Leaf Disease - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-28 21:48:41,391', '', 'randylaosat/simple-exploratory-data-analysis-passnyc,Simple Exploratory Data Analysis - PASSNYC,randy lao,2018-07-14 13:50:08,231', '', 'jbfarrar/exploratory-data-analysis-and-example-generation,Exploratory Data Analysis and Example Generation,Brian Farrar,2017-09-30 15:15:49,221', '', 'lalitharajesh/iris-dataset-exploratory-data-analysis,Iris Dataset - Exploratory Data Analysis,Lalitha Rajesh,2018-01-26 11:39:38,89', '', 'vamsikrishna/exploratory-data-analysis-of-ipl-data,Exploratory data analysis of IPL data,Vamsi Krishna,2020-12-23 13:07:50,130', '', 'anokas/exploratory-data-analysis,Exploratory Data Analysis,anokas,2016-06-10 12:34:59,83', '', 'ihelon/molecular-translation-exploratory-data-analysis,Molecular Translation - Exploratory Data Analysis,Yaroslav Isaienkov,2021-03-08 21:55:48,181', '', 'ihelon/catheter-position-exploratory-data-analysis,Catheter Position - Exploratory Data Analysis,Yaroslav Isaienkov,2020-12-24 21:27:15,189', '', 'gulsahdemiryurek/video-game-sales-exploratory-data-analysis,Video Game Sales Exploratory Data Analysis,Gulsah Demiryurek,2019-04-27 23:37:21,163', '', "gokulkarthik/haberman-s-survival-exploratory-data-analysis,Haberman's Survival: Exploratory Data Analysis ,Gokul,2018-03-09 02:31:33,138", '', 'bhaveshthaker/data-preparation-exploratory-analysis-and-modeling,Data Preparation Exploratory Analysis and Modeling,Bhaveshkumar Thaker,2018-06-26 10:05:24,165', '', "ddigges/exploratory-data-analysis-india-s-story,Exploratory Data Analysis + India's story,Deborah Digges,2018-04-07 18:58:58,141", '', 'ihelon/indoor-location-exploratory-data-analysis,Indoor Location - Exploratory Data Analysis,Yaroslav Isaienkov,2021-01-31 19:02:01,179', '', 'zoupet/exploratory-data-analysis,Exploratory Data Analysis,Julien Heiduk,2018-05-11 12:34:03,62', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,peterchang77/exploratory-data-analysis,Exploratory Data Analysis,Peter,2018-08-27 14:52:22,304
4,,kernels,kashnitsky/topic-1-exploratory-data-analysis-w...,Topic 1. Exploratory Data Analysis with Pandas,Yury Kashnitsky,2021-05-07 08:35:46,873
6,,kernels,anokas/exploratory-data-analysis-4,Exploratory Data Analysis,anokas,2017-04-07 17:22:48,303
8,,kernels,ekami66/detailed-exploratory-data-analysis-wit...,Detailed exploratory data analysis with python,Tuatini GODARD,2017-01-20 02:06:37,646
10,,kernels,ihelon/hubmap-exploratory-data-analysis,HuBMAP - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-30 22:55:15,311

['ref,title,author,lastRunTime,totalVotes', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'kanncaa1/feature-selection-and-data-visualization,Feature Selection and Data Visualization,DATAI,2021-07-10 16:05:36,1689', '', 'residentmario/welcome-to-data-visualization,Welcome to data visualization,Aleksey Bilogur,2018-01-23 20:24:14,450', '', 'sudalairajkumar/simple-exploration-notebook-zillow-prize,Simple Exploration Notebook - Zillow Prize,SRK,2017-06-03 13:40:09,1104', '', 'etakla/exploring-the-dataset-univariate-analysis,"Exploring the Dataset Univariate Analysis",E-M-A-D,2017-02-28 14:19:59,21', '', "'charmap' codec can't encode character '\\U0001f4c8' in position 66: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12859
4,'charmap' codec can't encode character '\U0001...,kernels,kanncaa1/feature-selection-and-data-visualization,Feature Selection and Data Visualization,DATAI,2021-07-10 16:05:36,1689
6,'charmap' codec can't encode character '\U0001...,kernels,residentmario/welcome-to-data-visualization,Welcome to data visualization,Aleksey Bilogur,2018-01-23 20:24:14,450
8,'charmap' codec can't encode character '\U0001...,kernels,sudalairajkumar/simple-exploration-notebook-zi...,Simple Exploration Notebook - Zillow Prize,SRK,2017-06-03 13:40:09,1104
10,'charmap' codec can't encode character '\U0001...,kernels,etakla/exploring-the-dataset-univariate-analysis,"""Exploring the Dataset Univariate Analysis""",E-M-A-D,2017-02-28 14:19:59,21

['ref,title,author,lastRunTime,totalVotes', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'residentmario/welcome-to-data-visualization,Welcome to data visualization,Aleksey Bilogur,2018-01-23 20:24:14,450', '', "'charmap' codec can't encode character '\\U0001f4c8' in position 66: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12859
4,'charmap' codec can't encode character '\U0001...,kernels,residentmario/welcome-to-data-visualization,Welcome to data visualization,Aleksey Bilogur,2018-01-23 20:24:14,450

['ref,title,author,lastRunTime,totalVotes', '', 'hely333/eda-regression,EDA + Regression,Dandelion,2018-10-10 21:09:10,524', '', 'serigne/stacked-regressions-top-4-on-leaderboard,Stacked Regressions : Top 4% on LeaderBoard,Serigne ,2017-12-16 11:57:12,6776', '', 'sudhirnl7/linear-regression-tutorial,Linear Regression Tutorial,Sudhir Kumar,2020-04-04 14:56:45,357', '', 'artgor/quick-and-dirty-regression,Quick and dirty regression,Andrew Lukyanenko,2019-11-21 15:10:59,627', '', 'braquino/convert-to-regression,Convert to Regression,Bruno Aquino,2019-12-15 23:39:16,326', '', 'rtatman/datasets-for-regression-analysis,Datasets for regression analysis,Rachael Tatman,2017-12-01 21:54:36,511', '', 'mnassrib/titanic-logistic-regression-with-python,Titanic: logistic regression with python,Baligh Mnassri,2020-01-07 13:15:37,539', '', 'goyalshalini93/car-price-prediction-linear-regression-rfe,Car Price Prediction (Linear Regression - RFE),Shalini Goyal,2019-04-26 09:01:04,601', '', 'rtatman/regression-challenge-day-1,Regression Challenge: Day 1,Rachael Tatman,2018-01-18 18:12:38,196', '', 'faressayah/practical-introduction-to-10-regression-algorithm,Practical Introduction to 10 Regression Algorithm,Fares Sayah,2022-01-20 13:43:02,707', '', 'divan0/multiple-linear-regression,Multiple Linear Regression,Diva Dugar,2018-08-01 14:19:36,145', '', "'charmap' codec can't encode character '\\u015f' in position 83: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\u015f...,kernels,hely333/eda-regression,EDA + Regression,Dandelion,2018-10-10 21:09:10,524
4,'charmap' codec can't encode character '\u015f...,kernels,serigne/stacked-regressions-top-4-on-leaderboard,Stacked Regressions : Top 4% on LeaderBoard,Serigne,2017-12-16 11:57:12,6776
6,'charmap' codec can't encode character '\u015f...,kernels,sudhirnl7/linear-regression-tutorial,Linear Regression Tutorial,Sudhir Kumar,2020-04-04 14:56:45,357
8,'charmap' codec can't encode character '\u015f...,kernels,artgor/quick-and-dirty-regression,Quick and dirty regression,Andrew Lukyanenko,2019-11-21 15:10:59,627
10,'charmap' codec can't encode character '\u015f...,kernels,braquino/convert-to-regression,Convert to Regression,Bruno Aquino,2019-12-15 23:39:16,326

['ref,title,author,lastRunTime,totalVotes', '', 'sudhirnl7/linear-regression-tutorial,Linear Regression Tutorial,Sudhir Kumar,2020-04-04 14:56:45,357', '', 'goyalshalini93/car-price-prediction-linear-regression-rfe,Car Price Prediction (Linear Regression - RFE),Shalini Goyal,2019-04-26 09:01:04,601', '', 'divan0/multiple-linear-regression,Multiple Linear Regression,Diva Dugar,2018-08-01 14:19:36,145', '', 'vivinbarath/simple-linear-regression-for-salary-data,Simple Linear Regression for Salary Data,Barath ,2020-02-19 17:22:58,181', '', 'foxtreme/linear-regression-project,Linear Regression Project,Chris Charry,2019-02-24 02:53:30,64', '', 'ashydv/sales-prediction-simple-linear-regression,Sales Prediction (Simple Linear Regression),Ashish,2019-03-07 06:21:44,103', '', 'aminizahra/linear-regression,Linear Regression,Zahra Amini,2022-02-21 21:06:09,114', '', 'anthonypino/price-analysis-and-linear-regression,Price analysis and Linear Regression,Tony Pino,2017-08-16 05:54:08,138', '', 'aakashns/pytorch-basics-linear-regression-from-scratch,PyTorch basics - Linear Regression from scratch,Aakash N S,2019-01-22 19:34:30,181', '', 'nitindatta/fifa-in-depth-analysis-with-linear-regression,FIFA in depth analysis with Linear Regression,Nitin Datta,2020-10-16 06:19:46,350', '', 'mariapushkareva/medical-insurance-cost-with-linear-regression,Medical Insurance Cost with Linear Regression,Marie,2020-07-14 07:11:04,158', '', 'suicaokhoailang/blending-with-linear-regression-0-688-lb,Blending with Linear Regression [0.688 LB],Khoi Nguyen,2018-11-18 09:58:07,138', '', 'rbyron/simple-linear-regression-models,Simple linear regression models,Roc√≠o Ventura,2018-03-30 10:28:21,70', '', 'jnikhilsai/cross-validation-with-linear-regression,Cross-Validation with Linear Regression,Nikhil Sai,2019-08-20 07:42:37,75', '', 'gauravduttakiit/bike-sharing-multiple-linear-regression,Bike Sharing : Multiple Linear Regression,Gaurav Dutta,2022-01-22 13:15:59,56', '', 'mayanksrivastava/predict-housing-prices-simple-linear-regression,Predict Housing Prices - Simple Linear Regression,Mayank Srivastava,2017-06-09 22:06:27,75', '', 'niteshyadav3103/linear-regression-regularization-lasso-ridge,Linear Regression & Regularization(Lasso & Ridge),Nitesh Yadav,2021-11-22 13:27:35,122', '', 'shrutimechlearn/step-by-step-assumptions-linear-regression,Step by Step Assumptions - Linear Regression,Shruti_Iyyer,2020-06-15 13:40:29,112', '', 'ryanholbrook/exercise-linear-regression-with-time-series,Exercise: Linear Regression With Time Series,Ryan Holbrook,2021-11-18 13:09:29,11', '', 'tunguz/simple-linear-regression-benchmark,Simple Linear Regression Benchmark,Bojan Tunguz,2019-12-01 13:42:13,90', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,sudhirnl7/linear-regression-tutorial,Linear Regression Tutorial,Sudhir Kumar,2020-04-04 14:56:45,357
4,,kernels,goyalshalini93/car-price-prediction-linear-reg...,Car Price Prediction (Linear Regression - RFE),Shalini Goyal,2019-04-26 09:01:04,601
6,,kernels,divan0/multiple-linear-regression,Multiple Linear Regression,Diva Dugar,2018-08-01 14:19:36,145
8,,kernels,vivinbarath/simple-linear-regression-for-salar...,Simple Linear Regression for Salary Data,Barath,2020-02-19 17:22:58,181
10,,kernels,foxtreme/linear-regression-project,Linear Regression Project,Chris Charry,2019-02-24 02:53:30,64

['ref,title,author,lastRunTime,totalVotes', '', 'vivinbarath/simple-linear-regression-for-salary-data,Simple Linear Regression for Salary Data,Barath ,2020-02-19 17:22:58,181', '', 'ashydv/sales-prediction-simple-linear-regression,Sales Prediction (Simple Linear Regression),Ashish,2019-03-07 06:21:44,103', '', 'rbyron/simple-linear-regression-models,Simple linear regression models,Roc√≠o Ventura,2018-03-30 10:28:21,70', '', 'mayanksrivastava/predict-housing-prices-simple-linear-regression,Predict Housing Prices - Simple Linear Regression,Mayank Srivastava,2017-06-09 22:06:27,75', '', 'tunguz/simple-linear-regression-benchmark,Simple Linear Regression Benchmark,Bojan Tunguz,2019-12-01 13:42:13,90', '', 'ariadne/simple-one-feature-linear-regression,Simple One Feature Linear Regression,Ariadne,2017-05-18 20:27:06,69', '', 'amitdhakre13/simple-linear-regression-in-r,Simple Linear Regression in R ,zohan,2017-10-27 10:43:13,49', '', 'sandhyakrishnan02/simple-linear-regression-salary-vs-experience,Simple Linear Regression - Salary Vs Experience,SandhyaKrishnan02,2022-12-14 15:05:19,69', '', 'redwankarimsony/simple-linear-regression-for-beginners,Simple Linear Regression for Beginners,Md. Redwan Karim Sony,2021-06-28 03:37:48,34', '', 'nicapotato/in-depth-simple-linear-regression,In-Depth Simple Linear Regression,nicapotato,2018-07-16 13:58:58,38', '', 'devzohaib/simple-linear-regression,Simple-Linear-Regression,devzohaib,2020-11-23 18:36:48,11', '', 'startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9431', '', 'codefordata/headbrain-simple-linear-regression,Headbrain-simple linear regression.,Codefordata,2019-03-03 20:24:41,10', '', 'serigne/stacked-regressions-top-4-on-leaderboard,Stacked Regressions : Top 4% on LeaderBoard,Serigne ,2017-12-16 11:57:12,6776', '', 'luddarell/tutorial-simple-multiple-linear-regression,(Tutorial) Simple & Multiple Linear Regression,Ludgerus Darell,2019-03-17 10:11:42,15', '', 'venjktry/simple-linear-regression,Simple Linear Regression,Venkatesh S,2017-07-18 10:55:37,6', '', 'paulorzp/simple-rolling-linear-regression-no-leakage,Simple Rolling Linear Regression (no leakage),Paulo Pinto,2022-06-11 04:08:40,23', '', 'igorkf/ubiquant-simple-linear-regression-baseline,Ubiquant - Simple Linear Regression baseline,Igor Kuivjogi Fernandes,2022-01-31 20:10:10,24', '', 'paulrohan2020/eda-and-simple-linear-regression-for-house-price,EDA-and-simple Linear Regression-for-House-Price,Data Storm,2022-04-19 12:23:30,41', '', 'monkeyorman/simple-linear-regression-in-r-0-0648835,Simple Linear Regression in R (0.0648835),JT,2017-07-09 15:26:04,21', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,vivinbarath/simple-linear-regression-for-salar...,Simple Linear Regression for Salary Data,Barath,2020-02-19 17:22:58,181
4,,kernels,ashydv/sales-prediction-simple-linear-regression,Sales Prediction (Simple Linear Regression),Ashish,2019-03-07 06:21:44,103
6,,kernels,rbyron/simple-linear-regression-models,Simple linear regression models,Roc√≠o Ventura,2018-03-30 10:28:21,70
8,,kernels,mayanksrivastava/predict-housing-prices-simple...,Predict Housing Prices - Simple Linear Regression,Mayank Srivastava,2017-06-09 22:06:27,75
10,,kernels,tunguz/simple-linear-regression-benchmark,Simple Linear Regression Benchmark,Bojan Tunguz,2019-12-01 13:42:13,90

['ref,title,author,lastRunTime,totalVotes', '', 'divan0/multiple-linear-regression,Multiple Linear Regression,Diva Dugar,2018-08-01 14:19:36,145', '', 'gauravduttakiit/bike-sharing-multiple-linear-regression,Bike Sharing : Multiple Linear Regression,Gaurav Dutta,2022-01-22 13:15:59,56', '', 'stieranka/multiple-linear-regression,Multiple Linear Regression,Marek,2018-09-26 14:16:14,18', '', "'charmap' codec can't encode character '\\U0001f3e0' in position 74: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,divan0/multiple-linear-regression,Multiple Linear Regression,Diva Dugar,2018-08-01 14:19:36,145
4,'charmap' codec can't encode character '\U0001...,kernels,gauravduttakiit/bike-sharing-multiple-linear-r...,Bike Sharing : Multiple Linear Regression,Gaurav Dutta,2022-01-22 13:15:59,56
6,'charmap' codec can't encode character '\U0001...,kernels,stieranka/multiple-linear-regression,Multiple Linear Regression,Marek,2018-09-26 14:16:14,18

['ref,title,author,lastRunTime,totalVotes', '', 'ahmetcankaraolan/salary-predict-with-nonlinear-regression-models,Salary Predict with NonLinear Regression Models,Ahmet Can Karaoglan,2020-07-14 22:20:05,29', '', 'meowmeowmeowmeowmeow/nonlinear-regression,Nonlinear regression,Mykola,2018-11-09 17:28:08,4', '', 'dgawlik/house-prices-eda,House Prices EDA,Dominik Gawlik,2017-02-20 10:51:47,513', '', 'faressayah/practical-introduction-to-10-regression-algorithm,Practical Introduction to 10 Regression Algorithm,Fares Sayah,2022-01-20 13:43:02,707', '', 'ibrahimyildiz/salary-predict-with-nonlinear-regression-models,Salary Predict with NonLinear Regression Models,ibrahimyildiz,2020-07-14 07:22:18,14', '', 'cdeotte/support-vector-machine-0-925,Support Vector Machine - [0.925],Chris Deotte,2019-05-20 22:23:22,291', '', 'jesucristo/1-house-prices-solution-top-1,#1 House Prices Solution [top 1%],Nanashi,2019-09-06 08:36:08,600', '', 'prashant111/comprehensive-guide-on-feature-selection,Comprehensive Guide on Feature Selection,Prashant Banerjee,2020-11-18 15:26:57,488', '', 'matleonard/feature-selection,Feature Selection,Mat Leonard,2021-11-09 00:07:43,191', '', 'dvasyukova/a-linear-model-on-apps-and-labels,A linear model on apps and labels,dune_dweller,2016-08-05 10:28:37,197', '', 'shtrausslearning/bayesian-regression-house-price-prediction,Bayesian Regression | House Price Prediction,Andrey Shtrauss,2022-07-16 14:03:59,164', '', 'ryanholbrook/deep-neural-networks,Deep Neural Networks,Ryan Holbrook,2022-05-05 17:51:00,123', '', 'rafjaa/dealing-with-very-small-datasets,Dealing with very small datasets,Rafael Alencar,2019-03-06 19:38:25,256', '', 'pouryaayria/a-complete-ml-pipeline-tutorial-acu-86,A Complete ML Pipeline Tutorial (ACU ~ 86%),PIR,2018-04-14 07:56:14,399', '', 'lalitharajesh/iris-dataset-exploratory-data-analysis,Iris Dataset - Exploratory Data Analysis,Lalitha Rajesh,2018-01-26 11:39:38,89', '', 'arthurtok/interactive-intro-to-dimensionality-reduction,Interactive Intro to Dimensionality Reduction,Anisotropic,2018-09-24 22:53:26,814', '', 'kashnitsky/topic-4-linear-models-part-4-pros-cons,Topic 4. Linear models. Part 4. Pros & cons,Yury Kashnitsky,2021-05-07 09:43:37,102', '', 'farazrahman/predicting-star-galaxy-quasar-with-svm,"Predicting Star Galaxy & Quasar with SVM",Faraz Rahman,2018-12-15 08:39:11,59', '', 'mariopasquato/linear-model,Linear model 0.65 in lb,Mario Pasquato,2016-02-02 12:24:36,41', '', 'kashnitsky/topic-4-linear-models-part-3-regularization,Topic 4. Linear models. Part 3. Regularization,Yury Kashnitsky,2021-05-07 09:33:14,109', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,ahmetcankaraolan/salary-predict-with-nonlinear...,Salary Predict with NonLinear Regression Models,Ahmet Can Karaoglan,2020-07-14 22:20:05,29
4,,kernels,meowmeowmeowmeowmeow/nonlinear-regression,Nonlinear regression,Mykola,2018-11-09 17:28:08,4
6,,kernels,dgawlik/house-prices-eda,House Prices EDA,Dominik Gawlik,2017-02-20 10:51:47,513
8,,kernels,faressayah/practical-introduction-to-10-regres...,Practical Introduction to 10 Regression Algorithm,Fares Sayah,2022-01-20 13:43:02,707
10,,kernels,ibrahimyildiz/salary-predict-with-nonlinear-re...,Salary Predict with NonLinear Regression Models,ibrahimyildiz,2020-07-14 07:22:18,14

['ref,title,author,lastRunTime,totalVotes', '', 'anokas/data-analysis-xgboost-starter-0-35460-lb,Data Analysis & XGBoost Starter (0.35460 LB),anokas,2017-04-12 14:22:20,1414', '', 'dimarudov/data-analysis-using-sql,Data Analysis using SQL,Dima Rudov,2022-03-21 19:40:13,582', '', 'peterchang77/exploratory-data-analysis,Exploratory Data Analysis,Peter,2018-08-27 14:52:22,304', '', 'kashnitsky/topic-1-exploratory-data-analysis-with-pandas,Topic 1. Exploratory Data Analysis with Pandas,Yury Kashnitsky,2021-05-07 08:35:46,873', '', 'anokas/data-exploration-analysis,Data Exploration & Analysis,anokas,2017-04-21 18:30:17,405', '', 'anokas/exploratory-data-analysis-4,Exploratory Data Analysis,anokas,2017-04-07 17:22:48,303', '', 'rounakbanik/ted-data-analysis,TED Data Analysis,Rounak Banik,2017-10-19 13:46:29,212', '', 'ekami66/detailed-exploratory-data-analysis-with-python,Detailed exploratory data analysis with python,Tuatini GODARD,2017-01-20 02:06:37,646', '', 'ruslankl/eeg-data-analysis,EEG Data Analysis ,def me(x),2019-01-08 18:10:20,163', '', 'ihelon/hubmap-exploratory-data-analysis,HuBMAP - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-30 22:55:15,311', '', 'mmetter/pokemon-data-analysis-tutorial,Pokemon Data Analysis Tutorial,Michael Metter,2018-07-18 16:05:11,139', '', 'jonathanbouchet/f1-data-analysis,F1 Data analysis,Jonathan Bouchet,2017-12-09 03:36:26,188', '', 'pmarcelino/data-analysis-and-feature-extraction-with-python,Data analysis and feature extraction with Python,"Pedro Marcelino PhD",2022-04-30 19:20:15,619', '', 'loaiabdalslam/sales-data-analysis-report,Sales Data Analysis Report !,Loai abdalslam,2019-02-09 12:47:15,176', '', 'notaapple/detailed-exploratory-data-analysis-using-r,Detailed Exploratory Data Analysis using R ,AiO,2017-01-07 22:25:15,330', '', 'chirag9073/netflix-data-analysis,Netflix Data Analysis,Chirag Samal,2020-06-03 05:54:25,86', '', 'tannercarbonati/detailed-data-analysis-ensemble-modeling,Detailed Data Analysis & Ensemble Modeling,a ghost,2017-07-15 19:36:06,365', '', 'amirrezaeian/time-series-data-analysis-using-lstm-tutorial,Time-series data analysis using LSTM (Tutorial),Amir Rezaeian,2018-02-06 17:08:41,279', '', 'ihelon/cassava-leaf-disease-exploratory-data-analysis,Cassava Leaf Disease - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-28 21:48:41,391', '', 'randylaosat/simple-exploratory-data-analysis-passnyc,Simple Exploratory Data Analysis - PASSNYC,randy lao,2018-07-14 13:50:08,231', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,anokas/data-analysis-xgboost-starter-0-35460-lb,Data Analysis & XGBoost Starter (0.35460 LB),anokas,2017-04-12 14:22:20,1414
4,,kernels,dimarudov/data-analysis-using-sql,Data Analysis using SQL,Dima Rudov,2022-03-21 19:40:13,582
6,,kernels,peterchang77/exploratory-data-analysis,Exploratory Data Analysis,Peter,2018-08-27 14:52:22,304
8,,kernels,kashnitsky/topic-1-exploratory-data-analysis-w...,Topic 1. Exploratory Data Analysis with Pandas,Yury Kashnitsky,2021-05-07 08:35:46,873
10,,kernels,anokas/data-exploration-analysis,Data Exploration & Analysis,anokas,2017-04-21 18:30:17,405

['ref,title,author,lastRunTime,totalVotes', '', 'upadorprofzs/statistical-analysis-descriptive-statistics-br,Statistical Analysis | Descriptive Statistics-BR,Muril√£o,2020-07-21 10:30:52,167', '', 'colara/human-resources-analytics-a-descriptive-analysis,Human Resources Analytics: A Descriptive Analysis,William Walter,2017-10-31 23:53:22,33', '', "'charmap' codec can't encode character '\\U0001f4ca' in position 55: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,upadorprofzs/statistical-analysis-descriptive-...,Statistical Analysis | Descriptive Statistics-BR,Muril√£o,2020-07-21 10:30:52,167
4,'charmap' codec can't encode character '\U0001...,kernels,colara/human-resources-analytics-a-descriptive...,Human Resources Analytics: A Descriptive Analysis,William Walter,2017-10-31 23:53:22,33

['ref,title,author,lastRunTime,totalVotes', '', 'ttahara/otto-mors-aid-frequency-baseline,OTTO-MORS: aid Frequency Baseline,Tawara,2022-11-02 00:15:56,54', '', "'charmap' codec can't encode characters in position 62-63: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode characters in pos...,kernels,ttahara/otto-mors-aid-frequency-baseline,OTTO-MORS: aid Frequency Baseline,Tawara,2022-11-02 00:15:56,54

['ref,title,author,lastRunTime,totalVotes', '', 'mejbahahammad/python-measuring-central-tendency,Python: Measuring Central Tendency,MEJBAH AHAMMAD,2020-08-31 19:34:30,12', '', 'jgroff/unit-2-central-tendency-and-variability,Unit 2 - Central Tendency and Variability,Jeff Groff,2017-12-16 13:48:57,5', '', "'charmap' codec can't encode character '\\U0001f4ca' in position 55: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,mejbahahammad/python-measuring-central-tendency,Python: Measuring Central Tendency,MEJBAH AHAMMAD,2020-08-31 19:34:30,12
4,'charmap' codec can't encode character '\U0001...,kernels,jgroff/unit-2-central-tendency-and-variability,Unit 2 - Central Tendency and Variability,Jeff Groff,2017-12-16 13:48:57,5

['ref,title,author,lastRunTime,totalVotes', '', 'poonaml/deep-neural-network-keras-way,Deep Neural Network Keras way,Poonam Ligade,2018-07-09 09:53:52,1057', '', 'lavanyashukla01/pandas-numpy-python-cheatsheet,"Pandas Numpy Python Cheatsheet",Lavanya Shukla,2020-03-06 11:13:31,433', '', 'aakashns/pytorch-basics-linear-regression-from-scratch,PyTorch basics - Linear Regression from scratch,Aakash N S,2019-01-22 19:34:30,181', '', 'ambrosm/vent-011-median-wins,VENT-011 Median wins!,AmbrosM,2021-10-23 04:05:04,43', '', 'mohammedmurtuzalabib/pandas-101-one-stop-shop-for-data-science,Pandas 101: One-stop Shop for Data Science,Mohammed Murtuza Labib,2020-06-02 14:32:27,102', '', 'robinkraft/getting-started-with-the-data-now-with-docs,Getting started with the data - now with docs!,Robin,2017-05-10 17:26:02,122', '', "'charmap' codec can't encode character '\\U0001f4ca' in position 58: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,poonaml/deep-neural-network-keras-way,Deep Neural Network Keras way,Poonam Ligade,2018-07-09 09:53:52,1057
4,'charmap' codec can't encode character '\U0001...,kernels,lavanyashukla01/pandas-numpy-python-cheatsheet,"""Pandas Numpy Python Cheatsheet""",Lavanya Shukla,2020-03-06 11:13:31,433
6,'charmap' codec can't encode character '\U0001...,kernels,aakashns/pytorch-basics-linear-regression-from...,PyTorch basics - Linear Regression from scratch,Aakash N S,2019-01-22 19:34:30,181
8,'charmap' codec can't encode character '\U0001...,kernels,ambrosm/vent-011-median-wins,VENT-011 Median wins!,AmbrosM,2021-10-23 04:05:04,43
10,'charmap' codec can't encode character '\U0001...,kernels,mohammedmurtuzalabib/pandas-101-one-stop-shop-...,Pandas 101: One-stop Shop for Data Science,Mohammed Murtuza Labib,2020-06-02 14:32:27,102

['ref,title,author,lastRunTime,totalVotes', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'masumrumi/a-statistical-analysis-ml-workflow-of-titanic,A Statistical Analysis & ML workflow of Titanic,Masum Rumi,2022-04-21 19:25:23,1416', '', 'masumrumi/a-detailed-regression-guide-with-house-pricing,A Detailed Regression Guide with House-pricing,Masum Rumi,2021-11-15 21:46:57,781', '', ',[Private Notebook],,2010-04-01 00:00:00,0', '', 'ihelon/rock-paper-scissors-agents-comparison,Rock Paper Scissors - Agents Comparison ,Yaroslav Isaienkov,2021-01-20 16:09:17,257', '', 'kanncaa1/time-series-prediction-tutorial-with-eda,Time Series Prediction Tutorial with EDA,DATAI,2019-12-07 21:16:00,777', '', 'ian650/youcubed-box-plots,YouCubed Box Plots,Ian C,2021-09-30 00:14:13,28', '', 'ryanholbrook/feature-engineering-for-house-prices,Feature Engineering for House Prices,Ryan Holbrook,2022-05-05 12:49:09,319', '', 'arthurtok/interactive-porto-insights-a-plot-ly-tutorial,Interactive Porto Insights - A Plot.ly Tutorial,Anisotropic,2017-12-13 17:01:57,518', '', 'poonaml/titanic-survival-prediction-end-to-end-ml-pipeline,Titanic Survival Prediction End to End ML Pipeline,Poonam Ligade,2017-05-02 17:16:38,410', '', 'prashant111/random-forest-classifier-feature-importance,Random Forest Classifier + Feature Importance,Prashant Banerjee,2019-12-23 07:48:48,222', '', 'prashant111/extensive-analysis-eda-fe-modelling,Extensive Analysis - EDA + FE + Modelling,Prashant Banerjee,2020-04-18 15:31:29,338', '', 'pavansanagapati/knowledge-graph-nlp-tutorial-bert-spacy-nltk,"Knowledge Graph & NLP Tutorial-(BERT,spaCy,NLTK)",Pavan Sanagapati,2020-09-08 14:40:39,694', '', "'charmap' codec can't encode character '\\U0001f3ae' in position 34: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12859
4,'charmap' codec can't encode character '\U0001...,kernels,masumrumi/a-statistical-analysis-ml-workflow-o...,A Statistical Analysis & ML workflow of Titanic,Masum Rumi,2022-04-21 19:25:23,1416
6,'charmap' codec can't encode character '\U0001...,kernels,masumrumi/a-detailed-regression-guide-with-hou...,A Detailed Regression Guide with House-pricing,Masum Rumi,2021-11-15 21:46:57,781
8,'charmap' codec can't encode character '\U0001...,kernels,,[Private Notebook],,2010-04-01 00:00:00,0
10,'charmap' codec can't encode character '\U0001...,kernels,ihelon/rock-paper-scissors-agents-comparison,Rock Paper Scissors - Agents Comparison,Yaroslav Isaienkov,2021-01-20 16:09:17,257

['ref,title,author,lastRunTime,totalVotes', '', 'cdeotte/ensemble-folds-with-median-0-153,Ensemble Folds with MEDIAN - [0.153],Chris Deotte,2021-10-03 10:08:33,307', '', 'ambrosm/vent-011-median-wins,VENT-011 Median wins!,AmbrosM,2021-10-23 04:05:04,43', '', 'swaralipibose/median-ensemble-of-published-notebooks,Median Ensemble of Published Notebooks,Sayantan Mazumdar,2021-10-28 14:55:27,34', '', 'mrutyunjaybiswal/vpp-dual-head-regression-median-postprocessing,[VPP] Dual Head Regression | Median PostProcessing,Ultron,2021-10-31 23:31:25,62', '', 'tunguz/forecast-example-w-prophet-median,Forecast example w/ Prophet - median ,Bojan Tunguz,2017-07-19 16:21:17,40', '', 'nigelcarpenter/page-median,Page median,Nigel Carpenter,2017-07-14 00:59:29,31', '', 'ulrich07/baseline-model-player-mean-or-median,BaseLine Model: Player Mean or Median ?,Ulrich G.,2021-06-26 21:24:39,46', '', 'chechir/weekend-flag-median-with-wiggle,weekend flag median with wiggle,Matias Thayer,2017-09-12 11:25:18,24', '', 'katsuomi/median-wins-round,Median wins! + round,k.n.,2021-10-24 10:42:06,13', '', 'safavieh/median-estimation-by-fibonacci-et-al-lb-44-9,Median Estimation by Fibonacci et al. [LB 44.9],Ehsan,2017-09-01 07:22:07,43', '', 'areeves87/aggregate-20-kernel-csvs-by-median-rank-lb-285,Aggregate 20 kernel csvs by median rank - LB .285,areeves87,2017-11-06 16:57:56,62', '', 'kanncaa1/data-sciencetutorial-for-beginners,Data ScienceTutorial for Beginners,DATAI,2020-05-19 00:29:44,6245', '', 'clustifier/python-median-long-weekend,Python Median - long weekend :),clustifier,2017-07-18 14:01:20,19', '', 'mrisdal/exploring-survival-on-the-titanic,Exploring Survival on the Titanic,Meg Risdal,2017-12-26 19:42:24,3742', '', 'paulorzp/one-line-median-lb-0-650,One Line Median (LB 0.650),Paulo Pinto,2017-10-22 14:53:26,35', '', 'startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9431', '', 'apapiu/mean-vs-medians-a-mathy-approach,Mean vs. Medians - A mathy approach,Alexandru Papiu,2016-08-16 07:49:13,77', '', 'ogrellier/median-rental-prices-matter,Median rental prices matter,olivier,2017-03-15 07:37:09,25', '', 'kashnitsky/nfl-median-baseline-0-01457,NFL median baseline (0.01457),Yury Kashnitsky,2019-10-12 22:39:13,24', '', 'bluewizard/random-forest-with-performance-history,Random forest with performance history,Tyler B,2019-11-10 15:41:31,12', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,cdeotte/ensemble-folds-with-median-0-153,Ensemble Folds with MEDIAN - [0.153],Chris Deotte,2021-10-03 10:08:33,307
4,,kernels,ambrosm/vent-011-median-wins,VENT-011 Median wins!,AmbrosM,2021-10-23 04:05:04,43
6,,kernels,swaralipibose/median-ensemble-of-published-not...,Median Ensemble of Published Notebooks,Sayantan Mazumdar,2021-10-28 14:55:27,34
8,,kernels,mrutyunjaybiswal/vpp-dual-head-regression-medi...,[VPP] Dual Head Regression | Median PostProces...,Ultron,2021-10-31 23:31:25,62
10,,kernels,tunguz/forecast-example-w-prophet-median,Forecast example w/ Prophet - median,Bojan Tunguz,2017-07-19 16:21:17,40

['ref,title,author,lastRunTime,totalVotes', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'arjunjoshua/predicting-fraud-in-financial-payment-services  Predicting Fraud in Financial Payment Services,Arjun Joshua,2018-01-21 10:42:31,408', '', 'henriqueyamahata/bank-marketing-classification-roc-f1-recall,"Bank Marketing + Classification + ROC,F1,RECALL...",Henrique Yamahata,2020-07-10 21:30:22,157', '', 'lucamassaron/eda-target-analysis,EDA- target analysis,Luca Massaron,2022-01-27 10:51:04,394', '', 'kashnitsky/topic-7-unsupervised-learning-pca-and-clustering,Topic 7. Unsupervised learning: PCA and clustering,Yury Kashnitsky,2019-07-27 22:45:40,291', '', "'charmap' codec can't encode character '\\U0001f3ae' in position 34: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12859
6,'charmap' codec can't encode character '\U0001...,kernels,henriqueyamahata/bank-marketing-classification...,"""Bank Marketing + Classification + ROC",F1,"RECALL...""",Henrique Yamahata
8,'charmap' codec can't encode character '\U0001...,kernels,lucamassaron/eda-target-analysis,EDA- target analysis,Luca Massaron,2022-01-27 10:51:04,394
10,'charmap' codec can't encode character '\U0001...,kernels,kashnitsky/topic-7-unsupervised-learning-pca-a...,Topic 7. Unsupervised learning: PCA and cluste...,Yury Kashnitsky,2019-07-27 22:45:40,291

['ref,title,author,lastRunTime,totalVotes', '', 'szmnkrisz97/point-to-uncertainty-different-ranges-per-level,Point to uncertainty - different ranges per level,KrisztianSz,2020-04-21 14:31:18,63', '', "'charmap' codec can't encode characters in position 55-56: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode characters in pos...,kernels,szmnkrisz97/point-to-uncertainty-different-ran...,Point to uncertainty - different ranges per level,KrisztianSz,2020-04-21 14:31:18,63

['ref,title,author,lastRunTime,totalVotes', '', 'breuker/can-we-improve-by-increasing-variance,Can we improve by increasing variance?,Dominic Breuker,2017-01-01 15:17:02,91', '', 'azminetoushikwasi/mastering-bias-variance-tradeoff,Mastering Bias-Variance Tradeoff ,Azmine Toushik Wasi,2022-11-03 23:43:27,132', '', 'peining/about-the-variance-and-the-cv-result,About the variance and the cv result,Peining,2019-02-01 05:05:06,36', '', 'residentmario/bias-variance-tradeoff,Bias-Variance Tradeoff,Aleksey Bilogur,2017-12-07 01:42:17,11', '', 'fchmiel/low-variance-features-useless,Low variance features - Useless?,FChmiel,2019-05-26 17:41:03,26', '', 'avikumart/pca-principal-component-analysis-variance-plots,[PCA]Principal Component Analysis &variance plots,AvikumarT,2022-11-02 11:05:29,80', '', 'tanmayunhale/feature-selection-variance-threshold,Feature Selection - Variance Threshold,Tanmay Unhale,2021-06-29 07:26:50,18', '', 'arthurtok/interactive-intro-to-dimensionality-reduction,Interactive Intro to Dimensionality Reduction,Anisotropic,2018-09-24 22:53:26,814', '', 'aggarwalrahul/dl-intro-to-nn-minimizing-variance-overfitting,DL-INTRO TO NN- MINIMIZING VARIANCE (OVERFITTING),Rahul Aggarwal,2022-04-24 16:40:51,19', '', 'alexfir/target-encoding-using-variance,Target encoding using variance,Alexander Firsov,2017-11-16 15:55:25,19', '', 'aruchomu/yolo-v3-object-detection-in-tensorflow,Yolo v3 Object Detection in Tensorflow,heartkilla,2019-02-21 11:12:34,701', '', 'vijipai/lesson-5-mean-variance-optimization-of-portfolios,Lesson 5:Mean-Variance Optimization of  Portfolios,Dr G A Vijayalakshmi Pai,2020-07-18 17:23:04,14', '', 'kaanboke/ml-basics-bias-variance-tradeoff,ML Basics - BIAS & VARIANCE TRADEOFF,Kaan BOKE,2021-07-30 09:56:39,50', '', 'kanncaa1/time-series-prediction-tutorial-with-eda,Time Series Prediction Tutorial with EDA,DATAI,2019-12-07 21:16:00,777', '', 'odins0n/fixing-high-variance-overfitting,Fixing High Variance (Overfitting),Sanskar Hasija,2021-08-15 23:24:42,40', '', 'goyalshalini93/car-price-prediction-linear-regression-rfe,Car Price Prediction (Linear Regression - RFE),Shalini Goyal,2019-04-26 09:01:04,601', '', 'fabiendaniel/customer-segmentation,Customer Segmentation,FabienDaniel,2019-03-21 14:19:41,987', '', 'kanncaa1/machine-learning-tutorial-for-beginners,Machine Learning Tutorial for Beginners,DATAI,2018-07-24 14:43:45,2342', '', 'arthurtok/principal-component-analysis-with-kmeans-visuals,Principal Component Analysis with KMeans visuals,Anisotropic,2017-10-04 19:49:23,250', '', 'thebrownviking20/everything-you-can-do-with-a-time-series,Everything you can do with a time series,Siddharth Yadav,2018-08-02 14:42:50,2351', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,breuker/can-we-improve-by-increasing-variance,Can we improve by increasing variance?,Dominic Breuker,2017-01-01 15:17:02,91
4,,kernels,azminetoushikwasi/mastering-bias-variance-trad...,Mastering Bias-Variance Tradeoff,Azmine Toushik Wasi,2022-11-03 23:43:27,132
6,,kernels,peining/about-the-variance-and-the-cv-result,About the variance and the cv result,Peining,2019-02-01 05:05:06,36
8,,kernels,residentmario/bias-variance-tradeoff,Bias-Variance Tradeoff,Aleksey Bilogur,2017-12-07 01:42:17,11
10,,kernels,fchmiel/low-variance-features-useless,Low variance features - Useless?,FChmiel,2019-05-26 17:41:03,26

['ref,title,author,lastRunTime,totalVotes', '', 'dansbecker/explore-your-data,Explore Your Data,DanB,2019-01-23 01:07:33,1330', '', 'dansbecker/basic-data-exploration,Basic Data Exploration,DanB,2021-11-09 00:01:19,1552', '', 'startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9431', '', 'artgor/eda-feature-engineering-and-everything,"EDA feature engineering and everything",Andrew Lukyanenko,2019-02-21 18:49:15,987', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'nareshbhat/outlier-the-silent-killer,Outlier!!! The Silent Killer,Naresha Bhat,2021-08-30 07:18:27,747', '', 'jiashenliu/introduction-to-financial-concepts-and-data,Introduction to financial concepts and data,Jiashen Liu,2021-07-01 09:52:48,936', '', 'cdeotte/25-million-images-0-99757-mnist,25 Million Images! [0.99757] MNIST,Chris Deotte,2021-08-29 19:32:05,707', '', 'lucamassaron/eda-target-analysis,EDA- target analysis,Luca Massaron,2022-01-27 10:51:04,394', '', 'kashnitsky/a1-demo-pandas-and-uci-adult-dataset,A1 (demo). Pandas and UCI adult dataset,Yury Kashnitsky,2018-10-07 11:33:36,323', '', 'gpreda/santander-eda-and-prediction,Santander EDA and Prediction,Gabriel Preda,2019-04-03 16:47:19,1217', '', 'rtatman/getting-started-in-r-summarize-data,Getting staRted in R: Summarize Data,Rachael Tatman,2017-08-31 20:26:58,146', '', 'freespirit08/time-series-for-beginners-with-arima,Time Series For beginners with ARIMA,Arindam Chatterjee,2018-08-24 16:53:34,397', '', 'roydatascience/eda-pca-simple-lgbm-on-kfold-technique,"EDA PCA + Simple LGBM on KFold Technique",Ashish Gupta,2019-03-20 18:23:40,186', '', 'kanncaa1/statistical-learning-tutorial-for-beginners,Statistical Learning Tutorial for Beginners,DATAI,2018-09-09 13:39:20,785', '', 'carlolepelaars/statistics-tutorial,Statistics Tutorial,Carlo Lepelaars,2019-06-05 17:43:33,247', '', 'kanncaa1/feature-selection-and-data-visualization,Feature Selection and Data Visualization,DATAI,2021-07-10 16:05:36,1689', '', 'yassineghouzam/titanic-top-4-with-ensemble-modeling,Titanic Top 4% with ensemble modeling,Yassine Ghouzam,2017-08-09 14:34:44,2734', '', 'spscientist/student-performance-in-exams,Student Performance In Exams,Jakki Seshapanpu,2018-12-24 18:15:12,339', '', "'charmap' codec can't encode character '\\U0001f4ca' in position 55: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,dansbecker/explore-your-data,Explore Your Data,DanB,2019-01-23 01:07:33,1330
4,'charmap' codec can't encode character '\U0001...,kernels,dansbecker/basic-data-exploration,Basic Data Exploration,DanB,2021-11-09 00:01:19,1552
6,'charmap' codec can't encode character '\U0001...,kernels,startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9431
8,'charmap' codec can't encode character '\U0001...,kernels,artgor/eda-feature-engineering-and-everything,"""EDA feature engineering and everything""",Andrew Lukyanenko,2019-02-21 18:49:15,987
10,'charmap' codec can't encode character '\U0001...,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12859

['ref,title,author,lastRunTime,totalVotes', '', 'paulorzp/gmean-of-low-correlation-lb-0-952x,GMEAN of low correlation (LB: 0.952x),Paulo Pinto,2019-09-19 01:22:33,225', '', 'dbarkhorn/crypto-correlation,Crypto-Correlation,DanBarkhorn,2017-09-11 00:12:54,50', '', 'jiweiliu/fast-pdf-calculation-with-correlation-matrix,Fast PDF calculation with correlation matrix,Jiwei Liu,2019-03-29 05:34:05,218', '', 'bbloggsbott/feature-selection-correlation-and-p-value,Feature Selection - Correlation and P-value,Vishal R,2022-04-25 06:47:12,82', '', 'wesamelshamy/high-correlation-feature-image-classification-conf,High Correlation Feature Image Classification Conf,Wesam Elshamy,2018-06-09 20:43:38,140', '', 'ravichaubey1506/student-performance-correlation,Student Performance Correlation,Ravi Chaubey,2020-03-23 03:12:45,45', '', 'selfishgene/filtering-and-auto-correlation-tutorial,Filtering and Auto-Correlation Tutorial,David Beniaguev,2018-01-05 22:15:02,69', '', 'rm1000/improved-amex-rank-ensemble,IMPROVED AMEX Rank Ensemble,RM1000,2022-07-27 13:32:20,22', '', 'rshah4/correlation-matrix-visualization,Correlation Matrix Visualization,Rajiv Shah,2015-07-28 00:13:41,26', '', 'frtgnn/predictive-power-score-vs-correlation,Predictive Power Score vs Correlation,Firat Gonen,2020-04-25 21:06:07,85', '', 'startupsci/titanic-data-science-solutions,Titanic Data Science Solutions,Manav Sehgal,2019-02-11 01:21:23,9431', '', 'kiyoung1027/correlation-pearson-spearman-and-kendall,"Correlation (Pearson Spearman and Kendall)",Rooney,2019-12-31 00:30:13,26', '', 'ryanholbrook/competition-metric-kendall-tau-correlation,Competition Metric - Kendall Tau Correlation,Ryan Holbrook,2022-05-15 10:19:50,58', '', 'tpmeli/insights-correlation-analysis-of-192-features,Insights + Correlation Analysis of 192 Features,tpmeli,2021-07-08 15:46:24,108', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'dedecu/cross-correlation-time-lag-with-pandas,Cross-correlation (time-lag) with pandas,Andr√© Ara√∫jo,2018-04-11 01:18:14,29', '', "chrisbss1/cramer-s-v-correlation-matrix,Cramer's V correlation matrix ,Christian D,2019-09-25 15:19:14,21", '', 'jbomitchell/spearman-correlation-of-public-models,Spearman Correlation of Public Models,John Mitchell,2022-12-12 23:09:19,45', '', 'joelwilson/election-correlation-matrix,Election Correlation Matrix,Joel Wilson,2017-01-04 18:37:22,16', '', 'antmarakis/another-cleaned-data-blend-with-low-correlation,Another Cleaned Data Blend With Low Correlation,Antonis Maronikolakis,2018-03-16 00:49:30,34', '']

,topic,set,ref,title,author,lastRunTime,totalVotes
2,,kernels,paulorzp/gmean-of-low-correlation-lb-0-952x,GMEAN of low correlation (LB: 0.952x),Paulo Pinto,2019-09-19 01:22:33,225
4,,kernels,dbarkhorn/crypto-correlation,Crypto-Correlation,DanBarkhorn,2017-09-11 00:12:54,50
6,,kernels,jiweiliu/fast-pdf-calculation-with-correlation...,Fast PDF calculation with correlation matrix,Jiwei Liu,2019-03-29 05:34:05,218
8,,kernels,bbloggsbott/feature-selection-correlation-and-...,Feature Selection - Correlation and P-value,Vishal R,2022-04-25 06:47:12,82
10,,kernels,wesamelshamy/high-correlation-feature-image-cl...,High Correlation Feature Image Classification ...,Wesam Elshamy,2018-06-09 20:43:38,140

['ref,title,author,lastRunTime,totalVotes', '', 'ravichaubey1506/inferential-statistical-analysis-on-diabetes-data,Inferential Statistical Analysis on Diabetes Data,Ravi Chaubey,2022-02-16 14:34:55,118', '', 'shreyasajal/inferential-statistics-on-heart-attack-analysis,Inferential Statistics on Heart Attack Analysis ,Shreya Sajal,2021-04-09 03:25:43,53', '', 'saurav9786/cardiogoodfitness-descriptive-statistics,CardioGoodFitness - Descriptive Statistics,Saurav Anand,2022-11-02 09:57:50,61', '', 'ldfreeman3/a-data-science-framework-to-achieve-99-accuracy,A Data Science Framework: To Achieve 99% Accuracy,LD Freeman,2017-12-31 18:27:17,5294', '', 'ekrembayar/a-b-testing-step-by-step-hypothesis-testing,A/B Testing: Step by Step & Hypothesis Testing,Ekrem Bayar,2021-11-30 12:54:32,189', '', 'ravichaubey1506/multivariate-statistical-analysis-on-diabetes,Multivariate Statistical Analysis on Diabetes,Ravi Chaubey,2020-08-10 13:49:52,117', '', ',[Private Notebook],,2010-04-01 00:00:00,0', '', 'suzanaiacob/inferential-analysis-of-toothgrowth-in-guineapigs,Inferential Analysis of ToothGrowth in GuineaPigs,Suzana Iacob,2018-11-15 21:24:42,11', '', 'ravichaubey1506/machine-learning-predictive-modeling-analytics,Machine Learning & Predictive Modeling Analytics,Ravi Chaubey,2020-04-16 11:49:38,120', '', 'hamelg/python-for-data-analysis-index,Python for Data Analysis: Index,Greg Hamel,2020-09-29 02:39:06,96', '', 'ravichaubey1506/univariate-statistical-analysis-on-diabetes,Univariate Statistical Analysis on Diabetes,Ravi Chaubey,2020-05-06 07:10:12,97', '', ',[Private Notebook],,2010-04-01 00:00:00,0', '', 'gleissonbispo/inferential-statistics-nba-salaries-analysis,Inferential Statistics - NBA Salaries Analysis,Gleisson Bispo,2019-05-06 20:16:38,2', '', 'yashvi/practical-statistics-1-descriptive-statistics,Practical Statistics - 1 (Descriptive Statistics),Yashvi Patel,2020-07-27 12:09:28,62', '', 'tsilveira/inferential-statistics-and-hypothesis-testing,Inferential statistics  and hypothesis testing,TSilveira,2018-07-13 04:02:39,31', '', 'knightbearr/regression-taxi-trip-duration-knightbearr,Regression: Taxi Trip Duration (Knightbearr),Knightbearr,2021-12-31 19:59:53,17', '', 'knightbearr/analysis-shopping-cart-data-knightbearr,Analysis: Shopping Cart Data (Knightbearr),Knightbearr,2022-11-20 06:46:51,66', '', 'mgmarques/wines-type-and-quality-classification-exercises,Wines Type and Quality Classification Exercises,Marcelo Marques,2018-10-24 21:58:53,80', '', "'charmap' codec can't encode characters in position 53-54: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode characters in pos...,kernels,ravichaubey1506/inferential-statistical-analys...,Inferential Statistical Analysis on Diabetes Data,Ravi Chaubey,2022-02-16 14:34:55,118
4,'charmap' codec can't encode characters in pos...,kernels,shreyasajal/inferential-statistics-on-heart-at...,Inferential Statistics on Heart Attack Analysis,Shreya Sajal,2021-04-09 03:25:43,53
6,'charmap' codec can't encode characters in pos...,kernels,saurav9786/cardiogoodfitness-descriptive-stati...,CardioGoodFitness - Descriptive Statistics,Saurav Anand,2022-11-02 09:57:50,61
8,'charmap' codec can't encode characters in pos...,kernels,ldfreeman3/a-data-science-framework-to-achieve...,A Data Science Framework: To Achieve 99% Accuracy,LD Freeman,2017-12-31 18:27:17,5294
10,'charmap' codec can't encode characters in pos...,kernels,ekrembayar/a-b-testing-step-by-step-hypothesis...,A/B Testing: Step by Step & Hypothesis Testing,Ekrem Bayar,2021-11-30 12:54:32,189

['ref,title,author,lastRunTime,totalVotes', '', 'therealcyberlord/coronavirus-covid-19-visualization-prediction,Coronavirus (COVID-19) Visualization & Prediction,Xingyu Bian,2022-10-23 23:17:02,2079', '', 'prashant111/a-guide-on-xgboost-hyperparameters-tuning,A Guide on XGBoost hyperparameters tuning,Prashant Banerjee,2020-07-15 14:21:23,795', '', 'vbmokin/data-science-for-tabular-data-advanced-techniques,Data Science for tabular data: Advanced Techniques,Vitalii Mokin,2021-09-05 16:15:48,1160', '', 'pavansanagapati/automated-hyperparameter-tuning,Automated Hyperparameter Tuning,Pavan Sanagapati,2020-08-17 11:23:07,245', '', 'vivianbenben/multilevel-bayesian-analysis-on-house-price,Multilevel Bayesian Analysis on House Price,Vivian,2017-11-12 01:13:39,9', '', ',[Private Notebook],,2010-04-01 00:00:00,0', '', 'avehtari/bayesian-logistic-regression-with-rstanarm,Bayesian Logistic Regression with rstanarm ,Aki Vehtari,2018-05-27 09:31:39,88', '', 'fabiendaniel/elo-world,Elo world,FabienDaniel,2018-12-13 17:08:06,574', '', 'gpayen/building-a-prediction-model,Building a prediction model,Guillaume Payen,2016-02-03 10:26:54,92', '', 'somang1418/tuning-hyperparameters-under-10-minutes-lgbm,Tuning Hyperparameters Under 10 Minutes (LGBM),Somang (So) Han,2019-03-02 05:54:36,142', '', 'aqsasadaf/colorful-analysis-with-bayesian-optimization,Colorful Analysis With Bayesian optimization,aqsa sadaf,2021-06-28 09:23:17,5', '', 'willkoehrsen/model-tuning-results-random-vs-bayesian-opt,Model Tuning Results: Random vs Bayesian Opt,Will Koehrsen,2018-07-21 02:09:55,120', '', "itoeiji/strength-analysis-using-bayesian-models,Player's Strength Analysis using Bayesian,Gin04kg,2018-05-19 16:59:45,4", '', 'willkoehrsen/start-here-a-gentle-introduction,Start Here: A Gentle Introduction,Will Koehrsen,2018-08-25 02:00:07,3388', '', 'shtrausslearning/bayesian-regression-house-price-prediction,Bayesian Regression | House Price Prediction,Andrey Shtrauss,2022-07-16 14:03:59,164', '', 'allunia/e-commerce-sales-forecast,E-Commerce Sales Forecast ,Laura Fink,2020-04-01 19:01:30,233', '', 'arindamgot/eda-prophet-mlp-neural-network-forecasting,EDA+Prophet+ MLP Neural Network Forecasting,Arindam,2018-09-22 09:32:35,396', '', 'yannisp/sf-crime-analysis-prediction,SF-Crime Analysis & Prediction,Yannis Pappas,2019-01-11 10:49:02,87', '', "'charmap' codec can't encode character '\\U0001f393' in position 87: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,therealcyberlord/coronavirus-covid-19-visualiz...,Coronavirus (COVID-19) Visualization & Prediction,Xingyu Bian,2022-10-23 23:17:02,2079
4,'charmap' codec can't encode character '\U0001...,kernels,prashant111/a-guide-on-xgboost-hyperparameters...,A Guide on XGBoost hyperparameters tuning,Prashant Banerjee,2020-07-15 14:21:23,795
6,'charmap' codec can't encode character '\U0001...,kernels,vbmokin/data-science-for-tabular-data-advanced...,Data Science for tabular data: Advanced Techni...,Vitalii Mokin,2021-09-05 16:15:48,1160
8,'charmap' codec can't encode character '\U0001...,kernels,pavansanagapati/automated-hyperparameter-tuning,Automated Hyperparameter Tuning,Pavan Sanagapati,2020-08-17 11:23:07,245
10,'charmap' codec can't encode character '\U0001...,kernels,vivianbenben/multilevel-bayesian-analysis-on-h...,Multilevel Bayesian Analysis on House Price,Vivian,2017-11-12 01:13:39,9

['ref,title,author,lastRunTime,totalVotes', '', 'benroshan/bank-marketing-campaign-predictive-analytics,Bank marketing campaign | Predictive analytics,Ben Roshan ,2020-07-21 06:20:58,34', '', 'evangeloskalampokis/predictive-business-analytics-with-instacart,Predictive Business Analytics with Instacart,Evangelos Kalampokis,2018-07-11 08:26:46,10', '', 'shtrausslearning/customer-transaction-predictive-analytics,Customer Transaction Predictive Analytics,Andrey Shtrauss,2022-12-18 18:01:24,42', '', 'ruthwikjavvadi/lung-cancer-eda-and-predictive-analytics,Lung Cancer EDA and Predictive Analytics,Ruthwik333,2022-08-12 03:15:50,35', '', 'minhtc4/airbnb-descriptive-and-predictive-analytics,Airbnb : Descriptive and Predictive Analytics,Ahihi,2019-03-29 10:04:46,7', '', 'buddhiniw/breast-cancer-prediction,Breast cancer prediction,Buddhini W,2016-12-05 07:11:54,323', '', 'giobbu/simple-predictive-analytics-intro,Simple Predictive Analytics - Intro,Nanni,2021-08-22 13:53:40,6', '', 'ash316/novice-to-grandmaster,Novice to Grandmaster,Ashwini Swain,2018-03-07 17:18:09,788', '', 'janiobachmann/credit-fraud-dealing-with-imbalanced-datasets,Credit Fraud  || Dealing with Imbalanced Datasets,Janio Martinez Bachmann,2019-07-03 23:04:48,4308', '', 'aremoto/retail-sales-forecast,Retail sales forecast,Alberto Remoto,2018-03-06 09:17:08,188', '', 'randylaosat/predicting-employee-kernelover,Predicting Employee Kernelover,randy lao,2018-01-05 03:42:27,510', '', 'pmarcelino/comprehensive-data-exploration-with-python,Comprehensive data exploration with Python,"Pedro Marcelino PhD",2022-04-30 19:20:37,12859', '', 'dgomonov/data-exploration-on-nyc-airbnb,Data Exploration on NYC Airbnb,Dgomonov,2020-08-03 05:53:23,418', '', "'charmap' codec can't encode character '\\U0001f333' in position 54: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,benroshan/bank-marketing-campaign-predictive-a...,Bank marketing campaign | Predictive analytics,Ben Roshan,2020-07-21 06:20:58,34
4,'charmap' codec can't encode character '\U0001...,kernels,evangeloskalampokis/predictive-business-analyt...,Predictive Business Analytics with Instacart,Evangelos Kalampokis,2018-07-11 08:26:46,10
6,'charmap' codec can't encode character '\U0001...,kernels,shtrausslearning/customer-transaction-predicti...,Customer Transaction Predictive Analytics,Andrey Shtrauss,2022-12-18 18:01:24,42
8,'charmap' codec can't encode character '\U0001...,kernels,ruthwikjavvadi/lung-cancer-eda-and-predictive-...,Lung Cancer EDA and Predictive Analytics,Ruthwik333,2022-08-12 03:15:50,35
10,'charmap' codec can't encode character '\U0001...,kernels,minhtc4/airbnb-descriptive-and-predictive-anal...,Airbnb : Descriptive and Predictive Analytics,Ahihi,2019-03-29 10:04:46,7

['ref,title,author,lastRunTime,totalVotes', '', 'davinwijaya/why-you-should-start-using-uplift-modeling,Why you should start using Uplift Modeling,Davin Wijaya,2022-11-26 16:05:43,28', '', "'charmap' codec can't encode character '\\U0001f4b0' in position 46: character maps to <undefined>"]

,topic,set,ref,title,author,lastRunTime,totalVotes
2,'charmap' codec can't encode character '\U0001...,kernels,davinwijaya/why-you-should-start-using-uplift-...,Why you should start using Uplift Modeling,Davin Wijaya,2022-11-26 16:05:43,28

In [32]:
notebooks.shape

(497, 7)

In [33]:
notebooks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 2 to 2
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   topic        497 non-null    object
 1   set          497 non-null    object
 2   ref          497 non-null    object
 3   title        497 non-null    object
 4   author       497 non-null    object
 5   lastRunTime  497 non-null    object
 6   totalVotes   497 non-null    object
dtypes: object(7)
memory usage: 31.1+ KB

In [34]:
notebooks.to_csv("APIdata/notebooks.csv")

In [ ]:
# graphql khan academy